openapi: 3.0.1
info:
  title: IHUB Swagger
  description: Welcome to SmartKargo! This document provides information about SmartKargo
    collaborative integration platform. The platform provides an end-to-end and door-to-door
    solution that allows Airline partners to address all their shipping needs. Given
    its flexibility, the platform allows Airline to integrate digitally with its partners
    and any interested third-party systems. The integration is intended to support
    both Airline and its partners in achieving efficiencies through automation and
    in managing many aspects of their supply chain. To achieve the above, timely,
    accurate, and consistent exchange of information is essential. This document also
    lays out options to securely exchange information between the Airline platform
    and its partner's systems. It provides the details on how to exchange information
    on key process points from booking to delivery.
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: https://uatihub.smartkargo.com/ihub-devtest-mt-api-function
  description: Staging Server
  x-name: Staging
- url: https://uatihub.smartkargo.com/ihub-uat-mt-api-function
  description: UAT Server
  x-name: UAT
tags:
- name: quotation
  description: The proposed API provides for submitting shipment information to get
    taxes and availables services.
- name: exchange/single
  description: The API proposal provides for the sending of information for the generation
    of the booking.
- name: exchange/b2bpartner
  description: The API for the sending of information for the generation of the b2b
    booking.
- name: shipment/void
  description: This API provides the ability for Customers to VOID packages shipments
    they didn't decide to ship. The system will validate that the order has not left
    booking status and belongs to the customer while making the request. Order will
    not be deleted but changed status to Void / Cancelled etc.
- name: shipment/payment-change
  description: ''
- name: shipment/tracking
  description: The tracking API provides the facility to track shipments. It is an
    easy way to retrieve the event details of shipments progress.
- name: shipment
  description: The shipment API provide facility to get shipment booking details by
    using either prefix & airwayBill or just packageReference or headerReference number.
- name: shipment/overpack
  description: Overpack is an enclosure used by a single shipper to contain one or
    more packages and to form one handling unit for the convenience of handling and
    stowage. This Overpack API accepts one or more AirWayBills for a given bag number
    associated with a single MasterAirWaybill. It returns the status as Processed
    when successful. All express airWayBill are packed as one Unit.
- name: shipment/overpackcloseout
  description: This API is called by Warehouse Partner after all the OverPack of Bags
    is finished for the Day/Cycle/Shift. This is used to reconcile bookings for the
    day and generate the pickup manifest. This also identifies any unbagged items
    from open bookings that it can process the next day /cycle/shift with different
    MasterAirWaybill.
- name: tracking
  description: The tracking API provides the facility to track shipments. It is an
    easy way to retrieve the event details of shipments progress.
- name: label
  description: The label API returns base64content for shipment label for successful
    booking. Label API provide facility to generate label in 2 formats PDF & ZPL.
    Label contains Shipper & Consignee details along with flight & routing information.
    This label is pasted on Shipment.
- name: zipCodeCoverage
  description: This API let the user know whether Pickup and Delivery options are
    available at a given Postal/zip code in the request.
- name: location
  description: This API let the user know about the serviceable zip codes and also
    tell us about Pickup and Delivery options available at a given Postal/zip code
    in the request.
- name: serviceCoverage
  description: This API let the user know whether Pickup and Delivery options are
    available at a given Postal/zip code or City in the request.
- name: changeaddress
  description: This API proposed to update the existing consignee information for
    the shipment.
- name: invoice-summary
  description: This API proposed to get invoices summary level information for requested
    date range.
- name: invoice-details
  description: This API proposed to get invoice level detail information.
- name: shipment/truck/depart
  description: This API proposed to depart truck.
- name: shipment/truck/arrive
  description: This API proposed to arrive truck.
- name: shipment/nest/depart
  description: This API proposed to depart bag.
- name: shipment/nest/arrive
  description: This API proposed to arrive bag.
- name: shipment/nest
  description: This API proposed to process bagging.
- name: shipment/closemaster
  description: This API proposed to execute master AWB.
- name: shipment/dimensionsupdate
  description: This API proposed to recieve shipment dimensions updates from partners/clients/devices.
security:
- api_key: []
paths:
  /quotation:
    post:
      tags:
      - quotation
      summary: Quote
      operationId: addQuotation
      requestBody:
        description: Shipment object
        content:
          application/json:
            schema:
              required:
              - issueDate
              - reference
              type: object
              properties:
                reference:
                  type: string
                  description: This is the reference id number of the package/shipment
                    for which the quotation is being requested. This is a unique identification
                    number used in the request body for each package while booking
                    the shipment. Typically sales order number.
                  example: ReferencesToBeSet
                  maximum: 36
                  format: string
                issueDate:
                  type: string
                  description: This is the issue/transportation date for the request.
                    This date/time is used to define the approximate pickup date/
                    time for the shipment. Dates from the past will be set to the
                    current date.
                  format: datetime
                  example: 2021-06-01 20:00
                packages:
                  $ref: '#/components/schemas/Packages'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseQuotation'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /exchange/single:
    post:
      tags:
      - exchange/single
      summary: Book
      operationId: addBooking
      requestBody:
        description: Shipment object
        content:
          application/json:
            schema:
              required:
              - issueDate
              - reference
              type: object
              properties:
                reference:
                  type: string
                  description: This is the reference id number of the package/shipment
                    for which the quotation is being requested. This is a unique identification
                    number used in the request body for each package while booking
                    the shipment. Typically sales order number.
                  example: ReferencesToBeSet
                  maximum: 36
                  format: string
                issueDate:
                  type: string
                  description: This is the issue/transportation date for the request.
                    This date/time is used to define the approximate pickup date/
                    time for the shipment. Dates from the past will be set to the
                    current date.
                  format: datetime
                  example: 2021-06-01 20:00
                packages:
                  items:
                    required:
                    - grossVolumeUnitMeasure
                    - serviceType
                    - grossWeightUnitMeasure
                    - packageDescription
                    - paymentMode
                    - reference
                    - totalGrossWeight
                    - totalPackages
                    - totalPieces
                  allOf:
                  - $ref: '#/components/schemas/Package'
                  - type: object
                    required:
                    - serviceType
                    - declaredValue
                    - dimensions
        required: true
      responses:
        '200':
          description: Success create a booking.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBooking'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /exchange/b2bpartner:
    post:
      tags:
      - exchange/b2bpartner
      summary: Receive Exchange B2B Partner Data
      operationId: addB2BBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipper_id:
                  type: integer
                  example: 2
                service_type:
                  type: string
                  example: EPR
                origin_facility_id:
                  type: string
                  example: UQD001
                destination_facility_id:
                  type: string
                  example: SFD001
                external_tracking_code:
                  type: string
                  example: DD12345678
                asset_width_inches:
                  type: number
                  format: float
                  example: 2.5
                asset_height_inches:
                  type: number
                  format: float
                  example: 6.6
                asset_length_inches:
                  type: number
                  format: float
                  example: 7.7
                asset_weight_oz:
                  type: number
                  format: float
                  example: 8.8
              required:
              - origin_facility_id
              - destination_facility_id
              - external_tracking_code
              - asset_width_inches
              - asset_height_inches
              - asset_length_inches
              - asset_weight_oz
      responses:
        '200':
          description: Success create a booking.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBooking'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /shipment/void:
    get:
      tags:
      - shipment/void
      summary: VoidShipment
      operationId: shipmentVoid
      parameters:
      - in: query
        name: prefix
        schema:
          type: string
          example: AXB
          format: string
        required: true
        description: This is three character prefix to uniquely identify and track
          express airwaybill (AXB).
      - in: query
        name: airWaybill
        schema:
          type: string
          example: 103681
          format: number
        required: true
        description: This is a unique identifier number that we get in response after
          the booking. This airWaybill is unique for the life of the booking. Prefix
          and airWayBill are used as a parameter in Tracking API and Label API.
      - in: query
        name: userName
        schema:
          type: string
          example: lucao
          format: string
        description: This is the optional parameter. Mostly used for audit log to
          identify person who execute VOID shipment API.
      - in: query
        name: reason
        schema:
          type: string
          example: customer mistake
          format: string
        description: This is the optional parameter. Reason for making VOID shipment.
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseShipmentVoid'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                type: string
                description: Access denied due to invalid subscription key. Make sure
                  to provide a valid key for an active subscription.
      x-codegen-request-body-name: body
  /shipment/payment-change:
    post:
      tags:
      - shipment/payment-change
      summary: PaymentChange
      operationId: shipmentPaymentChange
      requestBody:
        description: PaymentChange object
        content:
          application/json:
            schema:
              required:
              - prefix
              - airWaybill
              - paymentMode
              - userName
              type: object
              properties:
                prefix:
                  type: string
                  description: This is three character prefix to uniquely identify
                    and track express airwaybill (AXB).
                  example: AXB
                  maximum: 3
                  format: string
                airWaybill:
                  type: string
                  description: This is a unique identifier number that we get in response
                    after the booking. This airWaybill is unique for the life of the
                    booking. Prefix and airWayBill are used as a parameter in Tracking
                    API and Label API.
                  example: 103681
                  maximum: 15
                  format: number
                paymentMode:
                  type: string
                  description: Payment mode available. Below abbreviation used while
                    sending an API requests. The payment mode will be depending on
                    what is available in your contract. PP & CC payment modes are
                    not generally available.
                  example: PX
                  maximum: 2
                  format: string
                  enum:
                  - 'PX : Billed (Typically used)'
                  - 'PP : Prepaid at the time of tender'
                  - 'CC : Collected from Consignee at the time of delivery'
                userName:
                  type: string
                  description: UserName.
                  example: user
                  maximum: 60
                  format: string
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePaymentMode'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /shipment/tracking:
    get:
      tags:
      - shipment/tracking
      summary: TrackWithShipment
      operationId: shipmentTracking
      parameters:
      - in: query
        name: prefix
        schema:
          type: string
          example: AXB
          format: string
        description: This is three character prefix to uniquely identify and track
          express airwaybill (AXB).
      - in: query
        name: airWaybill
        schema:
          type: string
          example: 103681
          format: number
        description: This is a unique identifier number that we get in response after
          the booking. This airWaybill is unique for the life of the booking. Prefix
          and airWayBill are used as a parameter in Tracking API and Label API.
      - in: query
        name: packageReference
        schema:
          type: string
          example: GLM-987877-fee3a
          format: string
        description: This is the package reference id number system return in the
          response. This is the same reference id we send in the request body.
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseShipmentTracking'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    x-codegen-request-body-name: body
  /shipment:
    get:
      tags:
      - shipment
      summary: shipment
      operationId: shipment
      parameters:
      - in: query
        name: prefix
        schema:
          type: string
          example: AXB
          format: string
        description: This is three character prefix to uniquely identify and track
          express airwaybill (AXB).
      - in: query
        name: airWaybill
        schema:
          type: string
          example: 103681
          format: number
        description: This is a unique identifier number that we get in response after
          the booking. This airWaybill is unique for the life of the booking. Prefix
          and airWayBill are used as a parameter in Tracking API and Label API.
      - in: query
        name: packageReference
        schema:
          type: string
          example: GLM-987877-fee3a
          format: string
        description: This is the package reference id number system return in the
          response. This is the same reference id we send in the request body.
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                type: array
                description: ''
                items:
                  $ref: '#/components/schemas/ShipmentResponse'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    x-codegen-request-body-name: body
  /shipment/overpack:
    post:
      tags:
      - shipment/overpack
      summary: OverPack
      operationId: shipmentOverPack
      requestBody:
        description: OverPack object
        content:
          application/json:
            schema:
              required:
              - bolNumber
              - sealNumber
              - airWaybillDetails
              type: object
              properties:
                bolNumber:
                  type: string
                  description: bolNumber is the details that is passed by the fulfillment
                    warehouse. This is the unique identifiers from their internal
                    systems.
                  example: 00090052
                  maximum: 10
                  format: number
                sealNumber:
                  type: string
                  description: sealNumbe is the details that is passed by the fulfillment
                    warehouse. This is the unique identifiers from their internal
                    systems.
                  example: 103681
                  maximum: 10
                  format: number
                airWaybillDetails:
                  type: array
                  items:
                    $ref: '#/components/schemas/BAGAirWaybillDetail'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePaymentMode'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /shipment/overpackcloseout:
    post:
      tags:
      - shipment/overpackcloseout
      summary: OverPackCloseout
      operationId: overpackcloseout
      requestBody:
        description: OverPackCloseOut object
        content:
          application/json:
            schema:
              type: object
              properties:
                closeOutSummaryLanes:
                  type: array
                  items:
                    $ref: '#/components/schemas/CloseOutSummaryLanes'
                openItemDetails:
                  type: array
                  items:
                    $ref: '#/components/schemas/OpenItemDetails'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePaymentMode'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /tracking:
    get:
      tags:
      - tracking
      summary: Track
      operationId: tracking
      parameters:
      - in: query
        name: prefix
        schema:
          type: string
          example: AXB
        description: This is three character prefix to uniquely identify and track
          express airwaybill (AXB).
      - in: query
        name: airWaybill
        schema:
          type: string
          example: 103681
        description: This is a unique identifier number that we get in response after
          the booking. This airWaybill is unique for the life of the booking. Prefix
          and airWayBill are used as a parameter in Tracking API and Label API.
      - in: query
        name: packageReference
        schema:
          type: string
          example: GLM-987877-fee3a
        description: This is the package reference id number system return in the
          response. This is the same reference id we send in the request body.
      - in: query
        name: barCode
        schema:
          type: string
          example: XDL123456789
        description: This is the barcode of the package/shipment.
      - in: query
        name: language
        schema:
          type: string
          maximum: 2
          example: en
          enum:
          - en
          - fr
        description: Language to be returned Default – Blank – en/fr returned.
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                type: array
                description: ''
                items:
                  $ref: '#/components/schemas/items'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    x-codegen-request-body-name: body
  /label:
    get:
      tags:
      - label
      summary: Label
      operationId: label
      parameters:
      - in: query
        name: prefix
        schema:
          type: string
          example: AXB
        required: true
        description: This is three character prefix to uniquely identify and track
          express airwaybill (AXB).
      - in: query
        name: airWaybill
        schema:
          type: string
          example: 103681
        required: true
        description: This is a unique identifier number that we get in response after
          the booking. This airWaybill is unique for the life of the booking. Prefix
          and airWayBill are used as a parameter in Tracking API and Label API.
      - in: query
        name: format
        schema:
          type: string
          example: zpl
        description: 'This is a optional parameter to get label in zpl format. If
          not provided then label gets generated in pdf format. '
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                type: array
                description: ''
                items:
                  $ref: '#/components/schemas/label'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    x-codegen-request-body-name: body
  /shipment/batch-tracking:
    get:
      tags:
      - batch-tracking
      summary: BatchTrack
      operationId: batch-tracking
      parameters:
      - in: query
        name: account
        schema:
          type: string
          example: '4000123'
        description: This is customer account number. This is the optional field.
      - in: query
        name: fromEventDate
        schema:
          type: string
          example: '2022-10-05T04:16:00'
          format: datetime
        description: This is the created date & time after this fetch all the shipment
          collection details. It accepts UTC datetime.(yyyy-MM-ddTHH:mm:ss)
      - in: query
        name: pageNumber
        schema:
          type: string
          example: '1'
        description: Page number from which shipment collections need to fetch.
      - in: query
        name: pageSize
        schema:
          type: string
          example: '50'
        description: This is the number of shipment collections to be displayed on
          page. Maximum limit is 100.
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/Items1'
                      - $ref: '#/components/schemas/Items2'
                      - $ref: '#/components/schemas/Items3'
                  currentPage:
                    type: string
                    example: '1'
                  pageCount:
                    type: string
                    example: 1
                  pageSize:
                    type: string
                    example: 3
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    x-codegen-request-body-name: body
  /zipCodeCoverage:
    get:
      tags:
      - zipCodeCoverage
      summary: Zip Code
      operationId: zipCodeCoverage
      parameters:
      - in: query
        name: zipCode
        schema:
          type: string
          example: T0L 0K0
        required: true
        description: It is the Postal/zip code to be verified.
      - in: query
        name: countryId
        schema:
          type: string
          example: CA
        required: true
        description: 2 char IATA Country code of zip code e.g. CA, US, MX, etc.
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                type: array
                description: ''
                items:
                  $ref: '#/components/schemas/zipCodeCoverageResponse'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    x-codegen-request-body-name: body
  /location:
    post:
      tags:
      - location
      summary: Location API
      operationId: location
      requestBody:
        description: Change Address object
        content:
          application/json:
            schema:
              required:
              - zipCode
              type: object
              properties:
                Request:
                  $ref: '#/components/schemas/locationRequest'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locationResponse'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    x-codegen-request-body-name: body
  /serviceCoverage:
    get:
      tags:
      - serviceCoverage
      summary: Service Coverage
      operationId: serviceCoverage
      parameters:
      - in: query
        name: zipCode
        schema:
          type: string
          example: T0L 0K0
        required: false
        description: It is the Postal/zip code to be verified.This parameter is required
          when country code other than AE
      - in: query
        name: city
        schema:
          type: string
          example: Montréal
          maximum: 60
        required: false
        description: City code of zip code or country e.g. Montréal, Newark, Detroit,
          etc.This parameter is required when country code is AE
      - in: query
        name: countryId
        schema:
          type: string
          example: CA
        required: true
        description: 2 char IATA Country code of zip code e.g. CA, US, MX, etc.
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                type: array
                description: ''
                items:
                  $ref: '#/components/schemas/zipCodeCoverageResponse'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    x-codegen-request-body-name: body
  /changeaddress:
    post:
      tags:
      - changeaddress
      summary: ChangeAddress
      operationId: changeaddress
      requestBody:
        description: Change Address object
        content:
          application/json:
            schema:
              required:
              - prefix
              - airWaybill
              type: object
              properties:
                prefix:
                  type: string
                  description: This is three character prefix to uniquely identify
                    and track express airwaybill (AXB).
                  example: AXB
                  maximum: 3
                  format: string
                airWaybill:
                  type: string
                  description: This is a unique identifier number that we get in response
                    after the booking. This airWaybill is unique for the life of the
                    booking. Prefix and airWayBill are used as a parameter in Tracking
                    API and Label API.
                  format: string
                  example: '12345678'
                participants:
                  $ref: '#/components/schemas/ParticipantConsignee'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseChangeAddress'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /invoice-summary:
    get:
      tags:
      - invoice-summary
      summary: Invoice-Summary
      operationId: invoice-summary
      parameters:
      - in: query
        name: invoiceStartdate
        schema:
          type: string
          example: 2021-06-01 20:00
          format: datetime
        required: true
        description: This is the invoice start date for the request. This date/time
          is used to define the approximate start date for the invoice. Dates from
          the past will be set to the current date.
      - in: query
        name: invoiceEnddate
        schema:
          type: string
          format: datetime
          example: 2021-06-30 20:00
        required: true
        description: This is the invoice end date for the request. This date/time
          is used to define the approximate end date for the invoice. Dates from the
          past will be set to the current date.
      - in: query
        name: customerCode
        schema:
          type: string
          format: string
          example: '123456789123'
        required: true
        description: Customer code against Invoice
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                type: array
                description: ''
                items:
                  $ref: '#/components/schemas/invoicesummary'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    x-codegen-request-body-name: body
  /invoice-details:
    get:
      tags:
      - invoice-details
      summary: Invoice-Details
      operationId: invoice-details
      parameters:
      - in: query
        name: invoiceNumber
        schema:
          type: string
          example: INV0001
          format: string
        required: true
        description: This is the invoice number to get the detail information.
      - in: query
        name: customerCode
        schema:
          type: string
          format: string
          example: '123456789123'
        required: true
        description: Customer code against Invoice
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                type: array
                description: ''
                items:
                  $ref: '#/components/schemas/invoiceaxbdetails'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    x-codegen-request-body-name: body
  /shipment/truck/depart:
    post:
      tags:
      - shipment/truck/depart
      summary: TruckDepart
      operationId: truckdepart
      requestBody:
        description: Truck Depart object
        content:
          application/json:
            schema:
              type: object
              properties:
                userName:
                  type: string
                  description: This is requested username.
                  example: TEST
                  format: string
                longitude:
                  type: string
                  description: This is the position or location of any place on Earth’s
                    surface can be determined and described.
                  format: string
                  example: '40'
                latitude:
                  type: string
                  description: This is the position or location of any place on Earth’s
                    surface can be determined and described.
                  format: string
                  example: '80'
                truckDetails:
                  $ref: '#/components/schemas/truckDeparts'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseChangeAddress'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /shipment/truck/arrive:
    post:
      tags:
      - shipment/truck/arrive
      summary: TruckArrive
      operationId: truckarrive
      requestBody:
        description: Truck Arrive object
        content:
          application/json:
            schema:
              type: object
              properties:
                userName:
                  type: string
                  description: This is reuested username.
                  example: TEST
                  format: string
                longitude:
                  type: string
                  description: This is the position or location of any place on Earth’s
                    surface can be determined and described.
                  format: string
                  example: '40'
                latitude:
                  type: string
                  description: This is the position or location of any place on Earth’s
                    surface can be determined and described.
                  format: string
                  example: '80'
                truckDetails:
                  $ref: '#/components/schemas/truckDeparts'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseChangeAddress'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /shipment/nest/depart:
    post:
      tags:
      - shipment/nest/depart
      summary: NestDepart
      operationId: nestdepart
      requestBody:
        description: Nest Depart object
        content:
          application/json:
            schema:
              type: object
              properties:
                userName:
                  type: string
                  description: This is requested username.
                  example: TEST
                  format: string
                longitude:
                  type: string
                  description: This is the position or location of any place on Earth’s
                    surface can be determined and described.
                  format: string
                  example: '40'
                latitude:
                  type: string
                  description: This is the position or location of any place on Earth’s
                    surface can be determined and described.
                  format: string
                  example: '80'
                nestDetails:
                  $ref: '#/components/schemas/nestDeparts'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseChangeAddress'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /shipment/nest/arrive:
    post:
      tags:
      - shipment/nest/arrive
      summary: NestArrive
      operationId: nestArrive
      requestBody:
        description: Nest Arrive object
        content:
          application/json:
            schema:
              type: object
              properties:
                userName:
                  type: string
                  description: This is requested username.
                  example: TEST
                  format: string
                longitude:
                  type: string
                  description: This is the position or location of any place on Earth’s
                    surface can be determined and described.
                  format: string
                  example: '40'
                latitude:
                  type: string
                  description: This is the position or location of any place on Earth’s
                    surface can be determined and described.
                  format: string
                  example: '80'
                nestDetails:
                  $ref: '#/components/schemas/nestDeparts'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseChangeAddress'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /shipment/nest:
    post:
      tags:
      - shipment/nest
      summary: Nest
      operationId: nest
      requestBody:
        description: Nest object
        content:
          application/json:
            schema:
              type: object
              properties:
                userName:
                  type: string
                  description: This is requested username.
                  example: TEST
                  format: string
                nestDetails:
                  $ref: '#/components/schemas/nestDetails1'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nestResponse'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /shipment/closemaster:
    post:
      tags:
      - shipment/closemaster
      summary: Closemaster
      operationId: closemaster
      requestBody:
        description: closemaster object
        content:
          application/json:
            schema:
              type: object
              properties:
                userName:
                  type: string
                  description: This is requested username.
                  example: TEST
                  format: string
                origin:
                  type: string
                  description: This is master AWB origin.
                  example: JFK
                  format: string
                airWaybillDetails:
                  $ref: '#/components/schemas/AirWaybillDetails'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseChangeAddress'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /shipment/intelcom/status:
    post:
      tags:
      - status
      summary: status
      operationId: addstatus
      parameters:
      - in: query
        name: lastMilePartner
        schema:
          type: string
          example: ACI
        required: true
        description: This is last mile partner code to uniquely identify.
      requestBody:
        description: Shipment status
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shipmentjsonstatus'
        required: true
      responses:
        '200':
          description: Success [When request parsing is successful].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseChangeAddress'
        '400':
          description: Bad Request [When request parsing fails].
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
  /shipment/dimensionsupdate:
    post:
      tags:
      - shipment/dimensionsupdate
      summary: dimensionsupdate
      operationId: dimensionsupdate
      requestBody:
        description: Dimesions update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dimensionsupdatejson'
        required: true
      responses:
        '200':
          description: Success.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
                description: Error/ validation message explaining reason of failure.
        '401':
          description: Unauthorized [When request does not contain valid subscription
            token].
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      x-codegen-request-body-name: body
components:
  schemas:
    ResponseBooking:
      type: object
      properties:
        exchangeId:
          type: string
          description: This is the system-generated unique identifier for the booking.
          example: 751882f2-4406-441e-388d-08da11b2954a
        fileIdentifier:
          type: string
          description: 'null'
          example: null
        siteId:
          type: string
          description: This is the unique site Reference that identifies the Partner
            system that is integrating.
          example: Becker and Sons
        inputType:
          type: string
          description: ''
          example: StandardJson
        masterAirWaybill:
          type: string
          description: This is airline booking reference that groups multiple packages
            together.
          example: MasterAirWaybill
        status:
          type: string
          description: Indicates status of booking. Processed means booking was processed
            successfully. Error means error occurred during booking . Details of error
            can be found in validations collection.
          example: Processed
          enum:
          - Processed
          - Rejected
        valid:
          type: string
          description: Used to verify the integrity of the data object.
          example: 'Yes'
          enum:
          - 'Yes'
          - 'No'
        createdOn:
          type: string
          description: ''
          example: '2022-03-30T19:03:03.4600936'
          format: datetime
        details:
          $ref: '#/components/schemas/Shipments'
        validations:
          $ref: '#/components/schemas/Validations'
      description: Collection of Shipment Information that was part of the shipment
        request.
      xml:
        name: ResponseBooking
    Shipments:
      type: array
      description: This is a collection which can contain information of shipments.
      items:
        $ref: '#/components/schemas/Shipment'
    Shipment:
      required:
      - grossVolumeUnitMeasure
      type: object
      properties:
        shippingFee:
          type: number
          description: ''
          format: float
          example: 12.5
        insurance:
          type: number
          description: ''
          format: float
          example: 12.5
        totalCharges:
          type: number
          description: ''
          format: float
          example: 12.5
        total:
          type: number
          description: This indicates total charges that will be applicable for the
            shipment assuming there is no change in the shipment characteristics.
            Does not include Tax.
          format: float
          example: 12.5
        totalTax:
          type: number
          description: This indicates total taxes that will be applicable for the
            shipment assuming there is no change in the shipment characteristics.
          format: float
          example: 12.5
        otherCharges:
          example: []
        issueDate:
          type: string
          description: This is the issue/transportation date for the request. This
            date/time is used to define approximate pickup date/ time for the shipment.
            Dates from the past will be set to current date.
          example: '2021-12-09T10:00:00'
          format: datetime
        siteId:
          type: string
          description: This is the unique site Reference that identifies the Partner
            system that is integrating.
          example: Becker and Sons
        headerReference:
          type: string
          description: This is the reference id number system return in the response.
            This is the same reference id we send in the request body.
          example: GLM-987877-fee3a
        packageReference:
          type: string
          description: This is the package reference id number system return in the
            response. This is the same reference id we send in the request body.
          example: GLM-987877-fee3a
        prefix:
          type: string
          description: This is three character prefix to uniquely identify and track
            express airwaybill (AXB).
          example: XDL
        airWaybill:
          type: string
          description: This is a unique identifier number that we get in response
            after the booking. This airWaybill is unique for the life of the booking.
            Prefix and airWayBill are used as a parameter in Tracking API and Label
            API.
          example: 103681
        estimatedDeliveryDate:
          type: string
          description: ''
          example: '2022-03-31T23:59:03.787'
          format: datetime
        commodityType:
          type: string
          description: Commodity type for this package - based on harmonized commodity
            codes from the service. If this value is not passed during booking request
            then it is defaulted to ‘9999’ [General Shipment].
          example: '6501'
        serviceType:
          type: string
          description: Service/ Product Type to be used for a quote. This facilitates
            the following services to the customer. API request accepts the below
            abbreviations as a serviceType. Please confirm with our regional sales
            team applicable to your contract. Some services will be available based
            on the origin & destination zip.
          example: EXP, EPR, EST, ECL
          enum:
          - 'EXP : (e-commerce Express)'
          - 'EPR : (e-commerce Priority)'
          - 'EST : (e-commerce Standard)'
          - 'ECL : (e-commerce Five Days)'
        origin:
          type: string
          description: 'null'
          example: PHL01
        destination:
          type: string
          description: 'null'
          example: null
        packageDescription:
          type: string
          description: This field is used to take package descriptions or pieces packed
            into the package. It indicates the nature of goods. Avoid special characters/punctuations.
          example: Test Products
        totalGrossWeight:
          type: number
          description: Gross weight for this shipment.
          format: float
        totalPackages:
          type: integer
          description: This field contains a count of packages for shipment. This
            is always set to 1 by default.
        totalPieces:
          type: integer
          description: Total number pieces for this shipment. This should be always
            set to 1.
        currency:
          type: string
          description: Currency Code identifies a medium of exchange which allows
            for the translation of different-valued denominations of money across
            the world.
          example: USD=US Dollar (ISO 4217 format)
        insuranceRequired:
          type: boolean
          description: If customers agreed insurance with SMARTKARGO is to be used.
            If true then the accrued charges for this shipment will include insurance
            charges. If false then insurance will not be applicable.
        declaredValue:
          type: number
          description: Value of goods to be insured. Value should be entered greater
            than 0 when insuranceRequired is set to true.
          format: float
        specialHandlingType:
          type: string
          description: Any special handling code related to shipment. For specific
            shipment handling requirements, appropriate code may be used which need
            to be reviewed and finalized during interface discussion with SMARTKARGO
            team.
          example: null
        deliveryRequestTime:
          type: string
          description: ''
          example: '2022-03-31T22:00:00'
          format: datetime
        pickupRequestTime:
          type: string
          description: ''
          example: '2022-03-31T10:00:00'
          format: datetime
        expectedSLAInHours:
          type: string
          description: 'null'
          example: 24
        paymentMode:
          type: string
          description: 'Payment mode available. Below abbreviation used while sending
            an API requests. The payment mode will be depending on what is available
            in your contract. PP & CC payment modes are not generally available. '
          example: PX
          enum:
          - 'PX : Billed (Typically used)'
          - 'PP : Prepaid at the time of tender'
          - 'CC : Collected from Consignee at the time of delivery'
        grossVolumeUnitMeasure:
          type: string
          description: Volume Unit CMQ – When dimensions are in centimeters. CFT –
            When dimensions are in inches.
          enum:
          - CMQ
          - CFT
        grossWeightUnitMeasure:
          type: string
          description: Unit of measure – KG – When weight is specified in kilos. LBR
            – When weight is specified in pounds.
          enum:
          - KG
          - LBR
        additionalInfo01:
          type: string
          description: Additional information (if any) related to shipment can be
            provided.
        additionalInfo02:
          type: string
          description: Additional information (if any) related to shipment can be
            provided.
        additionalInfo03:
          type: string
          description: Additional information (if any) related to shipment can be
            provided.
        additionalInfo04:
          type: string
          description: Additional information (if any) related to shipment can be
            provided.
        status:
          type: string
          description: Indicates status of Booked processing. Booked means quote was
            processed successfully. Error means error occurred during booked. Details
            of error can be found in validations collection.
          example: Booked
          enum:
          - Booked
          - Rejected
        createdOn:
          type: string
          description: ''
          example: '2022-03-30T19:03:03.4600936'
          format: datetime
        barCode:
          type: string
          description: Barcode for this shipment
          example: XDL00103681
        labelUrl:
          type: string
          description: This is the label URL generated after the successful booking.
            This Label URL returns the base64 encoded format of the Label in response.
            This label is pasted on the Packages which contain information like flight
            details, consignee address, expected delivery date, etc.
          example: https://domain/path/label?prefix=XDL&airWaybill=00103681
        validations:
          example: []
        dimensions:
          $ref: '#/components/schemas/Dimensions'
        participants:
          $ref: '#/components/schemas/Participants'
        customItems:
          $ref: '#/components/schemas/CustomItems'
        commercialInvoice:
          $ref: '#/components/schemas/commercialInvoice'
      xml:
        name: Packages
    Packages:
      type: array
      description: This is a collection which can contain information of single packages.
        Fields of the packages collection are listed below.
      items:
        $ref: '#/components/schemas/Package'
    Package:
      required:
      - grossVolumeUnitMeasure
      - grossWeightUnitMeasure
      - packageDescription
      - paymentMode
      - reference
      - totalGrossWeight
      - totalPackages
      - totalPieces
      type: object
      properties:
        reference:
          type: string
          description: 'This is package reference id. This must be unique for the
            package within the given sales order number (reference id). It can be
            the same as the header reference Id.  '
          example: 2021-06-03-1
          maximum: 36
          format: string
        commodityType:
          type: string
          description: Commodity type for this package - based on harmonized commodity
            codes from the service. If this value is not passed during booking request
            then it is defaulted to ‘9999’ [General Shipment].
          example: '9999'
          maximum: 60
          format: string
        serviceType:
          type: string
          description: Service/ Product Type to be used for a quote. This facilitates
            the following services to the customer. API request accepts the below
            abbreviations as a serviceType. Please confirm with our regional sales
            team applicable to your contract. Some services will be available based
            on the origin & destination zip.
          example: EXP
          maximum: 60
          format: string
          enum:
          - 'EXP : (e-commerce Express)'
          - 'EPR : (e-commerce Priority)'
          - 'EST : (e-commerce Standard)'
          - 'ECL : (e-commerce Five Days)'
        paymentMode:
          type: string
          description: 'Payment mode available. Below abbreviation used while sending
            an API requests. The payment mode will be depending on what is available
            in your contract. PP & CC payment modes are not generally available. '
          example: PX
          maximum: 2
          format: string
          enum:
          - 'PX : Billed (Typically used)'
          - 'PP : Prepaid at the time of tender'
          - 'CC : Collected from Consignee at the time of delivery'
        packageDescription:
          type: string
          description: This field is used to take package descriptions or pieces packed
            into the package. It indicates the nature of goods. Avoid special characters/punctuations.
          example: Test Products
          maximum: 120
          format: string
        totalPackages:
          type: integer
          description: This field contains a count of packages for shipment. This
            is always set to 1 by default.
          example: '1.0'
          maximum: 13.2
          format: float
        totalPieces:
          type: integer
          description: Total number of pieces inside the package for the shipment.
            This should be always set to 1.
          example: '1.0'
          maximum: 13.2
          format: float
        grossVolumeUnitMeasure:
          type: string
          description: Volume Unit CMQ – When dimensions are in centimeters. CFT –
            When dimensions are in inches.
          example: CFT
          maximum: 3
          format: string
          enum:
          - CMQ
          - CFT
        totalGrossWeight:
          type: number
          description: Gross weight for this shipment.
          example: '2.0'
          maximum: 11.4
          format: float
        grossWeightUnitMeasure:
          type: string
          description: Unit of measure – KG – When weight is specified in kilos. LBR
            – When weight is specified in pounds.
          example: KG
          maximum: 3
          format: string
          enum:
          - KG
          - LBR
        insuranceRequired:
          type: boolean
          description: If customers agreed insurance with SMARTKARGO is to be used.
            If true then the accrued charges for this shipment will include insurance
            charges. If false then insurance will not be applicable.
          example: 'true'
          format: boolean
        declaredValue:
          type: number
          description: Value of goods to be insured. Value should be entered greater
            than 0 when insuranceRequired is set to true.
          example: '10.0'
          maximum: 13.2
          format: float
        specialHandlingType:
          type: string
          description: Any special handling code related to shipment. For specific
            shipment handling requirements, appropriate code may be used which need
            to be reviewed and finalized during interface discussion with SMARTKARGO
            team.
          example: Handle with care
          maximum: 60
          format: string
        additionalInfo01:
          type: string
          description: Additional information (if any) related to shipment can be
            provided.
          example: Additional info
          maximum: 50
          format: string
        additionalInfo02:
          type: string
          description: Additional information (if any) related to shipment can be
            provided.
          example: Additional info
          maximum: 50
          format: string
        additionalInfo03:
          type: string
          description: Additional information (if any) related to shipment can be
            provided.
          example: Additional info
          maximum: 50
          format: string
        additionalInfo04:
          type: string
          description: Additional information (if any) related to shipment can be
            provided.
          example: Additional info
          maximum: 50
          format: string
        deliveryType:
          type: string
          description: Delivery type to be used for. Default will be Door to Door.
          example: StoreToStore
          maximum: 12
          format: string
          enum:
          - DoorToDoor
          - StoreToStore
          - StoreToDoor
          - DoorToStore
        channel:
          type: string
          description: Channel of the order - Direct, Indirect, Marketplace name.
          maximum: 15
          format: string
        labelRef2:
          type: string
          description: This is reference field in addition to package reference that
            you may want to be printed on the label.
          maximum: 20
          format: string
        incoterm:
          type: string
          description: Defines responsibility for import duties. Defaults to DDP (sender
            pays all duties and taxes) if not specified.
          default: DDP
          enum:
          - DDU
          - DDP
        dimensions:
          $ref: '#/components/schemas/Dimensions'
        participants:
          $ref: '#/components/schemas/Participants'
        customItems:
          $ref: '#/components/schemas/CustomItems'
        commercialInvoice:
          $ref: '#/components/schemas/commercialInvoice'
      xml:
        name: Packages
    Dimensions:
      type: array
      items:
        $ref: '#/components/schemas/Dimension'
    Dimension:
      required:
      - grossWeight
      - height
      - length
      - pieces
      - width
      type: object
      properties:
        pieceReference:
          type: string
          description: Reference id number for the pieces within the package. The
            package might contain more than one piece so the reference id needs to
            be unique for each piece within the package.
          example: Test
          maximum: 36
          format: string
        pieces:
          type: number
          description: Number of pieces for which dimensions are provided. This should
            be set as 1.
          example: '2.0'
          maximum: 13.2
          format: float
        height:
          type: number
          description: Height of the piece(s) in unit(s) of measure(s) CMQ – When
            dimensions are in centimeters. CFT – When dimensions are in inches.
          example: '2.2'
          maximum: 13.2
          format: float
        width:
          type: number
          description: Width of the piece(s) in unit(s) of measure(s) CMQ – When dimensions
            are in centimeters. CFT – When dimensions are in inches.
          format: float
          example: '5.5'
          maximum: 13.2
        length:
          type: number
          description: Length of the piece(s) in unit(s) of measure(s) CMQ – When
            dimensions are in centimeters. CFT – When dimensions are in inches.
          format: float
          example: '4.5'
          maximum: 13.2
        grossWeight:
          type: number
          description: Height of the piece(s) in unit(s) of measure(s) CMQ – When
            dimensions are in centimeters. CFT – When dimensions are in inches.
          format: float
          example: '10.0'
          maximum: 11.4
      xml:
        name: Dimensions
    commercialInvoice:
      type: object
      properties:
        generateInvoice:
          type: boolean
          description: If customer agrees to generate a Commercial Invoice default
            is based on the settings at the shipper account level.
        termsOfSale:
          type: string
          maxLength: 5
          enum:
          - FCA
          - EXW
          - CIP
          - CPT
          - DAP
          - DAT
          - DDP
          - Other
          description: 'Terms of Sale. Example : FCA - Free Carrier, EXW - Ex Works,
            CIP - Carriage/Insurance/Paid To, CPT - Carriage Paid To, DAP - Delivered
            at Place, DAT - Delivered at Terminal, DDP - Delivered Duty Paid, Other
            - Other'
        insuranceCostValue:
          type: number
          format: decimal
          description: InsuranceCost declared for the shipment.
        insuranceCostCurrency:
          type: string
          maxLength: 3
          description: Currency for insuranceCost 3 character ISO code.
        freightCostValue:
          type: number
          format: decimal
          description: FreightCost declared on Commercial Invoice.
        freightCostCurrency:
          type: string
          maxLength: 3
          description: Currency for insuranceCost 3 character ISO code.
        declarationStatement:
          type: string
          maxLength: 500
          description: Declaration statement on Commercial Invoice.
      xml:
        name: commercialInvoice
    CustomItem:
      required:
      - description
      - importHsCode
      - quantity
      - quantityUnit
      - weight
      - commercialValue
      - commercialValueCurrency
      - manufactureCountryCode
      type: object
      properties:
        exportHsCode:
          type: string
          nullable: true
          maxLength: 18
          description: Harmonized System Code for Customs Clearance as defined by
            World Customs organization. Mandatory for export.
        description:
          type: string
          nullable: false
          maxLength: 500
          description: Description of the product for Customs HS classification.
        importHsCode:
          type: string
          nullable: false
          maxLength: 18
          description: HS Code for Import Customs Declaration at Destination Country.
        quantity:
          type: number
          format: int
          description: Quantity.
        quantityUnit:
          type: string
          nullable: false
          maxLength: 10
          description: 'Statistical Unit for Quantity. Example: 2u, carat, m, 1000u,
            kg, pack, m2, m3'
        weight:
          type: number
          format: decimal
          nullable: false
          description: Gross Weight of the Product. Unit is same as the shipment Weight
            Unit.
        commercialValue:
          type: number
          format: decimal
          nullable: false
          description: The total item value of the Product in Description for customs
            and commercial purpose.
        commercialValueCurrency:
          type: string
          nullable: false
          maxLength: 3
          description: Currency for the commercial Value of the product. 3 character
            ISO code.
        manufactureCountryCode:
          type: string
          nullable: false
          maxLength: 2
          description: Country of Manufacture of the product. 2 digit Alpha Country
            Code defined by ISO is required for international address.
        sku:
          type: string
          nullable: true
          maxLength: 25
          description: Shippers Stock Keeping Unit / Article Number – may allow better
            control on returns.
      description: Custom item for shipment
      xml:
        name: CustomItem
    CustomItems:
      type: array
      items:
        $ref: '#/components/schemas/CustomItem'
      xml:
        name: CustomItems
    Participants:
      type: array
      items:
        oneOf:
        - $ref: '#/components/schemas/ParticipantShipper'
        - $ref: '#/components/schemas/ParticipantConsignee'
        - $ref: '#/components/schemas/ParticipantReturnCompany'
    ParticipantShipper:
      required:
      - city
      - countryId
      - name
      - postCode
      - street
      - type
      type: object
      properties:
        type:
          type: string
          description: Participant has multiple child nodes for Shipper, Consignee,
            ServiceTaker, Notifier, Consolidator, InsuranceProvider, and ReturnCompany.
            Participants must contain at least one Shipper & Consignee others are
            optional. It should be distinct within the package.
          example: Shipper
          maximum: 20
          format: string
          enum:
          - Shipper
          - Consignee
          - Notifier
          - ReturnCompany
          - DeliveryParty
        primaryId:
          type: string
          description: This is the identification value for the shipper of the shipment.
            It is required only when the participant is a type of Shipper. This represents
            the account number with us.
          example: PRIMARYID
          maximum: 36
          format: string
        additionalId:
          type: string
          description: It is the participant additional identification.
          example: Test additional id
          maximum: 36
          format: string
        account:
          type: string
          description: It is the participant account number provided by SmartKargo.
            It is required when Type is Shipper.
          example: AC123456
          maximum: 120
          format: string
        name:
          type: string
          description: Name of the participant.
          example: TESTER TEST
          maximum: 120
          format: string
        postCode:
          type: string
          description: Postal/ zip code of the participant. State is derived automatically  from
            the zip code.
          example: 1B3 4A6
          maximum: 15
          format: string
        street:
          type: string
          description: Street address of participant.
          example: 123 Sesame
          maximum: 250
          format: string
        street2:
          type: string
          description: Street address line 2 of the participant.
          example: FC Road
          maximum: 250
          format: string
        city:
          type: string
          description: City of the participant.
          example: Montréal
          maximum: 60
          format: string
        state:
          type: string
          description: State/Province of the participant.
          example: NJ
          maximum: 60
          format: string
        countryId:
          type: string
          description: 2 char IATA Country code of participant e.g. CA, US, MX, etc.
          example: US
          maximum: 2
          format: string
        phoneNumber:
          type: string
          description: Phone number of the participant.
          example: '19999999999'
          maximum: 25
          format: string
        email:
          type: string
          description: Email address of participant.
          example: test@test.com
          maximum: 120
          format: string
        taxId:
          type: string
          description: Tax ID of the participant.
          example: IT12345678901
          maximum: 50
          format: string
      xml:
        name: Participants
    ParticipantConsignee:
      required:
      - city
      - countryId
      - name
      - postCode
      - street
      - type
      type: object
      properties:
        type:
          type: string
          description: Type of participants.
          example: Consignee
          maximum: 20
          format: string
          enum:
          - Shipper
          - Consignee
          - Notifier
          - ReturnCompany
          - DeliveryParty
        primaryId:
          type: string
          description: This is the identification value for the shipper of the shipment.
            It is required only when the participant is a type of Shipper. This represents
            the account number with us.
          example: PRIMARYID
          maximum: 36
          format: string
        additionalId:
          type: string
          description: It is the participant additional identification.
          example: Test addtional id
          maximum: 36
          format: string
        account:
          type: string
          description: It is the participant account number provided by SmartKargo.
            It is required when Type is Shipper.
          example: ACC12345
          maximum: 120
          format: string
        name:
          type: string
          description: Name of the participant.
          example: TESTER TEST
          maximum: 120
          format: string
        postCode:
          type: string
          description: Postal/ zip code of the participant. State is derived automatically  from
            the zip code.
          example: A1B 2C3
          maximum: 15
          format: string
        street:
          type: string
          description: Street address of participant.
          example: 123 Sesame
          maximum: 250
          format: string
        street2:
          type: string
          description: Street address line 2 of the participant.
          example: SB Road
          maximum: 250
          format: string
        city:
          type: string
          description: City of the participant.
          example: Montréal
          maximum: 60
          format: string
        state:
          type: string
          description: State/Province of the participant.
          example: NY
          maximum: 60
          format: string
        countryId:
          type: string
          description: 2 char IATA Country code of participant e.g. CA, US, MX, etc.
          example: US
          maximum: 2
          format: string
        phoneNumber:
          type: string
          description: Phone number of the participant.
          example: '19999999999'
          maximum: 25
          format: string
        email:
          type: string
          description: Email address of participant.
          example: test@test.com
          maximum: 120
          format: string
        deliveryInstruction:
          type: string
          description: delivery instructions of the participant.
          example: handle with care
          maximum: 250
          format: string
      xml:
        name: Participants
    ParticipantReturnCompany:
      required:
      - city
      - countryId
      - name
      - postCode
      - street
      - type
      type: object
      properties:
        type:
          type: string
          description: Type of participants.
          example: ReturnCompany
          maximum: 20
          format: string
          enum:
          - Shipper
          - Consignee
          - Notifier
          - ReturnCompany
          - DeliveryParty
        primaryId:
          type: string
          description: This is the identification value for the shipper of the shipment.
            It is required only when the participant is a type of Shipper. This represents
            the account number with us.
          example: PRIMARYID
          maximum: 36
          format: string
        additionalId:
          type: string
          description: It is the participant additional identification.
          example: Test addtional id
          maximum: 36
          format: string
        account:
          type: string
          description: It is the participant account number provided by SmartKargo.
            It is required when Type is Shipper.
          example: ACC12345
          maximum: 120
          format: string
        name:
          type: string
          description: Name of the participant.
          example: TESTER TEST
          maximum: 120
          format: string
        postCode:
          type: string
          description: Postal/ zip code of the participant. State is derived automatically  from
            the zip code.
          example: A1B 2C3
          maximum: 15
          format: string
        street:
          type: string
          description: Street address of participant.
          example: 123 Sesame
          maximum: 250
          format: string
        street2:
          type: string
          description: Street address line 2 of the participant.
          example: SB Road
          maximum: 250
          format: string
        city:
          type: string
          description: City of the participant.
          example: Montréal
          maximum: 60
          format: string
        state:
          type: string
          description: State/Province of the participant.
          example: NY
          maximum: 60
          format: string
        countryId:
          type: string
          description: 2 char IATA Country code of participant e.g. CA, US, MX, etc.
          example: US
          maximum: 2
          format: string
        phoneNumber:
          type: string
          description: Phone number of the participant.
          example: '19999999999'
          maximum: 25
          format: string
        email:
          type: string
          description: Email address of participant.
          example: test@test.com
          maximum: 120
          format: string
      xml:
        name: Participants
    TaxIdentificationNumbers:
      type: object
      properties:
        type:
          type: string
          description: Type of the tax identification.
          enum:
          - CUIT
          - DNI
        value:
          type: string
          description: Value of the tax identification. When CUIT, maximum length
            is 11. When DNI, maximum length is 9.
      description: Array containing tax identification for CUIT and DNI numbers.
      xml:
        name: TaxIdentificationNumbers
    ResponseQuotation:
      type: object
      properties:
        headerReference:
          type: string
          description: This is the reference id number system return in the response.
            This is the same reference id we send in the request body.
          example: GLM-987877-fee3a
        packageReference:
          type: string
          description: This is the package reference id number system return in the
            response. This is the same reference id we send in the request body.
          example: GLM-987877-fee3a
        status:
          type: string
          description: Indicates status of quote processing. Quoted means quote was
            processed successfully. Error means error occurred during quote. Details
            of error can be found in validations collection.
          example: Quoted
          enum:
          - Quoted
          - Error
        details:
          $ref: '#/components/schemas/Details'
        validations:
          $ref: '#/components/schemas/Validations'
      description: Collection of Shipment Information that was part of the shipment
        request.
      xml:
        name: ResponseQuotation
    Details:
      type: array
      description: ''
      items:
        $ref: '#/components/schemas/Detail'
    Detail:
      type: object
      properties:
        slaInDays:
          type: integer
          description: This indicates SLA defined in the contract for this booking.
          example: 3
        deliveryDateBasedOnShipment:
          type: string
          description: This indicates when shipment is due for delivery (in local
            time of destination) as per SLA defined in the contract.
          format: datetime
          example: {}
        serviceType:
          type: string
          description: This indicates service type for which respective quote is applicable.
          example: EPR
        total:
          type: number
          description: This indicates total charges that will be applicable for the
            shipment assuming there is no change in the shipment characteristics when
            it is actually tendered. Does not include Tax.
          format: float
          example: 7.19
        totalTax:
          type: number
          description: This indicates total taxes that will be applicable for the
            shipment assuming there is no change in the shipment characteristics when
            it is actually tendered.
          format: float
          example: 0.93
      description: ''
      xml:
        name: Details
    Validations:
      type: array
      description: ''
      items:
        $ref: '#/components/schemas/Validation'
    Validation:
      type: object
      properties:
        type:
          type: string
          description: Error or Warning.
        message:
          type: string
          description: This contains message.
      description: Collection containing error information, rejection reasons when
        quote request fails. If quote request is processed successfully, this collection
        is returned as Blank.
      xml:
        name: Validations
    Unauthorized:
      type: object
      properties:
        statusCode:
          type: string
          description: The error code
          example: 401
        message:
          type: string
          description: The error message specifiying the details of the error
          example: Access denied due to missing subscription key. Make sure to include
            subscription key when making requests to an API.
      xml:
        name: Unauthorized
    SkValidation:
      type: object
      properties:
        axbPrefix:
          type: string
          description: Prefix sent in the request.
        axbNumber:
          type: string
          description: AirWaybill sent in the request.
        reason:
          type: string
          description: Validation description.
      description: Collection containing error information, rejection reasons when
        payment change request fails. If payment change request is processed successfully,
        this collection is returned as Blank.
      xml:
        name: SkValidation
    ResponsePaymentMode:
      type: object
      properties:
        status:
          type: string
          description: Indicates status of update payment mode processing. Success
            means change was processed successfully. Rejected means error occurred
            during quote. Details of error can be found in validations collection.
          example: Success
          enum:
          - Success
          - Rejected
        validations:
          type: array
          items:
            $ref: '#/components/schemas/SkValidation'
      description: Collection of Shipment Information that was part of the shipment
        request.
      xml:
        name: ResponsePaymentMode
    ResponseShipmentVoid:
      type: object
      properties:
        result:
          type: object
          properties:
            cancelled:
              type: boolean
              example: 'true'
              enum:
              - true
              - false
              description: Return true or false status
            messages:
              type: string
              example: 'null'
              description: Return validation message if any else null for successfully
                processed.
    ResponseShipmentTracking:
      type: object
      properties:
        prefix:
          type: string
          description: Prefix sent in the request.
        airWaybill:
          type: string
          description: AirWaybill sent in the request.
        packageReference:
          type: string
          description: This is the package reference id number system return in the
            response. This is the same reference id we send in the request body.
        serviceType:
          type: string
          description: Service/ Product Type to be used for booking.
        rtsStatus:
          type: boolean
          description: Indicates if shipment has status Return to Shipper.
        currentStatusCode:
          type: string
          description: Indicates the actual shipment status code.
        currentStatusDescription:
          type: string
          description: Description of actual shipment status code.
        totalPieces:
          type: number
          description: Total number pieces for this shipment.
          format: float
        totalWeight:
          type: number
          description: Gross weight for this shipment
          format: float
        origin:
          type: string
          description: This is the airport code or the store code from shipment origin.
        destination:
          type: string
          description: This is the airport code or the store code from shipment destination.
        shipperAccount:
          type: string
          description: It is the participant account number provided by carrier.
        shipperName:
          type: string
          description: Shipper name.
        consigneeName:
          type: string
          description: Consignee name.
        city:
          type: string
          description: City from actual event.
        state:
          type: string
          description: State from actual event.
        estimatedDeliveryDate:
          type: string
          description: This is the estimated delivery date of shipment.
          example: '2022-03-30T19:03:03.4600936'
          format: datetime
        receiver:
          type: string
          description: Name of person who received the shipment at delivery event.
        latitude:
          type: string
          description: Latitude from actual event.
        longitude:
          type: string
          description: Longitude from actual event.
        referenceAirWaybill:
          type: string
          description: This is Express Airway Bill AXB Number with prefix generated
            from another shipment.
        shipmentStatus:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentStatus'
        podUrl:
          type: string
          description: Url to download POD file when delivered.
    ShipmentStatus:
      type: object
      properties:
        eventDate:
          type: string
          description: This is the date when the event occurred.
          example: '2022-03-30T19:03:03.4600936'
          format: datetime
        statusDescription:
          type: string
          description: This is the description of the event.
        statusCode:
          type: string
          description: This is the event status code.
          enum:
          - 'BKD : Electronic information submitted by shipper'
          - 'RCS : Shipment Picked up by Carrier'
          - 'DEP : Departed - Package has departed the first mile, origin airport,
            dest airline airport for the last mile partner store'
          - 'RCF : Package has been recovered at the partner, airport, last mile store'
          - 'GDL : Package has left the partner store for the consignee door - Gone
            for Delivery'
          - 'DDL : Package has been successfully delivered to the consignee. Door
            Delivered. Proof of delivery with an image optional'
          - 'ADL : Attempted Delivery - Partner reached the consignee address for
            delivery but could not successfully deliver it. Reasons could be consignee
            not available, no answer at the door, no safe location to leave the package
            etc. An image describing the situation is required as part of the transmission'
          - 'RCU : Reminder sent to customer'
          - 'DLD : Delivered and left at door'
          - 'RPU : Redirected to PUDO. Available at PUDO location. Pick up location
            and information to be given'
          - 'DPU : Picked up at PUDO and marked as delivered'
          - 'RTP : Return to Sort Facility after ADL - Attempt'
          - 'RTS : Package Return to Sender'
          - 'RTL : Return to Origin Locked request is received as consignment cannot
            be delivered to consignee. Once the request is received, shipment status
            is changed to RTO Locked.  This means we are blocking further Delivery
            Attempts.  Shipment will not be considered for next delivery route generation
            via assign delivery menus'
          - 'RTO : Return To Origin Initiated. This event is created after RTO Locked
            event (RTL). When customer creates new AWB for returning the shipment
            to shipper, old AWB status will be changed RTO. Normally this event push
            will accompany reference to new AWB created (referenceAirWayBill). The
            updates on new return AWB will be sent separately until Delivery'
[...]
