{% extends BASE_TEMPLATE %}
{% load i18n static %}

{% block extrastyle %}
  <link href="{% static 'purpleserver/client/fontawesome/all.min.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'purpleserver/client/purpleboard.min.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block root %}
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root" data-token="{{token|safe}}"></div>

  {% block footer %}
  <footer class="footer py-5">
    <div class="content columns">
      <div class="column"></div>
      <div class="column has-text-centered">
        <a href="https://purplship.com">
          <img src="{% static 'purpleserver/branding/favicon.svg' %}" alt="" width="50" />
        </a>
      </div>
      <div class="column has-text-right-desktop">
        <a class="button is-white footer-api-reference-link" target="_blank" href="/api">
          <span>API Reference</span>
          <span class="icon is-small">
              <i class="fas fa-external-link-alt"></i>
          </span>
        </a>
        <a class="button is-white footer-docs-link" target="_blank" href="https://docs.purplship.com">
          <span>Docs</span>
          <span class="icon is-small">
              <i class="fas fa-external-link-alt"></i>
          </span>
        </a>
        <a class="button is-white footer-contribute-link" target="_blank" href="https://github.com/PurplShip">
          <span>Contribute</span>
          <span class="icon is-small">
              <i class="fas fa-external-link-alt"></i>
          </span>
        </a>
      </div>
    </div>
  </footer>
  {% endblock %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'purpleserver/client/purpleboard.min.js' %}"></script>
{% endblock %}