{
    "openapi": "3.0.0",
    "info": {
        "title": "Parcel.One Shipping REST API",
        "description": "ParcelOne [https://parcel.one](https://parcel.one) provides you with a REST API for implementing an interface to ParcelOne shipping services into your own shop/warehouse or, respectively, into the shops/warehouses of your customers.\r\n ___\r\n This documentation was created adhering to the OpenAPI 3.0 standard. We use Swagger.IO tool for display. If you prefer to use another OpenAPI-Tool or want to implement this into your own environment, you may download the underlying OpenAPI-Document from here:\r\n * [JSON-Format](https://doc.parcelone.io/ParcelOneShippingRESTApiV1.json)\r\n * [YAML-Format](https://doc.parcelone.io/ParcelOneShippingRESTApiV1.yaml)\r\n ___\r\n## Basic Implementation Principles\r\n###  Sandbox and Production-Modes\r\nIn order to be able to test your implementation without interfering production environment, we provide a SandBox-Mode as well as a Production-Mode. The URLs:\r\n* Sandbox: https://sandbox.parcelone.io/shippingapi/v1\r\n* Production: https://production.parcelone.io/shippingapi/v1\r\n\r\nPlease, use the Sandbox mode to test your client application thoroughly before switching to Production mode. In Sandbox mode all data will be saved to a separate database.\r\n\r\n###  Dynamic Approach\r\nDifferenty from other carriers, Parcel.one provides a products and services structure that may vary for different customers. Therefore, we strongly recommend not to use hardcoded products and services identifiers, but to use a dynamic approach using the profile-functions to get the products and services hierarchy and show it dynamically in your client UI! Also there may be several mandators and for each mandator several consigner/sender-addresses. Every mandator can have a different portfolio of products/services. So, please, strongly consider a dynamic approach!\r\n\r\nTo get acquainted with the dynamic mandator, consigner, Carriers and Products/Services setup, please, start with the customer- and profile-path-functions.\r\n\r\n ___\r\n## Verification and Validation process\r\nAfter we took a careful look to your shipments in our sandbox environment to validate your integration, you will be provided with access to our production environment.\r\nFor the validation of your implementation, we will look for the following items, which you should consider carefully while developing your software:\r\n>    Provision of an own string in the data field 'Software' (including a version number) to make your implementation identifiable\r\n\r\n>    Creation of shipping labels\r\n> >      to various recipients\r\n> >        including a phone and/or mobile phone number of the recipient\r\n> >        including an eMail address of the recipient\r\n> >      with different recipient addresses\r\n> >      in different destination countries\r\n> >      EU and non-EU shipments\r\n> >       using various PARCEL.ONE products\r\n> >       with various combinations of optional services, that can be applied\r\n> >       with different weights for shipments\r\n> >       providing the dimensions of the shipment, even if you intend to skip providing them or to provide default values in production use\r\n> >       providing full customs information for all shipments to non EU countries, even if you currently do not intend to ship to such countries\r\n>    Cancellation of shipping labels\r\n\r\nWe are listing these points in such detail as we want to see in advance, that your implementation is capable to provide all parameters for creating shipments and that you have understood our API and the products PARCEL.ONE provides. This will save both of us a lot of trouble in the future, when production mode is going on.\r\nPlease contact us as soon as you have completed your creation of your test shipments that we may start immediately with our evaluation.\r\n___\r\n## Authentification\r\nAuthentification is provided by Basic Authentification secured over SSL.\r\nFurther authentification is done via an API-Key to authenificate the provider of the software accessing the API. If you are a platform provider for Parcel.One clients, please, keep in mind, that the ApiKey is only as an identification for you and should not be provided to or even be edited in the UI by the users of your platform.\r\n\r\nYou may also make use of a JWT Access Token to speed up authentification on subsequent requests: Just specify a Header named 'Getaccesstoken' with any value, e.g. value of 'true' along with any of your requests. This will return the JWT access token being valid for the next 12 hours. Your subsequent requests may now be authentificated with this bearer JWT token instead of using Basic Authentification and the ApiKey.\r\n\r\nPlease, contact us if you would like to receive an API-Key and Sandbox Login data for your development. For a simple test of valid Authentification data we recommend using the 'datetime' or 'customer' path functions.\r\n___\r\n ",
        "termsOfService": "https://parcel.one/en/data-security",
        "contact": {
            "name": "Contact our support",
            "url": "https://parcel.one/en/contact",
            "email": "support@parcel.one"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://sandbox.parcelone.io/shippingapi/v1",
            "description": "Parcel.One Shipping REST API - Sandbox"
        }
    ],
    "paths": {
        "/closing/closable/{mandator}/{consigner}/{cep}/{startdate}/{enddate}": {
            "get": {
                "tags": [
                    "closing"
                ],
                "summary": "get closable shipments as csv, separated by Ceps",
                "description": "get closable shipments as csv files, one for each Cep/Carrier<br />Closing is not necessary for availability for Shipping. It solely marks shipments as closed and returns a report for your use. For DHL it does NOT perform the actual DHL closing, this will be done automatically by DHL Background Services once a day.)<br />This path-function CLOSABLE provides a list of shipments that are available for your closing. Results can be filtered by several parameters. Only shipments created by the same API-Key are considered to avoid conflicts.",
                "operationId": "getClosable",
                "parameters": [
                    {
                        "name": "mandator",
                        "in": "path",
                        "description": "Mandator - maybe '*' for all or specific mandator",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "*"
                        }
                    },
                    {
                        "name": "consigner",
                        "in": "path",
                        "description": "Consigner or Sender - maybe '*' for all or specific consigner of specified mandator",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "*"
                        }
                    },
                    {
                        "name": "cep",
                        "in": "path",
                        "description": "Cep or Carrier - maybe '*' for all or specific",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "*",
                            "enum": [
                                "*",
                                "DHL",
                                "PA1",
                                "UPS"
                            ]
                        }
                    },
                    {
                        "name": "startdate",
                        "in": "path",
                        "description": "StartDate in format 'YYYYMMDD' - maybe '*' for all or specific date",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "*"
                        }
                    },
                    {
                        "name": "enddate",
                        "in": "path",
                        "description": "EndDate in format 'YYYYMMDD' - maybe '*' for all or specific date",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "*"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Lang"
                    },
                    {
                        "$ref": "#/components/parameters/Getaccesstoken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Document"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ResultSuccess"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ResultSuccess": {
                                        "summary": "ResultSuccess",
                                        "value": {
                                            "status": 200,
                                            "success": 1,
                                            "message": "OK",
                                            "type": "success",
                                            "instance": "/closing/closable/...",
                                            "results": [
                                                {
                                                    "DocType": "PA1",
                                                    "Format": {
                                                        "Type": "CSV",
                                                        "Size": null,
                                                        "Unit": null,
                                                        "Orientation": 0,
                                                        "Height": null,
                                                        "Width": null
                                                    },
                                                    "Document": "U2hpc... CSV-List as Base64-document ..."
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/closing/stamps/{mandator}/{consigner}/{cep}/{startdate}/{enddate}": {
            "get": {
                "tags": [
                    "closing"
                ],
                "summary": "get ClosedStamps as Array of Strings",
                "description": "get ClosedStamps as Array of Strings<br />Closing is not necessary for availability for Shipping. It solely marks shipments as closed and returns a report for your use. For DHL it does NOT perform the actual DHL closing, this will be done automatically by DHL Background Services once a day.)<br />This path-function STAMPS provides a list of closing stamps for shipments that have been closed already, filtered by several parameters.  Only shipments created by the same API-Key are considered to avoid conflicts.",
                "operationId": "getClosedStamps",
                "parameters": [
                    {
                        "name": "mandator",
                        "in": "path",
                        "description": "Mandator - maybe '*' for all or specific mandator",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "*"
                        }
                    },
                    {
                        "name": "consigner",
                        "in": "path",
                        "description": "Consigner or Sender - maybe '*' for all or specific consigner of specified mandator",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "*"
                        }
                    },
                    {
                        "name": "cep",
                        "in": "path",
                        "description": "Cep or Carrier - maybe '*' for all or specific",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "*",
                            "enum": [
                                "*",
                                "DHL",
                                "PA1",
                                "UPS"
                            ]
                        }
                    },
                    {
                        "name": "startdate",
                        "in": "path",
                        "description": "StartDate in format 'YYYYMMDD' - maybe '*' for all or specific date",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "*"
                        }
                    },
                    {
                        "name": "enddate",
                        "in": "path",
                        "description": "EndDate in format 'YYYYMMDD' - maybe '*' for all or specific date",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "*"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Lang"
                    },
                    {
                        "$ref": "#/components/parameters/Getaccesstoken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ResultSuccess"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ResultSuccess": {
                                        "summary": "ResultSuccess",
                                        "value": {
                                            "status": 200,
                                            "success": 1,
                                            "message": "OK",
                                            "type": "success",
                                            "instance": "/closing/stamps/...",
                                            "results": [
                                                "20210217103852PA1",
                                                "20210217152939PA1",
                                                "20211210112408PA1",
                                                "20211210112408UPS"
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/closing/reprint/{closedStamp}": {
            "get": {
                "tags": [
                    "closing"
                ],
                "summary": "reprint Closing List",
                "description": "reprint Closing List as a CSV file or as a PDF document<br />Closing is not necessary for availability for Shipping. It solely marks shipments as closed and returns a report for your use. For DHL it does NOT perform the actual DHL closing, this will be done automatically by DHL Background Services once a day.)<br />This path-function REPRINT reprints a closing list by specifying the ClosedStamp as a parameter. Output may be CSV or PDF.  Only shipments created by the same API-Key are considered to avoid conflicts.",
                "operationId": "reprintClosingList",
                "parameters": [
                    {
                        "name": "closedStamp",
                        "in": "path",
                        "description": "ClosedStamp to reprint",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "FormatType",
                        "in": "query",
                        "description": "OutputType for ClosingList - CSV file or PDF document",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "PDF",
                            "enum": [
                                "CSV",
                                "PDF"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Lang"
                    },
                    {
                        "$ref": "#/components/parameters/Getaccesstoken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "results": {
                                                    "$ref": "#/components/schemas/Document"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ResultSuccess"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ResultSuccess": {
                                        "summary": "ResultSuccess",
                                        "value": {
                                            "status": 200,
                                            "success": 1,
                                            "message": "OK",
                                            "type": "success",
                                            "instance": "/closing/reprint/{closedStamp}",
                                            "results": {
                                                "ClosedStamp": "20210217103852PA1",
                                                "CEP": "PA1",
                                                "Document": {
                                                    "DocType": "ClosedReport",
                                                    "Format": {
                                                        "Type": "PDF",
                                                        "Size": "A4",
                                                        "Unit": null,
                                                        "Orientation": 0,
                                                        "Height": null,
                                                        "Width": null
                                                    },
                                                    "Document": "JVBERi0xLjcKJe... - ClosedReport as Base64-PDF..."
                                                }
                                            },
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                },
                                "examples": {
                                    "ResultError": {
                                        "summary": "ResultError",
                                        "value": {
                                            "status": 404,
                                            "success": -1,
                                            "message": "Not found",
                                            "type": "error",
                                            "instance": "/closing/reprint/{closedStamp}",
                                            "errors": [
                                                {
                                                    "ErrorNo": "1008",
                                                    "Message": "This ClosedStamp could not be found.",
                                                    "StatusCode": "Invalid parameters have been provided."
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                },
                                "examples": {
                                    "ResultError": {
                                        "summary": "ResultError",
                                        "value": {
                                            "status": 422,
                                            "success": -1,
                                            "message": "Validation Error",
                                            "type": "error",
                                            "instance": "/closing/reprint/{closedStamp}",
                                            "errors": [
                                                {
                                                    "ErrorNo": "1395",
                                                    "Message": "Missing parameter: ClosedStamp",
                                                    "StatusCode": "Invalid parameters have been provided."
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/closing": {
            "post": {
                "tags": [
                    "closing"
                ],
                "summary": "Close Shipments",
                "description": "Closing Shipments as filtered by given parameters, returns ClosingLists as CSV or PDF, one for each CEP/Carrier concerned.<br />Closing is not necessary for availability for Shipping. It solely marks shipments as closed and returns a report for your use. For DHL it does NOT perform the actual DHL closing, this will be done automatically by DHL Background Services once a day.)<br />This is the main function to perform the actual closing. You can filter shipments to close by several parameters. Only shipments created by the same API-Key are considered to avoid conflicts.",
                "operationId": "closeShipments",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Lang"
                    },
                    {
                        "$ref": "#/components/parameters/Getaccesstoken"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Mandator": {
                                        "type": "string"
                                    },
                                    "Consigner": {
                                        "type": "string"
                                    },
                                    "CEP": {
                                        "type": "string"
                                    },
                                    "Format": {
                                        "$ref": "#/components/schemas/Format"
                                    },
                                    "Shipments": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/identifyShipment"
                                        }
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "Mandator": "1",
                                    "Consigner": "1",
                                    "CEP": "",
                                    "Format": {
                                        "Type": "PDF"
                                    },
                                    "Shipments": [
                                        {
                                            "ShipmentRefField": "TrackingID",
                                            "ShipmentRefValue": "1234501014159"
                                        },
                                        {
                                            "ShipmentRefField": "ShipmentID",
                                            "ShipmentRefValue": "101416"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ClosedResult"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ResultSuccess"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ResultSuccess": {
                                        "summary": "ResultSuccess",
                                        "value": {
                                            "status": 200,
                                            "success": 1,
                                            "message": "OK",
                                            "type": "success",
                                            "instance": "/closing",
                                            "results": [
                                                {
                                                    "ClosedStamp": "20210217103852PA1",
                                                    "CEP": "PA1",
                                                    "Document": {
                                                        "DocType": "ClosedReport",
                                                        "Format": {
                                                            "Type": "PDF",
                                                            "Size": "A4",
                                                            "Unit": null,
                                                            "Orientation": 0,
                                                            "Height": null,
                                                            "Width": null
                                                        },
                                                        "Document": "JVBERi0xLjcKJe... - ClosedReport as Base64-PDF..."
                                                    }
                                                },
                                                {
                                                    "ClosedStamp": "20210217103852UPS",
                                                    "CEP": "UPS",
                                                    "Document": {
                                                        "DocType": "ClosedReport",
                                                        "Format": {
                                                            "Type": "PDF",
                                                            "Size": "A4",
                                                            "Unit": null,
                                                            "Orientation": 0,
                                                            "Height": null,
                                                            "Width": null
                                                        },
                                                        "Document": "JVBERi0xLjcKJe... - ClosedReport as Base64-PDF..."
                                                    }
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customer": {
            "get": {
                "tags": [
                    "customer"
                ],
                "summary": "get Customer status for default Mandator and its Consigners data",
                "description": "Get Customer status and default Mandator and Consigners data<br />Also provides information about status of a customer - active, blocked or annulled - and which entities are considered default. Reflects system configuration for customer.",
                "operationId": "getCustomerStatus",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Lang"
                    },
                    {
                        "$ref": "#/components/parameters/Getaccesstoken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "results": {
                                                    "$ref": "#/components/schemas/Customer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ResultSuccess"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ResultSuccess": {
                                        "summary": "ResultSuccess",
                                        "value": {
                                            "status": 200,
                                            "success": 1,
                                            "message": "OK",
                                            "type": "success",
                                            "instance": "/customer",
                                            "results": {
                                                "Customer": {
                                                    "CustomerID": "12345",
                                                    "MandatorID": "1",
                                                    "Shortname": "test-company",
                                                    "Default": 1,
                                                    "StatusID": 0,
                                                    "Status": "Customer active.",
                                                    "Consigners": [
                                                        {
                                                            "ConsignerID": "2",
                                                            "Shortname": "consigner-test1",
                                                            "Default": "1"
                                                        },
                                                        {
                                                            "ConsignerID": "4",
                                                            "Shortname": "consigner-test4",
                                                            "Default": 0
                                                        }
                                                    ]
                                                }
                                            },
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customs/reprint/{ShipmentRefField}/{ShipmentRefValue}": {
            "get": {
                "tags": [
                    "customs"
                ],
                "summary": "reprint Customs Documents by Shipment Identification",
                "description": "Reprint Customs Documents by Shipment Identification.<br />Availabe formats are CN22 or CN23 (two documents per page). The CN22-document may contain up to 7 customs detail lines, the CN23-document will print up to 17 detail lines. If more than 7 detail lines, CN23 will be printed automatically.",
                "operationId": "reprintCustomsDocumentsForShipment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ShipmentRefField"
                    },
                    {
                        "$ref": "#/components/parameters/ShipmentRefValue"
                    },
                    {
                        "$ref": "#/components/parameters/FormatType"
                    },
                    {
                        "name": "FormatSize",
                        "in": "query",
                        "description": "Desired Size of returned Document - CN23 or CN22",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "CN23",
                            "enum": [
                                "CN22",
                                "CN23"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Lang"
                    },
                    {
                        "$ref": "#/components/parameters/Getaccesstoken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ShipmentDocumentsResult"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ResultSuccess"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ResultSuccess": {
                                        "summary": "ResultSuccess",
                                        "value": {
                                            "status": 200,
                                            "success": 1,
                                            "message": "OK",
                                            "type": "success",
                                            "instance": "/customs/reprint/trackingid/1234501016092",
                                            "results": [
                                                {
                                                    "ShipmentID": "101610",
                                                    "PackageID": "1",
                                                    "TrackingID": "1234501016092",
                                                    "DocType": "CN23",
                                                    "Format": {
                                                        "Type": "PDF",
                                                        "Size": "A4",
                                                        "Unit": null,
                                                        "Orientation": null,
                                                        "Height": null,
                                                        "Width": null
                                                    },
                                                    "Document": "JVBERi0xLjcKJeLj...CN23-Document as Base64-String ...",
                                                    "Charges": null,
                                                    "PackageRef": null,
                                                    "PackageTrackingID": null,
                                                    "ActionResult": null
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                },
                                "examples": {
                                    "ResultError": {
                                        "summary": "ResultError",
                                        "value": {
                                            "status": 404,
                                            "success": -1,
                                            "message": "Not found",
                                            "type": "error",
                                            "instance": "/customs/reprint/trackingid/1234501016092/packageid/1",
                                            "errors": [
                                                {
                                                    "ErrorNo": "1003",
                                                    "Message": "This Shipment could not be uniquely identified.",
                                                    "StatusCode": "Invalid parameters have been provided."
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customs/reprint/{ShipmentRefField}/{ShipmentRefValue}/{PackageRefField}/{PackageRefValue}": {
            "get": {
                "tags": [
                    "customs"
                ],
                "summary": "reprint Customs Documents by Shipment and Package Identification",
                "description": "Reprint Customs Documents by Shipment and Package Identification.<br />Availabe formats are CN22 or CN23 (two documents per page). The CN22-document may contain up to 7 customs detail lines, the CN23-document will print up to 17 detail lines. If more than 7 detail lines, CN23 will be printed automatically.",
                "operationId": "reprintCustomsDocumentsShipmentPackageID",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ShipmentRefField"
                    },
                    {
                        "$ref": "#/components/parameters/ShipmentRefValue"
                    },
                    {
                        "$ref": "#/components/parameters/PackageRefField"
                    },
                    {
                        "$ref": "#/components/parameters/PackageRefValue"
                    },
                    {
                        "$ref": "#/components/parameters/FormatType"
                    },
                    {
                        "name": "FormatSize",
                        "in": "query",
                        "description": "Desired Size of returned Document - CN23 or CN22",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "CN23",
                            "enum": [
                                "CN22",
                                "CN23"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/Lang"
                    },
                    {
                        "$ref": "#/components/parameters/Getaccesstoken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ShipmentDocumentsResult"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ResultSuccess"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ResultSuccess": {
                                        "summary": "ResultSuccess",
                                        "value": {
                                            "status": 200,
                                            "success": 1,
                                            "message": "OK",
                                            "type": "success",
                                            "instance": "/customs/reprint/trackingid/1234501016092/packageid/1",
                                            "results": [
                                                {
                                                    "ShipmentID": "101610",
                                                    "PackageID": "1",
                                                    "TrackingID": "1234501016092",
                                                    "DocType": "CN23",
                                                    "Format": {
                                                        "Type": "PDF",
                                                        "Size": "A4",
                                                        "Unit": null,
                                                        "Orientation": null,
                                                        "Height": null,
                                                        "Width": null
                                                    },
                                                    "Document": "JVBERi0xLjcKJeLj...CN23-Document as Base64-String ...",
                                                    "Charges": null,
                                                    "PackageRef": null,
                                                    "PackageTrackingID": null,
                                                    "ActionResult": null
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                },
                                "examples": {
                                    "ResultError": {
                                        "summary": "ResultError",
                                        "value": {
                                            "status": 404,
                                            "success": -1,
                                            "message": "Not found",
                                            "type": "error",
                                            "instance": "/customs/reprint/trackingid/1234501016092/packageid/1",
                                            "errors": [
                                                {
                                                    "ErrorNo": "1003",
                                                    "Message": "This Shipment could not be uniquely identified.",
                                                    "StatusCode": "Invalid parameters have been provided."
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customs": {
            "post": {
                "tags": [
                    "customs"
                ],
                "summary": "Register Customs Data",
                "description": "Register Customs Data for a Shipment that has been already created.<br />Customs information may be either registered immediately when registering a shipment, or registered afterwards for a created shipment with this path-function. A CN22 or CN23-document (two documents per page) will be returned. The CN22-document may contain up to 7 customs detail lines, the CN23-document will print up to 17 detail lines. If more than 7 detail lines, CN23 will be printed automatically.<br />For customs detail lines, you can either provide netweight and itemvalue as a sum for the specified item quantity or specify netweightperitem and itemvalueperitem for a quantity of 1. In this case - but only if netweight and itemvalue fields are null or 0 - the netweight and itemvalue will be multiplied by provided quantity automatically.",
                "operationId": "registerCustomsData",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Lang"
                    },
                    {
                        "$ref": "#/components/parameters/Getaccesstoken"
                    }
                ],
                "requestBody": {
                    "description": "Provide International Customs Data for a specific already existing Shipment/Package",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IntDocData"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/ShipmentDocumentsResult"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ResultSuccess"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ResultSuccess": {
                                        "summary": "ResultSuccess",
                                        "value": {
                                            "status": 200,
                                            "success": 1,
                                            "message": "OK",
                                            "type": "success",
                                            "instance": "/customs",
                                            "results": [
                                                {
                                                    "ShipmentID": "101610",
                                                    "PackageID": "1",
                                                    "TrackingID": "1234501016092",
                                                    "DocType": "CN23",
                                                    "Format": {
                                                        "Type": "PDF",
                                                        "Size": "A4",
                                                        "Unit": null,
                                                        "Orientation": null,
                                                        "Height": null,
                                                        "Width": null
                                                    },
                                                    "Document": "JVBERi0xLjcKJeLj...CN23-Document as Base64-String ...",
                                                    "Charges": null,
                                                    "PackageRef": null,
                                                    "PackageTrackingID": null,
                                                    "ActionResult": null
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                },
                                "examples": {
                                    "ResultError": {
                                        "summary": "ResultError",
                                        "value": {
                                            "status": 404,
                                            "success": -1,
                                            "message": "Not found",
                                            "type": "error",
                                            "instance": "/customs/reprint/trackingid/1234501016092/packageid/1",
                                            "errors": [
                                                {
                                                    "ErrorNo": "1003",
                                                    "Message": "This Shipment could not be uniquely identified.",
                                                    "StatusCode": "Invalid parameters have been provided."
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                },
                                "examples": {
                                    "ResultError": {
                                        "summary": "ResultError",
                                        "value": {
                                            "status": 422,
                                            "success": -1,
                                            "message": "Validation Error",
                                            "type": "error",
                                            "instance": "/customs/reprint/trackingid/1234501016092/packageid/1",
                                            "errors": [
                                                {
                                                    "ErrorNo": "1014",
                                                    "Message": "The following fields exceed the allowed maximal fieldlength or value:...",
                                                    "StatusCode": "Invalid parameters have been provided."
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/datetime": {
            "get": {
                "tags": [
                    "datetime"
                ],
                "summary": "get Server DateTime",
                "description": "This path-function returns Server-DateTime in CET- and UTC-Format. It is well suited to test your authorization setup on proper functioning.",
                "operationId": "getDateTime",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Lang"
                    },
                    {
                        "$ref": "#/components/parameters/Getaccesstoken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ResultSuccess"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ResultSuccess": {
                                        "summary": "ResultSuccess",
                                        "value": {
                                            "status": 200,
                                            "success": 1,
                                            "message": "OK",
                                            "type": "success",
                                            "instance": "/customer",
                                            "results": {
                                                "DateTimeUTC": "2022-01-04T11:09:40+00:00",
                                                "DateTimeCET": "2022-01-04T12:09:40+01:00"
                                            },
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mandator": {
            "get": {
                "tags": [
                    "mandator"
                ],
                "summary": "get mandators status and availabe Mandators and Consigners data",
                "description": "Get mandator status and availabe Mandators and Consigners data<br />Also provides information about status of a mandator - active, blocked or annulled - and which entities are considered default. Reflects system configuration for mandator.",
                "operationId": "getmandatorStatus",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Lang"
                    },
                    {
                        "$ref": "#/components/parameters/Getaccesstoken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "results": {
                                                    "$ref": "#/components/schemas/Customer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ResultSuccess"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ResultSuccess": {
                                        "summary": "ResultSuccess",
                                        "value": {
                                            "status": 200,
                                            "success": 1,
                                            "message": "OK",
                                            "type": "success",
                                            "instance": "/mandator",
                                            "results": [
                                                {
                                                    "CustomerID": "12345",
                                                    "MandatorID": "1",
                                                    "Shortname": "test-company",
                                                    "Default": 1,
                                                    "StatusID": 0,
                                                    "Status": "Customer active.",
                                                    "Consigners": [
                                                        {
                                                            "ConsignerID": "2",
                                                            "Shortname": "consigner-test1",
                                                            "Default": "1"
                                                        },
                                                        {
                                                            "ConsignerID": "4",
                                                            "Shortname": "consigner-test4",
                                                            "Default": 0
                                                        }
                                                    ]
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/profile": {
            "get": {
                "tags": [
                    "profile"
                ],
                "summary": "get all Customer profiles",
                "description": "get all mandators, consigners, CEPS, Products and Services for customer<br />The profile path-functions help you to realize a dynamic approach of the mandator, consigners, CEPS, Products and Services hierarchy in your UI. Profiles of available products can be returned for a specified list of countries, e.g. if you are working with shipping zones. A level parameter can limit the response to a specified depth of the hierarchy.",
                "operationId": "getAllCustomerProfiles",
                "parameters": [
                    {
                        "name": "level",
                        "in": "query",
                        "description": "level (int) - depth of hierarchy returned (0=all)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 3,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "countries",
                        "in": "query",
                        "description": "countries (string) - optional, products are checked against availability in all countries specified. Just write all 2-char-Country-Abbreviations into one string like e.g. 'ATDE' for counties AT and DE.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "weight",
                        "in": "query",
                        "description": "weight (int) - optional, package weight in grams",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 200000,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "length",
                        "in": "query",
                        "description": "length (int) - optional, package length in millimeters",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 2000,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "width",
                        "in": "query",
                        "description": "width (int) - optional, package width in millimeters",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 2000,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "height",
                        "in": "query",
                        "description": "height (int) - optional, package height in millimeters",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 2000,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "description": "address (bool) - optional, return mandator and consigner´s addresses",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "true"
                            ]
                        }
                    },
                    {
                        "name": "maxvalues",
                        "in": "query",
                        "description": "maxvalues (bool) - optional, return maximum weight and dimensions for products, valid only for Parcel.One",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "true"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Profile"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ResultSuccess"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ResultSuccess": {
                                        "summary": "ResultSuccess",
                                        "value": {
                                            "status": 200,
                                            "success": 1,
                                            "message": "OK",
                                            "type": "success",
                                            "instance": "/profile",
                                            "results": [
                                                {
                                                    "MandatorID": "1",
                                                    "MandatorShortname": "PARCEL.ONE Test",
                                                    "Default": "1",
                                                    "Consigners": [
                                                        {
                                                            "ConsignerID": "2",
                                                            "Shortname": "test-consigner 2",
                                                            "Default": "1"
                                                        },
                                                        {
                                                            "ConsignerID": "4",
                                                            "Shortname": "test-consigner 4",
                                                            "Default": "1"
                                                        }
                                                    ],
                                                    "CEPs": [
                                                        {
                                                            "CEPID": "PA1",
                                                            "CEPLongname": "Parcel One",
                                                            "Default": "1",
                                                            "Products": [
                                                                {
                                                                    "ProductID": "basic",
                                                                    "ProductName": "Parcel Basic",
                                                                    "Default": "0",
                                                                    "Services": [
                                                                        {
                                                                            "ServiceID": "BCL",
                                                                            "ServiceName": "Letter Check",
                                                                            "Default": 2,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "EI",
                                                                            "ServiceName": "Extended Insurance 255 EUR",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SDO",
                                                                            "ServiceName": "Shipment Destruction",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SRL",
                                                                            "ServiceName": "Retourelabel",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SRO",
                                                                            "ServiceName": "Return Only",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "ProductID": "basicL",
                                                                    "ProductName": "Letter Basic",
                                                                    "Default": "1",
                                                                    "Services": [
                                                                        {
                                                                            "ServiceID": "BCL",
                                                                            "ServiceName": "Letter Check",
                                                                            "Default": 2,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "R25",
                                                                            "ServiceName": "Registered Mail 25",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "R55",
                                                                            "ServiceName": "Registered Mail 55",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SDO",
                                                                            "ServiceName": "Shipment Destruction",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SRM",
                                                                            "ServiceName": "Registered Mail",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SSH",
                                                                            "ServiceName": "Scan at Hub",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "ProductID": "eco",
                                                                    "ProductName": "Parcel  Eco",
                                                                    "Default": "0",
                                                                    "Services": [
                                                                        {
                                                                            "ServiceID": "BCL",
                                                                            "ServiceName": "Letter Check",
                                                                            "Default": 2,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SDO",
                                                                            "ServiceName": "Shipment Destruction",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SRL",
                                                                            "ServiceName": "Retourelabel",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SRO",
                                                                            "ServiceName": "Return Only",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "ProductID": "ecoL",
                                                                    "ProductName": "Letter  Eco",
                                                                    "Default": "0",
                                                                    "Services": [
                                                                        {
                                                                            "ServiceID": "SDO",
                                                                            "ServiceName": "Shipment Destruction",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SSH",
                                                                            "ServiceName": "Scan at Hub",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "ProductID": "plus",
                                                                    "ProductName": "Parcel Plus",
                                                                    "Default": "0",
                                                                    "Services": [
                                                                        {
                                                                            "ServiceID": "BCL",
                                                                            "ServiceName": "Letter Check",
                                                                            "Default": 2,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "BSC",
                                                                            "ServiceName": "Bulky Shipment",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "EI",
                                                                            "ServiceName": "Extended Insurance 255 EUR",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SDO",
                                                                            "ServiceName": "Shipment Destruction",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SRL",
                                                                            "ServiceName": "Retourelabel",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        },
                                                                        {
                                                                            "ServiceID": "SRO",
                                                                            "ServiceName": "Return Only",
                                                                            "Default": 0,
                                                                            "AmountNeeded": "0",
                                                                            "CurrencyNeeded": "0"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "UniqId": "6499698a6f6e1"
[...]
