{% extends "purpleserver/base_site.html" %}
{% load i18n static %}

{% block content_title %}
    <div class="header purpleserver-bg-gradient-primary py-7 py-lg-8 pt-lg-9">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                        <h1 class="text-white">{{ title }}</h1>
                        <p class="text-lead text-white">
                            {% trans 'Your password was changed.' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
