{% extends "purpleserver/base_site.html" %}
{% load i18n static %}

{% block content_title %}
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                        <h1 class="text-white">{{ title }}</h1>
                        <p class="text-lead text-white">
                            {% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" xmlns="http://www.w3.org/2000/svg"
                 y="0">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">

                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <form method="post">{% csrf_token %}
                            <div class="form-group mb-3">
                                {{ form.email.errors }}
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" type="email" placeholder="{% trans 'Email address:' %}">
                                </div>
                            </div>
                            <div class="text-center">
                                <input class="btn btn-primary my-4" type="submit" value="{% trans 'Reset my password' %}">
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
