# .coveragerc to control coverage.py
[run]
branch = True
omit =
    */purplship/extensions/boxknight/*
    */purplship/extensions/dicom/*
    */purplship/extensions/usps/*

[report]
include =
    */purplship/core/*
    */purplship/extensions/*
