# Ignore install scripts to prevent postman-code-generators from failing
# This is a workaround for a known issue with postman-code-generators
# See: https://github.com/postmanlabs/postman-code-generators/issues
ignore-scripts=true
