--extra-index-url https://github.com/karrioapi/karrio-insiders/releases/
asgiref==3.11.0
attrs==25.4.0
backoff==2.2.1
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
croniter==6.0.0
cross-web==0.4.0
cryptography==46.0.3
cssselect2==0.8.0
deprecation==2.1.0
diff-match-patch==20241021
distro==1.9.0
dj-database-url==3.1.0
Django==6.0.1
django-auditlog==3.4.1
django-constance==4.3.4
django-cors-headers==4.9.0
django-downloadview==2.5.0
django-email-verification==0.3.3
django-extensions==4.1
django-filter==25.2
django-formtools==2.5.1
django-health-check==3.20.8
django-import-export==4.3.14
django-oauth-toolkit==3.1.0
django-organizations==2.5.0
django-otp==1.7.0
django-phonenumber-field==8.4.0
django-picklefield==3.4.0
django-redis==6.0.0
django-two-factor-auth==1.18.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-api-tracking==1.8.4
drf-spectacular==0.29.0
fonttools==4.61.1
googleapis-common-protos==1.72.0
graphql-core==3.2.7
grpcio==1.76.0
gunicorn==23.0.0
h11==0.16.0
hiredis==3.3.0
huey==2.6.0
idna==3.11
importlib_metadata==8.7.1
inflection==0.5.1
Jinja2==3.1.6
jsonfield==3.2.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jstruct==2021.11
jwcrypto==1.5.6
karrio==2026.1
karrio-australiapost==2026.1
karrio-canadapost==2026.1
karrio-chronopost==2026.1
karrio-dhl-express==2026.1
karrio-dhl-parcel-de==2026.1
karrio-dhl-poland==2026.1
karrio-dhl-universal==2026.1
karrio-dpd==2026.1
karrio-dpd-meta==2026.1
karrio-dtdc==2026.1
karrio-easypost==2026.1
karrio-easyship==2026.1
karrio-eshipper==2026.1
karrio-fedex==2026.1
karrio-freightcom==2026.1
karrio-generic==2026.1
karrio-gls==2026.1
karrio-hermes==2026.1
karrio-landmark==2026.1
karrio-laposte==2026.1
karrio-purolator==2026.1
karrio-sapient==2026.1
karrio-seko==2026.1
karrio-sendle==2026.1
karrio-server==2026.1
karrio-server-admin==2026.1
karrio-server-apps==2026.1
karrio-server-audit==2026.1
karrio-server-automation==2026.1
karrio-server-cloud==2026.1
karrio-server-core==2026.1
karrio-server-data==2026.1
karrio-server-documents==2026.1
karrio-server-events==2026.1
karrio-server-graph==2026.1
karrio-server-manager==2026.1
karrio-server-orders==2026.1
karrio-server-orgs==2026.1
karrio-server-pricing==2026.1
karrio-server-proxy==2026.1
karrio-teleship==2026.1
karrio-ups==2026.1
karrio-usps==2026.1
karrio-usps-international==2026.1
loguru==0.7.3
lxml==6.0.2
lxml-stubs==0.5.1
MarkupSafe==3.0.3
more-itertools==10.8.0
oauthlib==3.3.1
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-instrumentation==0.60b1
opentelemetry-instrumentation-dbapi==0.60b1
opentelemetry-instrumentation-django==0.60b1
opentelemetry-instrumentation-logging==0.60b1
opentelemetry-instrumentation-psycopg2==0.60b1
opentelemetry-instrumentation-redis==0.60b1
opentelemetry-instrumentation-requests==0.60b1
opentelemetry-instrumentation-wsgi==0.60b1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opentelemetry-util-http==0.60b1
packaging==25.0
phonenumbers==9.0.21
pillow==12.1.0
posthog==7.5.0
protobuf==6.33.2
psutil==7.2.1
psycopg2-binary==2.9.11
py-soap==2026.1
pycparser==2.23
pydyf==0.12.1
PyJWT==2.10.1
PyPDF2==3.0.1
pyphen==0.17.2
python-barcode==0.16.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.3
pyzint==0.1.10
qrcode==8.2
redis==7.1.0
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
sentry-sdk==2.48.0
six==1.17.0
sqlparse==0.5.5
strawberry-graphql==0.288.2
tablib==3.9.0
tinycss2==1.5.1
tinyhtml5==2.0.0
toml==0.10.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.40.0
validators==0.35.0
weasyprint==67.0
webencodings==0.5.1
whitenoise==6.11.0
wrapt==1.17.3
xmltodict==1.0.2
zipp==3.23.0
zopfli==0.4.0

