aniso8601==7.0.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.1.0
carrier.aramex==2021.2
carrier.australiapost==2021.2.1
carrier.canadapost==2021.7
carrier.canpar==2021.2
carrier.chronopost==2022.8
carrier.dhl-express==2021.4
carrier.dhl-poland==2021.11
carrier.dhl-universal==2021.2.1
carrier.dicom==2021.2.1
carrier.dpdhl==2022.8
carrier.fedex==2021.4
carrier.purolator==2020.4.1
carrier.royalmail==2021.2.1
carrier.sendle==2021.11
carrier.sf-express==2021.2
carrier.tnt==2021.3
carrier.ups==2022.8
carrier.usps==2022.6
carrier.yanwen==2021.2.1
carrier.yunexpress==2021.2.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
coreapi==2.3.3
coreschema==0.0.4
cryptography==38.0.1
Deprecated==1.2.13
deprecation==2.1.0
Django==3.2.15
django-constance==2.9.1
django-cors-headers==3.13.0
django-downloadview==2.3.0
django-email-verification==0.3.1
django-filter==22.1
django-formtools==2.3
django-health-check==3.17.0
django-oauth-toolkit==2.1.0
django-otp==1.1.3
django-phonenumber-field==6.4.0
django-picklefield==3.1
django-redis==5.2.0
django-two-factor-auth==1.14.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.0
drf-api-tracking==1.8.0
drf-yasg==1.21.4
graphene==2.1.9
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
h11==0.14.0
hiredis==2.0.0
huey==2.4.3
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
jsonfield==3.1.0
jstruct==2021.11
jwcrypto==1.4.2
karrio==2022.8.3
karrio.amazon-mws==2022.8.3
karrio.aramex==2022.8.3
karrio.australiapost==2022.8.3
karrio.canadapost==2022.8
karrio.canpar==2022.8.3
karrio.chronopost==2022.8.3
karrio.dhl-express==2022.8.3
karrio.dhl-poland==2022.8.3
karrio.dhl-universal==2022.8.3
karrio.dicom==2022.8.3
karrio.dpdhl==2022.8.3
karrio.eshipper==2022.8.3
karrio.fedex==2022.8.3
karrio.freightcom==2022.8.3
karrio.purolator==2022.8.3
karrio.royalmail==2022.8.3
karrio.sendle==2022.8.3
karrio.server==2022.8.3
karrio.server.core==2022.8.1
karrio.server.events==2022.8
karrio.server.graph==2022.8
karrio.server.manager==2022.8
karrio.server.pricing==2022.8
karrio.server.proxy==2022.8
karrio.sf-express==2022.8.3
karrio.tnt==2022.8.3
karrio.ups==2022.8.3
karrio.ups-freight==2022.8.3
karrio.usps==2022.8.3
karrio.usps-international==2022.8.3
karrio.yanwen==2022.8.3
karrio.yunexpress==2022.8.3
lxml==4.9.1
lxml-stubs==0.4.0
MarkupSafe==2.1.1
more-itertools==8.14.0
oauthlib==3.2.1
packaging==21.3
phonenumbers==8.12.56
Pillow==9.2.0
promise==2.3
psutil==5.9.2
psycopg2-binary==2.9.3
py-soap==2020.3.2
pycparser==2.21
PyJWT==2.5.0
pyparsing==3.0.9
PyPDF2==2.11.0
python-barcode==0.14.0
python-decouple==3.6
pytz==2022.2.1
PyYAML==6.0
qrcode==7.3.1
redis==4.3.4
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
Rx==1.6.1
sentry-sdk==1.9.9
simple-zpl2==0.3.0
singledispatch==3.7.0
six==1.16.0
sqlparse==0.4.3
text-unidecode==1.3
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.18.3
wrapt==1.14.1
xmltodict==0.13.0
