--extra-index-url https://karrio.gateway.scarf.sh/simple/
karrio==2023.1rc4
karrio.amazon-mws==2023.1rc4
karrio.aramex==2023.1rc4
karrio.australiapost==2023.1rc4
karrio.canadapost==2023.1rc4
karrio.canpar==2023.1rc4
karrio.chronopost==2023.1rc4
karrio.dhl-express==2023.1rc4
karrio.dhl-poland==2023.1rc4
karrio.dhl-universal==2023.1rc4
karrio.dicom==2023.1rc4
karrio.dpdhl==2023.1rc4
karrio.easypost==2023.1rc4
karrio.eshipper==2023.1rc4
karrio.fedex==2023.1rc4
karrio.freightcom==2023.1rc4
karrio.generic==2023.1rc4
karrio.purolator==2023.1rc4
karrio.royalmail==2023.1rc4
karrio.sendle==2023.1rc4
karrio.server==2023.1rc4
karrio.server.apps==2023.1rc4
karrio.server.core==2023.1rc4
karrio.server.data==2023.1rc4
karrio.server.documents==2023.1rc4
karrio.server.events==2023.1rc4
karrio.server.graph==2023.1rc4
karrio.server.iam==2023.1rc4
karrio.server.manager==2023.1rc4
karrio.server.orders==2023.1rc4
karrio.server.pricing==2023.1rc4
karrio.server.proxy==2023.1rc4
karrio.sf-express==2023.1rc4
karrio.tnt==2023.1rc4
karrio.ups==2023.1rc4
karrio.ups-freight==2023.1rc4
karrio.usps==2023.1rc4
karrio.usps-international==2023.1rc4
karrio.yanwen==2023.1rc4
karrio.yunexpress==2023.1rc4
