-f https://git.io/purplship
asgiref==3.2.10
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==3.1.2
djangorestframework==3.11.1
djangorestframework-camel-case==1.2.0
drf-yasg==1.17.1
eshipper.extension==2020.9.1
freightcom.extension==2020.9.1
gunicorn==20.0.4
idna==2.10
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.2
jsonfield==3.1.0
jstruct==2020.4.0
lxml==4.5.2
MarkupSafe==1.1.1
packaging==20.4
Pillow==7.2.0
psycopg2-binary==2.8.6
purplship==2020.9.0
purplship-server==2020.9.0
purplship-server.core==2020.9.0
purplship-server.proxy==2020.9.0
purplship.canadapost==2020.9.0
purplship.dhl_express==2020.9.0
purplship.fedex==2020.9.0
purplship.fedex_express==2020.9.0
purplship.purolator==2020.9.0
purplship.purolator_courier==2020.9.0
purplship.ups==2020.9.0
purplship.ups_package==2020.9.0
py-canadapost==2020.4.0
py-dhl==2020.4.0
py-fedex==2020.3.0
py-purolator==2020.4.0
py-soap==2020.3.0
py-ups==2020.3.0
pyparsing==2.4.7
python-decouple==3.3
pytz==2020.1
requests==2.24.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
sqlparse==0.3.1
uritemplate==3.0.1
urllib3==1.25.10
xmltodict==0.12.0
