--extra-index-url https://github.com/karrioapi/karrio-insiders/releases/
asgiref==3.9.1
attrs==25.3.0
backoff==2.2.1
Brotli==1.1.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
croniter==6.0.0
cryptography==45.0.5
cssselect2==0.8.0
deprecation==2.1.0
diff-match-patch==20241021
distro==1.9.0
dj-database-url==3.0.1
Django==5.2.4
django-auditlog==3.2.1
django-constance==4.3.2
django-cors-headers==4.7.0
django-downloadview==2.4.0
django-email-verification==0.3.3
django-extensions==4.1
django-filter==25.1
django-formtools==2.5.1
django-health-check==3.20.0
django-import-export==4.3.9
django-oauth-toolkit==3.0.1
django-organizations==2.5.0
django-otp==1.6.1
django-phonenumber-field==8.1.0
django-picklefield==3.3
django-redis==6.0.0
django-two-factor-auth==1.17.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
drf-api-tracking==1.8.4
drf-spectacular==0.28.0
fonttools==4.59.0
graphql-core==3.2.6
gunicorn==23.0.0
h11==0.16.0
hiredis==3.2.1
huey==2.5.3
idna==3.10
inflection==0.5.1
Jinja2==3.1.6
jsonfield==3.2.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jstruct==2021.11
jwcrypto==1.5.6
karrio==2025.5rc10
karrio-australiapost==2025.5rc10
karrio-canadapost==2025.5rc10
karrio-chronopost==2025.5rc10
karrio-dhl-express==2025.5rc10
karrio-dhl-parcel-de==2025.5rc10
karrio-dhl-poland==2025.5rc10
karrio-dhl-universal==2025.5rc10
karrio-dpd==2025.5rc10
karrio-easypost==2025.5rc10
karrio-easyship==2025.5rc10
karrio-eshipper==2025.5rc10
karrio-fedex==2025.5rc10
karrio-freightcom==2025.5rc10
karrio-generic==2025.5rc10
karrio-laposte==2025.5rc10
karrio-purolator==2025.5rc10
karrio-sapient==2025.5rc10
karrio-seko==2025.5rc10
karrio-sendle==2025.5rc10
karrio-server==2025.5rc10
karrio-server-admin==2025.5rc10
karrio-server-apps==2025.5rc10
karrio-server-audit==2025.5rc10
karrio-server-automation==2025.5rc10
karrio-server-cloud==2025.5rc10
karrio-server-core==2025.5rc10
karrio-server-data==2025.5rc10
karrio-server-documents==2025.5rc10
karrio-server-events==2025.5rc10
karrio-server-graph==2025.5rc10
karrio-server-manager==2025.5rc10
karrio-server-orders==2025.5rc10
karrio-server-orgs==2025.5rc10
karrio-server-pricing==2025.5rc10
karrio-server-proxy==2025.5rc10
karrio-ups==2025.5rc10
karrio-usps==2025.5rc10
karrio-usps-international==2025.5rc10
lxml==4.9.4
lxml-stubs==0.5.1
MarkupSafe==3.0.2
more-itertools==10.7.0
oauthlib==3.3.1
packaging==25.0
phonenumbers==9.0.10
pillow==11.3.0
posthog==6.3.3
psutil==7.0.0
psycopg2-binary==2.9.10
py-soap==2020.3.2
pycparser==2.22
pydyf==0.11.0
PyJWT==2.10.1
PyPDF2==3.0.1
pyphen==0.17.2
pypng==0.20220715.0
python-barcode==0.15.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
pyzint==0.1.10
qrcode==7.4.2
redis==6.2.0
referencing==0.36.2
requests==2.32.4
rpds-py==0.26.0
sentry-sdk==2.34.1
six==1.17.0
sqlparse==0.5.3
strawberry-graphql==0.278.0
tablib==3.8.0
tinycss2==1.4.0
tinyhtml5==2.0.0
toml==0.10.2
typing_extensions==4.14.1
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.35.0
validators==0.35.0
weasyprint==66.0
webencodings==0.5.1
whitenoise==6.9.0
xmltodict==0.14.2
zopfli==0.2.3.post1

