django-debug-toolbar

# Schemas update
-e ./schemas/aramex
-e ./schemas/australiapost
-e ./schemas/canadapost
-e ./schemas/canpar
-e ./schemas/chronopost
# -e ./schemas/dhl_express
-e ./schemas/dhl_poland
-e ./schemas/dicom
-e ./schemas/dpd
-e ./schemas/dpdhl
# -e ./schemas/fedex
-e ./schemas/purolator
-e ./schemas/royalmail
-e ./schemas/sendle
-e ./schemas/sf_express
-e ./schemas/tnt
-e ./schemas/usps
-e ./schemas/yanwen
-e ./schemas/yunexpress

# Carrier Extentions in Development
-e ./sdk/core
-e ./sdk/extensions/generic
-e ./sdk/extensions/amazon_mws
-e ./sdk/extensions/aramex
-e ./sdk/extensions/australiapost
-e ./sdk/extensions/boxknight
-e ./sdk/extensions/canadapost
-e ./sdk/extensions/canpar
-e ./sdk/extensions/chronopost
-e ./sdk/extensions/dhl_express
-e ./sdk/extensions/dhl_poland
-e ./sdk/extensions/dhl_universal
-e ./sdk/extensions/dicom
-e ./sdk/extensions/dpd
-e ./sdk/extensions/dpdhl
-e ./sdk/extensions/fedex
-e ./sdk/extensions/geodis
-e ./sdk/extensions/laposte
-e ./sdk/extensions/nationex
-e ./sdk/extensions/purolator
-e ./sdk/extensions/roadie
-e ./sdk/extensions/royalmail
-e ./sdk/extensions/sendle
-e ./sdk/extensions/sf_express
-e ./sdk/extensions/tnt
-e ./sdk/extensions/ups
-e ./sdk/extensions/usps
-e ./sdk/extensions/usps_international
-e ./sdk/extensions/yanwen
-e ./sdk/extensions/yunexpress

# Carrier Hub Extentions in Development
-e ./sdk/vendors/easypost
-e ./sdk/vendors/eshipper
-e ./sdk/vendors/freightcom


# karrio server core modules
-e ./server/modules/iam
-e ./server/modules/core
-e ./server/modules/graph
-e ./server/main
-e ./server/modules/apps
-e ./server/modules/data
-e ./server/modules/events
-e ./server/modules/manager
-e ./server/modules/orders
-e ./server/modules/proxy
-e ./server/modules/pricing
# -e ./server/modules/documents
