--extra-index-url https://karrio.gateway.scarf.sh/simple/?sourceBuild

karrio @ file://${PWD}/karrio/modules/sdk

# Shipping Plugins
karrio_dhl_express @ file://${PWD}/karrio/modules/connectors/dhl_express
karrio_dhl_parcel_de @ file://${PWD}/karrio/modules/connectors/dhl_parcel_de
karrio_dhl_poland @ file://${PWD}/karrio/modules/connectors/dhl_poland
karrio_dhl_universal @ file://${PWD}/karrio/modules/connectors/dhl_universal
karrio_dpd @ file://${PWD}/karrio/modules/connectors/dpd
karrio_fedex @ file://${PWD}/karrio/modules/connectors/fedex
karrio_generic @ file://${PWD}/karrio/modules/connectors/generic
karrio_landmark @ file://${PWD}/karrio/modules/connectors/landmark
karrio_laposte @ file://${PWD}/karrio/modules/connectors/laposte
karrio_purolator @ file://${PWD}/karrio/modules/connectors/purolator
karrio_seko @ file://${PWD}/karrio/modules/connectors/seko
karrio_sendle @ file://${PWD}/karrio/modules/connectors/sendle
karrio_ups @ file://${PWD}/karrio/modules/connectors/ups
karrio_usps @ file://${PWD}/karrio/modules/connectors/usps
karrio_usps_international @ file://${PWD}/karrio/modules/connectors/usps_international

# karrio server modules
karrio_server_core @ file://${PWD}/karrio/modules/core
karrio_server @ file://${PWD}/karrio/apps/api
karrio_server_graph @ file://${PWD}/karrio/modules/graph
karrio_server_data @ file://${PWD}/karrio/modules/data
karrio_server_events @ file://${PWD}/karrio/modules/events
karrio_server_manager @ file://${PWD}/karrio/modules/manager
karrio_server_orders @ file://${PWD}/karrio/modules/orders
karrio_server_proxy @ file://${PWD}/karrio/modules/proxy
karrio_server_pricing @ file://${PWD}/karrio/modules/pricing
karrio_server_documents @ file://${PWD}/karrio/modules/documents

# JTL custom karrio modules
karrio_shipping @ file://${PWD}/modules/shipping