--extra-index-url https://${REGISTRY_TOKEN_NAME}:${REGISTRY_TOKEN}@gitlab.com/api/v4/projects/28001120/packages/pypi/simple

-r ./requirements.server.dev.txt

# karrio insider sdk extensions
-e ./insiders/sdk/addons
# karrio.addons
-e ./insiders/sdk/generic
# karrio.generic
-e ./insiders/sdk/easypost
# karrio.easypost

# karrio enterprise modules
-e ./insiders/server/tenants
-e ./insiders/server/orders
-e ./insiders/server/audit
-e ./insiders/server/orgs
-e ./insiders/server/iam
-e ./insiders/server/apps
-e ./insiders/server/documents
-e ./insiders/server/data
