Django<=3.2.15
graphene==2.1.9
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1

karrio
karrio.server
karrio.server.core
karrio.server.events
karrio.server.graph
karrio.server.manager
karrio.server.pricing
karrio.server.proxy
karrio.amazon_mws
karrio.aramex
karrio.australiapost
karrio.canadapost
karrio.canpar
karrio.chronopost
karrio.dhl-express
karrio.dhl-poland
karrio.dhl-universal
karrio.eshipper
karrio.dicom
karrio.dpdhl
karrio.fedex
karrio.freightcom
karrio.purolator
karrio.royalmail
karrio.sendle
karrio.sf-express
karrio.tnt
karrio.ups
karrio.ups_freight
karrio.usps
karrio.usps_international
karrio.yanwen
karrio.yunexpress
