-f https://git.io/purplship
--extra-index-url https://${REGISTRY_TOKEN_NAME}:${REGISTRY_TOKEN}@gitlab.com/api/v4/projects/purplship%2Fcloud/packages/pypi/simple
aniso8601==7.0.0
asgiref==3.4.1
attrs==21.2.0
carrier.aramex==2021.2
carrier.australiapost==2021.2.1
carrier.canadapost==2021.7
carrier.canpar==2021.2
carrier.dhl-express==2021.4
carrier.dhl-poland==2021.11
carrier.dhl-universal==2021.2.1
carrier.dicom==2021.2.1
carrier.fedex==2021.4
carrier.purolator==2020.4.1
carrier.royalmail==2021.2.1
carrier.sendle==2021.11
carrier.sf-express==2021.2
carrier.tnt==2021.3
carrier.ups==2020.11
carrier.usps==2021.6
carrier.yanwen==2021.2.1
carrier.yunexpress==2021.2.1
certifi==2021.10.8
charset-normalizer==2.0.8
click==8.0.3
coreapi==2.3.3
coreschema==0.0.4
Deprecated==1.2.13
Django==3.2.9
django-constance==2.8.0
django-cors-headers==3.10.0
django-email-verification==0.1.0
django-extensions==3.1.5
django-filter==21.1
django-organizations==2.0.1
django-picklefield==3.0.1
django-redis==5.0.0
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
drf-api-tracking==1.8.0
drf-yasg==1.20.0
graphene==2.1.9
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
h11==0.12.0
hiredis==2.0.0
huey==2.4.2
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.3
jsonfield==3.1.0
jstruct==2021.11
lxml==4.6.4
lxml-stubs==0.3.0
MarkupSafe==2.0.1
more-itertools==8.12.0
packaging==21.3
phonenumbers==8.12.38
Pillow==8.4.0
promise==2.3
psycopg2-binary==2.9.2
purplship==2021.11.4
purplship.aramex==2021.10
purplship.australiapost==2021.10
purplship.canadapost==2021.11.1
purplship.canpar==2021.11
purplship.dhl-express==2021.11.1
purplship.dhl-poland==2021.11
purplship.dhl-universal==2021.11
purplship.dicom==2021.10
purplship.eshipper==2021.10
purplship.fedex==2021.11.4
purplship.freightcom==2021.10
purplship.purolator==2021.10
purplship.royalmail==2021.11
purplship.sendle==2021.11
purplship.server==2021.11rc5
purplship.server.core==2021.11.3
purplship.server.events==2021.11.2
purplship.server.graph==2021.11.2
purplship.server.manager==2021.11.2
purplship.server.orgs==2021.11.1
purplship.server.pricing==2021.11
purplship.server.proxy==2021.11
purplship.sf-express==2021.10
purplship.tnt==2021.10
purplship.ups==2021.11
purplship.usps==2021.11.1
purplship.usps-international==2021.11.1
purplship.yanwen==2021.10
purplship.yunexpress==2021.10
py-soap==2020.3.2
PyJWT==2.3.0
pyparsing==3.0.6
PyPDF2==1.26.0
python-decouple==3.5
pytz==2021.3
redis==4.0.2
requests==2.26.0
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
Rx==1.6.1
simple-zpl2==0.3.0
singledispatch==3.7.0
six==1.16.0
sqlparse==0.4.2
text-unidecode==1.3
uritemplate==4.1.1
urllib3==1.26.7
uvicorn==0.15.0
wrapt==1.13.3
xmltodict==0.12.0
