--extra-index-url https://karrio.gateway.scarf.sh/simple/
asgiref==3.8.1
attrs==25.1.0
backoff==2.2.1
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.0
cssselect2==0.7.0
deprecation==2.1.0
diff-match-patch==20241021
dj-database-url==2.3.0
Django==4.2.16
django-auditlog==3.0.0
django-constance==3.1.0
django-cors-headers==4.6.0
django-downloadview==2.4.0
django-email-verification==0.3.3
django-extensions==3.2.3
django-filter==24.3
django-formtools==2.5.1
django-health-check==3.18.3
django-import-export==4.3.5
django-oauth-toolkit==3.0.1
django-organizations==2.5.0
django-otp==1.5.4
django-phonenumber-field==8.0.0
django-picklefield==3.2
django-redis==5.4.0
django-tenants==3.7.0
django-two-factor-auth==1.17.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
drf-api-tracking==1.8.4
drf-spectacular==0.28.0
fonttools==4.55.8
graphql-core==3.2.6
gunicorn==23.0.0
h11==0.14.0
hiredis==3.1.0
huey==2.5.2
idna==3.10
inflection==0.5.1
Jinja2==3.1.5
jsonfield==3.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jstruct==2021.11
jwcrypto==1.5.6
karrio @ file://${PWD}/modules/sdk
karrio_allied_express @ file://${PWD}/modules/connectors/allied_express
karrio_allied_express_local @ file://${PWD}/modules/connectors/allied_express_local
karrio_amazon_shipping @ file://${PWD}/modules/connectors/amazon_shipping
karrio_aramex @ file://${PWD}/modules/connectors/aramex
karrio_asendia_us @ file://${PWD}/modules/connectors/asendia_us
karrio_australiapost @ file://${PWD}/modules/connectors/australiapost
karrio_boxknight @ file://${PWD}/modules/connectors/boxknight
karrio_bpost @ file://${PWD}/modules/connectors/bpost
karrio_canadapost @ file://${PWD}/modules/connectors/canadapost
karrio_canpar @ file://${PWD}/modules/connectors/canpar
karrio_chronopost @ file://${PWD}/modules/connectors/chronopost
karrio_colissimo @ file://${PWD}/modules/connectors/colissimo
karrio_dhl_express @ file://${PWD}/modules/connectors/dhl_express
karrio_dhl_parcel_de @ file://${PWD}/modules/connectors/dhl_parcel_de
karrio_dhl_poland @ file://${PWD}/modules/connectors/dhl_poland
karrio_dhl_universal @ file://${PWD}/modules/connectors/dhl_universal
karrio_dicom @ file://${PWD}/modules/connectors/dicom
karrio_dpd @ file://${PWD}/modules/connectors/dpd
karrio_dpdhl @ file://${PWD}/modules/connectors/dpdhl
karrio_easypost @ file://${PWD}/modules/connectors/easypost
karrio_easyship @ file://${PWD}/modules/connectors/easyship
karrio_eshipper @ file://${PWD}/modules/connectors/eshipper
karrio_fedex @ file://${PWD}/modules/connectors/fedex
karrio_fedex_ws @ file://${PWD}/modules/connectors/fedex_ws
karrio_freightcom @ file://${PWD}/modules/connectors/freightcom
karrio_generic @ file://${PWD}/modules/connectors/generic
karrio_geodis @ file://${PWD}/modules/connectors/geodis
karrio_hay_post @ file://${PWD}/modules/connectors/hay_post
karrio_laposte @ file://${PWD}/modules/connectors/laposte
karrio_locate2u @ file://${PWD}/modules/connectors/locate2u
karrio_nationex @ file://${PWD}/modules/connectors/nationex
karrio_purolator @ file://${PWD}/modules/connectors/purolator
karrio_roadie @ file://${PWD}/modules/connectors/roadie
karrio_royalmail @ file://${PWD}/modules/connectors/royalmail
karrio_sapient @ file://${PWD}/modules/connectors/sapient
karrio_seko @ file://${PWD}/modules/connectors/seko
karrio_sendle @ file://${PWD}/modules/connectors/sendle
karrio_server @ file://${PWD}/apps/api
karrio_server_admin @ file://${PWD}/ee/insiders/modules/admin
karrio_server_apps @ file://${PWD}/ee/insiders/modules/apps
karrio_server_audit @ file://${PWD}/ee/insiders/modules/audit
karrio_server_automation @ file://${PWD}/ee/insiders/modules/automation
karrio_server_cloud @ file://${PWD}/ee/insiders/modules/cloud
karrio_server_core @ file://${PWD}/modules/core
karrio_server_data @ file://${PWD}/modules/data
karrio_server_documents @ file://${PWD}/modules/documents
karrio_server_events @ file://${PWD}/modules/events
karrio_server_graph @ file://${PWD}/modules/graph
karrio_server_manager @ file://${PWD}/modules/manager
karrio_server_orders @ file://${PWD}/modules/orders
karrio_server_orgs @ file://${PWD}/ee/insiders/modules/orgs
karrio_server_pricing @ file://${PWD}/modules/pricing
karrio_server_proxy @ file://${PWD}/modules/proxy
karrio_server_tenants @ file://${PWD}/ee/platform/modules/tenants
karrio_tge @ file://${PWD}/modules/connectors/tge
karrio_tnt @ file://${PWD}/modules/connectors/tnt
karrio_ups @ file://${PWD}/modules/connectors/ups
karrio_usps @ file://${PWD}/modules/connectors/usps
karrio_usps_international @ file://${PWD}/modules/connectors/usps_international
karrio_usps_wt @ file://${PWD}/modules/connectors/usps_wt
karrio_usps_wt_international @ file://${PWD}/modules/connectors/usps_wt_international
karrio_zoom2u @ file://${PWD}/modules/connectors/zoom2u
lxml==4.9.4
lxml-stubs==0.5.1
MarkupSafe==3.0.2
monotonic==1.6
more-itertools==10.6.0
oauthlib==3.2.2
packaging==24.2
phonenumbers==8.13.54
pillow==11.1.0
posthog==3.11.0
psutil==6.1.1
psycopg2-binary==2.9.10
py-soap==2020.3.2
pycparser==2.22
pydyf==0.11.0
PyJWT==2.10.1
PyPDF2==3.0.1
pyphen==0.17.2
pypng==0.20220715.0
python-barcode==0.15.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.1
PyYAML==6.0.2
pyzint==0.1.10
qrcode==7.4.2
redis==5.2.1
referencing==0.36.2
requests==2.32.3
rpds-py==0.22.3
sentry-sdk==2.20.0
six==1.17.0
sqlparse==0.5.3
strawberry-graphql==0.258.0
tablib==3.8.0
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
uvicorn==0.34.0
validators==0.34.0
weasyprint==64.0
webencodings==0.5.1
whitenoise==6.8.2
xmltodict==0.14.2
zopfli==0.2.3.post1

