openapi: 3.0.1
info:
    title: Amazon Shipping APIs
    description: "The Amazon Shipping API is designed to support outbound shipping use cases both for orders originating on Amazon-owned marketplaces as well as external channels/marketplaces. With these APIs, you can request shipping rates, create shipments, cancel shipments, and track shipments."
    version: v2
    contact:
        name: API Integrations Support
        url: https://developer-docs.amazon.com/amazon-shipping/docs/api-integrations-support
externalDocs:
    description: Find out more about Amazon Shipping
    url: https://developer-docs.amazon.com/amazon-shipping
servers:
    - url: https://sandbox.sellingpartnerapi-na.amazon.com
    - url: https://sandbox.sellingpartnerapi-eu.amazon.com
    - url: https://sellingpartnerapi-na.amazon.com
    - url: https://sellingpartnerapi-eu.amazon.com
tags:
    - name: Shipping Rate API
    - name: Label Purchase Via Purchase Shipment API
    - name: Label Purchase Via Smart Purchase API
    - name: Shipment Tracking API
    - name: Regenerate Shipping Label API
    - name: Cancel Shipment Label API
    - name: Obtain Delivery Counter Location API
    - name: Submit Non-Delivery Report API
    - name: Provide Additional Input API
paths:
    /shipping/v2/shipments/rates:
        post:
            tags:
                - Shipping Rate API
            description: |-
                Returns the available shipping service offerings.

                **Usage Plan:**

                | Default Quota | Unit |
                | ---- | ---- |
                | 5 | Requests Per Second |

                The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
            operationId: getRates
            parameters:
                - name: x-amz-access-token
                  in: header
                  description: Amazon shipping request token
                  required: true
                  schema:
                      type: string
                - name: x-amzn-shipping-business-id
                  in: header
                  description:
                      Amazon shipping business to assume for this request. The default
                      is AmazonShipping_UK.
                  schema:
                      type: string
                      enum:
                          - AmazonShipping_US
                          - AmazonShipping_IN
                          - AmazonShipping_UK
                          - AmazonShipping_IT
                          - AmazonShipping_ES
                          - AmazonShipping_FR
                      x-docgen-enum-table-extension:
                          - value: AmazonShipping_US
                            description: The United States Amazon shipping business.
                          - value: AmazonShipping_IN
                            description: The India Amazon shipping business.
                          - value: AmazonShipping_UK
                            description: The United Kingdom Amazon shipping business.
                          - value: AmazonShipping_IT
                            description: The Italy Amazon shipping business.
                          - value: AmazonShipping_ES
                            description: The Spain Amazon shipping business.
                          - value: AmazonShipping_FR
                            description: The France Amazon shipping business.
                  x-docgen-enum-table-extension:
                      - value: AmazonShipping_US
                        description: The United States Amazon shipping business.
                      - value: AmazonShipping_IN
                        description: The India Amazon shipping business.
                      - value: AmazonShipping_UK
                        description: The United Kingdom Amazon shipping business.
                      - value: AmazonShipping_IT
                        description: The Italy Amazon shipping business.
                      - value: AmazonShipping_ES
                        description: The Spain Amazon shipping business.
                      - value: AmazonShipping_FR
                        description: The France Amazon shipping business.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/GetRatesRequest"
                required: true
            responses:
                "200":
                    description: Success.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/GetRatesResponse"
                            example:
                                requestToken: 6DCCEDD3FF961C15FEB94F342D41C
                                rates:
                                    - rateId: F4B68849F969E239FF9FCA9C12E35
                                      carrierId: FOOSHIPGRD
                                      carrierName: FOO SHIP GRD
                                      billedWeight:
                                          value: 5
                                          unit: GRAMS
                                      totalCharge:
                                          value: 7
                                          unit: USD
                                      totalChargeWithAdjustments:
                                          value: 6
                                          unit: USD
                                      serviceId: FOORSID
                                      serviceName: FOO RS ID
                                      promise:
                                          deliveryWindow:
                                              start: 2018-08-24T08:22:30.737Z
                                              end: 2018-08-24T20:22:30.737Z
                                          pickupWindow:
                                              start: 2018-08-23T08:22:30.737Z
                                              end: 2018-08-23T20:22:30.737Z
                                      supportedDocumentSpecifications:
                                          - format: PNG
                                            size:
                                                length: 6
                                                width: 4
                                                unit: INCH
                                            printOptions:
                                                - supportedDPIs:
                                                      - 300
                                                      - 203
                                                  supportedPageLayouts:
                                                      - LEFT
                                                      - RIGHT
                                                  supportedFileJoiningOptions:
                                                      - true
                                                      - false
                                                  supportedDocumentDetails:
                                                      - name: LABEL
                                                        isMandatory: true
                                          - format: ZPL
                                            size:
                                                length: 6
                                                width: 4
                                                unit: INCH
                                            printOptions:
                                                - supportedDPIs:
                                                      - 300
                                                      - 203
                                                  supportedPageLayouts:
                                                      - LEFT
                                                      - RIGHT
                                                  supportedFileJoiningOptions:
                                                      - true
                                                      - false
                                                  supportedDocumentDetails:
                                                      - name: LABEL
                                                        isMandatory: true
                                      availableValueAddedServiceGroups:
                                          - groupId: SIG_VERIFICATION
                                            groupDescription: Signature Verification
                                            isRequired: true
                                            valueAddedServices:
                                                - id: CUST_SIG_VERIFICATION
                                                  name: Customer Signature Verification
                                                  cost:
                                                      unit: USD
                                                      value: 2
                                      requiresAdditionalInputs: false
                                      rateItemList:
                                          - rateItemCharge:
                                                unit: INR
                                                value: 2.00
                                            rateItemID: BASE_RATE
                                            rateItemNameLocalization: Base Rate
                                            rateItemType: MANDATORY
                                          - rateItemCharge:
                                                unit: INR
                                                value: 1.20
                                            rateItemID: DELIVERY_CONFIRMATION
                                            rateItemNameLocalization: Delivery Confirmation
                                            rateItemType: INCLUDED
                                          - rateItemCharge:
                                                unit: INR
                                                value: 2.00
                                            rateItemID: VAT
                                            rateItemNameLocalization: VAT
                                            rateItemType: MANDATORY
                                      adjustmentItemList:
                                          - rateItemCharge:
                                                unit: INR
                                                value: 1.00
                                            rateItemID: FBM_SHIP_PLUS_CREDIT
                                            rateItemType: INCLUDED
                                            rateItemNameLocalization: FBM Ship Plus Credit
                                      paymentType: PAY_THROUGH_AMAZON
                                      benefits:
                                          includedBenefits:
                                              - FBM_SHIP_PLUS
                                          excludedBenefits:
                                              - benefit: CLAIMS_PROTECTED
                                                reasonCodes:
                                                    - LATE_DELIVERY_RISK
                                ineligibleRates:
                                    - carrierId: FOOSTDGRD
                                      serviceId: FOO8420430
                                      carrierName: FOOSTDGRD
                                      serviceName: FOO8420430
                                      ineligibilityReasons:
                                          - code: NO_COVERAGE
                                            message:
                                                Required shipping network coverage doesn't exist for
                                                the offering
                "400":
                    description: Request has missing or invalid parameters and cannot be parsed.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message: Request is missing or has invalid parameters
                                      details: ChannelDetails object cannot be null
                "401":
                    description:
                        The request's Authorization header is not formatted correctly
                        or does not contain a valid token.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "403":
                    description: "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature."
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "404":
                    description: The resource specified does not exist.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: NotFound
                                      message: The requested resource is invalid or doesn't exist
                "413":
                    description: The request size exceeded the maximum accepted size.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message:
                                          The request payload size is greater than maximum accepted
                                          size.
                "415":
                    description: The request payload is in an unsupported format.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message: The request payload format is not supported.
                "429":
                    description: The frequency of requests was greater than allowed.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: TooManyRequests
                                      message: The total number of requests exceeded your allowed limit.
                "500":
                    description:
                        An unexpected condition occurred that prevented the server
                        from fulfilling the request.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InternalError
                                      message: Something went wrong while processing the request.
                "503":
                    description: Temporary overloading or maintenance of the server.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: ServiceUnavailable
                                      message:
                                          Service temporarily unavailable or down for maintenance.
                                          Please try again after sometime.
            x-amzn-api-sandbox:
                dynamic: {}
            x-codegen-request-body-name: body
    /shipping/v2/shipments:
        post:
            tags:
                - Label Purchase Via Purchase Shipment API
            description: |-
                Purchases a shipping service and returns purchase related details and documents.

                Note: You must complete the purchase within **10 minutes** of rate creation by the shipping service provider. If you make the request after the 10 minutes have expired, you will receive an error response with the error code equal to "TOKEN_EXPIRED". If you receive this error response, you must get the rates for the shipment again.

                **Usage Plan:**

                | Default Quota | Unit |
                | ---- | ---- |
                | 5 | Requests Per Second |

                The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
            operationId: purchaseShipment
            parameters:
                - name: x-amz-access-token
                  in: header
                  description: Amazon shipping request token
                  required: true
                  schema:
                      type: string
                - name: x-amzn-shipping-business-id
                  in: header
                  description:
                      Amazon shipping business to assume for this request. The default
                      is AmazonShipping_UK.
                  schema:
                      type: string
                      enum:
                          - AmazonShipping_US
                          - AmazonShipping_IN
                          - AmazonShipping_UK
                          - AmazonShipping_IT
                          - AmazonShipping_ES
                          - AmazonShipping_FR
                      x-docgen-enum-table-extension:
                          - value: AmazonShipping_US
                            description: The United States Amazon shipping business.
                          - value: AmazonShipping_IN
                            description: The India Amazon shipping business.
                          - value: AmazonShipping_UK
                            description: The United Kingdom Amazon shipping business.
                          - value: AmazonShipping_IT
                            description: The Italy Amazon shipping business.
                          - value: AmazonShipping_ES
                            description: The Spain Amazon shipping business.
                          - value: AmazonShipping_FR
                            description: The France Amazon shipping business.
                  x-docgen-enum-table-extension:
                      - value: AmazonShipping_US
                        description: The United States Amazon shipping business.
                      - value: AmazonShipping_IN
                        description: The India Amazon shipping business.
                      - value: AmazonShipping_UK
                        description: The United Kingdom Amazon shipping business.
                      - value: AmazonShipping_IT
                        description: The Italy Amazon shipping business.
                      - value: AmazonShipping_ES
                        description: The Spain Amazon shipping business.
                      - value: AmazonShipping_FR
                        description: The France Amazon shipping business.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/PurchaseShipmentRequest"
                required: true
            responses:
                "200":
                    description: Success.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PurchaseShipmentResponse"
                            example:
                                shipmentId: "87852211788104"
                                packageDocumentDetails:
                                    - packageClientReferenceId: abcd
                                      packageDocuments:
                                          - type: LABEL
                                            format: PNG
                                            contents: sdioadaiosfhdodsaiufhouafhoudfhdouahfac==
                                      trackingId: 1578648261977
                                promise:
                                    pickupWindow:
                                        start: 2019-12-11T07:09:05.513Z
                                        end: 2019-12-11T09:09:05.513Z
                                    deliveryWindow:
                                        start: 2019-12-13T07:09:05.513Z
                                        end: 2019-12-13T09:09:05.513Z
                                benefits:
                                    includedBenefits:
                                        - CLAIMS_PROTECTED
                                    excludedBenefits: []
                                totalChargeWithAdjustments:
                                    value: 6
                                    unit: USD
                "400":
                    description: Request has missing or invalid parameters and cannot be parsed.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message: Request is missing or has invalid parameters
                                      details: RateId cannot be null
                "401":
                    description:
                        The request's Authorization header is not formatted correctly
                        or does not contain a valid token.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "403":
                    description: "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature."
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "404":
                    description: The resource specified does not exist.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: NotFound
                                      message: The requested resource is invalid or doesn't exist
                "413":
                    description: The request size exceeded the maximum accepted size.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message:
                                          The request payload size is greater than maximum accepted
                                          size.
                "415":
                    description: The request payload is in an unsupported format.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message: The request payload format is not supported.
                "429":
                    description: The frequency of requests was greater than allowed.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: TooManyRequests
                                      message: The total number of requests exceeded your allowed limit.
                "500":
                    description:
                        An unexpected condition occurred that prevented the server
                        from fulfilling the request.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InternalError
                                      message: Something went wrong while processing the request.
                "503":
                    description: Temporary overloading or maintenance of the server.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: ServiceUnavailable
                                      message:
                                          Service temporarily unavailable or down for maintenance.
                                          Please try again after sometime.
            x-amzn-api-sandbox:
                dynamic: {}
            x-codegen-request-body-name: body
    /shipping/v2/oneClickShipment:
        post:
            tags:
                - Label Purchase Via Smart Purchase API
            description: |-
                Purchases a shipping service identifier and returns purchase-related details and documents.

                **Usage Plan:**

                | Default Quota | Unit |
                | ---- | ---- |
                | 5 | Requests Per Second |

                The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
            operationId: oneClickShipment
            parameters:
                - name: x-amz-access-token
                  in: header
                  description: Amazon shipping request token
                  required: true
                  schema:
                      type: string
                - name: x-amzn-shipping-business-id
                  in: header
                  description:
                      Amazon shipping business to assume for this request. The default
                      is AmazonShipping_UK.
                  schema:
                      type: string
                      enum:
                          - AmazonShipping_US
                          - AmazonShipping_IN
                          - AmazonShipping_UK
                          - AmazonShipping_IT
                          - AmazonShipping_ES
                          - AmazonShipping_FR
                      x-docgen-enum-table-extension:
                          - value: AmazonShipping_US
                            description: The United States Amazon shipping business.
                          - value: AmazonShipping_IN
                            description: The India Amazon shipping business.
                          - value: AmazonShipping_UK
                            description: The United Kingdom Amazon shipping business.
                          - value: AmazonShipping_IT
                            description: The Italy Amazon shipping business.
                          - value: AmazonShipping_ES
                            description: The Spain Amazon shipping business.
                          - value: AmazonShipping_FR
                            description: The France Amazon shipping business.
                  x-docgen-enum-table-extension:
                      - value: AmazonShipping_US
                        description: The United States Amazon shipping business.
                      - value: AmazonShipping_IN
                        description: The India Amazon shipping business.
                      - value: AmazonShipping_UK
                        description: The United Kingdom Amazon shipping business.
                      - value: AmazonShipping_IT
                        description: The Italy Amazon shipping business.
                      - value: AmazonShipping_ES
                        description: The Spain Amazon shipping business.
                      - value: AmazonShipping_FR
                        description: The France Amazon shipping business.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/OneClickShipmentRequest"
                required: true
            responses:
                "200":
                    description: Success.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/OneClickShipmentResponse"
                            example:
                                shipmentId: "87852211788104"
                                packageDocumentDetails:
                                    - packageClientReferenceId: "#abcd"
                                      packageDocuments:
                                          - type: LABEL
                                            format: PNG
                                            contents: sdioadaiosfhdodsaiufhouafhoudfhdouahfac==
                                      trackingId: 1578648261977
                                promise:
                                    pickupWindow:
                                        start: 2019-12-11T07:09:05.513Z
                                        end: 2019-12-11T09:09:05.513Z
                                    deliveryWindow:
                                        start: 2019-12-13T07:09:05.513Z
                                        end: 2019-12-13T09:09:05.513Z
                                carrier:
                                    id: AMZN_UK
                                    name: Amazon Shipping
                                service:
                                    id: SWA-UK-PREM
                                    name: Amazon Shipping One Day
                                totalCharge:
                                    unit: GBP
                                    value: 4.76
                                rateItems:
                                    - rateItemCharge:
                                          unit: GBP
                                          value: 3.90
                                      rateItemID: BASE_RATE
                                      rateItemNameLocalization: Base Rate
                                      rateItemType: MANDATORY
                                    - rateItemCharge:
                                          unit: GBP
                                          value: 0.86
                                      rateItemID: VAT
                                      rateItemNameLocalization: VAT
                                      rateItemType: MANDATORY
                "400":
                    description: Request has missing or invalid parameters and cannot be parsed.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message: Request is missing or has invalid parameters
                                      details: ServiceId cannot be null
                "401":
                    description:
                        The request's Authorization header is not formatted correctly
                        or does not contain a valid token.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "403":
                    description: "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature."
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "404":
                    description: The resource specified does not exist.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: NotFound
                                      message: The requested resource is invalid or doesn't exist
                "413":
                    description: The request size exceeded the maximum accepted size.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message:
                                          The request payload size is greater than maximum accepted
                                          size.
                "415":
                    description: The request payload is in an unsupported format.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message: The request payload format is not supported.
                "429":
                    description: The frequency of requests was greater than allowed.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: TooManyRequests
                                      message: The total number of requests exceeded your allowed limit.
                "500":
                    description:
                        An unexpected condition occurred that prevented the server
                        from fulfilling the request.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InternalError
                                      message: Something went wrong while processing the request.
                "503":
                    description: Temporary overloading or maintenance of the server.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: ServiceUnavailable
                                      message:
                                          Service temporarily unavailable or down for maintenance.
                                          Please try again after sometime.
            x-amzn-api-sandbox:
                dynamic: {}
            x-codegen-request-body-name: body
    /shipping/v2/tracking:
        get:
            tags:
                - Shipment Tracking API
            description: |-
                Returns tracking information for a purchased shipment.

                **Usage Plan:**

                | Default Quota | Unit |
                | ---- | ---- |
                | 5 | Requests Per Second |

                The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
            operationId: getTracking
            parameters:
                - name: trackingId
                  in: query
                  description:
                      A carrier-generated tracking identifier originally returned by
                      the purchaseShipment operation.
                  required: true
                  schema:
                      type: string
                - name: carrierId
                  in: query
                  description:
                      A carrier identifier originally returned by the getRates operation
                      for the selected rate.
                  required: true
                  schema:
                      type: string
                - name: x-amz-access-token
                  in: header
                  description: Amazon shipping request token
                  required: true
                  schema:
                      type: string
                - name: x-amzn-shipping-business-id
                  in: header
                  description:
                      Amazon shipping business to assume for this request. The default
                      is AmazonShipping_UK.
                  schema:
                      type: string
                      enum:
                          - AmazonShipping_US
                          - AmazonShipping_IN
                          - AmazonShipping_UK
                          - AmazonShipping_IT
                          - AmazonShipping_ES
                          - AmazonShipping_FR
                      x-docgen-enum-table-extension:
                          - value: AmazonShipping_US
                            description: The United States Amazon shipping business.
                          - value: AmazonShipping_IN
                            description: The India Amazon shipping business.
                          - value: AmazonShipping_UK
                            description: The United Kingdom Amazon shipping business.
                          - value: AmazonShipping_IT
                            description: The Italy Amazon shipping business.
                          - value: AmazonShipping_ES
                            description: The Spain Amazon shipping business.
                          - value: AmazonShipping_FR
                            description: The France Amazon shipping business.
                  x-docgen-enum-table-extension:
                      - value: AmazonShipping_US
                        description: The United States Amazon shipping business.
                      - value: AmazonShipping_IN
                        description: The India Amazon shipping business.
                      - value: AmazonShipping_UK
                        description: The United Kingdom Amazon shipping business.
                      - value: AmazonShipping_IT
                        description: The Italy Amazon shipping business.
                      - value: AmazonShipping_ES
                        description: The Spain Amazon shipping business.
                      - value: AmazonShipping_FR
                        description: The France Amazon shipping business.
            responses:
                "200":
                    description: Success.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/GetTrackingResponse"
                            example:
                                trackingId: 23AA47DE2B3B6
                                alternateLegTrackingId: "null"
                                eventHistory:
                                    - eventCode: Undeliverable
                                      location:
                                          postalCode: EX33 2JL
                                          countryCode: GB
                                      eventTime: 2024-02-11T07:09:05.513Z
                                      shipmentType: FORWARD
                                    - eventCode: ReturnInitiated
                                      location:
                                          postalCode: EX33 2JL
                                          countryCode: GB
                                      eventTime: 2024-02-12T09:09:05.513Z
                                      shipmentType: RETURNS
                                    - eventCode: Delivered
                                      location:
                                          postalCode: EX33 2JL
                                          countryCode: GB
                                      eventTime: 2024-02-13T04:09:05.513Z
                                      shipmentType: RETURNS
                                promisedDeliveryDate: 2024-02-12T13:09:05.513Z
                                summary:
                                    status: Delivered
                                    trackingDetailCodes:
                                        forward:
                                            - Rejected
                                            - Damaged
                                        returns:
                                            - Signed
                                    proofOfDelivery:
                                        deliveryLocationCoordinates:
                                            latitude: 51.5074
                                            longitude: -0.1278
                                        deliveryImageURL: https://amzn-s3-demo-bucket.xxx.com/key?X-Amz-Algorithm=XXXX&X-Amz-Credential=XXXX&X-Amz-Date=XXX&X-Amz-Expires=XXX&X-Amz-SignedHeaders=host&X-Amz-Signature=XXX
                                        receivedBy: "John Doe"
                "400":
                    description: Request has missing or invalid parameters and cannot be parsed.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message: Request is missing or has invalid parameters
                                      details: CarrierId is missing in the request
                "401":
                    description:
                        The request's Authorization header is not formatted correctly
                        or does not contain a valid token.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "403":
                    description: "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature."
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "404":
                    description: The resource specified does not exist.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: NotFound
                                      message: The requested resource is invalid or doesn't exist
                "413":
                    description: The request size exceeded the maximum accepted size.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message:
                                          The request payload size is greater than maximum accepted
                                          size.
                "415":
                    description: The request payload is in an unsupported format.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message: The request payload format is not supported.
                "429":
                    description: The frequency of requests was greater than allowed.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: TooManyRequests
                                      message: The total number of requests exceeded your allowed limit.
                "500":
                    description:
                        An unexpected condition occurred that prevented the server
                        from fulfilling the request.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InternalError
                                      message: Something went wrong while processing the request.
                "503":
                    description: Temporary overloading or maintenance of the server.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: ServiceUnavailable
                                      message:
                                          Service temporarily unavailable or down for maintenance.
                                          Please try again after sometime.
            x-amzn-api-sandbox:
                dynamic: {}
    /shipping/v2/shipments/{shipmentId}/documents:
        get:
            tags:
                - Regenerate Shipping Label API
            description: |-
                Returns the shipping documents associated with a package in a shipment.

                **Usage Plan:**

                | Default Quota | Unit |
                | ---- | ---- |
                | 5 | Requests Per Second |

                The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
            operationId: getShipmentDocuments
            parameters:
                - name: shipmentId
                  in: path
                  description:
                      The shipment identifier originally returned by the purchaseShipment
                      operation.
                  required: true
                  schema:
                      type: string
                - name: packageClientReferenceId
                  in: query
                  description:
                      The package client reference identifier originally provided in
                      the request body parameter for the getRates operation.
                  required: true
                  schema:
                      type: string
                - name: format
                  in: query
                  description:
                      The file format of the document. Must be one of the supported
                      formats returned by the getRates operation.
                  schema:
                      type: string
                - name: dpi
                  in: query
                  description:
                      "The resolution of the document (for example, 300 means 300 dots\
                      \ per inch). Must be one of the supported resolutions returned in the response\
                      \ to the getRates operation."
                  schema:
                      type: number
                - name: x-amz-access-token
                  in: header
                  description: Amazon shipping request token
                  required: true
                  schema:
                      type: string
                - name: x-amzn-shipping-business-id
                  in: header
                  description:
                      Amazon shipping business to assume for this request. The default
                      is AmazonShipping_UK.
                  schema:
                      type: string
                      enum:
                          - AmazonShipping_US
                          - AmazonShipping_IN
                          - AmazonShipping_UK
                          - AmazonShipping_IT
                          - AmazonShipping_ES
                          - AmazonShipping_FR
                      x-docgen-enum-table-extension:
                          - value: AmazonShipping_US
                            description: The United States Amazon shipping business.
                          - value: AmazonShipping_IN
                            description: The India Amazon shipping business.
                          - value: AmazonShipping_UK
                            description: The United Kingdom Amazon shipping business.
                          - value: AmazonShipping_IT
                            description: The Italy Amazon shipping business.
                          - value: AmazonShipping_ES
                            description: The Spain Amazon shipping business.
                          - value: AmazonShipping_FR
                            description: The France Amazon shipping business.
                  x-docgen-enum-table-extension:
                      - value: AmazonShipping_US
                        description: The United States Amazon shipping business.
                      - value: AmazonShipping_IN
                        description: The India Amazon shipping business.
                      - value: AmazonShipping_UK
                        description: The United Kingdom Amazon shipping business.
                      - value: AmazonShipping_IT
                        description: The Italy Amazon shipping business.
                      - value: AmazonShipping_ES
                        description: The Spain Amazon shipping business.
                      - value: AmazonShipping_FR
                        description: The France Amazon shipping business.
            responses:
                "200":
                    description: Success.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/GetShipmentDocumentsResponse"
                            example:
                                shipmentId: 445454-3232-3232
                                packageDocumentDetail:
                                    packageClientReferenceId: ASUSDI-45343854
                                    trackingId: T1234567
                                    packageDocuments:
                                        - type: LABEL
                                          format: PNG
                                          contents: sdioadaiosfhdodsaiufhouafhoudfhdouahfac==
                                    benefits:
                                        includedBenefits:
                                            - CLAIMS_PROTECTED
                                        excludedBenefits: []
                "400":
                    description: Request has missing or invalid parameters and cannot be parsed.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message: Request is missing or has invalid parameters
                                      details: shipmentId is missing in the request
                "401":
                    description:
                        The request's Authorization header is not formatted correctly
                        or does not contain a valid token.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "403":
                    description: "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature."
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "404":
                    description: The resource specified does not exist.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: NotFound
                                      message: The requested resource is invalid or doesn't exist
                "413":
                    description: The request size exceeded the maximum accepted size.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message:
                                          The request payload size is greater than maximum accepted
                                          size.
                "415":
                    description: The request payload is in an unsupported format.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message: The request payload format is not supported.
                "429":
                    description: The frequency of requests was greater than allowed.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: TooManyRequests
                                      message: The total number of requests exceeded your allowed limit.
                "500":
                    description:
                        An unexpected condition occurred that prevented the server
                        from fulfilling the request.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InternalError
                                      message: Something went wrong while processing the request.
                "503":
                    description: Temporary overloading or maintenance of the server.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: ServiceUnavailable
                                      message:
                                          Service temporarily unavailable or down for maintenance.
                                          Please try again after sometime.
            x-amzn-api-sandbox:
                dynamic: {}
    /shipping/v2/shipments/{shipmentId}/cancel:
        put:
            tags:
                - Cancel Shipment Label API
            description: |-
                Cancels a purchased shipment. Returns an empty object if the shipment is successfully cancelled.

                **Usage Plan:**

                | Default Quota | Unit |
                | ---- | ---- |
                | 5 | Requests Per Second |

                The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
            operationId: cancelShipment
            parameters:
                - name: shipmentId
                  in: path
                  description:
                      The shipment identifier originally returned by the purchaseShipment
                      operation.
                  required: true
                  schema:
                      type: string
                - name: x-amz-access-token
                  in: header
                  description: Amazon shipping request token
                  required: true
                  schema:
                      type: string
                - name: x-amzn-shipping-business-id
                  in: header
                  description:
                      Amazon shipping business to assume for this request. The default
                      is AmazonShipping_UK.
                  schema:
                      type: string
                      enum:
                          - AmazonShipping_US
                          - AmazonShipping_IN
                          - AmazonShipping_UK
                          - AmazonShipping_IT
                          - AmazonShipping_ES
                          - AmazonShipping_FR
                      x-docgen-enum-table-extension:
                          - value: AmazonShipping_US
                            description: The United States Amazon shipping business.
                          - value: AmazonShipping_IN
                            description: The India Amazon shipping business.
                          - value: AmazonShipping_UK
                            description: The United Kingdom Amazon shipping business.
                          - value: AmazonShipping_IT
                            description: The Italy Amazon shipping business.
                          - value: AmazonShipping_ES
                            description: The Spain Amazon shipping business.
                          - value: AmazonShipping_FR
                            description: The France Amazon shipping business.
                  x-docgen-enum-table-extension:
                      - value: AmazonShipping_US
                        description: The United States Amazon shipping business.
                      - value: AmazonShipping_IN
                        description: The India Amazon shipping business.
                      - value: AmazonShipping_UK
                        description: The United Kingdom Amazon shipping business.
                      - value: AmazonShipping_IT
                        description: The Italy Amazon shipping business.
                      - value: AmazonShipping_ES
                        description: The Spain Amazon shipping business.
                      - value: AmazonShipping_FR
                        description: The France Amazon shipping business.
            responses:
                "200":
                    description: Success.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CancelShipmentResponse"
                            example: {}
                "400":
                    description: Request has missing or invalid parameters and cannot be parsed.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: InvalidRequest
                                      message: Request is missing or has invalid parameters
                                      details: ShipmentId cannot be null
                "401":
                    description:
                        The request's Authorization header is not formatted correctly
                        or does not contain a valid token.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: |-
                                Your rate limit (requests per second) for this operation.
                                _Note:_ For this status code, the rate limit header is deprecated and no longer returned.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "403":
                    description: "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature."
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
                                    - code: Unauthorized
                                      message:
                                          You don't have access to the requested response or the
                                          credentials are invalid.
                "404":
                    description: The resource specified does not exist.
                    headers:
                        x-amzn-RequestId:
                            description: Unique request reference identifier.
                            schema:
                                type: string
                        x-amzn-RateLimit-Limit:
                            description: Your rate limit (requests per second) for this operation.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorList"
                            example:
                                errors:
[...]
