/* ==========================================================================
Karrio custom styling
========================================================================== */

@import "./plex/main.scss";

.card {
  border-radius: 6px;
  box-shadow: 0.5px 0.5px 2.5px #efefef;
  border: 1px solid #e5e5e5;

  &.is-flat {
    box-shadow: none;
    border: 1px solid #e5e5e5;
  }
}

.options-item,
.form-icon {
  color: #a9abac;
}

.karrio-loader {
  top: 0;
  left: 0;
  animation-duration: 3s !important;
  position: absolute;
  z-index: 100;
  margin: 0 !important;
  height: 0.1rem !important;
}

.karrio-notification-loader {
  top: 0;
  left: 0;
  animation-duration: 10s !important;
  position: absolute;
  z-index: 100;
  margin: 0 !important;
  height: 0.1rem !important;
}

.shipments-table {
  .carrier {
    width: 8%;
    min-width: 50px;
  }

  .service {
    min-width: 10vw;
    max-width: 160px;
  }

  .status {
    width: 10%;
  }

  .recipient {
    min-width: 10vw;
    max-width: 200px;
  }

  .date {
    width: 15%;
    min-width: 120px;
  }

  .action {
    width: 2%;
  }

  tbody>tr.items {
    cursor: pointer;
  }

  tbody>tr.items:hover {
    background-color: #fafafa;
  }
}

.connections-table {
  .carrier {
    width: 24%;
    text-align: center !important;
  }

  .mode {
    width: 6%;
  }

  .active {
    width: 6%;
  }

  .details {}

  .action {
    width: 20%;
    min-width: 180px;
  }
}

.system-connections-table {
  .carrier {
    width: 24%;
    text-align: center !important;
  }

  .mode {
    width: 6%;
  }

  .details {
    width: 64%;
  }

  .action {
    width: 6%;
  }
}

.templates-table {
  .template {}

  .default {
    width: 20%;
  }

  .action {
    width: 15%;
  }
}

.commodities-table {
  .commodity {}

  .action {
    width: 115px;
  }
}

.logs-table {
  .status {
    width: 8%;
  }

  .description {}

  .date {
    width: 20%;
    min-width: 185px;
  }

  tbody>tr.items {
    cursor: pointer;
  }

  tbody>tr.items:hover {
    background-color: #fafafa;
  }
}

.events-table {
  .event {}

  .id {
    width: 20%;
  }

  .date {
    width: 20%;
    min-width: 185px;
  }

  tbody>tr.items {
    cursor: pointer;
  }

  tbody>tr.items:hover {
    background-color: #fafafa;
  }
}

.trackers-table {
  .carrier {
    width: 8%;
    min-width: 50px;
  }

  .tracking-number {
    min-width: 10vw;
    max-width: 160px;
  }

  .status {
    width: 10%;
  }

  .last-event {
    min-width: 10vw;
    max-width: 200px;
  }

  .date {
    width: 15%;
    min-width: 130px;
  }

  .action {
    width: 5%;
    min-width: 50px;
  }

  tbody>tr.items {
    cursor: pointer;
  }

  tbody>tr.items:hover {
    background-color: #fafafa;
  }
}

.webhooks-table {
  .url {
    width: 70%;
    min-width: 200px;
    max-width: 200px;
  }

  .mode {
    width: 50px;
  }

  .last-event {
    width: 10%;
    min-width: 150px;
    max-width: 150px;
  }

  .action {
    width: 10%;
    min-width: 150px;
  }
}

.orders-table {
  .selector {
    width: 3%;
  }

  .order {
    width: 15%;
  }

  .items {
    min-width: 10vw;
    max-width: 150px;
  }

  .status {
    width: 10%;
  }

  .customer {
    min-width: 10vw;
    max-width: 200px;
  }

  .date {
    width: 15%;
    min-width: 120px;
  }

  .action {
    width: 2%;
  }

  tbody>tr.items {
    cursor: pointer;
  }

  tbody>tr.items:hover {
    background-color: #fafafa;
  }
}

.related-item-table {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;

  .status {
    width: 8%;
  }

  .description {
    min-width: 40%;
  }

  .date {
    width: 15%;
    min-width: 130px;
  }
}

.members-table {
  .member {
    width: 40%;
  }

  .role {
    width: 30%;
  }

  .last-login {
    width: 20%;
    min-width: 130px;
  }

  .action {
    width: 10%;
  }
}

hr {
  background-color: #dddddd;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-overflow {
  white-space: break-spaces;
}

.plex-sidebar {
  z-index: 30;
}

.log-card-header {
  border-bottom: 1px solid #ddd;
}

.bottom-menu-item {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.mode-menu-item {
  color: rgb(196, 76, 52) !important;
}

.karrio-notifier {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  opacity: 0.9;
  border-radius: 0;
  font-weight: 700;
}

.static-nav {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: white;
}

.mode-indicator {
  position: absolute;
  top: 60px;
  border-top: 1px solid rgb(196, 76, 52);
  padding: 0;
  text-align: center;
  width: 100%;
  display: flex;

  .mode-indicator-label {
    margin: 0 auto;
    background: rgb(196, 76, 52);
    display: inline;
    padding: 2px 14px;
    border-radius: 0 0 5px 5px;
    color: white;
    font-size: 0.55em;
    font-weight: bold;
  }
}

td>div.dropdown.is-active .dropdown-menu {
  top: 75%;
}

.dropdown-content {
  border: 1px solid #ddd;
  border-top: none;
  overflow: hidden;

  &.is-menu {
    max-height: 240px;
  }
}

.label-container {
  width: 90%;
  height: 90%;
  z-index: 1;
}

.fullscreen {
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.small-icon>svg {
  width: 0.8em !important;
  height: 0.8em !important;
}

.tab-content {
  display: none;
  overflow: hidden;

  &.is-active {
    display: block;
  }
}

.dropped-panel {
  max-height: 20.5rem;
  overflow-y: auto;
}

.form-floating-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.form-floating-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background: white;
}

.rates-list-box {
  max-height: 11em;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-form {
  background-color: #f9f9f9;
}

pre.code {
  border: 1px solid #f2f2f2;
}

@media screen and (min-width: 1080px) {
  .table-container {
    overflow: unset;
    overflow-y: unset;
  }
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow-y: visible;
  }
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
