/* ==========================================================================
Karrio Custom SCSS
========================================================================== */
@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

// Set your brand colors
$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$fade-grey: #ededed;
$light-grey: #eff4f7;
$title-grey: #a9abac;
$blue-grey: #444f60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #5722cc;
$mint: #030303;
$bloody: #fc354c;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;

// Update Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

$primary: #5722cc;
$secondary: #79e5dd;
$accent: #ff4800;

// Update some of Bulma's component variables
$link: $primary;
$footer-padding: 1rem 1.5rem;
$footer-background-color: $white;

// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";

.isolated-card {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
}

.is-medium-modal {
  width: 70vw;
  height: 90vh;
  max-width: 1080px;
}

.is-large-modal {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

@media screen and (min-width: 768px) {
  .isolated-card {
    min-width: 448px;
  }
}

@media screen and (max-width: 768px) {
  .isolated-card {
    box-shadow: none;
  }

  .container {
    margin: 0;
  }

  .modal-card {
    height: 100vh;
  }

  .is-large-modal,
  .is-medium-modal {
    width: 100vw;
    height: 100vh;
  }
}

.is-aramex {
  background-color: #dc291e !important;
  color: #fff !important;
}

.is-australiapost {
  background-color: #dc1928 !important;
  color: #fff !important;
}

.is-boxknight {
  background-color: #ddd !important;
  color: #1890ff !important;
}

.is-canadapost {
  background-color: #1a4183 !important;
  color: #ddd !important;
}

.is-canpar {
  background-color: #004890 !important;
  color: #fff !important;
}

.is-dicom {
  background-color: #f26529 !important;
  color: #005daa !important;
}

.is-dpd {
  background-color: #DC0032 !important;
  color: #FFFFFF !important;
}

.is-dhl {
  background-color: #fc0 !important;
  color: #c00 !important;
}

.is-dhl_universal {
  background-color: #fc0 !important;
  color: #c00 !important;
}

.is-eshipper {
  background-color: #472f92 !important;
  color: #fff !important;
}

.is-easypost {
  background-color: #303F9F !important;
  color: #fff !important;
}

.is-geodis {
  background-color: #3200e6 !important;
  color: #fff !important;
}

.is-laposte {
  background-color: #ffc905 !important;
  color: #124db3 !important;
}

.is-nationex {
  background-color: #02631c !important;
  color: #fff !important;
}

.is-fedex {
  background-color: #4d148c !important;
  color: #ddd !important;
}

.is-freightcom {
  background-color: #0072bc !important;
  color: #333 !important;
}

.is-purolator {
  background-color: #001996 !important;
  color: #e00000 !important;
}

.is-generic {
  background-color: #5722cc !important;
  color: #ddd !important;
}

.is-roadie {
  background-color: #76cccd !important;
  color: #351c13 !important;
}

.is-royalmail {
  background-color: #dc3232 !important;
  color: #fdda24 !important;
}

.is-sendle {
  background-color: #ff6800 !important;
  color: #fff !important;
}

.is-sf_express {
  background-color: #dc1e32 !important;
  color: #fff !important;
}

.is-tnt {
  background-color: #fff !important;
  color: #ff6600;
}

.is-ups {
  background-color: #341b14 !important;
  color: #ffb406 !important;
}

.is-usps {
  background-color: #333366 !important;
  color: #fff !important;
}

.is-usps_international {
  background-color: #333366 !important;
  color: #fff !important;
}

.is-yanwen {
  background-color: #68b125 !important;
  color: #fff !important;
}

.is-yunexpress {
  background-color: #ddd !important;
  color: #388280 !important;
}
