/* ==========================================================================
UI Utilities
========================================================================== */

/* ==========================================================================
Wave animation
========================================================================== */

@keyframes wave {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    25% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(4.5);
        opacity: 0;
    }
}
