/* ==========================================================================
Navbar
========================================================================== */

//Basic nav
@use "sass:math";

.static-nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s;

    //Cloned sliding nav
    &.cloned-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% - 320px);
        margin-left: 320px;
        padding: 0 40px;
        background: $white;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
        transform: translateY(-100%);
        z-index: 90;

        .cloned-wrapper {
            max-width: 1040px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &.is-active {
            transform: translateY(0);
        }

        &.is-expanded {
            width: calc(100% - 80px);
            margin-left: 80px;
        }
    }

    .nav-start {
        display: flex;
        align-items: center;
        flex-grow: 2;
        max-width: 680px;

        .field {
            width: 100%;
        }
    }

    .nav-end {
        display: flex;
        align-items: center;

        .nav-item {
            position: relative;
            margin-right: 8px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all .3s;

            &.is-hoverable:hover {
                background: lighten($fade-grey, 2%);

                svg {
                    stroke: $dark-text;
                }
            }

            &.is-account {
                margin-left: 20px;
                border-radius: 0;

                .image-wrap {
                    position: relative;

                    img {
                        display: block;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                    }
                }
            }

            .indicator {
                display: block;
                position: absolute;
                top: 2px;
                right: 2px;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background: $blue;
            }

            svg {
                height: 18px;
                width: 18px;
                stroke-width: 1.6px;
                stroke: $muted-grey;
                transition: stroke .3s;
            }
        }

        .dropdown-wrap {
            margin-right: 8px;

            .dropdown-button {
                height: 40px;
                width: 40px;

                svg {
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }
}

/* ==========================================================================
Menu Icon
========================================================================== */

$menu-icon-size: 1.6rem;
$menu-icon-dash-width: 0.75em; //em(4.5rem, 6rem)
$menu-icon-dash-width-sliced: 0.35em;
$menu-icon-dash-height: 0.05em; //em(0.3rem, 6rem)
$menu-icon-dash-gutter: $menu-icon-dash-height * 5;
$menu-icon-dash-color: $muted-grey;
$menu-icon-dash-border-radius: 0;

%menu-dash {
    display: block;
    position: absolute;
    top: 50%;
    left: (1em - $menu-icon-dash-width) * 0.5; // center X
    background-color: $menu-icon-dash-color;
    width: $menu-icon-dash-width;
    height: $menu-icon-dash-height;
    border-radius: $menu-icon-dash-border-radius;
}

.menu-icon {
    font-size: $menu-icon-size;
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
    cursor: pointer;

    span {
        @extend %menu-dash;

        margin-top: math.div($menu-icon-dash-height, -2);
    }

    &:before {
        content: "";

        @extend %menu-dash;

        width: $menu-icon-dash-width-sliced;
        margin-top: -$menu-icon-dash-gutter + math.div($menu-icon-dash-height, -2);
    }

    &:after {
        content: "";

        @extend %menu-dash;

        margin-top: $menu-icon-dash-gutter + math.div($menu-icon-dash-height, -2);
    }
}

.v-1 {
    &:before, &:after, span {
        transition: 0.25s ease-in-out;
    }

    &.is-open {
        &:before {
            transform: rotate(135deg);
            margin-top: math.div($menu-icon-dash-height, -2);
        }

        &:after {
            transform: rotate(-135deg);
            margin-top: math.div($menu-icon-dash-height, -2);
        }

        span {
            opacity: 0;
            transform: translateX(150%);
        }
    }
}

.v-2 {
    &:before, &:after {
        display: none;
    }

    span {
        transition: 0.25s ease;

        &:before, &:after {
            @extend %menu-dash;

            content: "";
            transition: 0.25s ease;
            top: 0;
            left: 0;
        }

        &:before {
            transform: translateY(-$menu-icon-dash-gutter);
        }

        &:after {
            transform: translateY($menu-icon-dash-gutter);
        }
    }

    &.is-open {
        span {
            transform: rotate(45deg);

            &:before, &:after {
                transform: rotate(90deg);
            }
        }
    }
}

.v-3 {
    &:before, &:after {
        transition: 0.2s ease 0.2s;
    }

    &:after {
        left: auto;
        right: (1em - $menu-icon-dash-width) * 0.5;
    }

    span {
        transition: 0.2s;

        &:before {
            @extend %menu-dash;

            content: "";
            transition: inherit;
            left: 0;
            top: 0;
        }
    }

    &.is-open {
        &:before, &:after {
            transition: 0.2s ease;
            width: 0;
        }

        span {
            transform: rotate(45deg);
            transition: 0.2s ease 0.2s;

            &:before {
                transform: rotate(-90deg);
            }
        }
    }
}

.v-4 {
    &:before, &:after {
        display: none;
    }

    span {
        transition: 0.25s ease;

        &:before, &:after {
            @extend %menu-dash;

            content: "";
            top: 0;
            left: 0;
            transition: inherit;
            margin: 0;
        }

        &:before {
            transform: translateY(-$menu-icon-dash-gutter);
        }

        &:after {
            transform: translateY($menu-icon-dash-gutter);
        }
    }

    &.is-open {
        span {
            transform: rotate(180deg);

            &:before, &:after {
                width: $menu-icon-dash-width * 0.5;
                left: 0.02em;
            }

            &:before {
                transform: rotate(-45deg) translateY(-0.17em);
            }

            &:after {
                transform: rotate(45deg) translateY(0.17em);
            }
        }
    }
}

.v-5 {
    &:before, &:after {
        display: none;
    }

    span {
        transition: 0.25s ease;

        &:before, &:after {
            @extend %menu-dash;

            content: "";
            top: 0;
            right: 0;
            left: auto;
            transition: inherit;
            margin: 0;
        }

        &:before {
            transform: translateY(-$menu-icon-dash-gutter);
        }

        &:after {
            transform: translateY($menu-icon-dash-gutter);
        }
    }

    &.is-open {
        span {
            transform: rotate(-180deg);

            &:before, &:after {
                width: $menu-icon-dash-width * 0.5;
                right: 0.02em;
            }

            &:before {
                transform: rotate(-45deg) translateY(0.17em);
            }

            &:after {
                transform: rotate(45deg) translateY(-0.17em);
            }
        }
    }
}

/* ==========================================================================
Search Results
========================================================================== */

.search-results {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    max-height: 322px;
    overflow-y: auto;
    background: $white;
    opacity: 0;
    border: 1px solid darken($fade-grey, 3%);
    border-radius: 4px;
    pointer-events: none;
    transform: translateY(5px);
    box-shadow: $light-box-shadow;
    transition: all .3s;
    z-index: 5;

    &.is-active {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }

    .placeholder-wrap {
        min-height: 285px;
        display: flex;
        align-items: center;
        justify-content: center;

        .placeholder-content {
            img {
                display: block;
                margin: 0 auto 16px auto;
                max-width: 90px;
            }

            h3 {
                font-family: $font;
                font-weight: 600;
                color: $dark-text;
                padding: 0;
            }

            p {
                color: $muted-grey;
                font-size: .95rem;
                max-width: 420px;
                margin: 0 auto;
            }
        }
    }

    .search-result {
        display: flex;
        align-items: center;
        padding: 12px 16px;
        border-bottom: 1px solid $fade-grey;
        transition: all .3s;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background: lighten($fade-grey, 4%);
        }

        img {
            display: block;
            height: 38px;
            width: 38px;

            &.avatar {
                border-radius: 50%;
            }

            &.record {
                border-radius: 2px;
            }
        }

        .fake-avatar {
            height: 38px;
            width: 38px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-family: $font;
            font-size: .8rem;
            color: $white;
        }

        .meta {
            margin-left: 12px;

            span {
                display: block;
                line-height: 1.2;

                &:first-child {
                    font-family: $font;
                    font-weight: 500;
                    font-size: .8rem;
                    color: $dark-text;
                }

                &:nth-child(2) {
                    font-size: .75rem;
                    color: $muted-grey;
                }
            }
        }
    }
}
