{% load i18n %}
{% autoescape off %}
{% blocktrans %}
You have been invited to join the <strong>{{organization_name}}</strong> team owned by <strong>{{owner_email}}</strong> on <strong>{{app_name}}</strong>.
<br/><br/>
{% endblocktrans %}

{% trans "To get started, accept the invite below:" %}<br/>
{% block redirect_link %}
{{ redirect_link }}<br/><br/>
{% endblock %}

{% trans "Joining the team will give you access to the team's dashboard." %}<br/><br/>

{% blocktrans %}The <strong>{{ app_name }}</strong> team{% endblocktrans %}

{% endautoescape %}
