{% extends "drf-yasg/redoc.html" %}
{% load static %}

{% block favicon %}
    <link rel="shortcut icon" href="{% static 'purpleserver/favicon-set/favicon.ico' %}">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block extra_styles %}
    <style>
        body {
            background: #eeeeee;
        }
        .eIeJha {
            background-color: #9504af !important;
        }
        .gza-dof {
            background-color: #9504af !important;
        }

        .admin-link {
            position: fixed;
            bottom: 44px;
            right: 20px;
            width: 60px;
            height: 60px;
            background-color: rgba(50, 50, 159, 70%);
            border-radius: 50%;
            z-index: 2;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
        }
        @media screen and (max-width: 50rem) {
            .admin-link {
                bottom: 110px;
            }
        }
    </style>
{% endblock %}

{% block extra_body %}
<a class="admin-link" href="/admin" title="Admin Console">
    <img src="{% static 'purpleserver/img/settings.svg' %}" width="40" style="margin: 10px;">
</a>
{% endblock %}
{% block main_scripts %}
    <script src="{% static 'drf-yasg/insQ.min.js' %}"></script>
    <script src="{% static 'drf-yasg/url-polyfill.min.js' %}"></script>
    <script src="{% static 'drf-yasg/redoc-init.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>
{% endblock %}
