openapi: 3.0.1
info:
  title: Purplship Open Source Multi-carrier Shipping API
  description: |2

    Purplship is an open source multi-carrier shipping API that simplifies the integration of logistic carrier services

    The **proxy** endpoints are stateless and forwards calls to carriers web services.
  contact:
    email: hello@purplship.com
  license:
    name: AGPLv3+ License
  version: v1-2021.0
servers:
- url: https://app.purplship.com/v1
security:
- Token: []
paths:
  /addresses:
    get:
      tags:
      - Addresses
      summary: List all addresses
      description: Retrieve all addresses.
      operationId: $list
      parameters:
      - name: limit
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Address'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Addresses
      summary: Create an address
      description: Create a new address.
      operationId: $create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /addresses/{id}:
    get:
      tags:
      - Addresses
      summary: Retrieve an address
      description: Retrieve an address.
      operationId: $retrieve
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Addresses
      summary: Update an address
      description: update an address.
      operationId: $update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /carriers:
    get:
      tags:
      - Carriers
      summary: List all carriers
      description: Returns the list of configured carriers
      operationId: '&&list'
      parameters:
      - name: limit
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: carrier_name
        in: query
        description: Indicates a carrier (type)
        schema:
          type: string
          enum:
          - canadapost
          - dhl_express
          - fedex_express
          - purolator_courier
          - ups_package
          - eshipper
          - freightcom
      - name: test
        in: query
        description: The test flag filter carrier configured in test mode
        schema:
          type: boolean
          nullable: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CarrierSettings'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /customs_info:
    get:
      tags:
      - Customs
      summary: List all customs info
      description: Retrieve all stored customs declarations.
      operationId: $$list
      parameters:
      - name: limit
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customs'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Customs
      summary: Create a customs info
      description: Create a new customs declaration.
      operationId: $$create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomsData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customs'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /customs_info/{id}:
    get:
      tags:
      - Customs
      summary: Retrieve a customs info
      description: Retrieve customs declaration.
      operationId: $$retrieve
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customs'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Customs
      summary: Discard a customs info
      description: Discard a customs declaration.
      operationId: $$discard
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Customs
      summary: Update a customs info
      description: modify an existing customs declaration.
      operationId: $$update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomsData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customs'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /labels:
    post:
      tags:
      - Utils
      summary: Print a Label
      description: Returns a label PDF file.
      operationId: '&&print_label'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabelPrintingRequest'
        required: true
      responses:
        400:
          description: ""
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/vnd.oai.openapi+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /parcels:
    get:
      tags:
      - Parcels
      summary: List all parcels
      description: Retrieve all stored parcels.
      operationId: $$$list
      parameters:
      - name: limit
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Parcel'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Parcels
      summary: Create a parcel
      description: Create a new parcel.
      operationId: $$$create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParcelData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Parcel'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /parcels/{id}:
    get:
      tags:
      - Parcels
      summary: Retrieve a parcel
      description: Retrieve a parcel.
      operationId: $$$retrieve
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Parcel'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Parcels
      summary: Remove a parcel
      description: Remove a parcel.
      operationId: $$$discard
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Parcels
      summary: Update a parcel
      description: modify an existing parcel's details.
      operationId: $$$update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParcelData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Parcel'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /pickups:
    get:
      tags:
      - Pickups
      summary: List shipment pickups
      description: Retrieve all scheduled pickups.
      operationId: $$$$list
      parameters:
      - name: limit
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pickup'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pickups/{carrier_name}/schedule:
    post:
      tags:
      - Pickups
      summary: Schedule a pickup
      description: Schedule a pickup for one or many shipments with labels already
        purchased.
      operationId: $$$$schedule
      parameters:
      - name: carrier_name
        in: path
        required: true
        schema:
          type: string
      - name: test
        in: query
        description: "\nThe test flag indicates whether to use a carrier configured\
          \ for test. \n"
        schema:
          type: boolean
          nullable: true
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pickup'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /pickups/{id}:
    get:
      tags:
      - Pickups
      summary: Retrieve a pickup
      description: Retrieve a scheduled pickup.
      operationId: $$$$retrieve
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pickup'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Pickups
      summary: Update a pickup
      description: Modify a pickup for one or many shipments with labels already purchased.
      operationId: $$$$update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupUpdateData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationConfirmation'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /pickups/{id}/cancel:
    post:
      tags:
      - Pickups
      summary: Cancel a pickup
      description: Cancel a pickup of one or more shipments.
      operationId: $$$$cancel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupCancelData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationConfirmation'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /proxy/pickups/{carrier_name}:
    put:
      tags:
      - Proxy
      summary: Update a pickup
      description: Modify a scheduled pickup
      operationId: '@update_pickup'
      parameters:
      - name: carrier_name
        in: path
        required: true
        schema:
          type: string
      - name: test
        in: query
        description: "\nThe test flag indicates whether to use a carrier configured\
          \ for test. \n"
        schema:
          type: boolean
          nullable: true
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupUpdateRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickupResponse'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
    post:
      tags:
      - Proxy
      summary: Schedule a pickup
      description: Schedule one or many parcels pickup
      operationId: '@schedule_pickup'
      parameters:
      - name: carrier_name
        in: path
        required: true
        schema:
          type: string
      - name: test
        in: query
        description: "\nThe test flag indicates whether to use a carrier configured\
          \ for test. \n"
        schema:
          type: boolean
          nullable: true
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickupResponse'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /proxy/pickups/{carrier_name}/cancel:
    post:
      tags:
      - Proxy
      summary: Cancel a pickup
      description: Cancel a pickup previously scheduled
      operationId: '@cancel_pickup'
      parameters:
      - name: carrier_name
        in: path
        required: true
        schema:
          type: string
      - name: test
        in: query
        description: "\nThe test flag indicates whether to use a carrier configured\
          \ for test. \n"
        schema:
          type: boolean
          nullable: true
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupCancelRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /proxy/rates:
    post:
      tags:
      - Proxy
      summary: Fetch shipment rates
      description: |2

        The Shipping process begins by fetching rates for your shipment.
        Use this service to fetch a shipping rates available.
      operationId: '@@fetch'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateResponse'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /proxy/shipping:
    post:
      tags:
      - Proxy
      summary: Buy a shipment label
      description: |-
        Once the shipping rates are retrieved, provide the required info to
        submit the shipment by specifying your preferred rate.
      operationId: '@@@buy_label'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShippingRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /proxy/shipping/{carrier_name}/cancel:
    post:
      tags:
      - Proxy
      summary: Void a shipment label
      description: Cancel a shipment and the label previously created
      operationId: '@@@void_label'
      parameters:
      - name: carrier_name
        in: path
        required: true
        schema:
          type: string
      - name: test
        in: query
        description: "\nThe test flag indicates whether to use a carrier configured\
          \ for test. \n"
        schema:
          type: boolean
          nullable: true
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentCancelRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /proxy/tracking/{carrier_name}/{tracking_number}:
    get:
      tags:
      - Proxy
      summary: Track a shipment
      description: You can track a shipment by specifying the carrier and the shipment
        tracking number.
      operationId: '@@@@track_shipment'
      parameters:
      - name: carrier_name
        in: path
        required: true
        schema:
          type: string
      - name: tracking_number
        in: path
        required: true
        schema:
          type: string
      - name: test
        in: query
        description: "\nThe test flag indicates whether to use a carrier configured\
          \ for test. \n"
        schema:
          type: boolean
          nullable: true
          default: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingResponse'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /references:
    get:
      tags:
      - Utils
      summary: Data References
      description: "\n## Countries\n\n<details>\n\nCode | Name \n--- | --- \nAD |\
        \ Andorra\nAE | United Arab Emirates\nAF | Afghanistan\nAG | Antigua\nAI |\
        \ Anguilla\nAL | Albania\nAM | Armenia\nAN | Netherlands Antilles\nAO | Angola\n\
        AR | Argentina\nAS | American Samoa\nAT | Austria\nAU | Australia\nAW | Aruba\n\
        AZ | Azerbaijan\nBA | Bosnia And Herzegovina\nBB | Barbados\nBD | Bangladesh\n\
        BE | Belgium\nBF | Burkina Faso\nBG | Bulgaria\nBH | Bahrain\nBI | Burundi\n\
        BJ | Benin\nBM | Bermuda\nBN | Brunei\nBO | Bolivia\nBR | Brazil\nBS | Bahamas\n\
        BT | Bhutan\nBW | Botswana\nBY | Belarus\nBZ | Belize\nCA | Canada\nCD | Congo,\
        \ The Democratic Republic Of\nCF | Central African Republic\nCG | Congo\n\
        CH | Switzerland\nCI | Cote D Ivoire\nCK | Cook Islands\nCL | Chile\nCM |\
        \ Cameroon\nCN | China, Peoples Republic\nCO | Colombia\nCR | Costa Rica\n\
        CU | Cuba\nCV | Cape Verde\nCY | Cyprus\nCZ | Czech Republic, The\nDE | Germany\n\
        DJ | Djibouti\nDK | Denmark\nDM | Dominica\nDO | Dominican Republic\nDZ |\
        \ Algeria\nEC | Ecuador\nEE | Estonia\nEG | Egypt\nER | Eritrea\nES | Spain\n\
        ET | Ethiopia\nFI | Finland\nFJ | Fiji\nFK | Falkland Islands\nFM | Micronesia,\
        \ Federated States Of\nFO | Faroe Islands\nFR | France\nGA | Gabon\nGB | United\
        \ Kingdom\nGD | Grenada\nGE | Georgia\nGF | French Guyana\nGG | Guernsey\n\
        GH | Ghana\nGI | Gibraltar\nGL | Greenland\nGM | Gambia\nGN | Guinea Republic\n\
        GP | Guadeloupe\nGQ | Guinea-equatorial\nGR | Greece\nGT | Guatemala\nGU |\
        \ Guam\nGW | Guinea-bissau\nGY | Guyana (british)\nHK | Hong Kong\nHN | Honduras\n\
        HR | Croatia\nHT | Haiti\nHU | Hungary\nIC | Canary Islands, The\nID | Indonesia\n\
        IE | Ireland, Republic Of\nIL | Israel\nIN | India\nIQ | Iraq\nIR | Iran (islamic\
        \ Republic Of)\nIS | Iceland\nIT | Italy\nJE | Jersey\nJM | Jamaica\nJO |\
        \ Jordan\nJP | Japan\nKE | Kenya\nKG | Kyrgyzstan\nKH | Cambodia\nKI | Kiribati\n\
        KM | Comoros\nKN | St. Kitts\nKP | Korea, The D.p.r Of (north K.)\nKR | Korea,\
        \ Republic Of (south K.)\nKV | Kosovo\nKW | Kuwait\nKY | Cayman Islands\n\
        KZ | Kazakhstan\nLA | Lao Peoples Democratic Republic\nLB | Lebanon\nLC |\
        \ St. Lucia\nLI | Liechtenstein\nLK | Sri Lanka\nLR | Liberia\nLS | Lesotho\n\
        LT | Lithuania\nLU | Luxembourg\nLV | Latvia\nLY | Libya\nMA | Morocco\nMC\
        \ | Monaco\nMD | Moldova, Republic Of\nME | Montenegro, Republic Of\nMG |\
        \ Madagascar\nMH | Marshall Islands\nMK | Macedonia, Republic Of\nML | Mali\n\
        MM | Myanmar\nMN | Mongolia\nMO | Macau\nMP | Commonwealth No. Mariana Islands\n\
        MQ | Martinique\nMR | Mauritania\nMS | Montserrat\nMT | Malta\nMU | Mauritius\n\
        MV | Maldives\nMW | Malawi\nMX | Mexico\nMY | Malaysia\nMZ | Mozambique\n\
        NA | Namibia\nNC | New Caledonia\nNE | Niger\nNG | Nigeria\nNI | Nicaragua\n\
        NL | Netherlands, The\nNO | Norway\nNP | Nepal\nNR | Nauru, Republic Of\n\
        NU | Niue\nNZ | New Zealand\nOM | Oman\nPA | Panama\nPE | Peru\nPF | Tahiti\n\
        PG | Papua New Guinea\nPH | Philippines, The\nPK | Pakistan\nPL | Poland\n\
        PR | Puerto Rico\nPT | Portugal\nPW | Palau\nPY | Paraguay\nQA | Qatar\nRE\
        \ | Reunion, Island Of\nRO | Romania\nRS | Serbia, Republic Of\nRU | Russian\
        \ Federation, The\nRW | Rwanda\nSA | Saudi Arabia\nSB | Solomon Islands\n\
        SC | Seychelles\nSD | Sudan\nSE | Sweden\nSG | Singapore\nSH | Saint Helena\n\
        SI | Slovenia\nSK | Slovakia\nSL | Sierra Leone\nSM | San Marino\nSN | Senegal\n\
        SO | Somalia\nSR | Suriname\nSS | South Sudan\nST | Sao Tome And Principe\n\
        SV | El Salvador\nSY | Syria\nSZ | Swaziland\nTC | Turks And Caicos Islands\n\
        TD | Chad\nTG | Togo\nTH | Thailand\nTJ | Tajikistan\nTL | Timor Leste\nTN\
        \ | Tunisia\nTO | Tonga\nTR | Turkey\nTT | Trinidad And Tobago\nTV | Tuvalu\n\
        TW | Taiwan\nTZ | Tanzania\nUA | Ukraine\nUG | Uganda\nUS | United States\n\
        UY | Uruguay\nUZ | Uzbekistan\nVA | Vatican City State\nVC | St. Vincent\n\
        VE | Venezuela\nVG | British Virgin Islands\nVI | U.S. Virgin Islands\nVN\
        \ | Vietnam\nVU | Vanuatu\nWS | Samoa\nXB | Bonaire\nXC | Curacao\nXE | St.\
        \ Eustatius\nXM | St. Maarten\nXN | Nevis\nXS | Somaliland, Rep Of (north\
        \ Somalia)\nXY | St. Barthelemy\nYE | Yemen, Republic Of\nYT | Mayotte\nZA\
        \ | South Africa\nZM | Zambia\nZW | Zimbabwe\n\n</details><br/>\n\n\n## States\
        \ and Provinces\n\n<details>\n\n\n### United Arab Emirates\n\n<details>\n\n\
        Code | Name \n--- | --- \nAB | Abu Dhabi\nAJ | Ajman\nDU | Dubai\nFU | Fujairah\n\
        RA | Ras al-Khaimah\nSH | Sharjah\nUM | Umm al-Qaiwain\n\n</details><br/>\n\
        \n\n### Canada\n\n<details>\n\nCode | Name \n--- | --- \nAB | Alberta\nBC\
        \ | British Columbia\nMB | Manitoba\nNB | New Brunswick\nNL | Newfoundland\n\
        NT | Northwest Territories\nNS | Nova Scotia\nNU | Nunavut\nON | Ontario\n\
        PE | Prince Edward Island\nQC | Quebec\nSK | Saskatchewan\nYT | Yukon\n\n\
        </details><br/>\n\n\n### China, Peoples Republic\n\n<details>\n\nCode | Name\
        \ \n--- | --- \nanhui | Anhui\nhainan | Hainan\njiangxi | Jiangxi\nshanghai\
        \ | Shanghai\nbeijing | Beijing\nhebei | Hebei\njilin | Jilin\nshanxi | Shanxi\n\
        chongqing | Chongqing\nheilongjiang | Heilongjiang\nliaoning | Liaoning\n\
        sichuan | Sichuan\nfujian | Fujian\nhenan | Henan\nnei_mongol | Nei Mongol\n\
        tianjin | Tianjin\ngansu | Gansu\nhubei | Hubei\nqinghai | Qinghai\nxinjiang\
        \ | Xinjiang\nguangdong | Guangdong\nhunan | Hunan\nshaanxi | Shaanxi\nyunnan\
        \ | Yunnan\nguizhou | Guizhou\njiangsu | Jiangsu\nshandong | Shandong\nzhejiang\
        \ | Zhejiang\n\n</details><br/>\n\n\n### India\n\n<details>\n\nCode | Name\
        \ \n--- | --- \nAN | Andaman & Nicobar (U.T)\nAP | Andhra Pradesh\nAR | Arunachal\
        \ Pradesh\nAS | Assam\nBR | Bihar\nCG | Chattisgarh\nCH | Chandigarh (U.T.)\n\
        DD | Daman & Diu (U.T.)\nDL | Delhi (U.T.)\nDN | Dadra and Nagar Haveli (U.T.)\n\
        GA | Goa\nGJ | Gujarat\nHP | Himachal Pradesh\nHR | Haryana\nJH | Jharkhand\n\
        JK | Jammu & Kashmir\nKA | Karnataka\nKL | Kerala\nLD | Lakshadweep (U.T)\n\
        MH | Maharashtra\nML | Meghalaya\nMN | Manipur\nMP | Madhya Pradesh\nMZ |\
        \ Mizoram\nNL | Nagaland\nOR | Orissa\nPB | Punjab\nPY | Puducherry (U.T.)\n\
        RJ | Rajasthan\nSK | Sikkim\nTN | Tamil Nadu\nTR | Tripura\nUA | Uttaranchal\n\
        UP | Uttar Pradesh\nWB | West Bengal\n\n</details><br/>\n\n\n### Mexico\n\n\
        <details>\n\nCode | Name \n--- | --- \nAG | Aguascalientes\nBC | Baja California\n\
        BS | Baja California Sur\nCM | Campeche\nCS | Chiapas\nCH | Chihuahua\nCO\
        \ | Coahuila\nCL | Colima\nDF | Ciudad de México\nDG | Durango\nGT | Guanajuato\n\
        GR | Guerrero\nHG | Hidalgo\nJA | Jalisco\nEM | Estado de México\nMI | Michoacá\
        n\nMO | Morelos\nNA | Nayarit\nNL | Nuevo León\nOA | Oaxaca\nPU | Puebla\n\
        QE | Querétaro\nQR | Quintana Roo\nSL | San Luis Potosí\nSI | Sinaloa\nSO\
        \ | Sonora\nTB | Tabasco\nTM | Tamaulipas\nTL | Tlaxcala\nVE | Veracruz\n\
        YU | Yucatán\nZA | Zacatecas\n\n</details><br/>\n\n\n### United States\n\n\
        <details>\n\nCode | Name \n--- | --- \nAL | Alabama\nAK | Alaska\nAZ | Arizona\n\
        AR | Arkansas\nCA | California\nCO | Colorado\nCT | Connecticut\nDE | Delaware\n\
        DC | District of Columbia\nFL | Florida\nGA | Georgia\nHI | Hawaii\nID | Idaho\n\
        IL | Illinois\nIN | Indiana\nIA | Iowa\nKS | Kansas\nKY | Kentucky\nLA | Louisiana\n\
        ME | Maine\nMD | Maryland\nMA | Massachusetts\nMI | Michigan\nMN | Minnesota\n\
        MS | Mississippi\nMO | Missouri\nMT | Montana\nNE | Nebraska\nNV | Nevada\n\
        NH | New Hampshire\nNJ | New Jersey\nNM | New Mexico\nNY | New York\nNC |\
        \ North Carolina\nND | North Dakota\nOH | Ohio\nOK | Oklahoma\nOR | Oregon\n\
        PA | Pennsylvania\nRI | Rhode Island\nSC | South Carolina\nSD | South Dakota\n\
        TN | Tennessee\nTX | Texas\nUT | Utah\nVT | Vermont\nVA | Virginia\nWA | Washington\
        \ State\nWV | West Virginia\nWI | Wisconsin\nWY | Wyoming\nPR | Puerto Rico\n\
        \n</details><br/>\n\n\n</details><br/>\n\n## Currencies\n\n<details>\n\nCode\
        \ | Name \n--- | --- \nEUR | Euro\nAED | UAE Dirham\nUSD | US Dollar\nXCD\
        \ | East Caribbean Dollar\nAMD | Dran\nANG | Netherlands Antilles Guilder\n\
        AOA | Kwanza\nARS | Argentine Peso\nAUD | Australian Dollar\nAWG | Aruba Guilder\n\
        AZN | Manat\nBAM | Convertible Marks\nBBD | Barbadian Dollar\nBDT | Taka\n\
        XOF | CFA Franc West Africa\nBGN | Bulgarian Lev\nBHD | Bahraini Dinar\nBIF\
        \ | Burundese Franc\nBMD | Bermudian Dollar\nBND | Brunei Dollar\nBOB | Boliviano\n\
        BRL | Real\nBSD | Bahamian Dollar\nBTN | Ngultrum\nBWP | Pula\nBYN | Belarussian\
        \ Ruble\nBZD | Belize Dollar\nCAD | Canadian Dollar\nCDF | Franc Congolais\n\
        XAF | CFA Franc Central Africa\nCHF | Swiss Franc\nNZD | New Zealand Dollar\n\
        CLP | New Chile Peso\nCNY | Yuan (Ren Min Bi)\nCOP | Colombian Peso\nCRC |\
        \ Costa Rican Colon\nCUC | Peso Convertible\nCVE | Cape Verde Escudo\nCZK\
        \ | Czech Koruna\nDJF | Djibouti Franc\nDKK | Danish Krone\nDOP | Dominican\
        \ Republic Peso\nDZD | Algerian Dinar\nEGP | Egyptian Pound\nERN | Nakfa\n\
        ETB | Birr\nFJD | Fijian Dollar\nGBP | Pound Sterling\nGEL | Georgian Lari\n\
        GHS | Cedi\nGMD | Dalasi\nGNF | Guinea Franc\nGTQ | Quetzal\nGYD | Guyanan\
        \ Dollar\nHKD | Hong Kong Dollar\nHNL | Lempira\nHRK | Croatian Kuna\nHTG\
        \ | Gourde\nHUF | Forint\nIDR | Rupiah\nILS | New Israeli Shekel\nINR | Indian\
        \ Rupee\nIRR | Iranian Rial\nISK | Icelandic Krona\nJMD | Jamaican Dollar\n\
        JOD | Jordanian Dinar\nJPY | Yen\nKES | Kenyan Shilling\nKGS | Som\nKHR |\
        \ Khmer Rial\nKMF | Comoros Franc\nKPW | North Korean Won\nKRW | Won\nKWD\
        \ | Kuwaiti Dinar\nKYD | Cayman Islands Dollar\nKZT | Tenge\nLAK | Kip\nLKR\
        \ | Sri Lankan Rupee\nLRD | Liberian Dollar\nLSL | Loti\nLYD | Libyan Dinar\n\
        MAD | Moroccan Dirham\nMDL | Leu\nMGA | Ariary\nMKD | Denar\nMMK | Kyat\n\
        MNT | Tugrik\nMOP | Pataca\nMRO | Ouguiya\nMUR | Mauritius Rupee\nMVR | Rufiyaa\n\
        MWK | Kwacha\nMXN | Mexican Nuevo Peso\nMYR | Ringgit\nMZN | Mozambique Metical\n\
        NAD | Namibian Dollar\nXPF | CFP Franc\nNGN | Naira\nNIO | Cordoba Oro\nNOK\
        \ | Norwegian Krone\nNPR | Nepalese Rupee\nOMR | Omani Rial\nPEN | Nuevo Sol\n\
        PGK | Kina\nPHP | Phillipines Peso\nPKR | Pakistani Rupee\nPLN | Zloty\nPYG\
        \ | Guarani\nQAR | Qatar Rial\nRSD | Serbia, Dinars\nRUB | Russian Ruble\n\
        RWF | Rwanda Franc\nSAR | Saudi Riyal\nSBD | Solomon Islands Dollar\nSCR |\
        \ Seychelles Rupee\nSDG | Sudanese Pound\nSEK | Swedish Krona\nSGD | Singapore\
        \ Dollar\nSHP | St. Helena Pound\nSLL | Leone\nSOS | Somali Shilling\nSRD\
        \ | Suriname Dollar\nSSP | South Sudanese pound\nSTD | Dobra\nSYP | Syrian\
        \ Pound\nSZL | Lilangeni\nTHB | Baht\nTJS | Somoni\nTND | Tunisian Dinar\n\
        TOP | Pa'anga\nTRY | New Turkish Lira\nTTD | Trinidad and Tobago Dollar\n\
        TWD | New Taiwan Dollar\nTZS | Tanzanian Shilling\nUAH | Hryvna\nUYU | Peso\
        \ Uruguayo\nUZS | Sum\nVEF | Bolivar Fuerte\nVND | Dong\nVUV | Vanuatu Vatu\n\
        WST | Tala\nYER | Yemeni Riyal\nZAR | South African Rand\n\n</details><br/>\n\
        \n\n## Packaging Types\n\n<details>\n\n\n### Multi-carrier (purplship)\n\n\
        <details>\n\nCode | Identifier\n--- | ---\nenvelope | Small Envelope\npak\
        \ | Pak\ntube | Tube\npallet | Pallet\nsmall_box | Small Box\nmedium_box |\
        \ Medium Box\nyour_packaging | Your Packaging\n\n</details><br/>\n\n\n###\
        \ DHL Express\n\n<details>\n\nCode | Identifier\n--- | ---\ndhl_flyer_smalls\
        \ | FLY\ndhl_parcels_conveyables | COY\ndhl_non_conveyables | NCY\ndhl_pallets\
        \ | PAL\ndhl_double_pallets | DBL\ndhl_box | BOX\n\n</details><br/>\n\n\n\
        ### FedEx Express\n\n<details>\n\nCode | Identifier\n--- | ---\nfedex_envelope\
        \ | FEDEX_ENVELOPE\nfedex_pak | FEDEX_PAK\nfedex_box | FEDEX_BOX\nfedex_10_kg_box\
        \ | FEDEX_10KG_BOX\nfedex_25_kg_box | FEDEX_25KG_BOX\nfedex_tube | FEDEX_TUBE\n\
        your_packaging | YOUR_PACKAGING\n\n</details><br/>\n\n\n### Purolator Courier\n\
        \n<details>\n\nCode | Identifier\n--- | ---\npurolator_express_envelope |\
        \ Envelope\npurolator_express_pack | Pack\npurolator_express_box | Box\npurolator_customer_packaging\
        \ | Customer Packaging\n\n</details><br/>\n\n\n### UPS Package\n\n<details>\n\
        \nCode | Identifier\n--- | ---\nups_unknown | 00\nups_letter | 01\nups_package\
        \ | 02\nups_tube | 03\nups_pak | 04\nups_express_box | 21\nups_box_25_kg |\
        \ 24\nups_box_10_kg | 25\nups_pallet | 30\nups_small_express_box | 2a\nups_medium_express_box\
        \ | 2b\nups_large_express_box | 2c\n\n</details><br/>\n\n\n</details><br/>\n\
        \n\n## Package Preset\n\n<details>\n\n\n### Canada Post\n\n<details>\n\nCode\
        \ | Dimensions | Note\n--- | --- | ---\ncanadapost_mailing_box | 15.2 x 1.0\
        \ x 10.2 | height x length x width\ncanadapost_extra_small_mailing_box | 14.0\
        \ x 14.0 x 14.0 | height x length x width\ncanadapost_small_mailing_box |\
        \ 22.9 x 6.4 x 28.6 | height x length x width\ncanadapost_medium_mailing_box\
        \ | 23.5 x 13.3 x 31.0 | height x length x width\ncanadapost_large_mailing_box\
        \ | 30.5 x 9.5 x 38.1 | height x length x width\ncanadapost_extra_large_mailing_box\
        \ | 30.5 x 21.6 x 40.0 | height x length x width\ncanadapost_corrugated_small_box\
        \ | 32.0 x 32.0 x 42.0 | height x length x width\ncanadapost_corrugated_medium_box\
        \ | 38.0 x 32.0 x 46.0 | height x length x width\ncanadapost_corrugated_large_box\
        \ | 46.0 x 40.6 x 46.0 | height x length x width\ncanadapost_xexpresspost_certified_envelope\
        \ | 15.9 x 1.5 x 0.5 x 26.0 | height x length x weight x width\ncanadapost_xexpresspost_national_large_envelope\
        \ | 29.2 x 1.5 x 1.36 x 40.0 | height x length x weight x width\n\n</details><br/>\n\
        \n\n### DHL Express\n\n<details>\n\nCode | Dimensions | Note\n--- | --- |\
        \ ---\ndhl_express_envelope | 27.5 x 1.0 x 0.5 x 35.0 | height x length x\
        \ weight x width\ndhl_express_standard_flyer | 30.0 x 1.5 x 2.0 x 40.0 | height\
        \ x length x weight x width\ndhl_express_large_flyer | 37.5 x 1.5 x 3.0 x\
        \ 47.5 | height x length x weight x width\ndhl_express_box_2 | 18.2 x 10.0\
        \ x 1.0 x 33.7 | height x length x weight x width\ndhl_express_box_3 | 32.0\
        \ x 5.2 x 2.0 x 33.6 | height x length x weight x width\ndhl_express_box_4\
        \ | 32.2 x 18.0 x 5.0 x 33.7 | height x length x weight x width\ndhl_express_box_5\
        \ | 32.2 x 34.5 x 10.0 x 33.7 | height x length x weight x width\ndhl_express_box_6\
        \ | 35.9 x 36.9 x 15.0 x 41.7 | height x length x weight x width\ndhl_express_box_7\
        \ | 40.4 x 38.9 x 20.0 x 48.1 | height x length x weight x width\ndhl_express_box_8\
        \ | 44.4 x 40.9 x 25.0 x 54.2 | height x length x weight x width\ndhl_express_tube\
        \ | 15.0 x 15.0 x 5.0 x 96.0 | height x length x weight x width\ndhl_didgeridoo_box\
        \ | 13.0 x 162.0 x 10.0 x 13.0 | height x length x weight x width\ndhl_jumbo_box\
        \ | 42.7 x 33.0 x 30.0 x 45.0 | height x length x weight x width\ndhl_jumbo_box_junior\
        \ | 34.0 x 24.1 x 20.0 x 39.9 | height x length x weight x width\n\n</details><br/>\n\
        \n\n### FedEx Express\n\n<details>\n\nCode | Dimensions | Note\n--- | ---\
        \ | ---\nfedex_envelope_legal_size | 15.5 x 1.0 x 9.5 | height x weight x\
        \ width\nfedex_padded_pak | 14.75 x 2.2 x 11.75 | height x weight x width\n\
        fedex_polyethylene_pak | 15.5 x 2.2 x 12.0 | height x weight x width\nfedex_clinical_pak\
        \ | 18.0 x 2.2 x 13.5 | height x weight x width\nfedex_small_box | 10.9 x\
        \ 1.5 x 20.0 x 12.25 | height x length x weight x width\nfedex_medium_box\
        \ | 11.5 x 2.38 x 20.0 x 13.25 | height x length x weight x width\nfedex_large_box\
        \ | 12.38 x 3.0 x 20.0 x 17.88 | height x length x weight x width\nfedex_10_kg_box\
        \ | 12.94 x 10.19 x 10.0 x 15.81 | height x length x weight x width\nfedex_25_kg_box\
        \ | 16.56 x 13.19 x 25.0 x 21.56 | height x length x weight x width\nfedex_tube\
        \ | 6.0 x 6.0 x 20.0 x 38.0 | height x length x weight x width\n\n</details><br/>\n\
        \n\n### Purolator Courier\n\n<details>\n\nCode | Dimensions | Note\n--- |\
        \ --- | ---\npurolator_express_envelope | 1.5 x 1.0 x 12.5 | length x weight\
        \ x width\npurolator_express_pack | 1.0 x 3.0 x 12.5 | length x weight x width\n\
        purolator_express_box | 3.5 x 7.0 | length x weight\n\n</details><br/>\n\n\
        \n### UPS Package\n\n<details>\n\nCode | Dimensions | Note\n--- | --- | ---\n\
        ups_small_express_box | 11.0 x 2.0 x 30.0 x 13.0 | height x length x weight\
        \ x width\nups_medium_express_box | 11.0 x 3.0 x 30.0 x 16.0 | height x length\
        \ x weight x width\nups_large_express_box | 13.0 x 3.0 x 30.0 x 18.0 | height\
        \ x length x weight x width\nups_express_tube | 6.0 x 6.0 x 38.0 | height\
        \ x length x width\nups_express_pak | 11.75 x 1.5 x 16.0 | height x length\
        \ x width\nups_world_document_box | 12.5 x 3.0 x 17.5 | height x length x\
        \ width\n\n</details><br/>\n\n\n</details><br/>\n\n\n## Shipment Options\n\
        \n<details>\n\n\n### Canada Post\n\n<details>\n\nCode | Identifier\n--- |\
        \ ---\ncanadapost_signature | SO\ncanadapost_coverage | COV\ncanadapost_collect_on_delivery\
        \ | COD\ncanadapost_proof_of_age_required_18 | PA18\ncanadapost_proof_of_age_required_19\
        \ | PA19\ncanadapost_card_for_pickup | HFP\ncanadapost_do_not_safe_drop |\
        \ DNS\ncanadapost_leave_at_door | LAD\ncanadapost_deliver_to_post_office |\
        \ D2PO\ncanadapost_return_at_senders_expense | RASE\ncanadapost_return_to_sender\
        \ | RTS\ncanadapost_abandon | ABAN\n\n</details><br/>\n\n\n### DHL Express\n\
        \n<details>\n\nCode | Identifier\n--- | ---\ndhl_logistics_services | 0A\n\
        dhl_mailroom_management | 0B\ndhl_pallet_administration | 0C\ndhl_warehousing\
        \ | 0D\ndhl_express_logistics_centre | 0E\ndhl_strategic_parts_centre | 0F\n\
        dhl_local_distribution_centre | 0G\ndhl_terminal_handling | 0H\ndhl_cross_docking\
        \ | 0I\ndhl_inventory_management | 0J\ndhl_loading_unloading | 0K\ndhl_product_kitting\
        \ | 0L\ndhl_priority_account_desk | 0M\ndhl_document_archiving | 0N\ndhl_saturday_delivery\
        \ | AA\ndhl_saturday_pickup | AB\ndhl_holiday_delivery | AC\ndhl_holiday_pickup\
        \ | AD\ndhl_domestic_saturday_delivery | AG\ndhl_standard | BA\ndhl_globalmail_item\
        \ | BB\ndhl_letter | BC\ndhl_packet | BD\ndhl_letter_plus | BE\ndhl_packet_plus\
        \ | BF\ndhl_elevated_risk | CA\ndhl_restricted_destination | CB\ndhl_security_validation\
        \ | CC\ndhl_secure_protection | CD\ndhl_proof_of_identity | CE\ndhl_secure_storage\
        \ | CF\ndhl_diplomatic_material | CG\ndhl_smart_sensor | CH\ndhl_visa_program\
        \ | CI\ndhl_onboard_courier | CJ\ndhl_secure_safebox | CK\ndhl_smart_sentry\
        \ | CL\ndhl_split_duties_and_tax | DC\ndhl_duties_and_taxes_paid | DD\ndhl_receiver_paid\
        \ | DE\ndhl_duties_and_taxes_unpaid | DS\ndhl_import_billing | DT\ndhl_importer_of_record\
        \ | DU\ndhl_go_green_carbon_neutral | EA\ndhl_go_green_carbon_footprint |\
        \ EB\ndhl_go_green_carbon_estimate | EC\ndhl_fuel_surcharge_b | FB\ndhl_fuel_surcharge_c\
        \ | FC\ndhl_fuel_surcharge_f | FF\ndhl_smartphone_box | GA\ndhl_laptop_box\
        \ | GB\ndhl_bottle_box | GC\ndhl_repacking | GD\ndhl_tablet_box | GE\ndhl_filler_material\
        \ | GF\ndhl_packaging | GG\ndhl_diplomatic_bag | GH\ndhl_pallet_box | GI\n\
        dhl_lock_box | GJ\ndhl_lithium_ion_pi965_section_ii | HB\ndhl_dry_ice_un1845\
        \ | HC\ndhl_lithium_ion_pi965_966_section_ii | HD\ndhl_dangerous_goods | HE\n\
        dhl_perishable_cargo | HG\ndhl_excepted_quantity | HH\ndhl_spill_cleaning\
        \ | HI\ndhl_consumer_commodities | HK\ndhl_limited_quantities_adr | HL\ndhl_lithium_metal_pi969_section_ii\
        \ | HM\ndhl_adr_load_exemption | HN\ndhl_lithium_ion_pi967_section_ii | HV\n\
        dhl_lithium_metal_pi970_section_ii | HW\ndhl_biological_un3373 | HY\ndhl_extended_liability\
        \ | IB\ndhl_contract_insurance | IC\ndhl_shipment_insurance | II\ndhl_delivery_notification\
        \ | JA\ndhl_pickup_notification | JC\ndhl_proactive_tracking | JD\ndhl_performance_reporting\
        \ | JE\ndhl_prealert_notification | JY\ndhl_change_of_billing | KA\ndhl_cash_on_delivery\
        \ | KB\ndhl_printed_invoice | KD\ndhl_waybill_copy | KE\ndhl_import_paperwork\
        \ | KF\ndhl_payment_on_pickup | KY\ndhl_shipment_intercept | LA\ndhl_shipment_redirect\
        \ | LC\ndhl_storage_at_facility | LE\ndhl_cold_storage | LG\ndhl_specific_routing\
        \ | LH\ndhl_service_recovery | LV\ndhl_alternative_address | LW\ndhl_hold_for_collection\
        \ | LX\ndhl_address_correction_a | MA\ndhl_address_correction_b | MB\ndhl_neutral_delivery\
        \ | NN\ndhl_remote_area_pickup | OB\ndhl_remote_area_delivery_c | OC\ndhl_out_of_service_area\
        \ | OE\ndhl_remote_area_delivery_o | OO\ndhl_shipment_preparation | PA\ndhl_shipment_labeling\
        \ | PB\ndhl_shipment_consolidation | PC\ndhl_relabeling_data_entry | PD\n\
        dhl_preprinted_waybill | PE\ndhl_piece_labelling | PS\ndhl_data_staging_03\
        \ | PT\ndhl_data_staging_06 | PU\ndhl_data_staging_12 | PV\ndhl_data_staging_24\
        \ | PW\ndhl_standard_pickup | PX\ndhl_scheduled_pickup | PY\ndhl_dedicated_pickup\
        \ | QA\ndhl_early_pickup | QB\ndhl_late_pickup | QD\ndhl_residential_pickup\
        \ | QE\ndhl_loading_waiting | QF\ndhl_bypass_injection | QH\ndhl_direct_injection\
        \ | QI\ndhl_drop_off_at_facility | QY\ndhl_delivery_signature | SA\ndhl_content_signature\
        \ | SB\ndhl_named_signature | SC\ndhl_adult_signature | SD\ndhl_contract_signature\
        \ | SE\ndhl_alternative_signature | SW\ndhl_no_signature_required | SX\ndhl_dedicated_delivery\
        \ | TA\ndhl_early_delivery | TB\ndhl_time_window_delivery | TC\ndhl_evening_delivery\
        \ | TD\ndhl_delivery_on_appointment | TE\ndhl_return_undeliverable | TG\n\
        dhl_swap_delivery | TH\ndhl_unloading_waiting | TJ\ndhl_residential_delivery\
        \ | TK\ndhl_repeat_delivery | TN\ndhl_alternative_date | TT\ndhl_no_partial_delivery\
        \ | TU\ndhl_service_point_24_7 | TV\ndhl_pre_9_00 | TW\ndhl_pre_10_30 | TX\n\
        dhl_pre_12_00 | TY\ndhl_thermo_packaging | UA\ndhl_ambient_vialsafe | UB\n\
        dhl_ambient_non_insulated | UC\ndhl_ambient_insulated | UD\ndhl_ambient_extreme\
        \ | UE\ndhl_chilled_box_s | UF\ndhl_chilled_box_m | UG\ndhl_chilled_box_l\
        \ | UH\ndhl_frozen_no_ice_s | UI\ndhl_frozen_no_ice_m | UJ\ndhl_frozen_no_ice_l\
        \ | UK\ndhl_frozen_ice_sticks_s | UL\ndhl_frozen_ice_sticks_m | UM\ndhl_frozen_ice_sticks_l\
        \ | UN\ndhl_frozen_ice_plates_s | UO\ndhl_frozen_ice_plates_m | UP\ndhl_frozen_ice_plates_l\
        \ | UQ\ndhl_combination_no_ice | UR\ndhl_combination_dry_ice | US\ndhl_frozen_ice_sticks_e\
        \ | UT\ndhl_frozen_ice_plates_e | UV\ndhl_customer_tcp_1 | UW\ndhl_thermo_accessories\
        \ | VA\ndhl_absorbent_sleeve | VB\ndhl_cooland_wrap | VC\ndhl_dry_ice_supplies\
        \ | VD\ndhl_pressure_bag_s | VE\ndhl_pressure_bag_m | VF\ndhl_pressure_bag_l\
        \ | VG\ndhl_informal_clearance | WA\ndhl_formal_clearance | WB\ndhl_payment_deferment\
        \ | WC\ndhl_clearance_authorization | WD\ndhl_multiline_entry | WE\ndhl_post_clearance_modification\
        \ | WF\ndhl_handover_to_broker | WG\ndhl_physical_intervention | WH\ndhl_bio_phyto_veterinary_controls\
        \ | WI\ndhl_obtaining_permits_and_licences | WJ\ndhl_bonded_storage | WK\n\
        dhl_bonded_transit_documents | WL\ndhl_temporary_import_export | WM\ndhl_under_bond_guarantee\
        \ | WN\ndhl_export_declaration | WO\ndhl_exporter_validation | WP\ndhl_certificate_of_origin\
        \ | WQ\ndhl_document_translation | WR\ndhl_personal_effects | WS\ndhl_paperless_trade\
        \ | WY\ndhl_import_export_taxes | XB\ndhl_unrecoverable_origin_tax | XC\n\
        dhl_quarantine_inspection | XD\ndhl_merchandise_process | XE\ndhl_domestic_postal_tax\
        \ | XF\ndhl_tier_two_tax | XG\ndhl_tier_three_tax | XH\ndhl_import_penalty\
        \ | XI\ndhl_cargo_zone_process | XJ\ndhl_import_export_duties | XX\ndhl_premium_09_00\
        \ | Y1\ndhl_premium_10_30 | Y2\ndhl_premium_12_00 | Y3\ndhl_over_sized_piece_b\
        \ | YB\ndhl_over_handled_piece_c | YC\ndhl_multipiece_shipment | YE\ndhl_over_weight_piece_f\
        \ | YF\ndhl_over_sized_piece_g | YG\ndhl_over_handled_piece_h | YH\ndhl_premium_9_00_i\
        \ | YI\ndhl_premium_10_30_j | YJ\ndhl_premium_12_00_k | YK\ndhl_paket_shipment\
        \ | YV\ndhl_breakbulk_mother | YW\ndhl_breakbulk_baby | YX\ndhl_over_weight_piece_y\
        \ | YY\ndhl_customer_claim | ZA\ndhl_damage_compensation | ZB\ndhl_loss_compensation\
        \ | ZC\ndhl_customer_rebate | ZD\ndhl_e_com_discount | ZE\n\n</details><br/>\n\
        \n\n### FedEx Express\n\n<details>\n\nCode | Identifier\n--- | ---\nfedex_blind_shipment\
        \ | BLIND_SHIPMENT\nfedex_broker_select_option | BROKER_SELECT_OPTION\nfedex_call_before_delivery\
        \ | CALL_BEFORE_DELIVERY\nfedex_cod | COD\nfedex_cod_remittance | COD_REMITTANCE\n\
        fedex_custom_delivery_window | CUSTOM_DELIVERY_WINDOW\nfedex_cut_flowers |\
        \ CUT_FLOWERS\nfedex_dangerous_goods | DANGEROUS_GOODS\nfedex_delivery_on_invoice_acceptance\
        \ | DELIVERY_ON_INVOICE_ACCEPTANCE\nfedex_detention | DETENTION\nfedex_do_not_break_down_pallets\
        \ | DO_NOT_BREAK_DOWN_PALLETS\nfedex_do_not_stack_pallets | DO_NOT_STACK_PALLETS\n\
        fedex_dry_ice | DRY_ICE\nfedex_east_coast_special | EAST_COAST_SPECIAL\nfedex_electronic_trade_documents\
        \ | ELECTRONIC_TRADE_DOCUMENTS\nfedex_event_notification | EVENT_NOTIFICATION\n\
        fedex_exclude_from_consolidation | EXCLUDE_FROM_CONSOLIDATION\nfedex_exclusive_use\
        \ | EXCLUSIVE_USE\nfedex_exhibition_delivery | EXHIBITION_DELIVERY\nfedex_exhibition_pickup\
        \ | EXHIBITION_PICKUP\nfedex_expedited_alternate_delivery_route | EXPEDITED_ALTERNATE_DELIVERY_ROUTE\n\
        fedex_expedited_one_day_earlier | EXPEDITED_ONE_DAY_EARLIER\nfedex_expedited_service_monitoring_and_delivery\
        \ | EXPEDITED_SERVICE_MONITORING_AND_DELIVERY\nfedex_expedited_standard_day_early_delivery\
        \ | EXPEDITED_STANDARD_DAY_EARLY_DELIVERY\nfedex_extra_labor | EXTRA_LABOR\n\
        fedex_extreme_length | EXTREME_LENGTH\nfedex_one_rate | FEDEX_ONE_RATE\nfedex_flatbed_trailer\
        \ | FLATBED_TRAILER\nfedex_food | FOOD\nfedex_freight_guarantee | FREIGHT_GUARANTEE\n\
        fedex_freight_to_collect | FREIGHT_TO_COLLECT\nfedex_future_day_shipment |\
        \ FUTURE_DAY_SHIPMENT\nfedex_hold_at_location | HOLD_AT_LOCATION\nfedex_holiday_delivery\
        \ | HOLIDAY_DELIVERY\nfedex_holiday_guarantee | HOLIDAY_GUARANTEE\nfedex_home_delivery_premium\
        \ | HOME_DELIVERY_PREMIUM\nfedex_inside_delivery | INSIDE_DELIVERY\nfedex_inside_pickup\
        \ | INSIDE_PICKUP\nfedex_international_controlled_export_service | INTERNATIONAL_CONTROLLED_EXPORT_SERVICE\n\
        fedex_international_mail_service | INTERNATIONAL_MAIL_SERVICE\nfedex_international_traffic_in_arms_regulations\
        \ | INTERNATIONAL_TRAFFIC_IN_ARMS_REGULATIONS\nfedex_liftgate_delivery | LIFTGATE_DELIVERY\n\
        fedex_liftgate_pickup | LIFTGATE_PICKUP\nfedex_limited_access_delivery | LIMITED_ACCESS_DELIVERY\n\
        fedex_limited_access_pickup | LIMITED_ACCESS_PICKUP\nfedex_marking_or_tagging\
        \ | MARKING_OR_TAGGING\nfedex_non_business_time | NON_BUSINESS_TIME\nfedex_pallet_shrinkwrap\
        \ | PALLET_SHRINKWRAP\nfedex_pallet_weight_allowance | PALLET_WEIGHT_ALLOWANCE\n\
        fedex_pallets_provided | PALLETS_PROVIDED\nfedex_pending_complete | PENDING_COMPLETE\n\
        fedex_pending_shipment | PENDING_SHIPMENT\nfedex_permit | PERMIT\nfedex_pharmacy_delivery\
        \ | PHARMACY_DELIVERY\nfedex_poison | POISON\nfedex_port_delivery | PORT_DELIVERY\n\
        fedex_port_pickup | PORT_PICKUP\nfedex_pre_delivery_notification | PRE_DELIVERY_NOTIFICATION\n\
        fedex_pre_eig_processing | PRE_EIG_PROCESSING\nfedex_pre_multiplier_processing\
        \ | PRE_MULTIPLIER_PROCESSING\nfedex_protection_from_freezing | PROTECTION_FROM_FREEZING\n\
        fedex_regional_mall_delivery | REGIONAL_MALL_DELIVERY\nfedex_regional_mall_pickup\
        \ | REGIONAL_MALL_PICKUP\nfedex_return_shipment | RETURN_SHIPMENT\nfedex_returns_clearance\
        \ | RETURNS_CLEARANCE\nfedex_returns_clearance_special_routing_required |\
        \ RETURNS_CLEARANCE_SPECIAL_ROUTING_REQUIRED\nfedex_saturday_delivery | SATURDAY_DELIVERY\n\
        fedex_saturday_pickup | SATURDAY_PICKUP\nfedex_shipment_assembly | SHIPMENT_ASSEMBLY\n\
        fedex_sort_and_segregate | SORT_AND_SEGREGATE\nfedex_special_delivery | SPECIAL_DELIVERY\n\
        fedex_special_equipment | SPECIAL_EQUIPMENT\nfedex_storage | STORAGE\nfedex_sunday_delivery\
        \ | SUNDAY_DELIVERY\nfedex_third_party_consignee | THIRD_PARTY_CONSIGNEE\n\
        fedex_top_load | TOP_LOAD\nfedex_usps_delivery | USPS_DELIVERY\nfedex_usps_pickup\
        \ | USPS_PICKUP\nfedex_weighing | WEIGHING\n\n</details><br/>\n\n\n### Purolator\
        \ Courier\n\n<details>\n\nCode | Identifier\n--- | ---\npurolator_dangerous_goods\
        \ | Dangerous Goods\npurolator_chain_of_signature | Chain of Signature\npurolator_express_cheque\
        \ | ExpressCheque\npurolator_hold_for_pickup | Hold For Pickup\npurolator_return_services\
        \ | Return Services\npurolator_saturday_service | Saturday Service\npurolator_origin_signature_not_required\
        \ | Origin Signature Not Required (OSNR)\npurolator_adult_signature_required\
        \ | Adult Signature Required (ASR)\npurolator_special_handling | Special Handling\n\
        \n</details><br/>\n\n\n### UPS Package\n\n<details>\n\nCode | Identifier\n\
        --- | ---\nups_saturday_delivery_indicator | SaturdayDeliveryIndicator\nups_access_point_cod\
        \ | AccessPointCOD\nups_deliver_to_addressee_only_indicator | DeliverToAddresseeOnlyIndicator\n\
        ups_direct_delivery_only_indicator | DirectDeliveryOnlyIndicator\nups_cod\
        \ | COD\nups_delivery_confirmation | DeliveryConfirmation\nups_return_of_document_indicator\
        \ | ReturnOfDocumentIndicator\nups_up_scarbonneutral_indicator | UPScarbonneutralIndicator\n\
        ups_certificate_of_origin_indicator | CertificateOfOriginIndicator\nups_pickup_options\
        \ | PickupOptions\nups_delivery_options | DeliveryOptions\nups_restricted_articles\
        \ | RestrictedArticles\nups_shipper_export_declaration_indicator | ShipperExportDeclarationIndicator\n\
        ups_commercial_invoice_removal_indicator | CommercialInvoiceRemovalIndicator\n\
        ups_import_control | ImportControl\nups_return_service | ReturnService\nups_sdl_shipment_indicator\
        \ | SDLShipmentIndicator\nups_epra_indicator | EPRAIndicator\n\n</details><br/>\n\
        \n\n### Freightcom\n\n<details>\n\nCode | Identifier\n--- | ---\nfreightcom_saturday_pickup_required\
        \ | saturdayPickupRequired\nfreightcom_homeland_security | homelandSecurity\n\
        freightcom_exhibition_convention_site | exhibitionConventionSite\nfreightcom_military_base_delivery\
        \ | militaryBaseDelivery\nfreightcom_customs_in_bond_freight | customsIn_bondFreight\n\
        freightcom_limited_access | limitedAccess\nfreightcom_excess_length | excessLength\n\
        freightcom_tailgate_pickup | tailgatePickup\nfreightcom_residential_pickup\
        \ | residentialPickup\nfreightcom_cross_border_fee | crossBorderFee\nfreightcom_notify_recipient\
        \ | notifyRecipient\nfreightcom_single_shipment | singleShipment\nfreightcom_tailgate_delivery\
        \ | tailgateDelivery\nfreightcom_residential_delivery | residentialDelivery\n\
        freightcom_insurance_type | insuranceType\nfreightcom_inside_delivery | insideDelivery\n\
        freightcom_is_saturday_service | isSaturdayService\nfreightcom_dangerous_goods_type\
        \ | dangerousGoodsType\nfreightcom_stackable | stackable\n\n</details><br/>\n\
        \n\n### eShipper\n\n<details>\n\nCode | Identifier\n--- | ---\neshipper_saturday_pickup_required\
        \ | saturdayPickupRequired\neshipper_homeland_security | homelandSecurity\n\
        eshipper_exhibition_convention_site | exhibitionConventionSite\neshipper_military_base_delivery\
        \ | militaryBaseDelivery\neshipper_customs_in_bond_freight | customsIn_bondFreight\n\
        eshipper_limited_access | limitedAccess\neshipper_excess_length | excessLength\n\
        eshipper_tailgate_pickup | tailgatePickup\neshipper_residential_pickup | residentialPickup\n\
        eshipper_cross_border_fee | crossBorderFee\neshipper_notify_recipient | notifyRecipient\n\
        eshipper_single_shipment | singleShipment\neshipper_tailgate_delivery | tailgateDelivery\n\
        eshipper_residential_delivery | residentialDelivery\neshipper_insurance_type\
        \ | insuranceType\neshipper_inside_delivery | insideDelivery\neshipper_is_saturday_service\
        \ | isSaturdayService\neshipper_dangerous_goods_type | dangerousGoodsType\n\
        eshipper_stackable | stackable\n\n</details><br/>\n\n\n</details><br/>\n\n\
        \n## Shipment Services\n\n<details>\n\n\n### Canada Post\n\n<details>\n\n\
        Code | Identifier\n--- | ---\ncanadapost_regular_parcel | DOM.RP\ncanadapost_expedited_parcel\
        \ | DOM.EP\ncanadapost_xpresspost | DOM.XP\ncanadapost_priority | DOM.PC\n\
        canadapost_library_books | DOM.LIB\ncanadapost_expedited_parcel_usa | USA.EP\n\
        canadapost_priority_worldwide_envelope_usa | USA.PW.ENV\ncanadapost_priority_worldwide_pak_usa\
        \ | USA.PW.PAK\ncanadapost_priority_worldwide_parcel_usa | USA.PW.PARCEL\n\
        canadapost_small_packet_usa_air | USA.SP.AIR\ncanadapost_tracked_packet_usa\
        \ | USA.TP\ncanadapost_tracked_packet_usa_lvm | USA.TP.LVM\ncanadapost_xpresspost_usa\
        \ | USA.XP\ncanadapost_xpresspost_international | INT.XP\ncanadapost_international_parcel_air\
        \ | INT.IP.AIR\ncanadapost_international_parcel_surface | INT.IP.SURF\ncanadapost_priority_worldwide_envelope_intl\
        \ | INT.PW.ENV\ncanadapost_priority_worldwide_pak_intl | INT.PW.PAK\ncanadapost_priority_worldwide_parcel_intl\
        \ | INT.PW.PARCEL\ncanadapost_small_packet_international_air | INT.SP.AIR\n\
        canadapost_small_packet_international_surface | INT.SP.SURF\ncanadapost_tracked_packet_international\
        \ | INT.TP\n\n</details><br/>\n\n\n### DHL Express\n\n<details>\n\nCode |\
        \ Identifier\n--- | ---\ndhl_logistics_services | LOGISTICS SERVICES\ndhl_domestic_express_12_00_doc\
        \ | DOMESTIC EXPRESS 12:00 DOC\ndhl_b2_c_doc | B2C DOC\ndhl_b2_c_nondoc |\
        \ B2C NONDOC\ndhl_jetline | JETLINE\ndhl_sprintline | SPRINTLINE\ndhl_express_easy_doc\
        \ | EXPRESS EASY DOC\ndhl_express_easy_nondoc | EXPRESS EASY NONDOC\ndhl_europack_doc\
        \ | EUROPACK DOC\ndhl_auto_reversals | AUTO REVERSALS\ndhl_breakbulk_express_doc\
        \ | BREAKBULK EXPRESS DOC\ndhl_medical_express_doc | MEDICAL EXPRESS DOC\n\
        dhl_express_worldwide_doc | EXPRESS WORLDWIDE DOC\ndhl_express_9_00_nondoc\
        \ | EXPRESS 9:00 NONDOC\ndhl_freight_worldwide_nondoc | FREIGHT WORLDWIDE\
        \ NONDOC\ndhl_domestic_economy_select_doc | DOMESTIC ECONOMY SELECT DOC\n\
        dhl_economy_select_nondoc | ECONOMY SELECT NONDOC\ndhl_domestic_express_9_00_doc\
        \ | DOMESTIC EXPRESS 9:00 DOC\ndhl_jumbo_box_nondoc | JUMBO BOX NONDOC\ndhl_express_9_00_doc\
        \ | EXPRESS 9:00 DOC\ndhl_express_10_30_doc | EXPRESS 10:30 DOC\ndhl_express_10_30_nondoc\
        \ | EXPRESS 10:30 NONDOC\ndhl_domestic_express_doc | DOMESTIC EXPRESS DOC\n\
        dhl_domestic_express_10_30_doc | DOMESTIC EXPRESS 10:30 DOC\ndhl_express_worldwide_nondoc\
        \ | EXPRESS WORLDWIDE NONDOC\ndhl_medical_express_nondoc | MEDICAL EXPRESS\
        \ NONDOC\ndhl_globalmail_business_doc | GLOBALMAIL BUSINESS DOC\ndhl_same_day_doc\
        \ | SAME DAY DOC\ndhl_express_12_00_doc | EXPRESS 12:00 DOC\ndhl_europack_nondoc\
        \ | EUROPACK NONDOC\ndhl_economy_select_doc | ECONOMY SELECT DOC\ndhl_express_envelope_doc\
        \ | EXPRESS ENVELOPE DOC\ndhl_express_12_00_nondoc | EXPRESS 12:00 NONDOC\n\
        dhl_destination_charges | Destination Charges\n\n</details><br/>\n\n\n###\
        \ FedEx Express\n\n<details>\n\nCode | Identifier\n--- | ---\nfedex_europe_first_international_priority\
        \ | EUROPE_FIRST_INTERNATIONAL_PRIORITY\nfedex_1_day_freight | FEDEX_1_DAY_FREIGHT\n\
        fedex_2_day | FEDEX_2_DAY\nfedex_2_day_am | FEDEX_2_DAY_AM\nfedex_2_day_freight\
        \ | FEDEX_2_DAY_FREIGHT\nfedex_3_day_freight | FEDEX_3_DAY_FREIGHT\nfedex_cargo_airport_to_airport\
        \ | FEDEX_CARGO_AIRPORT_TO_AIRPORT\nfedex_cargo_freight_forwarding | FEDEX_CARGO_FREIGHT_FORWARDING\n\
        fedex_cargo_international_express_freight | FEDEX_CARGO_INTERNATIONAL_EXPRESS_FREIGHT\n\
        fedex_cargo_international_premium | FEDEX_CARGO_INTERNATIONAL_PREMIUM\nfedex_cargo_mail\
        \ | FEDEX_CARGO_MAIL\nfedex_cargo_registered_mail | FEDEX_CARGO_REGISTERED_MAIL\n\
        fedex_cargo_surface_mail | FEDEX_CARGO_SURFACE_MAIL\nfedex_custom_critical_air_expedite\
        \ | FEDEX_CUSTOM_CRITICAL_AIR_EXPEDITE\nfedex_custom_critical_air_expedite_exclusive_use\
        \ | FEDEX_CUSTOM_CRITICAL_AIR_EXPEDITE_EXCLUSIVE_USE\nfedex_custom_critical_air_expedite_network\
        \ | FEDEX_CUSTOM_CRITICAL_AIR_EXPEDITE_NETWORK\nfedex_custom_critical_charter_air\
        \ | FEDEX_CUSTOM_CRITICAL_CHARTER_AIR\nfedex_custom_critical_point_to_point\
        \ | FEDEX_CUSTOM_CRITICAL_POINT_TO_POINT\nfedex_custom_critical_surface_expedite\
        \ | FEDEX_CUSTOM_CRITICAL_SURFACE_EXPEDITE\nfedex_custom_critical_surface_expedite_exclusive_use\
        \ | FEDEX_CUSTOM_CRITICAL_SURFACE_EXPEDITE_EXCLUSIVE_USE\nfedex_custom_critical_temp_assure_air\
        \ | FEDEX_CUSTOM_CRITICAL_TEMP_ASSURE_AIR\nfedex_custom_critical_temp_assure_validated_air\
        \ | FEDEX_CUSTOM_CRITICAL_TEMP_ASSURE_VALIDATED_AIR\nfedex_custom_critical_white_glove_services\
        \ | FEDEX_CUSTOM_CRITICAL_WHITE_GLOVE_SERVICES\nfedex_distance_deferred |\
        \ FEDEX_DISTANCE_DEFERRED\nfedex_express_saver | FEDEX_EXPRESS_SAVER\nfedex_first_freight\
        \ | FEDEX_FIRST_FREIGHT\nfedex_freight_economy | FEDEX_FREIGHT_ECONOMY\nfedex_freight_priority\
        \ | FEDEX_FREIGHT_PRIORITY\nfedex_ground | FEDEX_GROUND\nfedex_international_priority_plus\
        \ | FEDEX_INTERNATIONAL_PRIORITY_PLUS\nfedex_next_day_afternoon | FEDEX_NEXT_DAY_AFTERNOON\n\
        fedex_next_day_early_morning | FEDEX_NEXT_DAY_EARLY_MORNING\nfedex_next_day_end_of_day\
        \ | FEDEX_NEXT_DAY_END_OF_DAY\nfedex_next_day_freight | FEDEX_NEXT_DAY_FREIGHT\n\
        fedex_next_day_mid_morning | FEDEX_NEXT_DAY_MID_MORNING\nfedex_first_overnight\
        \ | FIRST_OVERNIGHT\nfedex_ground_home_delivery | GROUND_HOME_DELIVERY\nfedex_international_distribution_freight\
        \ | INTERNATIONAL_DISTRIBUTION_FREIGHT\nfedex_international_economy | INTERNATIONAL_ECONOMY\n\
        fedex_international_economy_distribution | INTERNATIONAL_ECONOMY_DISTRIBUTION\n\
        fedex_international_economy_freight | INTERNATIONAL_ECONOMY_FREIGHT\nfedex_international_first\
        \ | INTERNATIONAL_FIRST\nfedex_international_ground | INTERNATIONAL_GROUND\n\
        fedex_international_priority | INTERNATIONAL_PRIORITY\nfedex_international_priority_distribution\
        \ | INTERNATIONAL_PRIORITY_DISTRIBUTION\nfedex_international_priority_express\
        \ | INTERNATIONAL_PRIORITY_EXPRESS\nfedex_international_priority_freight |\
        \ INTERNATIONAL_PRIORITY_FREIGHT\nfedex_priority_overnight | PRIORITY_OVERNIGHT\n\
        fedex_same_day | SAME_DAY\nfedex_same_day_city | SAME_DAY_CITY\nfedex_same_day_metro_afternoon\
        \ | SAME_DAY_METRO_AFTERNOON\nfedex_same_day_metro_morning | SAME_DAY_METRO_MORNING\n\
        fedex_same_day_metro_rush | SAME_DAY_METRO_RUSH\nfedex_smart_post | SMART_POST\n\
        fedex_standard_overnight | STANDARD_OVERNIGHT\nfedex_transborder_distribution_consolidation\
        \ | TRANSBORDER_DISTRIBUTION_CONSOLIDATION\n\n</details><br/>\n\n\n### Purolator\
        \ Courier\n\n<details>\n\nCode | Identifier\n--- | ---\npurolator_express_9_am\
        \ | PurolatorExpress9AM\npurolator_express_us | PurolatorExpressU.S.\npurolator_express_10_30_am\
        \ | PurolatorExpress10:30AM\npurolator_express_us_9_am | PurolatorExpressU.S.9AM\n\
        purolator_express_12_pm | PurolatorExpress12PM\npurolator_express_us_10_30_am\
        \ | PurolatorExpressU.S.10:30AM\npurolator_express | PurolatorExpress\npurolator_express_us_12_00\
        \ | PurolatorExpressU.S.12:00\npurolator_express_evening | PurolatorExpressEvening\n\
        purolator_express_envelope_us | PurolatorExpressEnvelopeU.S.\npurolator_express_envelope_9_am\
        \ | PurolatorExpressEnvelope9AM\npurolator_express_us_envelope_9_am | PurolatorExpressU.S.Envelope9AM\n\
        purolator_express_envelope_10_30_am | PurolatorExpressEnvelope10:30AM\npurolator_express_us_envelope_10_30_am\
        \ | PurolatorExpressU.S.Envelope10:30AM\npurolator_express_envelope_12_pm\
        \ | PurolatorExpressEnvelope12PM\npurolator_express_us_envelope_12_00 | PurolatorExpressU.S.Envelope12:00\n\
        purolator_express_envelope | PurolatorExpressEnvelope\npurolator_express_pack_us\
        \ | PurolatorExpressPackU.S.\npurolator_express_envelope_evening | PurolatorExpressEnvelopeEvening\n\
        purolator_express_us_pack_9_am | PurolatorExpressU.S.Pack9AM\npurolator_express_pack_9_am\
        \ | PurolatorExpressPack9AM\npurolator_express_us_pack_10_30_am | PurolatorExpressU.S.Pack10:30AM\n\
        purolator_express_pack10_30_am | PurolatorExpressPack10:30AM\npurolator_express_us_pack_12_00\
        \ | PurolatorExpressU.S.Pack12:00\npurolator_express_pack_12_pm | PurolatorExpressPack12PM\n\
        purolator_express_box_us | PurolatorExpressBoxU.S.\npurolator_express_pack\
        \ | PurolatorExpressPack\npurolator_express_us_box_9_am | PurolatorExpressU.S.Box9AM\n\
        purolator_express_pack_evening | PurolatorExpressPackEvening\npurolator_express_us_box_10_30_am\
        \ | PurolatorExpressU.S.Box10:30AM\npurolator_express_box_9_am | PurolatorExpressBox9AM\n\
        purolator_express_us_box_12_00 | PurolatorExpressU.S.Box12:00\npurolator_express_box_10_30_am\
        \ | PurolatorExpressBox10:30AM\npurolator_ground_us | PurolatorGroundU.S.\n\
        purolator_express_box_12_pm | PurolatorExpressBox12PM\npurolator_express_international\
        \ | PurolatorExpressInternational\npurolator_express_box | PurolatorExpressBox\n\
        purolator_express_international_9_am | PurolatorExpressInternational9AM\n\
        purolator_express_box_evening | PurolatorExpressBoxEvening\npurolator_express_international_10_30_am\
        \ | PurolatorExpressInternational10:30AM\npurolator_ground | PurolatorGround\n\
        purolator_express_international_12_00 | PurolatorExpressInternational12:00\n\
        purolator_ground9_am | PurolatorGround9AM\npurolator_express_envelope_international\
        \ | PurolatorExpressEnvelopeInternational\npurolator_ground10_30_am | PurolatorGround10:30AM\n\
        purolator_express_international_envelope_9_am | PurolatorExpressInternationalEnvelope9AM\n\
        purolator_ground_evening | PurolatorGroundEvening\npurolator_express_international_envelope_10_30_am\
        \ | PurolatorExpressInternationalEnvelope10:30AM\npurolator_quick_ship | PurolatorQuickShip\n\
        purolator_express_international_envelope_12_00 | PurolatorExpressInternationalEnvelope12:00\n\
        purolator_quick_ship_envelope | PurolatorQuickShipEnvelope\npurolator_express_pack_international\
        \ | PurolatorExpressPackInternational\npurolator_quick_ship_pack | PurolatorQuickShipPack\n\
        purolator_express_international_pack_9_am | PurolatorExpressInternationalPack9AM\n\
        purolator_quick_ship_box | PurolatorQuickShipBox\npurolator_express_international_pack_10_30_am\
        \ | PurolatorExpressInternationalPack10:30AM\npurolator_express_international_pack_12_00\
        \ | PurolatorExpressInternationalPack12:00\npurolator_express_box_international\
        \ | PurolatorExpressBoxInternational\npurolator_express_international_box_9_am\
        \ | PurolatorExpressInternationalBox9AM\npurolator_express_international_box_10_30_am\
        \ | PurolatorExpressInternationalBox10:30AM\npurolator_express_international_box_12_00\
        \ | PurolatorExpressInternationalBox12:00\n\n</details><br/>\n\n\n### UPS\
        \ Package\n\n<details>\n\nCode | Identifier\n--- | ---\nups_standard | 11\n\
        ups_worldwide_expedited | 08\nups_worldwide_express | 07\nups_worldwide_express_plus\
        \ | 54\nups_worldwide_saver | 65\nups_2nd_day_air | 02\nups_2nd_day_air_am\
        \ | 59\nups_3_day_select | 12\nups_expedited_mail_innovations | M4\nups_first_class_mail\
        \ | M2\nups_ground | 03\nups_next_day_air | 01\nups_next_day_air_early | 14\n\
        ups_next_day_air_saver | 13\nups_priority_mail | M3\nups_access_point_economy\
        \ | 70\nups_today_dedicated_courier | 83\nups_today_express | 85\nups_today_express_saver\
        \ | 86\nups_today_standard | 82\nups_worldwide_express_freight | 96\nups_priority_mail_innovations\
        \ | M5\nups_economy_mail_innovations | M6\n\n</details><br/>\n\n\n### Freightcom\n\
        \n<details>\n\nCode | Identifier\n--- | ---\nfreightcom_central_transport\
        \ | 2029\nfreigthcom_estes | 2107\nfreigthcom_usf_holland | 1911\nfreightcom_dicom_ground\
        \ | 3700\nfreightcom_ground | 3400\nfreightcom_select | 3404\nfreightcom_overnight\
        \ | 3407\nfreightcom_purolator_ground | 4000\nfreightcom_purolator_express\
        \ | 4003\nfreightcom_purolator_express_9_am | 4004\nfreightcom_purolator_express_10_30_am\
        \ | 4005\nfreightcom_fedex_express_saver | 4100\nfreightcom_fedex_ground |\
        \ 4101\nfreightcom_fedex_2_day | 4102\nfreightcom_fedex_priority_overnight\
        \ | 4104\nfreightcom_fedex_standard_overnight | 4105\nfreightcom_fedex_first_overnight\
        \ | 4106\nfreightcom_fedex_international_economy | 4109\nfreightcom_ups_standard\
        \ | 4600\nfreightcom_ups_expedited | 4601\nfreightcom_ups_express_saver |\
        \ 4602\nfreightcom_ups_express | 4603\nfreightcom_ups_express_early | 4604\n\
        freightcom_ups_3_day_select | 4605\nfreightcom_ups_worldwide_expedited | 4606\n\
        freightcom_ups_worldwide_express | 4607\nfreightcom_fedex_international_priority\
        \ | 4108\nfreightcom_ups_worldwide_express_saver | 4609\nfreightcom_purolator_ground_us\
        \ | 4016\nfreightcom_purolator_express_us | 4015\nfreightcom_purolator_express_us_10_30_am\
        \ | 4014\nfreightcom_ups_worldwide_express_plus | 4608\nfreightcom_purolator_express_us_9_am\
        \ | 4013\nfreightcom_express_easy | 5202\nfreightcom_express_10_30 | 5208\n\
        freightcom_express_worldwide | 5211\nfreightcom_express_12_00 | 5215\nfreightcom_economy_select\
        \ | 5216\nfreightcom_dayr_e_comm_am_service | 5706\nfreightcom_dayr_e_comm_ground_service\
        \ | 5707\nfreightcom_regular_parcel | 6301\nfreightcom_expedited_parcel |\
        \ 6300\nfreightcom_xpresspost | 6303\nfreightcom_priority | 6302\n\n</details><br/>\n\
        \n\n### eShipper\n\n<details>\n\nCode | Identifier\n--- | ---\neshipper_fedex_priority\
        \ | 1\neshipper_fedex_first_overnight | 2\neshipper_fedex_ground | 3\neshipper_fedex_standard_overnight\
        \ | 28\neshipper_fedex_2nd_day | 29\neshipper_fedex_express_saver | 30\neshipper_fedex_international_economy\
        \ | 35\neshipper_purolator_air | 4\neshipper_purolator_air_9_am | 5\neshipper_purolator_air_10_30\
        \ | 6\neshipper_puro_letter | 7\neshipper_puro_letter_9_am | 8\neshipper_puro_letter_10_30\
        \ | 9\neshipper_puro_pak | 10\neshipper_puro_pak_9_am | 11\neshipper_puro_pak_10_30\
        \ | 12\neshipper_purolator_ground | 13\neshipper_purolator_ground_9_am | 19\n\
        eshipper_purolator_ground_10_30 | 20\neshipper_canada_worldwide_same_day |\
        \ 14\neshipper_canada_worldwide_next_flight_out | 15\neshipper_canada_worldwide_air_freight\
        \ | 16\neshipper_canada_worldwide_ltl | 17\neshipper_dhl_express_worldwide\
        \ | 101\neshipper_dhl_express_12_pm | 103\neshipper_dhl_express_10_30_am |\
        \ 102\neshipper_dhl_esi_export | 104\neshipper_dhl_international_express |\
        \ 106\neshipper_ups_express_next_day_air | 600\neshipper_ups_expedited_second_day_air\
        \ | 601\neshipper_ups_worldwide_express | 602\neshipper_ups_worldwide_expedited\
        \ | 603\neshipper_ups_standard_ground | 604\neshipper_ups_express_early_am_next_day_air_early_am\
        \ | 605\neshipper_ups_three_day_select | 606\neshipper_ups_saver | 607\neshipper_ups_ground\
        \ | 608\neshipper_next_day_saver | 609\neshipper_worldwide_express_plus |\
        \ 610\neshipper_second_day_air_am | 611\neshipper_canada_post_priority | 500\n\
        eshipper_canada_post_xpress_post | 501\neshipper_canada_post_expedited | 502\n\
        eshipper_canada_post_regular | 503\neshipper_canada_post_xpress_post_usa |\
        \ 504\neshipper_canada_post_xpress_post_intl | 505\neshipper_canada_post_air_parcel_intl\
        \ | 506\neshipper_canada_post_surface_parcel_intl | 507\neshipper_canada_post_expedited_parcel_usa\
        \ | 508\neshipper_tst_ltl | 1100\neshipper_ltl_chicago_suburban_express |\
        \ 1500\neshipper_ltl_fedex_freight_east | 1501\neshipper_ltl_fedex_freight_west\
        \ | 1502\neshipper_ltl_mid_states_express | 1503\neshipper_ltl_new_england_motor_freight\
        \ | 1504\neshipper_ltl_new_penn | 1505\neshipper_ltl_oak_harbor | 1506\neshipper_ltl_pitt_ohio\
        \ | 1507\neshipper_ltl_r_l_carriers | 1508\neshipper_ltl_saia | 1509\neshipper_ltl_usf_reddaway\
        \ | 1510\neshipper_ltl_vitran_express | 1511\neshipper_ltl_wilson_trucking\
        \ | 1512\neshipper_ltl_yellow_transportation | 1513\neshipper_ltl_roadway\
        \ | 1514\neshipper_ltl_fedex_national | 1515\neshipper_wilson_trucking_tfc\
        \ | 1800\neshipper_aaa_cooper_transportation | 1801\neshipper_roadrunner_dawes\
        \ | 1802\neshipper_new_england_motor_freight | 1803\neshipper_new_penn_motor_express\
        \ | 1804\neshipper_dayton_freight | 1805\neshipper_southeastern_freightway\
        \ | 1806\neshipper_saia_inc | 1807\neshipper_conway | 1808\neshipper_roadway\
        \ | 1809\neshipper_usf_reddaway | 1810\neshipper_usf_holland | 1811\neshipper_dependable_highway_express\
        \ | 1812\neshipper_day_and_ross | 1813\neshipper_day_and_ross_r_and_l | 1814\n\
        eshipper_ups | 1815\neshipper_aaa_cooper | 1816\neshipper_ama_transportation\
        \ | 1817\neshipper_averitt_express | 1818\neshipper_central_freight | 1819\n\
        eshipper_conway_us | 1820\neshipper_dayton | 1821\neshipper_drug_transport\
        \ | 1822\neshipper_estes | 1823\neshipper_land_air_express | 1824\neshipper_fedex_west\
        \ | 1825\neshipper_fedex_national | 1826\neshipper_usf_holland_us | 1827\n\
        eshipper_lakeville_m_express | 1828\neshipper_milan_express | 1829\neshipper_nebraska_transport\
        \ | 1830\neshipper_new_england | 1831\neshipper_new_penn | 1832\neshipper_a_duie_pyle\
        \ | 1833\neshipper_roadway_us | 1834\neshipper_usf_reddaway_us | 1835\neshipper_rhody_transportation\
        \ | 1836\neshipper_saia_motor_freight | 1837\neshipper_southeastern_frgt |\
        \ 1838\neshipper_pitt_ohio | 1839\neshipper_ward | 1840\neshipper_wilson |\
        \ 1841\neshipper_chi_cargo | 1842\neshipper_tax_air | 1843\neshipper_fedex_east\
        \ | 1844\neshipper_central_transport | 1845\neshipper_roadrunner | 1846\n\
        eshipper_r_and_l_carriers | 1847\neshipper_estes_us | 1848\neshipper_yrc_roadway\
        \ | 1849\neshipper_central_transport_us | 1850\neshipper_absolute_transportation_services\
        \ | 1851\neshipper_blue_sky_express | 1852\neshipper_galasso_trucking | 1853\n\
        eshipper_griley_air_freight | 1854\neshipper_jet_transportation | 1855\neshipper_metro_transportation_logistics\
        \ | 1856\neshipper_oak_harbor | 1857\neshipper_stream_links_express | 1858\n\
        eshipper_tiffany_trucking | 1859\neshipper_ups_freight | 1860\neshipper_roadrunner_us\
        \ | 1861\neshipper_global_mail_parcel_priority | 3500\neshipper_global_mail_parcel_standard\
        \ | 3501\neshipper_global_mail_packet_plus_priority | 3502\neshipper_global_mail_packet_priority\
        \ | 3503\neshipper_global_mail_packet_standard | 3504\neshipper_global_mail_business_priority\
        \ | 3505\neshipper_global_mail_business_standard | 3506\neshipper_global_mail_parcel_direct_priority\
        \ | 3507\neshipper_global_mail_parcel_direct_standard | 3508\neshipper_ground\
        \ | 4500\neshipper_select_parcel | 4504\neshipper_express_parcel | 4507\n\n\
        </details><br/>\n\n\n</details><br/>\n\n"
      operationId: '&&references'
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/References'
  /shipments:
    get:
      tags:
      - Shipments
      summary: List all shipments
      description: Retrieve all shipments.
      operationId: $$$$$list
      parameters:
      - name: limit
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Shipment'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Shipments
      summary: Create a shipment
      description: Create a new shipment instance.
      operationId: $$$$$create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /shipments/{id}:
    get:
      tags:
      - Shipments
      summary: Retrieve a shipment
      description: Retrieve a shipment.
      operationId: $$$$$retrieve
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Shipments
      summary: Cancel a shipment
      description: Void a shipment with the associated label.
      operationId: $$$$$cancel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /shipments/{id}/customs:
    post:
      tags:
      - Shipments
      summary: Add shipment customs declaration
      description: Add the customs declaration for the shipment if non existent.
      operationId: $$$$$add_customs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomsData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /shipments/{id}/options:
    post:
      tags:
      - Shipments
      summary: Add shipment options
      description: |-
        Add one or many options to your shipment.<br/>
        **eg:**<br/>
        - add shipment **insurance**
        - specify the preferred transaction **currency**
        - setup a **cash collected on delivery** option

        ```json
        {
            "insurance": 120,
            "currency": "USD"
        }
        ```

        And many more, check additional options available in the [reference](#operation/all_references).
      operationId: $$$$$set_options
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              title: options
              type: object
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /shipments/{id}/parcels:
    post:
      tags:
      - Shipments
      summary: Add a parcel to a shipment
      description: Add a parcel to an existing shipment for a multi-parcel shipment.
      operationId: $$$$$add_parcel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParcelData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /shipments/{id}/purchase:
    post:
      tags:
      - Shipments
      summary: Buy a shipment label
      description: Select your preferred rates to buy a shipment label.
      operationId: $$$$$purchase
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentPurchaseData'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: data
  /shipments/{id}/rates:
    get:
      tags:
      - Shipments
      summary: Fetch new shipment rates
      description: Refresh the list of the shipment rates
      operationId: $$$$$rates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tracking_status:
    get:
      tags:
      - Tracking
      summary: List all tracking statuses
      description: Retrieve all tracking statuses.
      operationId: $$$$$$statuses
      parameters:
      - name: limit
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrackingStatus'
        400:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tracking_status/{carrier_name}/{tracking_number}:
    get:
      tags:
      - Tracking
      summary: Retrieve a tracking status
      description: |-
        This API retrieves or creates (if non existent) a tracking status object containing the
        details and events of a shipping in progress.
      operationId: $$$$$$retrieve
      parameters:
      - name: carrier_name
        in: path
        required: true
        schema:
          type: string
      - name: tracking_number
        in: path
        required: true
        schema:
          type: string
      - name: test
        in: query
        description: "\nThe test flag indicates whether to use a carrier configured\
          \ for test. \n"
        schema:
          type: boolean
          nullable: true
          default: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingStatus'
        404:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Address:
      required:
      - country_code
      type: object
      properties:
        id:
          title: Id
          minLength: 1
          type: string
          description: A unique identifier
        postal_code:
          title: Postal code
          type: string
          description: |2

            The address postal code

            **(required for shipment purchase)**
          nullable: true
        city:
          title: City
          type: string
          description: |2

            The address city.

            **(required for shipment purchase)**
          nullable: true
        federal_tax_id:
          title: Federal tax id
          type: string
          description: The party frederal tax id
          nullable: true
        state_tax_id:
          title: State tax id
          type: string
          description: The party state id
          nullable: true
        person_name:
          title: Person name
          type: string
          description: |2

            attention to

            **(required for shipment purchase)**
          nullable: true
        company_name:
          title: Company name
          type: string
          description: The company name if the party is a company
          nullable: true
        country_code:
          title: Country code
          type: string
          description: The address country code
          enum:
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AR
          - AS
          - AT
          - AU
          - AW
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BM
          - BN
          - BO
          - BR
          - BS
          - BT
          - BW
          - BY
          - BZ
          - CA
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CU
          - CV
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - ER
          - ES
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GT
          - GU
          - GW
          - GY
          - HK
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IN
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KV
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NG
          - NI
          - NL
          - NO
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PR
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SG
          - SH
          - SI
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SV
          - SY
          - SZ
          - TC
          - TD
          - TG
          - TH
          - TJ
          - TL
          - TN
          - TO
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WS
          - XB
          - XC
          - XE
          - XM
          - XN
          - XS
          - XY
          - YE
          - YT
          - ZA
          - ZM
          - ZW
        email:
          title: Email
          type: string
          description: The party email
          nullable: true
        phone_number:
          title: Phone number
          type: string
          description: The party phone number.
          nullable: true
        state_code:
          title: State code
          type: string
          description: The address state code
          nullable: true
        suburb:
          title: Suburb
          type: string
          description: The address suburb if known
          nullable: true
        residential:
          title: Residential
          type: boolean
          description: Indicate if the address is residential or commercial (enterprise)
          nullable: true
          default: false
        address_line1:
          title: Address line1
          type: string
          description: |2

            The address line with street number <br/>
            **(required for shipment purchase)**
          nullable: true
        address_line2:
          title: Address line2
          type: string
          description: The address line with suite number
          nullable: true
    Message:
      required:
      - carrier_id
      - carrier_name
      type: object
      properties:
        carrier_name:
          title: Carrier name
          minLength: 1
          type: string
          description: The targeted carrier
        carrier_id:
          title: Carrier id
          minLength: 1
          type: string
          description: The targeted carrier name (unique identifier)
        message:
          title: Message
          minLength: 1
          type: string
          description: The error or warning message
        code:
          title: Code
          minLength: 1
          type: string
          description: The message code
        details:
          title: Details
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: any additional details
      description: The list of error messages
    ErrorResponse:
      type: object
      properties:
        messages:
          type: array
          description: The list of error messages
          items:
            $ref: '#/components/schemas/Message'
    AddressData:
      required:
      - country_code
      type: object
      properties:
        postal_code:
          title: Postal code
          type: string
          description: |2

            The address postal code

            **(required for shipment purchase)**
          nullable: true
        city:
          title: City
          type: string
          description: |2

            The address city.

            **(required for shipment purchase)**
          nullable: true
        federal_tax_id:
          title: Federal tax id
          type: string
          description: The party frederal tax id
          nullable: true
        state_tax_id:
          title: State tax id
          type: string
          description: The party state id
          nullable: true
        person_name:
          title: Person name
          type: string
          description: |2

            attention to

            **(required for shipment purchase)**
          nullable: true
        company_name:
          title: Company name
          type: string
          description: The company name if the party is a company
          nullable: true
        country_code:
          title: Country code
          type: string
          description: The address country code
          enum:
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AR
          - AS
          - AT
          - AU
          - AW
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BM
          - BN
          - BO
          - BR
          - BS
          - BT
          - BW
          - BY
          - BZ
          - CA
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CU
          - CV
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - ER
          - ES
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GT
          - GU
          - GW
          - GY
          - HK
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IN
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KV
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NG
          - NI
          - NL
          - NO
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PR
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SG
          - SH
          - SI
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SV
          - SY
          - SZ
          - TC
          - TD
          - TG
          - TH
          - TJ
[...]
