{
  "swagger": "2.0",
  "info": {
    "title": "PurplShip Multi-carrier Shipping API",
    "description": "PurplShip is a Multi-carrier Shipping API that simplifies the integration of logistic carrier services",
    "contact": {
      "email": "hello@purplship.com"
    },
    "license": {
      "name": "AGPLv3+ License"
    },
    "version": "v1"
  },
  "host": "instance.purplship.api",
  "schemes": [
    "http",
    "https"
  ],
  "basePath": "/v1",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Token": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    },
    "OAuth2 password": {
      "flow": "password",
      "scopes": {
        "read": "Read everything.",
        "write": "Write everything,"
      },
      "tokenUrl": "oauth/token/",
      "type": "oauth2"
    }
  },
  "security": [
    {
      "OAuth2 password": []
    },
    {
      "Token": []
    }
  ],
  "paths": {
    "/addresses": {
      "get": {
        "operationId": "list_addresses",
        "summary": "List all Addresses",
        "description": "Retrieve all addresses.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Addresses"
        ]
      },
      "post": {
        "operationId": "create_address",
        "summary": "Create an Address",
        "description": "Create a new address.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Addresses"
        ]
      },
      "parameters": []
    },
    "/addresses/{id}": {
      "get": {
        "operationId": "retrieve_address",
        "summary": "Retrieve an Address",
        "description": "Retrieve an address.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Addresses"
        ]
      },
      "patch": {
        "operationId": "update_address",
        "summary": "Update an Address",
        "description": "update an address.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Addresses"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/carriers": {
      "get": {
        "operationId": "carriers_list",
        "summary": "List all Carriers",
        "description": "Returns the list of configured carriers",
        "parameters": [
          {
            "name": "carrier_name",
            "in": "query",
            "description": "Indicates a carrier (type)",
            "required": false,
            "type": "string",
            "enum": [
              "canadapost",
              "dhl",
              "fedex",
              "purolator",
              "ups",
              "eshipper",
              "freightcom"
            ]
          },
          {
            "name": "test",
            "in": "query",
            "description": "The test flag filter carrier configured in test mode",
            "required": false,
            "type": "boolean",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CarrierSettings"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Carriers"
        ]
      },
      "parameters": []
    },
    "/carriers/{carrier_id_or_pk}": {
      "get": {
        "operationId": "carriers_retrieve",
        "summary": "Retrieve a Carrier",
        "description": "Retrieve a configured carrier instance.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CarrierSettings"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Carriers"
        ]
      },
      "parameters": [
        {
          "name": "carrier_id_or_pk",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/customs_info": {
      "get": {
        "operationId": "list_customs_info",
        "summary": "List all Customs Info",
        "description": "Retrieve all stored customs info.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Customs"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Customs"
        ]
      },
      "post": {
        "operationId": "create_customs_info",
        "summary": "Create a Customs Info",
        "description": "Create a new customs info",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomsData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Customs"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Customs"
        ]
      },
      "parameters": []
    },
    "/customs_info/{id}": {
      "get": {
        "operationId": "retrieve_customs_info",
        "summary": "Retrieve a Customs Info",
        "description": "Retrieve a customs.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Customs"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Customs"
        ]
      },
      "patch": {
        "operationId": "update_customs_info",
        "summary": "Update a Customs Info",
        "description": "modify an existing customs's details.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomsData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Customs"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Customs"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/labels": {
      "post": {
        "operationId": "print_label",
        "summary": "Print a Label",
        "description": "Returns a label PDF file.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabelPrintingRequest"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/octet-stream",
          "application/vnd.oai.openapi+json"
        ],
        "tags": [
          "Utils"
        ]
      },
      "parameters": []
    },
    "/parcels": {
      "get": {
        "operationId": "list_parcels",
        "summary": "List all Parcels",
        "description": "Retrieve all stored parcels.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Parcel"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Parcels"
        ]
      },
      "post": {
        "operationId": "create_parcel",
        "summary": "Create a Parcel",
        "description": "Create a new parcel.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ParcelData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Parcel"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Parcels"
        ]
      },
      "parameters": []
    },
    "/parcels/{id}": {
      "get": {
        "operationId": "retrieve_parcel",
        "summary": "Retrieve a Parcel",
        "description": "Retrieve a parcel.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Parcel"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Parcels"
        ]
      },
      "patch": {
        "operationId": "update_parcel",
        "summary": "Update a Parcel",
        "description": "modify an existing parcel's details.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ParcelData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Parcel"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Parcels"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/proxy/rates": {
      "post": {
        "operationId": "proxy_fetch_rates",
        "summary": "Fetch Shipment Rates",
        "description": "\nThe Shipping process begins by fetching rates for your shipment.\nThe request returns a list of rate available.\n",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RateResponse"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rates"
        ]
      },
      "parameters": []
    },
    "/proxy/shipping": {
      "post": {
        "operationId": "proxy_create_shipping",
        "summary": "Submit a Shipment",
        "description": "\nOnce the shipment rates are retrieved, provide the required info to\nsubmit the shipment by specifying your preferred rate.\n",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShippingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ShipmentResponse"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Shipping"
        ]
      },
      "parameters": []
    },
    "/proxy/tracking/{carrier_name}/{tracking_number}": {
      "get": {
        "operationId": "proxy_fetch_tracking",
        "summary": "Track a Shipment",
        "description": "\nYou can track a shipment by specifying the carrier and the shipment tracking number.\n",
        "parameters": [
          {
            "name": "test",
            "in": "query",
            "description": "\nThe test flag indicates whether to use a carrier configured for test. \n",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TrackingResponse"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Tracking"
        ]
      },
      "parameters": [
        {
          "name": "carrier_name",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "tracking_number",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/references": {
      "get": {
        "operationId": "all_references",
        "summary": "Get all References",
        "description": "\n# Countries\n\n<details>\n\nCode | Name \n--- | --- \nAD | ANDORRA\nAE | UNITED ARAB EMIRATES\nAF | AFGHANISTAN\nAG | ANTIGUA\nAI | ANGUILLA\nAL | ALBANIA\nAM | ARMENIA\nAN | NETHERLANDS ANTILLES\nAO | ANGOLA\nAR | ARGENTINA\nAS | AMERICAN SAMOA\nAT | AUSTRIA\nAU | AUSTRALIA\nAW | ARUBA\nAZ | AZERBAIJAN\nBA | BOSNIA AND HERZEGOVINA\nBB | BARBADOS\nBD | BANGLADESH\nBE | BELGIUM\nBF | BURKINA FASO\nBG | BULGARIA\nBH | BAHRAIN\nBI | BURUNDI\nBJ | BENIN\nBM | BERMUDA\nBN | BRUNEI\nBO | BOLIVIA\nBR | BRAZIL\nBS | BAHAMAS\nBT | BHUTAN\nBW | BOTSWANA\nBY | BELARUS\nBZ | BELIZE\nCA | CANADA\nCD | CONGO, THE DEMOCRATIC REPUBLIC OF\nCF | CENTRAL AFRICAN REPUBLIC\nCG | CONGO\nCH | SWITZERLAND\nCI | COTE D IVOIRE\nCK | COOK ISLANDS\nCL | CHILE\nCM | CAMEROON\nCN | CHINA, PEOPLES REPUBLIC\nCO | COLOMBIA\nCR | COSTA RICA\nCU | CUBA\nCV | CAPE VERDE\nCY | CYPRUS\nCZ | CZECH REPUBLIC, THE\nDE | GERMANY\nDJ | DJIBOUTI\nDK | DENMARK\nDM | DOMINICA\nDO | DOMINICAN REPUBLIC\nDZ | ALGERIA\nEC | ECUADOR\nEE | ESTONIA\nEG | EGYPT\nER | ERITREA\nES | SPAIN\nET | ETHIOPIA\nFI | FINLAND\nFJ | FIJI\nFK | FALKLAND ISLANDS\nFM | MICRONESIA, FEDERATED STATES OF\nFO | FAROE ISLANDS\nFR | FRANCE\nGA | GABON\nGB | UNITED KINGDOM\nGD | GRENADA\nGE | GEORGIA\nGF | FRENCH GUYANA\nGG | GUERNSEY\nGH | GHANA\nGI | GIBRALTAR\nGL | GREENLAND\nGM | GAMBIA\nGN | GUINEA REPUBLIC\nGP | GUADELOUPE\nGQ | GUINEA-EQUATORIAL\nGR | GREECE\nGT | GUATEMALA\nGU | GUAM\nGW | GUINEA-BISSAU\nGY | GUYANA (BRITISH)\nHK | HONG KONG\nHN | HONDURAS\nHR | CROATIA\nHT | HAITI\nHU | HUNGARY\nIC | CANARY ISLANDS, THE\nID | INDONESIA\nIE | IRELAND, REPUBLIC OF\nIL | ISRAEL\nIN | INDIA\nIQ | IRAQ\nIR | IRAN (ISLAMIC REPUBLIC OF)\nIS | ICELAND\nIT | ITALY\nJE | JERSEY\nJM | JAMAICA\nJO | JORDAN\nJP | JAPAN\nKE | KENYA\nKG | KYRGYZSTAN\nKH | CAMBODIA\nKI | KIRIBATI\nKM | COMOROS\nKN | ST. KITTS\nKP | KOREA, THE D.P.R OF (NORTH K.)\nKR | KOREA, REPUBLIC OF (SOUTH K.)\nKV | KOSOVO\nKW | KUWAIT\nKY | CAYMAN ISLANDS\nKZ | KAZAKHSTAN\nLA | LAO PEOPLES DEMOCRATIC REPUBLIC\nLB | LEBANON\nLC | ST. LUCIA\nLI | LIECHTENSTEIN\nLK | SRI LANKA\nLR | LIBERIA\nLS | LESOTHO\nLT | LITHUANIA\nLU | LUXEMBOURG\nLV | LATVIA\nLY | LIBYA\nMA | MOROCCO\nMC | MONACO\nMD | MOLDOVA, REPUBLIC OF\nME | MONTENEGRO, REPUBLIC OF\nMG | MADAGASCAR\nMH | MARSHALL ISLANDS\nMK | MACEDONIA, REPUBLIC OF\nML | MALI\nMM | MYANMAR\nMN | MONGOLIA\nMO | MACAU\nMP | COMMONWEALTH NO. MARIANA ISLANDS\nMQ | MARTINIQUE\nMR | MAURITANIA\nMS | MONTSERRAT\nMT | MALTA\nMU | MAURITIUS\nMV | MALDIVES\nMW | MALAWI\nMX | MEXICO\nMY | MALAYSIA\nMZ | MOZAMBIQUE\nNA | NAMIBIA\nNC | NEW CALEDONIA\nNE | NIGER\nNG | NIGERIA\nNI | NICARAGUA\nNL | NETHERLANDS, THE\nNO | NORWAY\nNP | NEPAL\nNR | NAURU, REPUBLIC OF\nNU | NIUE\nNZ | NEW ZEALAND\nOM | OMAN\nPA | PANAMA\nPE | PERU\nPF | TAHITI\nPG | PAPUA NEW GUINEA\nPH | PHILIPPINES, THE\nPK | PAKISTAN\nPL | POLAND\nPR | PUERTO RICO\nPT | PORTUGAL\nPW | PALAU\nPY | PARAGUAY\nQA | QATAR\nRE | REUNION, ISLAND OF\nRO | ROMANIA\nRS | SERBIA, REPUBLIC OF\nRU | RUSSIAN FEDERATION, THE\nRW | RWANDA\nSA | SAUDI ARABIA\nSB | SOLOMON ISLANDS\nSC | SEYCHELLES\nSD | SUDAN\nSE | SWEDEN\nSG | SINGAPORE\nSH | SAINT HELENA\nSI | SLOVENIA\nSK | SLOVAKIA\nSL | SIERRA LEONE\nSM | SAN MARINO\nSN | SENEGAL\nSO | SOMALIA\nSR | SURINAME\nSS | SOUTH SUDAN\nST | SAO TOME AND PRINCIPE\nSV | EL SALVADOR\nSY | SYRIA\nSZ | SWAZILAND\nTC | TURKS AND CAICOS ISLANDS\nTD | CHAD\nTG | TOGO\nTH | THAILAND\nTJ | TAJIKISTAN\nTL | TIMOR LESTE\nTN | TUNISIA\nTO | TONGA\nTR | TURKEY\nTT | TRINIDAD AND TOBAGO\nTV | TUVALU\nTW | TAIWAN\nTZ | TANZANIA\nUA | UKRAINE\nUG | UGANDA\nUS | UNITED STATES OF AMERICA\nUY | URUGUAY\nUZ | UZBEKISTAN\nVA | VATICAN CITY STATE\nVC | ST. VINCENT\nVE | VENEZUELA\nVG | VIRGIN ISLANDS (BRITISH)\nVI | VIRGIN ISLANDS (US)\nVN | VIETNAM\nVU | VANUATU\nWS | SAMOA\nXB | BONAIRE\nXC | CURACAO\nXE | ST. EUSTATIUS\nXM | ST. MAARTEN\nXN | NEVIS\nXS | SOMALILAND, REP OF (NORTH SOMALIA)\nXY | ST. BARTHELEMY\nYE | YEMEN, REPUBLIC OF\nYT | MAYOTTE\nZA | SOUTH AFRICA\nZM | ZAMBIA\nZW | ZIMBABWE\n\n</details>\n\n\n# States and Provinces\n\n<details>\n\n\n## UNITED ARAB EMIRATES\n\n<details>\n\nCode | Name \n--- | --- \nAB | Abu Dhabi\nAJ | Ajman\nDU | Dubai\nFU | Fujairah\nRA | Ras al-Khaimah\nSH | Sharjah\nUM | Umm al-Qaiwain\n\n</details>\n\n\n## CANADA\n\n<details>\n\nCode | Name \n--- | --- \nAB | Alberta\nBC | British Columbia\nMB | Manitoba\nNB | New Brunswick\nNL | Newfoundland\nNT | Northwest Territories\nNS | Nova Scotia\nNU | Nunavut\nON | Ontario\nPE | Prince Edward Island\nQC | Quebec\nSK | Saskatchewan\nYT | Yukon\n\n</details>\n\n\n## CHINA, PEOPLES REPUBLIC\n\n<details>\n\nCode | Name \n--- | --- \nanhui | Anhui\nhainan | Hainan\njiangxi | Jiangxi\nshanghai | Shanghai\nbeijing | Beijing\nhebei | Hebei\njilin | Jilin\nshanxi | Shanxi\nchongqing | Chongqing\nheilongjiang | Heilongjiang\nliaoning | Liaoning\nsichuan | Sichuan\nfujian | Fujian\nhenan | Henan\nnei_mongol | Nei Mongol\ntianjin | Tianjin\ngansu | Gansu\nhubei | Hubei\nqinghai | Qinghai\nxinjiang | Xinjiang\nguangdong | Guangdong\nhunan | Hunan\nshaanxi | Shaanxi\nyunnan | Yunnan\nguizhou | Guizhou\njiangsu | Jiangsu\nshandong | Shandong\nzhejiang | Zhejiang\n\n</details>\n\n\n## INDIA\n\n<details>\n\nCode | Name \n--- | --- \nAN | Andaman & Nicobar (U.T)\nAP | Andhra Pradesh\nAR | Arunachal Pradesh\nAS | Assam\nBR | Bihar\nCG | Chattisgarh\nCH | Chandigarh (U.T.)\nDD | Daman & Diu (U.T.)\nDL | Delhi (U.T.)\nDN | Dadra and Nagar Haveli (U.T.)\nGA | Goa\nGJ | Gujarat\nHP | Himachal Pradesh\nHR | Haryana\nJH | Jharkhand\nJK | Jammu & Kashmir\nKA | Karnataka\nKL | Kerala\nLD | Lakshadweep (U.T)\nMH | Maharashtra\nML | Meghalaya\nMN | Manipur\nMP | Madhya Pradesh\nMZ | Mizoram\nNL | Nagaland\nOR | Orissa\nPB | Punjab\nPY | Puducherry (U.T.)\nRJ | Rajasthan\nSK | Sikkim\nTN | Tamil Nadu\nTR | Tripura\nUA | Uttaranchal\nUP | Uttar Pradesh\nWB | West Bengal\n\n</details>\n\n\n## MEXICO\n\n<details>\n\nCode | Name \n--- | --- \nAG | Aguascalientes\nBC | Baja California\nBS | Baja California Sur\nCM | Campeche\nCS | Chiapas\nCH | Chihuahua\nCO | Coahuila\nCL | Colima\nDF | Ciudad de México\nDG | Durango\nGT | Guanajuato\nGR | Guerrero\nHG | Hidalgo\nJA | Jalisco\nEM | Estado de México\nMI | Michoacán\nMO | Morelos\nNA | Nayarit\nNL | Nuevo León\nOA | Oaxaca\nPU | Puebla\nQE | Querétaro\nQR | Quintana Roo\nSL | San Luis Potosí\nSI | Sinaloa\nSO | Sonora\nTB | Tabasco\nTM | Tamaulipas\nTL | Tlaxcala\nVE | Veracruz\nYU | Yucatán\nZA | Zacatecas\n\n</details>\n\n\n## UNITED STATES OF AMERICA\n\n<details>\n\nCode | Name \n--- | --- \nAL | Alabama\nAK | Alaska\nAZ | Arizona\nAR | Arkansas\nCA | California\nCO | Colorado\nCT | Connecticut\nDE | Delaware\nDC | District of Columbia\nFL | Florida\nGA | Georgia\nHI | Hawaii\nID | Idaho\nIL | Illinois\nIN | Indiana\nIA | Iowa\nKS | Kansas\nKY | Kentucky\nLA | Louisiana\nME | Maine\nMD | Maryland\nMA | Massachusetts\nMI | Michigan\nMN | Minnesota\nMS | Mississippi\nMO | Missouri\nMT | Montana\nNE | Nebraska\nNV | Nevada\nNH | New Hampshire\nNJ | New Jersey\nNM | New Mexico\nNY | New York\nNC | North Carolina\nND | North Dakota\nOH | Ohio\nOK | Oklahoma\nOR | Oregon\nPA | Pennsylvania\nRI | Rhode Island\nSC | South Carolina\nSD | South Dakota\nTN | Tennessee\nTX | Texas\nUT | Utah\nVT | Vermont\nVA | Virginia\nWA | Washington State\nWV | West Virginia\nWI | Wisconsin\nWY | Wyoming\nPR | Puerto Rico\n\n</details>\n\n\n</details>\n\n# Currencies\n\n<details>\n\nCode | Name \n--- | --- \nEUR | Euro\nAED | UAE Dirham\nUSD | US Dollar\nXCD | East Caribbean Dollar\nAMD | Dran\nANG | Netherlands Antilles Guilder\nAOA | Kwanza\nARS | Argentine Peso\nAUD | Australian Dollar\nAWG | Aruba Guilder\nAZN | Manat\nBAM | Convertible Marks\nBBD | Barbadian Dollar\nBDT | Taka\nXOF | CFA Franc West Africa\nBGN | Bulgarian Lev\nBHD | Bahraini Dinar\nBIF | Burundese Franc\nBMD | Bermudian Dollar\nBND | Brunei Dollar\nBOB | Boliviano\nBRL | Real\nBSD | Bahamian Dollar\nBTN | Ngultrum\nBWP | Pula\nBYN | Belarussian Ruble\nBZD | Belize Dollar\nCAD | Canadian Dollar\nCDF | Franc Congolais\nXAF | CFA Franc Central Africa\nCHF | Swiss Franc\nNZD | New Zealand Dollar\nCLP | New Chile Peso\nCNY | Yuan (Ren Min Bi)\nCOP | Colombian Peso\nCRC | Costa Rican Colon\nCUC | Peso Convertible\nCVE | Cape Verde Escudo\nCZK | Czech Koruna\nDJF | Djibouti Franc\nDKK | Danish Krone\nDOP | Dominican Republic Peso\nDZD | Algerian Dinar\nEGP | Egyptian Pound\nERN | Nakfa\nETB | Birr\nFJD | Fijian Dollar\nGBP | Pound Sterling\nGEL | Georgian Lari\nGHS | Cedi\nGMD | Dalasi\nGNF | Guinea Franc\nGTQ | Quetzal\nGYD | Guyanan Dollar\nHKD | Hong Kong Dollar\nHNL | Lempira\nHRK | Croatian Kuna\nHTG | Gourde\nHUF | Forint\nIDR | Rupiah\nILS | New Israeli Shekel\nINR | Indian Rupee\nIRR | Iranian Rial\nISK | Icelandic Krona\nJMD | Jamaican Dollar\nJOD | Jordanian Dinar\nJPY | Yen\nKES | Kenyan Shilling\nKGS | Som\nKHR | Khmer Rial\nKMF | Comoros Franc\nKPW | North Korean Won\nKRW | Won\nKWD | Kuwaiti Dinar\nKYD | Cayman Islands Dollar\nKZT | Tenge\nLAK | Kip\nLKR | Sri Lankan Rupee\nLRD | Liberian Dollar\nLSL | Loti\nLYD | Libyan Dinar\nMAD | Moroccan Dirham\nMDL | Leu\nMGA | Ariary\nMKD | Denar\nMMK | Kyat\nMNT | Tugrik\nMOP | Pataca\nMRO | Ouguiya\nMUR | Mauritius Rupee\nMVR | Rufiyaa\nMWK | Kwacha\nMXN | Mexican Nuevo Peso\nMYR | Ringgit\nMZN | Mozambique Metical\nNAD | Namibian Dollar\nXPF | CFP Franc\nNGN | Naira\nNIO | Cordoba Oro\nNOK | Norwegian Krone\nNPR | Nepalese Rupee\nOMR | Omani Rial\nPEN | Nuevo Sol\nPGK | Kina\nPHP | Phillipines Peso\nPKR | Pakistani Rupee\nPLN | Zloty\nPYG | Guarani\nQAR | Qatar Rial\nRSD | Serbia, Dinars\nRUB | Russian Ruble\nRWF | Rwanda Franc\nSAR | Saudi Riyal\nSBD | Solomon Islands Dollar\nSCR | Seychelles Rupee\nSDG | Sudanese Pound\nSEK | Swedish Krona\nSGD | Singapore Dollar\nSHP | St. Helena Pound\nSLL | Leone\nSOS | Somali Shilling\nSRD | Suriname Dollar\nSSP | South Sudanese pound\nSTD | Dobra\nSYP | Syrian Pound\nSZL | Lilangeni\nTHB | Baht\nTJS | Somoni\nTND | Tunisian Dinar\nTOP | Pa'anga\nTRY | New Turkish Lira\nTTD | Trinidad and Tobago Dollar\nTWD | New Taiwan Dollar\nTZS | Tanzanian Shilling\nUAH | Hryvna\nUYU | Peso Uruguayo\nUZS | Sum\nVEF | Bolivar Fuerte\nVND | Dong\nVUV | Vanuatu Vatu\nWST | Tala\nYER | Yemeni Riyal\nZAR | South African Rand\n\n</details>\n\n\n# Package Preset\n\n<details>\n\n\n## Canada Post\n\n<details>\n\nCode | Dimensions | Note\n--- | --- | ---\ncanadapost_mailing_box | 15.2 x 10.2 | height x width\ncanadapost_extra_small_mailing_box | 14.0 x 14.0 x 14.0 | height x length x width\ncanadapost_small_mailing_box | 22.9 x 6.4 x 28.6 | height x length x width\ncanadapost_medium_mailing_box | 23.5 x 13.3 x 31.0 | height x length x width\ncanadapost_large_mailing_box | 30.5 x 9.5 x 38.1 | height x length x width\ncanadapost_extra_large_mailing_box | 30.5 x 21.6 x 40.0 | height x length x width\ncanadapost_corrugated_small_box | 32.0 x 32.0 x 42.0 | height x length x width\ncanadapost_corrugated_medium_box | 38.0 x 32.0 x 46.0 | height x length x width\ncanadapost_corrugated_large_box | 46.0 x 40.6 x 46.0 | height x length x width\ncanadapost_xexpresspost_certified_envelope | 15.9 x 1.5 x 0.5 x 26.0 | height x length x weight x width\ncanadapost_xexpresspost_national_large_envelope | 29.2 x 1.5 x 1.36 x 40.0 | height x length x weight x width\n\n</details>\n\n\n## DHL\n\n<details>\n\nCode | Dimensions | Note\n--- | --- | ---\ndhl_express_envelope | 27.5 x 1.0 x 0.5 x 35.0 | height x length x weight x width\ndhl_express_standard_flyer | 30.0 x 2.0 x 40.0 | height x weight x width\ndhl_express_large_flyer | 37.5 x 3.0 x 47.5 | height x weight x width\ndhl_express_box_2 | 18.2 x 10.0 x 1.0 x 33.7 | height x length x weight x width\ndhl_express_box_3 | 32.0 x 5.2 x 2.0 x 33.6 | height x length x weight x width\ndhl_express_box_4 | 32.2 x 18.0 x 5.0 x 33.7 | height x length x weight x width\ndhl_express_box_5 | 32.2 x 34.5 x 10.0 x 33.7 | height x length x weight x width\ndhl_express_box_6 | 35.9 x 36.9 x 15.0 x 41.7 | height x length x weight x width\ndhl_express_box_7 | 40.4 x 38.9 x 20.0 x 48.1 | height x length x weight x width\ndhl_express_box_8 | 44.4 x 40.9 x 25.0 x 54.2 | height x length x weight x width\ndhl_express_tube | 15.0 x 15.0 x 5.0 x 96.0 | height x length x weight x width\ndhl_didgeridoo_box | 13.0 x 162.0 x 10.0 x 13.0 | height x length x weight x width\ndhl_jumbo_box | 42.7 x 33.0 x 30.0 x 45.0 | height x length x weight x width\ndhl_jumbo_box_junior | 34.0 x 24.1 x 20.0 x 39.9 | height x length x weight x width\n\n</details>\n\n\n## FedEx\n\n<details>\n\nCode | Dimensions | Note\n--- | --- | ---\nfedex_envelope_legal_size | 15.5 x 1.0 x 9.5 | height x weight x width\nfedex_padded_pak | 14.75 x 2.2 x 11.75 | height x weight x width\nfedex_polyethylene_pak | 15.5 x 2.2 x 12.0 | height x weight x width\nfedex_clinical_pak | 18.0 x 2.2 x 13.5 | height x weight x width\nfedex_small_box | 10.9 x 1.5 x 20.0 x 12.25 | height x length x weight x width\nfedex_medium_box | 11.5 x 2.38 x 20.0 x 13.25 | height x length x weight x width\nfedex_large_box | 12.38 x 3.0 x 20.0 x 17.88 | height x length x weight x width\nfedex_10_kg_box | 12.94 x 10.19 x 10.0 x 15.81 | height x length x weight x width\nfedex_25_kg_box | 16.56 x 13.19 x 25.0 x 21.56 | height x length x weight x width\nfedex_tube | 6.0 x 6.0 x 20.0 x 38.0 | height x length x weight x width\n\n</details>\n\n\n## Purolator\n\n<details>\n\nCode | Dimensions | Note\n--- | --- | ---\npurolator_express_envelope | 1.0 | weight\npurolator_express_pack | 3.0 | weight\npurolator_express_box | 7.0 | weight\n\n</details>\n\n\n## UPS\n\n<details>\n\nCode | Dimensions | Note\n--- | --- | ---\nups_small_express_box | 11.0 x 2.0 x 30.0 x 13.0 | height x length x weight x width\nups_medium_express_box | 11.0 x 3.0 x 30.0 x 16.0 | height x length x weight x width\nups_large_express_box | 13.0 x 3.0 x 30.0 x 18.0 | height x length x weight x width\nups_express_tube | 6.0 x 6.0 x 38.0 | height x length x width\nups_express_pak | 11.75 x 16.0 | height x width\nups_world_document_box | 12.5 x 3.0 x 17.5 | height x length x width\n\n</details>\n\n\n</details>\n\n\n# Shipment Options\n\n<details>\n\n\n## Canada Post\n\n<details>\n\nCode | Identifier\n--- | ---\ncanadapost_signature | SO\ncanadapost_coverage | COV\ncanadapost_collect_on_delivery | COD\ncanadapost_proof_of_age_required_18 | PA18\ncanadapost_proof_of_age_required_19 | PA19\ncanadapost_card_for_pickup | HFP\ncanadapost_do_not_safe_drop | DNS\ncanadapost_leave_at_door | LAD\ncanadapost_deliver_to_post_office | D2PO\ncanadapost_return_at_senders_expense | RASE\ncanadapost_return_to_sender | RTS\ncanadapost_abandon | ABAN\n\n</details>\n\n\n## DHL\n\n<details>\n\nCode | Identifier\n--- | ---\ndhl_logistics_services | 0A\ndhl_mailroom_management | 0B\ndhl_pallet_administration | 0C\ndhl_warehousing | 0D\ndhl_express_logistics_centre | 0E\ndhl_strategic_parts_centre | 0F\ndhl_local_distribution_centre | 0G\ndhl_terminal_handling | 0H\ndhl_cross_docking | 0I\ndhl_inventory_management | 0J\ndhl_loading_unloading | 0K\ndhl_product_kitting | 0L\ndhl_priority_account_desk | 0M\ndhl_document_archiving | 0N\ndhl_saturday_delivery | AA\ndhl_saturday_pickup | AB\ndhl_holiday_delivery | AC\ndhl_holiday_pickup | AD\ndhl_domestic_saturday_delivery | AG\ndhl_standard | BA\ndhl_globalmail_item | BB\ndhl_letter | BC\ndhl_packet | BD\ndhl_letter_plus | BE\ndhl_packet_plus | BF\ndhl_elevated_risk | CA\ndhl_restricted_destination | CB\ndhl_security_validation | CC\ndhl_secure_protection | CD\ndhl_proof_of_identity | CE\ndhl_secure_storage | CF\ndhl_diplomatic_material | CG\ndhl_smart_sensor | CH\ndhl_visa_program | CI\ndhl_onboard_courier | CJ\ndhl_secure_safebox | CK\ndhl_smart_sentry | CL\ndhl_split_duties_and_tax | DC\ndhl_duties_and_taxes_paid | DD\ndhl_receiver_paid | DE\ndhl_duties_and_taxes_unpaid | DS\ndhl_import_billing | DT\ndhl_importer_of_record | DU\ndhl_go_green_carbon_neutral | EA\ndhl_go_green_carbon_footprint | EB\ndhl_go_green_carbon_estimate | EC\ndhl_fuel_surcharge_b | FB\ndhl_fuel_surcharge_c | FC\ndhl_fuel_surcharge_f | FF\ndhl_smartphone_box | GA\ndhl_laptop_box | GB\ndhl_bottle_box | GC\ndhl_repacking | GD\ndhl_tablet_box | GE\ndhl_filler_material | GF\ndhl_packaging | GG\ndhl_diplomatic_bag | GH\ndhl_pallet_box | GI\ndhl_lock_box | GJ\ndhl_lithium_ion_pi965_section_ii | HB\ndhl_dry_ice_un1845 | HC\ndhl_lithium_ion_pi965_966_section_ii | HD\ndhl_dangerous_goods | HE\ndhl_perishable_cargo | HG\ndhl_excepted_quantity | HH\ndhl_spill_cleaning | HI\ndhl_consumer_commodities | HK\ndhl_limited_quantities_adr | HL\ndhl_lithium_metal_pi969_section_ii | HM\ndhl_adr_load_exemption | HN\ndhl_lithium_ion_pi967_section_ii | HV\ndhl_lithium_metal_pi970_section_ii | HW\ndhl_biological_un3373 | HY\ndhl_extended_liability | IB\ndhl_contract_insurance | IC\ndhl_shipment_insurance | II\ndhl_delivery_notification | JA\ndhl_pickup_notification | JC\ndhl_proactive_tracking | JD\ndhl_performance_reporting | JE\ndhl_prealert_notification | JY\ndhl_change_of_billing | KA\ndhl_cash_on_delivery | KB\ndhl_printed_invoice | KD\ndhl_waybill_copy | KE\ndhl_import_paperwork | KF\ndhl_payment_on_pickup | KY\ndhl_shipment_intercept | LA\ndhl_shipment_redirect | LC\ndhl_storage_at_facility | LE\ndhl_cold_storage | LG\ndhl_specific_routing | LH\ndhl_service_recovery | LV\ndhl_alternative_address | LW\ndhl_hold_for_collection | LX\ndhl_address_correction_a | MA\ndhl_address_correction_b | MB\ndhl_neutral_delivery | NN\ndhl_remote_area_pickup | OB\ndhl_remote_area_delivery_c | OC\ndhl_out_of_service_area | OE\ndhl_remote_area_delivery_o | OO\ndhl_shipment_preparation | PA\ndhl_shipment_labeling | PB\ndhl_shipment_consolidation | PC\ndhl_relabeling_data_entry | PD\ndhl_preprinted_waybill | PE\ndhl_piece_labelling | PS\ndhl_data_staging_03 | PT\ndhl_data_staging_06 | PU\ndhl_data_staging_12 | PV\ndhl_data_staging_24 | PW\ndhl_standard_pickup | PX\ndhl_scheduled_pickup | PY\ndhl_dedicated_pickup | QA\ndhl_early_pickup | QB\ndhl_late_pickup | QD\ndhl_residential_pickup | QE\ndhl_loading_waiting | QF\ndhl_bypass_injection | QH\ndhl_direct_injection | QI\ndhl_drop_off_at_facility | QY\ndhl_delivery_signature | SA\ndhl_content_signature | SB\ndhl_named_signature | SC\ndhl_adult_signature | SD\ndhl_contract_signature | SE\ndhl_alternative_signature | SW\ndhl_no_signature_required | SX\ndhl_dedicated_delivery | TA\ndhl_early_delivery | TB\ndhl_time_window_delivery | TC\ndhl_evening_delivery | TD\ndhl_delivery_on_appointment | TE\ndhl_return_undeliverable | TG\ndhl_swap_delivery | TH\ndhl_unloading_waiting | TJ\ndhl_residential_delivery | TK\ndhl_repeat_delivery | TN\ndhl_alternative_date | TT\ndhl_no_partial_delivery | TU\ndhl_service_point_24_7 | TV\ndhl_pre_9_00 | TW\ndhl_pre_10_30 | TX\ndhl_pre_12_00 | TY\ndhl_thermo_packaging | UA\ndhl_ambient_vialsafe | UB\ndhl_ambient_non_insulated | UC\ndhl_ambient_insulated | UD\ndhl_ambient_extreme | UE\ndhl_chilled_box_s | UF\ndhl_chilled_box_m | UG\ndhl_chilled_box_l | UH\ndhl_frozen_no_ice_s | UI\ndhl_frozen_no_ice_m | UJ\ndhl_frozen_no_ice_l | UK\ndhl_frozen_ice_sticks_s | UL\ndhl_frozen_ice_sticks_m | UM\ndhl_frozen_ice_sticks_l | UN\ndhl_frozen_ice_plates_s | UO\ndhl_frozen_ice_plates_m | UP\ndhl_frozen_ice_plates_l | UQ\ndhl_combination_no_ice | UR\ndhl_combination_dry_ice | US\ndhl_frozen_ice_sticks_e | UT\ndhl_frozen_ice_plates_e | UV\ndhl_customer_tcp_1 | UW\ndhl_thermo_accessories | VA\ndhl_absorbent_sleeve | VB\ndhl_cooland_wrap | VC\ndhl_dry_ice_supplies | VD\ndhl_pressure_bag_s | VE\ndhl_pressure_bag_m | VF\ndhl_pressure_bag_l | VG\ndhl_informal_clearance | WA\ndhl_formal_clearance | WB\ndhl_payment_deferment | WC\ndhl_clearance_authorization | WD\ndhl_multiline_entry | WE\ndhl_post_clearance_modification | WF\ndhl_handover_to_broker | WG\ndhl_physical_intervention | WH\ndhl_bio_phyto_veterinary_controls | WI\ndhl_obtaining_permits_and_licences | WJ\ndhl_bonded_storage | WK\ndhl_bonded_transit_documents | WL\ndhl_temporary_import_export | WM\ndhl_under_bond_guarantee | WN\ndhl_export_declaration | WO\ndhl_exporter_validation | WP\ndhl_certificate_of_origin | WQ\ndhl_document_translation | WR\ndhl_personal_effects | WS\ndhl_paperless_trade | WY\ndhl_import_export_taxes | XB\ndhl_unrecoverable_origin_tax | XC\ndhl_quarantine_inspection | XD\ndhl_merchandise_process | XE\ndhl_domestic_postal_tax | XF\ndhl_tier_two_tax | XG\ndhl_tier_three_tax | XH\ndhl_import_penalty | XI\ndhl_cargo_zone_process | XJ\ndhl_import_export_duties | XX\ndhl_premium_09_00 | Y1\ndhl_premium_10_30 | Y2\ndhl_premium_12_00 | Y3\ndhl_over_sized_piece_b | YB\ndhl_over_handled_piece_c | YC\ndhl_multipiece_shipment | YE\ndhl_over_weight_piece_f | YF\ndhl_over_sized_piece_g | YG\ndhl_over_handled_piece_h | YH\ndhl_premium_9_00_i | YI\ndhl_premium_10_30_j | YJ\ndhl_premium_12_00_k | YK\ndhl_paket_shipment | YV\ndhl_breakbulk_mother | YW\ndhl_breakbulk_baby | YX\ndhl_over_weight_piece_y | YY\ndhl_customer_claim | ZA\ndhl_damage_compensation | ZB\ndhl_loss_compensation | ZC\ndhl_customer_rebate | ZD\ndhl_e_com_discount | ZE\n\n</details>\n\n\n## FedEx\n\n<details>\n\nCode | Identifier\n--- | ---\nblind_shipment | BLIND_SHIPMENT\nbroker_select_option | BROKER_SELECT_OPTION\ncall_before_delivery | CALL_BEFORE_DELIVERY\ncod | COD\ncod_remittance | COD_REMITTANCE\ncustom_delivery_window | CUSTOM_DELIVERY_WINDOW\ncut_flowers | CUT_FLOWERS\ndangerous_goods | DANGEROUS_GOODS\ndelivery_on_invoice_acceptance | DELIVERY_ON_INVOICE_ACCEPTANCE\ndetention | DETENTION\ndo_not_break_down_pallets | DO_NOT_BREAK_DOWN_PALLETS\ndo_not_stack_pallets | DO_NOT_STACK_PALLETS\ndry_ice | DRY_ICE\neast_coast_special | EAST_COAST_SPECIAL\nelectronic_trade_documents | ELECTRONIC_TRADE_DOCUMENTS\nevent_notification | EVENT_NOTIFICATION\nexclude_from_consolidation | EXCLUDE_FROM_CONSOLIDATION\nexclusive_use | EXCLUSIVE_USE\nexhibition_delivery | EXHIBITION_DELIVERY\nexhibition_pickup | EXHIBITION_PICKUP\nexpedited_alternate_delivery_route | EXPEDITED_ALTERNATE_DELIVERY_ROUTE\nexpedited_one_day_earlier | EXPEDITED_ONE_DAY_EARLIER\nexpedited_service_monitoring_and_delivery | EXPEDITED_SERVICE_MONITORING_AND_DELIVERY\nexpedited_standard_day_early_delivery | EXPEDITED_STANDARD_DAY_EARLY_DELIVERY\nextra_labor | EXTRA_LABOR\nextreme_length | EXTREME_LENGTH\nfedex_one_rate | FEDEX_ONE_RATE\nflatbed_trailer | FLATBED_TRAILER\nfood | FOOD\nfreight_guarantee | FREIGHT_GUARANTEE\nfreight_to_collect | FREIGHT_TO_COLLECT\nfuture_day_shipment | FUTURE_DAY_SHIPMENT\nhold_at_location | HOLD_AT_LOCATION\nholiday_delivery | HOLIDAY_DELIVERY\nholiday_guarantee | HOLIDAY_GUARANTEE\nhome_delivery_premium | HOME_DELIVERY_PREMIUM\ninside_delivery | INSIDE_DELIVERY\ninside_pickup | INSIDE_PICKUP\ninternational_controlled_export_service | INTERNATIONAL_CONTROLLED_EXPORT_SERVICE\ninternational_mail_service | INTERNATIONAL_MAIL_SERVICE\ninternational_traffic_in_arms_regulations | INTERNATIONAL_TRAFFIC_IN_ARMS_REGULATIONS\nliftgate_delivery | LIFTGATE_DELIVERY\nliftgate_pickup | LIFTGATE_PICKUP\nlimited_access_delivery | LIMITED_ACCESS_DELIVERY\nlimited_access_pickup | LIMITED_ACCESS_PICKUP\nmarking_or_tagging | MARKING_OR_TAGGING\nnon_business_time | NON_BUSINESS_TIME\npallet_shrinkwrap | PALLET_SHRINKWRAP\npallet_weight_allowance | PALLET_WEIGHT_ALLOWANCE\npallets_provided | PALLETS_PROVIDED\npending_complete | PENDING_COMPLETE\npending_shipment | PENDING_SHIPMENT\npermit | PERMIT\npharmacy_delivery | PHARMACY_DELIVERY\npoison | POISON\nport_delivery | PORT_DELIVERY\nport_pickup | PORT_PICKUP\npre_delivery_notification | PRE_DELIVERY_NOTIFICATION\npre_eig_processing | PRE_EIG_PROCESSING\npre_multiplier_processing | PRE_MULTIPLIER_PROCESSING\nprotection_from_freezing | PROTECTION_FROM_FREEZING\nregional_mall_delivery | REGIONAL_MALL_DELIVERY\nregional_mall_pickup | REGIONAL_MALL_PICKUP\nreturn_shipment | RETURN_SHIPMENT\nreturns_clearance | RETURNS_CLEARANCE\nreturns_clearance_special_routing_required | RETURNS_CLEARANCE_SPECIAL_ROUTING_REQUIRED\nsaturday_delivery | SATURDAY_DELIVERY\nsaturday_pickup | SATURDAY_PICKUP\nshipment_assembly | SHIPMENT_ASSEMBLY\nsort_and_segregate | SORT_AND_SEGREGATE\nspecial_delivery | SPECIAL_DELIVERY\nspecial_equipment | SPECIAL_EQUIPMENT\nstorage | STORAGE\nsunday_delivery | SUNDAY_DELIVERY\nthird_party_consignee | THIRD_PARTY_CONSIGNEE\ntop_load | TOP_LOAD\nusps_delivery | USPS_DELIVERY\nusps_pickup | USPS_PICKUP\nweighing | WEIGHING\n\n</details>\n\n\n## Purolator\n\n<details>\n\nCode | Identifier\n--- | ---\ndangerous_goods | Dangerous Goods\nchain_of_signature | Chain of Signature\nexpress_cheque | ExpressCheque\nhold_for_pickup | Hold For Pickup\nreturn_services | Return Services\nsaturday_service | Saturday Service\norigin_signature_not_required | Origin Signature Not Required (OSNR)\nadult_signature_required | Adult Signature Required (ASR)\nspecial_handling | Special Handling\n\n</details>\n\n\n## UPS\n\n<details>\n\nCode | Identifier\n--- | ---\nsaturday_delivery_indicator | SaturdayDeliveryIndicator\naccess_point_cod | AccessPointCOD\ndeliver_to_addressee_only_indicator | DeliverToAddresseeOnlyIndicator\ndirect_delivery_only_indicator | DirectDeliveryOnlyIndicator\ncod | COD\ndelivery_confirmation | DeliveryConfirmation\nreturn_of_document_indicator | ReturnOfDocumentIndicator\nup_scarbonneutral_indicator | UPScarbonneutralIndicator\ncertificate_of_origin_indicator | CertificateOfOriginIndicator\npickup_options | PickupOptions\ndelivery_options | DeliveryOptions\nrestricted_articles | RestrictedArticles\nshipper_export_declaration_indicator | ShipperExportDeclarationIndicator\ncommercial_invoice_removal_indicator | CommercialInvoiceRemovalIndicator\nimport_control | ImportControl\nreturn_service | ReturnService\nsdl_shipment_indicator | SDLShipmentIndicator\nepra_indicator | EPRAIndicator\n\n</details>\n\n\n## Freightcom\n\n<details>\n\nCode | Identifier\n--- | ---\nfreightcom_saturday_pickup_required | saturdayPickupRequired\nfreightcom_homeland_security | homelandSecurity\nfreightcom_exhibition_convention_site | exhibitionConventionSite\nfreightcom_military_base_delivery | militaryBaseDelivery\nfreightcom_customs_in_bond_freight | customsIn_bondFreight\nfreightcom_limited_access | limitedAccess\nfreightcom_excess_length | excessLength\nfreightcom_tailgate_pickup | tailgatePickup\nfreightcom_residential_pickup | residentialPickup\nfreightcom_cross_border_fee | crossBorderFee\nfreightcom_notify_recipient | notifyRecipient\nfreightcom_single_shipment | singleShipment\nfreightcom_tailgate_delivery | tailgateDelivery\nfreightcom_residential_delivery | residentialDelivery\nfreightcom_insurance_type | insuranceType\nfreightcom_inside_delivery | insideDelivery\nfreightcom_is_saturday_service | isSaturdayService\nfreightcom_dangerous_goods_type | dangerousGoodsType\nfreightcom_stackable | stackable\n\n</details>\n\n\n## eShipper\n\n<details>\n\nCode | Identifier\n--- | ---\neshipper_saturday_pickup_required | saturdayPickupRequired\neshipper_homeland_security | homelandSecurity\neshipper_exhibition_convention_site | exhibitionConventionSite\neshipper_military_base_delivery | militaryBaseDelivery\neshipper_customs_in_bond_freight | customsIn_bondFreight\neshipper_limited_access | limitedAccess\neshipper_excess_length | excessLength\neshipper_tailgate_pickup | tailgatePickup\neshipper_residential_pickup | residentialPickup\neshipper_cross_border_fee | crossBorderFee\neshipper_notify_recipient | notifyRecipient\neshipper_single_shipment | singleShipment\neshipper_tailgate_delivery | tailgateDelivery\neshipper_residential_delivery | residentialDelivery\neshipper_insurance_type | insuranceType\neshipper_inside_delivery | insideDelivery\neshipper_is_saturday_service | isSaturdayService\neshipper_dangerous_goods_type | dangerousGoodsType\neshipper_stackable | stackable\n\n</details>\n\n\n</details>\n\n\n# Shipment Services\n\n<details>\n\n\n## Canada Post\n\n<details>\n\nCode | Identifier\n--- | ---\ncanadapost_regular_parcel | DOM.RP\ncanadapost_expedited_parcel | DOM.EP\ncanadapost_xpresspost | DOM.XP\ncanadapost_priority | DOM.PC\ncanadapost_library_books | DOM.LIB\ncanadapost_expedited_parcel_usa | USA.EP\ncanadapost_priority_worldwide_envelope_usa | USA.PW.ENV\ncanadapost_priority_worldwide_pak_usa | USA.PW.PAK\ncanadapost_priority_worldwide_parcel_usa | USA.PW.PARCEL\ncanadapost_small_packet_usa_air | USA.SP.AIR\ncanadapost_tracked_packet_usa | USA.TP\ncanadapost_tracked_packet_usa_lvm | USA.TP.LVM\ncanadapost_xpresspost_usa | USA.XP\ncanadapost_xpresspost_international | INT.XP\ncanadapost_international_parcel_air | INT.IP.AIR\ncanadapost_international_parcel_surface | INT.IP.SURF\ncanadapost_priority_worldwide_envelope_intl | INT.PW.ENV\ncanadapost_priority_worldwide_pak_intl | INT.PW.PAK\ncanadapost_priority_worldwide_parcel_intl | INT.PW.PARCEL\ncanadapost_small_packet_international_air | INT.SP.AIR\ncanadapost_small_packet_international_surface | INT.SP.SURF\ncanadapost_tracked_packet_international | INT.TP\n\n</details>\n\n\n## DHL\n\n<details>\n\nCode | Identifier\n--- | ---\ndhl_logistics_services | LOGISTICS SERVICES\ndhl_domestic_express_12_00_doc | DOMESTIC EXPRESS 12:00 DOC\ndhl_b2_c_doc | B2C DOC\ndhl_b2_c_nondoc | B2C NONDOC\ndhl_jetline | JETLINE\ndhl_sprintline | SPRINTLINE\ndhl_express_easy_doc | EXPRESS EASY DOC\ndhl_express_easy_nondoc | EXPRESS EASY NONDOC\ndhl_europack_doc | EUROPACK DOC\ndhl_auto_reversals | AUTO REVERSALS\ndhl_breakbulk_express_doc | BREAKBULK EXPRESS DOC\ndhl_medical_express_doc | MEDICAL EXPRESS DOC\ndhl_express_worldwide_doc | EXPRESS WORLDWIDE DOC\ndhl_express_9_00_nondoc | EXPRESS 9:00 NONDOC\ndhl_freight_worldwide_nondoc | FREIGHT WORLDWIDE NONDOC\ndhl_domestic_economy_select_doc | DOMESTIC ECONOMY SELECT DOC\ndhl_economy_select_nondoc | ECONOMY SELECT NONDOC\ndhl_domestic_express_9_00_doc | DOMESTIC EXPRESS 9:00 DOC\ndhl_jumbo_box_nondoc | JUMBO BOX NONDOC\ndhl_express_9_00_doc | EXPRESS 9:00 DOC\ndhl_express_10_30_doc | EXPRESS 10:30 DOC\ndhl_express_10_30_nondoc | EXPRESS 10:30 NONDOC\ndhl_domestic_express_doc | DOMESTIC EXPRESS DOC\ndhl_domestic_express_10_30_doc | DOMESTIC EXPRESS 10:30 DOC\ndhl_express_worldwide_nondoc | EXPRESS WORLDWIDE NONDOC\ndhl_medical_express_nondoc | MEDICAL EXPRESS NONDOC\ndhl_globalmail_business_doc | GLOBALMAIL BUSINESS DOC\ndhl_same_day_doc | SAME DAY DOC\ndhl_express_12_00_doc | EXPRESS 12:00 DOC\ndhl_europack_nondoc | EUROPACK NONDOC\ndhl_economy_select_doc | ECONOMY SELECT DOC\ndhl_express_envelope_doc | EXPRESS ENVELOPE DOC\ndhl_express_12_00_nondoc | EXPRESS 12:00 NONDOC\ndhl_destination_charges | Destination Charges\n\n</details>\n\n\n## FedEx\n\n<details>\n\nCode | Identifier\n--- | ---\neurope_first_international_priority | EUROPE_FIRST_INTERNATIONAL_PRIORITY\nfedex_1_day_freight | FEDEX_1_DAY_FREIGHT\nfedex_2_day | FEDEX_2_DAY\nfedex_2_day_am | FEDEX_2_DAY_AM\nfedex_2_day_freight | FEDEX_2_DAY_FREIGHT\nfedex_3_day_freight | FEDEX_3_DAY_FREIGHT\nfedex_cargo_airport_to_airport | FEDEX_CARGO_AIRPORT_TO_AIRPORT\nfedex_cargo_freight_forwarding | FEDEX_CARGO_FREIGHT_FORWARDING\nfedex_cargo_international_express_freight | FEDEX_CARGO_INTERNATIONAL_EXPRESS_FREIGHT\nfedex_cargo_international_premium | FEDEX_CARGO_INTERNATIONAL_PREMIUM\nfedex_cargo_mail | FEDEX_CARGO_MAIL\nfedex_cargo_registered_mail | FEDEX_CARGO_REGISTERED_MAIL\nfedex_cargo_surface_mail | FEDEX_CARGO_SURFACE_MAIL\nfedex_custom_critical_air_expedite | FEDEX_CUSTOM_CRITICAL_AIR_EXPEDITE\nfedex_custom_critical_air_expedite_exclusive_use | FEDEX_CUSTOM_CRITICAL_AIR_EXPEDITE_EXCLUSIVE_USE\nfedex_custom_critical_air_expedite_network | FEDEX_CUSTOM_CRITICAL_AIR_EXPEDITE_NETWORK\nfedex_custom_critical_charter_air | FEDEX_CUSTOM_CRITICAL_CHARTER_AIR\nfedex_custom_critical_point_to_point | FEDEX_CUSTOM_CRITICAL_POINT_TO_POINT\nfedex_custom_critical_surface_expedite | FEDEX_CUSTOM_CRITICAL_SURFACE_EXPEDITE\nfedex_custom_critical_surface_expedite_exclusive_use | FEDEX_CUSTOM_CRITICAL_SURFACE_EXPEDITE_EXCLUSIVE_USE\nfedex_custom_critical_temp_assure_air | FEDEX_CUSTOM_CRITICAL_TEMP_ASSURE_AIR\nfedex_custom_critical_temp_assure_validated_air | FEDEX_CUSTOM_CRITICAL_TEMP_ASSURE_VALIDATED_AIR\nfedex_custom_critical_white_glove_services | FEDEX_CUSTOM_CRITICAL_WHITE_GLOVE_SERVICES\nfedex_distance_deferred | FEDEX_DISTANCE_DEFERRED\nfedex_express_saver | FEDEX_EXPRESS_SAVER\nfedex_first_freight | FEDEX_FIRST_FREIGHT\nfedex_freight_economy | FEDEX_FREIGHT_ECONOMY\nfedex_freight_priority | FEDEX_FREIGHT_PRIORITY\nfedex_ground | FEDEX_GROUND\nfedex_international_priority_plus | FEDEX_INTERNATIONAL_PRIORITY_PLUS\nfedex_next_day_afternoon | FEDEX_NEXT_DAY_AFTERNOON\nfedex_next_day_early_morning | FEDEX_NEXT_DAY_EARLY_MORNING\nfedex_next_day_end_of_day | FEDEX_NEXT_DAY_END_OF_DAY\nfedex_next_day_freight | FEDEX_NEXT_DAY_FREIGHT\nfedex_next_day_mid_morning | FEDEX_NEXT_DAY_MID_MORNING\nfirst_overnight | FIRST_OVERNIGHT\nground_home_delivery | GROUND_HOME_DELIVERY\ninternational_distribution_freight | INTERNATIONAL_DISTRIBUTION_FREIGHT\ninternational_economy | INTERNATIONAL_ECONOMY\ninternational_economy_distribution | INTERNATIONAL_ECONOMY_DISTRIBUTION\ninternational_economy_freight | INTERNATIONAL_ECONOMY_FREIGHT\ninternational_first | INTERNATIONAL_FIRST\ninternational_ground | INTERNATIONAL_GROUND\ninternational_priority | INTERNATIONAL_PRIORITY\ninternational_priority_distribution | INTERNATIONAL_PRIORITY_DISTRIBUTION\ninternational_priority_express | INTERNATIONAL_PRIORITY_EXPRESS\ninternational_priority_freight | INTERNATIONAL_PRIORITY_FREIGHT\npriority_overnight | PRIORITY_OVERNIGHT\nsame_day | SAME_DAY\nsame_day_city | SAME_DAY_CITY\nsame_day_metro_afternoon | SAME_DAY_METRO_AFTERNOON\nsame_day_metro_morning | SAME_DAY_METRO_MORNING\nsame_day_metro_rush | SAME_DAY_METRO_RUSH\nsmart_post | SMART_POST\nstandard_overnight | STANDARD_OVERNIGHT\ntransborder_distribution_consolidation | TRANSBORDER_DISTRIBUTION_CONSOLIDATION\n\n</details>\n\n\n## Purolator\n\n<details>\n\nCode | Identifier\n--- | ---\npurolator_express_9_am | PurolatorExpress9AM\npurolator_express_us | PurolatorExpressU.S.\npurolator_express_10_30_am | PurolatorExpress10:30AM\npurolator_express_us_9_am | PurolatorExpressU.S.9AM\npurolator_express_12_pm | PurolatorExpress12PM\npurolator_express_us_10_30_am | PurolatorExpressU.S.10:30AM\npurolator_express | PurolatorExpress\npurolator_express_us_12_00 | PurolatorExpressU.S.12:00\npurolator_express_evening | PurolatorExpressEvening\npurolator_express_envelope_us | PurolatorExpressEnvelopeU.S.\npurolator_express_envelope_9_am | PurolatorExpressEnvelope9AM\npurolator_express_us_envelope_9_am | PurolatorExpressU.S.Envelope9AM\npurolator_express_envelope_10_30_am | PurolatorExpressEnvelope10:30AM\npurolator_express_us_envelope_10_30_am | PurolatorExpressU.S.Envelope10:30AM\npurolator_express_envelope_12_pm | PurolatorExpressEnvelope12PM\npurolator_express_us_envelope_12_00 | PurolatorExpressU.S.Envelope12:00\npurolator_express_envelope | PurolatorExpressEnvelope\npurolator_express_pack_us | PurolatorExpressPackU.S.\npurolator_express_envelope_evening | PurolatorExpressEnvelopeEvening\npurolator_express_us_pack_9_am | PurolatorExpressU.S.Pack9AM\npurolator_express_pack_9_am | PurolatorExpressPack9AM\npurolator_express_us_pack_10_30_am | PurolatorExpressU.S.Pack10:30AM\npurolator_express_pack10_30_am | PurolatorExpressPack10:30AM\npurolator_express_us_pack_12_00 | PurolatorExpressU.S.Pack12:00\npurolator_express_pack_12_pm | PurolatorExpressPack12PM\npurolator_express_box_us | PurolatorExpressBoxU.S.\npurolator_express_pack | PurolatorExpressPack\npurolator_express_us_box_9_am | PurolatorExpressU.S.Box9AM\npurolator_express_pack_evening | PurolatorExpressPackEvening\npurolator_express_us_box_10_30_am | PurolatorExpressU.S.Box10:30AM\npurolator_express_box_9_am | PurolatorExpressBox9AM\npurolator_express_us_box_12_00 | PurolatorExpressU.S.Box12:00\npurolator_express_box_10_30_am | PurolatorExpressBox10:30AM\npurolator_ground_us | PurolatorGroundU.S.\npurolator_express_box_12_pm | PurolatorExpressBox12PM\npurolator_express_international | PurolatorExpressInternational\npurolator_express_box | PurolatorExpressBox\npurolator_express_international_9_am | PurolatorExpressInternational9AM\npurolator_express_box_evening | PurolatorExpressBoxEvening\npurolator_express_international_10_30_am | PurolatorExpressInternational10:30AM\npurolator_ground | PurolatorGround\npurolator_express_international_12_00 | PurolatorExpressInternational12:00\npurolator_ground9_am | PurolatorGround9AM\npurolator_express_envelope_international | PurolatorExpressEnvelopeInternational\npurolator_ground10_30_am | PurolatorGround10:30AM\npurolator_express_international_envelope_9_am | PurolatorExpressInternationalEnvelope9AM\npurolator_ground_evening | PurolatorGroundEvening\npurolator_express_international_envelope_10_30_am | PurolatorExpressInternationalEnvelope10:30AM\npurolator_quick_ship | PurolatorQuickShip\npurolator_express_international_envelope_12_00 | PurolatorExpressInternationalEnvelope12:00\npurolator_quick_ship_envelope | PurolatorQuickShipEnvelope\npurolator_express_pack_international | PurolatorExpressPackInternational\npurolator_quick_ship_pack | PurolatorQuickShipPack\npurolator_express_international_pack_9_am | PurolatorExpressInternationalPack9AM\npurolator_quick_ship_box | PurolatorQuickShipBox\npurolator_express_international_pack_10_30_am | PurolatorExpressInternationalPack10:30AM\npurolator_express_international_pack_12_00 | PurolatorExpressInternationalPack12:00\npurolator_express_box_international | PurolatorExpressBoxInternational\npurolator_express_international_box_9_am | PurolatorExpressInternationalBox9AM\npurolator_express_international_box_10_30_am | PurolatorExpressInternationalBox10:30AM\npurolator_express_international_box_12_00 | PurolatorExpressInternationalBox12:00\n\n</details>\n\n\n## UPS\n\n<details>\n\nCode | Identifier\n--- | ---\nups_standard | 11\nups_worldwide_expedited | 08\nups_worldwide_express | 07\nups_worldwide_express_plus | 54\nups_worldwide_saver | 65\nups_2nd_day_air | 02\nups_2nd_day_air_am | 59\nups_3_day_select | 12\nups_expedited_mail_innovations | M4\nups_first_class_mail | M2\nups_ground | 03\nups_next_day_air | 01\nups_next_day_air_early | 14\nups_next_day_air_saver | 13\nups_priority_mail | M3\nups_access_point_economy | 70\nups_today_dedicated_courier | 83\nups_today_express | 85\nups_today_express_saver | 86\nups_today_standard | 82\nups_worldwide_express_freight | 96\nups_priority_mail_innovations | M5\nups_economy_mail_innovations | M6\n\n</details>\n\n\n## Freightcom\n\n<details>\n\nCode | Identifier\n--- | ---\nfreightcom_central_transport | 2029\nfreigthcom_estes | 2107\nfreigthcom_usf_holland | 1911\nfreightcom_fedex_ground | 4101\nfreightcom_ups_standard | 4600\nfreightcom_fedex_2_day | 4102\nfreightcom_fedex_priority_overnight | 4104\nfreightcom_fedex_standard_overnight | 4105\nfreightcom_ground | 3400\nfreightcom_ups_expedited | 4601\nfreightcom_ups_express_saver | 4602\nfreightcom_ups_express | 4603\nfreightcom_fedex_express_saver | 4100\nfreightcom_ups_express_early | 4604\nfreightcom_select | 3404\nfreightcom_dayr_e_comm_ground_service | 5707\nfreightcom_overnight | 3407\nfreightcom_purolator_ground | 4000\nfreightcom_purolator_express | 4003\nfreightcom_purolator_express_10_30_am | 4005\nfreightcom_fedex_first_overnight | 4106\nfreightcom_purolator_express_9_am | 4004\nfreightcom_dayr_e_comm_am_service | 5706\n\n</details>\n\n\n## eShipper\n\n<details>\n\nCode | Identifier\n--- | ---\neshipper_fedex_priority | 1\neshipper_fedex_first_overnight | 2\neshipper_fedex_ground | 3\neshipper_fedex_standard_overnight | 28\neshipper_fedex_2nd_day | 29\neshipper_fedex_express_saver | 30\neshipper_purolator_air | 4\neshipper_purolator_air_9_am | 5\neshipper_purolator_air_10_30 | 6\neshipper_puroletter | 7\neshipper_puroletter_9_am | 8\neshipper_puroletter_10_30 | 9\neshipper_puro_pak | 10\neshipper_puro_pak_9_am | 11\neshipper_puro_pak_10_30 | 12\neshipper_purolator_ground | 13\neshipper_purolator_ground_9_am | 19\neshipper_purolator_ground_10_30 | 20\neshipper_canada_worldwide_same_day | 14\neshipper_canada_worldwide_next_flight_out | 15\neshipper_canada_worldwide_air_freight | 16\neshipper_canada_worldwide_ltl | 17\neshipper_dhl_international_express | 106\neshipper_ups_express_next_day_air | 600\neshipper_ups_expedited_second_day_air | 601\neshipper_ups_worldwide_express | 602\neshipper_ups_worldwide_expedited | 603\neshipper_ups_standard_ground | 604\neshipper_ups_express_early_am_next_day_air_early_am | 605\neshipper_ups_three_day_select | 606\neshipper_ups_saver | 607\neshipper_ups_ground | 608\neshipper_next_day_saver | 609\neshipper_worldwide_express_plus | 610\neshipper_second_day_air_am | 611\neshipper_canada_post_priority | 500\neshipper_canada_post_xpress_post | 501\neshipper_canada_post_expedited | 502\neshipper_canada_post_regular | 503\neshipper_canada_post_xpress_post_usa | 504\neshipper_canada_post_xpress_post_intl | 505\neshipper_canada_post_air_parcel_intl | 506\neshipper_canada_post_surface_parcel_intl | 507\neshipper_canada_post_expedited_parcel_usa | 508\neshipper_tst_ltl | 1100\neshipper_ltl_chicago_suburban_express | 1500\neshipper_ltl_fedex_freight_east | 1501\neshipper_ltl_fedex_freight_west | 1502\neshipper_ltl_mid_states_express | 1503\neshipper_ltl_new_england_motor_freight | 1504\neshipper_ltl_new_penn | 1505\neshipper_ltl_oak_harbor | 1506\neshipper_ltl_pitt_ohio | 1507\neshipper_ltl_r_l_carriers | 1508\neshipper_ltl_saia | 1509\neshipper_ltl_usf_reddaway | 1510\neshipper_ltl_vitran_express | 1511\neshipper_ltl_wilson_trucking | 1512\neshipper_ltl_yellow_transportation | 1513\neshipper_ltl_roadway | 1514\neshipper_ltl_fedex_national | 1515\neshipper_wilson_trucking_tfc | 1800\neshipper_aaa_cooper_transportation | 1801\neshipper_roadrunner_dawes | 1802\neshipper_new_england_motor_freight | 1803\neshipper_new_penn_motor_express | 1804\neshipper_dayton_freight | 1805\neshipper_southeastern_freightway | 1806\neshipper_saia_inc | 1807\neshipper_conway | 1808\neshipper_roadway | 1809\neshipper_usf_reddaway | 1810\neshipper_usf_holland | 1811\neshipper_dependable_highway_express | 1812\neshipper_day_and_ross | 1813\neshipper_day_and_ross_r_and_l | 1814\neshipper_ups | 1815\neshipper_aaa_cooper | 1816\neshipper_ama_transportation | 1817\neshipper_averitt_express | 1818\neshipper_central_freight | 1819\neshipper_conway_us | 1820\neshipper_dayton | 1821\neshipper_drug_transport | 1822\neshipper_estes | 1823\neshipper_land_air_express | 1824\neshipper_fedex_west | 1825\neshipper_fedex_national | 1826\neshipper_usf_holland_us | 1827\neshipper_lakeville_m_express | 1828\neshipper_milan_express | 1829\neshipper_nebraska_transport | 1830\neshipper_new_england | 1831\neshipper_new_penn | 1832\neshipper_a_duie_pyle | 1833\neshipper_roadway_us | 1834\neshipper_usf_reddaway_us | 1835\neshipper_rhody_transportation | 1836\neshipper_saia_motor_freight | 1837\neshipper_southeastern_frgt | 1838\neshipper_pitt_ohio | 1839\neshipper_ward | 1840\neshipper_wilson | 1841\neshipper_chi_cargo | 1842\neshipper_tax_air | 1843\neshipper_fedex_east | 1844\neshipper_central_transport | 1845\neshipper_roadrunner | 1846\neshipper_r_and_l_carriers | 1847\neshipper_estes_us | 1848\neshipper_yrc_roadway | 1849\neshipper_central_transport_us | 1850\neshipper_absolute_transportation_services | 1851\neshipper_blue_sky_express | 1852\neshipper_galasso_trucking | 1853\neshipper_griley_air_freight | 1854\neshipper_jet_transportation | 1855\neshipper_metro_transportation_logistics | 1856\neshipper_oak_harbor | 1857\neshipper_stream_links_express | 1858\neshipper_tiffany_trucking | 1859\neshipper_ups_freight | 1860\neshipper_roadrunner_us | 1861\neshipper_global_mail_parcel_priority | 3500\neshipper_global_mail_parcel_standard | 3501\neshipper_global_mail_packet_plus_priority | 3502\neshipper_global_mail_packet_priority | 3503\neshipper_global_mail_packet_standard | 3504\neshipper_global_mail_business_priority | 3505\neshipper_global_mail_business_standard | 3506\neshipper_global_mail_parcel_direct_priority | 3507\neshipper_global_mail_parcel_direct_standard | 3508\neshipper_ground | 4500\neshipper_select_parcel | 4504\neshipper_express_parcel | 4507\n\n</details>\n\n\n</details>\n",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/References"
            }
          }
        },
        "tags": [
          "Utils"
        ]
      },
      "parameters": []
    },
    "/shipments": {
      "get": {
        "operationId": "list_shipments",
        "summary": "List all Shipments",
        "description": "\nRetrieve all shipments.\n",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Shipment"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Shipments"
        ]
      },
      "post": {
        "operationId": "create_shipment",
        "summary": "Create a Shipment",
        "description": "\nCreate a new shipment instance.\n",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShipmentData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Shipments"
        ]
      },
      "parameters": []
    },
    "/shipments/{id}": {
      "get": {
        "operationId": "retrieve_shipment",
        "summary": "Retrieve a Shipment",
        "description": "\nRetrieve a shipment.\n",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Shipments"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/shipments/{id}/options": {
      "post": {
        "operationId": "add_shipment_options",
        "summary": "Add Shipment Options",
        "description": "\nAdd one or many options to your shipment.\n**eg:**\n- add shipment **insurance**\n- specify the preferred transaction **currency**\n- setup a **cash collected on delivery** option\n\n```json\n{\n    \"insurane\": {\n        \"amount\": 120,\n    },\n    \"currency\": \"USD\"\n}\n```\n\nAnd many more, check additional options available in the [reference](#operation/all_references).\n",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Shipments"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/shipments/{id}/purchase": {
      "post": {
        "operationId": "purchase_shipment",
        "summary": "Buy a Shipment",
        "description": "\nSelect your preferred rates to buy a shipment label.\n",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShipmentPurchaseData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ShipmentResponse"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Shipments"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/shipments/{id}/rates": {
      "get": {
        "operationId": "fetch_shipments_rates",
        "summary": "Fetch new Shipment Rates",
        "description": "\nRefresh the list of the shipment rates\n",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ShipmentResponse"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Shipments"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/tracking/{carrier_id}/{tracking_number}": {
      "get": {
        "operationId": "track_shipment",
        "summary": "Track a shipment",
        "description": "Track a shipment.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Tracking"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Shipments"
        ]
      },
      "parameters": [
        {
          "name": "carrier_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "tracking_number",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    }
  },
  "definitions": {
    "Address": {
      "required": [
        "countryCode"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Id",
          "description": "A unique identifier",
          "type": "string",
          "minLength": 1
        },
        "postalCode": {
          "title": "Postal code",
          "description": "The address postal code",
          "type": "string",
          "x-nullable": true
        },
        "city": {
          "title": "City",
          "description": "\nThe address city. \n**(required to create as shipment)**\n",
          "type": "string",
          "x-nullable": true
        },
        "federalTaxId": {
          "title": "Federal tax id",
          "description": "The party frederal tax id",
          "type": "string",
          "x-nullable": true
        },
        "stateTaxId": {
          "title": "State tax id",
          "description": "The party state id",
          "type": "string",
          "x-nullable": true
        },
        "personName": {
          "title": "Person name",
          "description": "\nattention to \n**(required to create as shipment)**\n",
          "type": "string",
          "x-nullable": true
        },
        "companyName": {
          "title": "Company name",
          "description": "The company name if the party is a company",
          "type": "string",
          "x-nullable": true
        },
        "countryCode": {
          "title": "Country code",
          "description": "The address country code",
          "type": "string",
          "enum": [
            "AD",
            "AE",
            "AF",
            "AG",
            "AI",
            "AL",
            "AM",
            "AN",
            "AO",
            "AR",
            "AS",
            "AT",
            "AU",
            "AW",
            "AZ",
            "BA",
            "BB",
            "BD",
            "BE",
            "BF",
            "BG",
            "BH",
            "BI",
            "BJ",
            "BM",
            "BN",
            "BO",
            "BR",
            "BS",
            "BT",
            "BW",
            "BY",
            "BZ",
            "CA",
            "CD",
            "CF",
            "CG",
            "CH",
            "CI",
            "CK",
            "CL",
            "CM",
            "CN",
            "CO",
            "CR",
            "CU",
            "CV",
            "CY",
            "CZ",
            "DE",
            "DJ",
            "DK",
            "DM",
            "DO",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ER",
            "ES",
            "ET",
            "FI",
            "FJ",
            "FK",
            "FM",
            "FO",
            "FR",
            "GA",
            "GB",
            "GD",
            "GE",
            "GF",
            "GG",
            "GH",
            "GI",
            "GL",
            "GM",
            "GN",
            "GP",
            "GQ",
            "GR",
            "GT",
            "GU",
            "GW",
            "GY",
            "HK",
            "HN",
            "HR",
            "HT",
            "HU",
            "IC",
            "ID",
            "IE",
            "IL",
            "IN",
            "IQ",
            "IR",
            "IS",
            "IT",
            "JE",
            "JM",
            "JO",
            "JP",
            "KE",
            "KG",
            "KH",
            "KI",
            "KM",
            "KN",
            "KP",
            "KR",
            "KV",
            "KW",
            "KY",
            "KZ",
            "LA",
            "LB",
            "LC",
            "LI",
            "LK",
            "LR",
            "LS",
            "LT",
            "LU",
            "LV",
            "LY",
            "MA",
            "MC",
            "MD",
            "ME",
            "MG",
            "MH",
            "MK",
            "ML",
            "MM",
            "MN",
            "MO",
            "MP",
            "MQ",
            "MR",
            "MS",
            "MT",
            "MU",
            "MV",
            "MW",
            "MX",
            "MY",
            "MZ",
            "NA",
            "NC",
            "NE",
            "NG",
            "NI",
            "NL",
            "NO",
            "NP",
            "NR",
            "NU",
            "NZ",
            "OM",
            "PA",
            "PE",
            "PF",
            "PG",
            "PH",
            "PK",
            "PL",
            "PR",
            "PT",
            "PW",
            "PY",
            "QA",
            "RE",
            "RO",
            "RS",
            "RU",
            "RW",
            "SA",
            "SB",
            "SC",
            "SD",
            "SE",
            "SG",
            "SH",
            "SI",
            "SK",
            "SL",
            "SM",
            "SN",
            "SO",
            "SR",
            "SS",
            "ST",
            "SV",
            "SY",
            "SZ",
            "TC",
            "TD",
            "TG",
            "TH",
            "TJ",
            "TL",
            "TN",
            "TO",
            "TR",
            "TT",
            "TV",
            "TW",
            "TZ",
            "UA",
            "UG",
            "US",
            "UY",
            "UZ",
            "VA",
            "VC",
            "VE",
            "VG",
            "VI",
            "VN",
            "VU",
            "WS",
            "XB",
            "XC",
            "XE",
            "XM",
            "XN",
            "XS",
            "XY",
            "YE",
            "YT",
            "ZA",
            "ZM",
            "ZW"
          ]
        },
        "email": {
          "title": "Email",
          "description": "The party email",
          "type": "string",
          "x-nullable": true
        },
        "phoneNumber": {
          "title": "Phone number",
          "description": "\nThe party phone number.\nNote that the expected format is: **1 514 0000000**\n\nCountry Code | Area Code | Phone\n--- | --- | ---\n1 | 514 | 0000000\n",
          "type": "string",
          "x-nullable": true
        },
        "stateCode": {
          "title": "State code",
          "description": "The address state code",
          "type": "string",
          "x-nullable": true
        },
        "suburb": {
          "title": "Suburb",
          "description": "The address suburb if known",
          "type": "string",
          "x-nullable": true
        },
        "residential": {
          "title": "Residential",
          "description": "Indicate if the address is residential or commercial (enterprise)",
          "type": "boolean"
        },
        "addressLine1": {
          "title": "Address line1",
          "description": "\nThe address line with street number \n**(required to create as shipment)**\n",
          "type": "string",
          "x-nullable": true
        },
        "addressLine2": {
          "title": "Address line2",
          "description": "The address line with suite number",
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "Message": {
      "required": [
        "carrierName",
        "carrierId"
      ],
      "type": "object",
      "properties": {
        "carrierName": {
          "title": "Carrier name",
          "description": "The targeted carrier",
          "type": "string",
          "minLength": 1
        },
        "carrierId": {
          "title": "Carrier id",
          "description": "The targeted carrier name (unique identifier)",
          "type": "string",
          "minLength": 1
        },
        "message": {
          "title": "Message",
          "description": "The error or warning message",
          "type": "string",
          "minLength": 1
        },
        "code": {
          "title": "Code",
          "description": "The message code",
          "type": "string",
          "minLength": 1
        },
        "details": {
          "title": "Details",
          "description": "any additional details",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "description": "The list of error messages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Message"
          }
        }
      }
    },
    "AddressData": {
      "required": [
        "countryCode"
      ],
      "type": "object",
      "properties": {
        "postalCode": {
          "title": "Postal code",
          "description": "The address postal code",
          "type": "string",
          "x-nullable": true
        },
        "city": {
          "title": "City",
          "description": "\nThe address city.\n**(required to create as shipment)**\n",
          "type": "string",
          "x-nullable": true
        },
        "federalTaxId": {
          "title": "Federal tax id",
          "description": "The party frederal tax id",
          "type": "string",
          "x-nullable": true
        },
        "stateTaxId": {
          "title": "State tax id",
          "description": "The party state id",
          "type": "string",
          "x-nullable": true
        },
        "personName": {
          "title": "Person name",
          "description": "\nattention to \n**(required to create as shipment)**\n",
          "type": "string",
          "x-nullable": true
        },
        "companyName": {
          "title": "Company name",
          "description": "The company name if the party is a company",
          "type": "string",
          "x-nullable": true
        },
        "countryCode": {
          "title": "Country code",
          "description": "The address country code",
          "type": "string",
          "enum": [
            "AD",
            "AE",
            "AF",
            "AG",
            "AI",
            "AL",
            "AM",
            "AN",
            "AO",
            "AR",
            "AS",
            "AT",
            "AU",
            "AW",
            "AZ",
            "BA",
            "BB",
            "BD",
            "BE",
            "BF",
            "BG",
            "BH",
            "BI",
            "BJ",
            "BM",
            "BN",
            "BO",
            "BR",
            "BS",
            "BT",
            "BW",
            "BY",
            "BZ",
            "CA",
            "CD",
            "CF",
            "CG",
            "CH",
            "CI",
            "CK",
            "CL",
            "CM",
            "CN",
            "CO",
            "CR",
            "CU",
            "CV",
            "CY",
            "CZ",
            "DE",
            "DJ",
            "DK",
            "DM",
            "DO",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ER",
            "ES",
            "ET",
            "FI",
            "FJ",
            "FK",
            "FM",
            "FO",
            "FR",
            "GA",
            "GB",
            "GD",
            "GE",
            "GF",
            "GG",
            "GH",
            "GI",
            "GL",
            "GM",
            "GN",
            "GP",
            "GQ",
            "GR",
            "GT",
            "GU",
            "GW",
            "GY",
            "HK",
            "HN",
            "HR",
            "HT",
            "HU",
            "IC",
            "ID",
            "IE",
            "IL",
            "IN",
            "IQ",
            "IR",
            "IS",
            "IT",
            "JE",
            "JM",
            "JO",
            "JP",
            "KE",
            "KG",
            "KH",
            "KI",
            "KM",
            "KN",
            "KP",
            "KR",
            "KV",
            "KW",
            "KY",
            "KZ",
            "LA",
            "LB",
            "LC",
            "LI",
            "LK",
            "LR",
            "LS",
            "LT",
            "LU",
            "LV",
            "LY",
            "MA",
            "MC",
            "MD",
            "ME",
            "MG",
            "MH",
            "MK",
            "ML",
            "MM",
            "MN",
            "MO",
            "MP",
            "MQ",
            "MR",
            "MS",
            "MT",
            "MU",
            "MV",
            "MW",
            "MX",
            "MY",
            "MZ",
            "NA",
            "NC",
            "NE",
            "NG",
            "NI",
            "NL",
            "NO",
            "NP",
            "NR",
            "NU",
            "NZ",
            "OM",
            "PA",
            "PE",
            "PF",
            "PG",
            "PH",
            "PK",
            "PL",
            "PR",
            "PT",
            "PW",
            "PY",
            "QA",
            "RE",
            "RO",
            "RS",
            "RU",
            "RW",
            "SA",
            "SB",
            "SC",
            "SD",
            "SE",
            "SG",
            "SH",
            "SI",
            "SK",
            "SL",
            "SM",
            "SN",
            "SO",
            "SR",
            "SS",
            "ST",
            "SV",
            "SY",
            "SZ",
            "TC",
            "TD",
            "TG",
            "TH",
            "TJ",
            "TL",
            "TN",
            "TO",
            "TR",
            "TT",
            "TV",
            "TW",
            "TZ",
            "UA",
            "UG",
            "US",
            "UY",
            "UZ",
            "VA",
            "VC",
            "VE",
            "VG",
            "VI",
            "VN",
            "VU",
            "WS",
            "XB",
            "XC",
            "XE",
            "XM",
            "XN",
            "XS",
            "XY",
            "YE",
            "YT",
            "ZA",
            "ZM",
            "ZW"
          ]
        },
        "email": {
          "title": "Email",
          "description": "The party email",
          "type": "string",
          "x-nullable": true
        },
        "phoneNumber": {
          "title": "Phone number",
          "description": "\nThe party phone number.\nNote that the expected format is: **1 514 0000000**\n\nCountry Code | Area Code | Phone\n--- | --- | ---\n1 | 514 | 0000000\n",
          "type": "string",
          "x-nullable": true
        },
        "stateCode": {
          "title": "State code",
          "description": "The address state code",
          "type": "string",
          "x-nullable": true
        },
        "suburb": {
          "title": "Suburb",
          "description": "The address suburb if known",
          "type": "string",
          "x-nullable": true
        },
        "residential": {
          "title": "Residential",
          "description": "Indicate if the address is residential or commercial (enterprise)",
          "type": "boolean"
        },
        "addressLine1": {
          "title": "Address line1",
          "description": "\nThe address line with street number \n**(required to create as shipment)**\n",
          "type": "string",
          "x-nullable": true
        },
        "addressLine2": {
          "title": "Address line2",
          "description": "The address line with suite number",
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "CarrierSettings": {
      "required": [
        "id",
        "carrierName",
        "carrierId",
        "test"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Id",
          "description": "A unique address identifier",
          "type": "string",
          "minLength": 1
        },
        "carrierName": {
          "title": "Carrier name",
          "description": "Indicates a carrier (type)",
          "type": "string",
          "enum": [
            "canadapost",
            "dhl",
            "fedex",
            "purolator",
            "ups",
            "eshipper",
            "freightcom"
          ]
        },
        "carrierId": {
          "title": "Carrier id",
          "description": "Indicates a specific carrier configuration name.",
          "type": "string",
          "minLength": 1
        },
        "test": {
          "title": "Test",
          "description": "\nThe test flag indicates whether to use a carrier configured for test. \n",
          "type": "boolean"
        }
      }
    },
    "Commodity": {
      "required": [
        "countryCode"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Id",
          "description": "A unique identifier",
          "type": "string",
          "minLength": 1
        },
        "postalCode": {
          "title": "Postal code",
          "description": "The address postal code",
          "type": "string",
          "x-nullable": true
        },
        "city": {
          "title": "City",
          "description": "\nThe address city. \n**(required to create as shipment)**\n",
          "type": "string",
          "x-nullable": true
        },
        "federalTaxId": {
          "title": "Federal tax id",
          "description": "The party frederal tax id",
          "type": "string",
          "x-nullable": true
        },
        "stateTaxId": {
          "title": "State tax id",
          "description": "The party state id",
          "type": "string",
          "x-nullable": true
        },
        "personName": {
          "title": "Person name",
          "description": "\nattention to \n**(required to create as shipment)**\n",
          "type": "string",
          "x-nullable": true
        },
        "companyName": {
          "title": "Company name",
          "description": "The company name if the party is a company",
          "type": "string",
          "x-nullable": true
        },
        "countryCode": {
          "title": "Country code",
          "description": "The address country code",
          "type": "string",
          "enum": [
            "AD",
            "AE",
            "AF",
            "AG",
            "AI",
            "AL",
            "AM",
            "AN",
            "AO",
            "AR",
            "AS",
            "AT",
            "AU",
            "AW",
            "AZ",
            "BA",
            "BB",
            "BD",
            "BE",
            "BF",
            "BG",
            "BH",
            "BI",
            "BJ",
            "BM",
            "BN",
            "BO",
            "BR",
            "BS",
            "BT",
            "BW",
            "BY",
            "BZ",
            "CA",
            "CD",
            "CF",
            "CG",
            "CH",
            "CI",
            "CK",
            "CL",
            "CM",
            "CN",
            "CO",
            "CR",
            "CU",
            "CV",
            "CY",
            "CZ",
            "DE",
            "DJ",
            "DK",
            "DM",
            "DO",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ER",
            "ES",
            "ET",
            "FI",
            "FJ",
            "FK",
            "FM",
            "FO",
            "FR",
            "GA",
            "GB",
            "GD",
            "GE",
            "GF",
            "GG",
            "GH",
            "GI",
            "GL",
            "GM",
            "GN",
            "GP",
            "GQ",
            "GR",
            "GT",
            "GU",
            "GW",
            "GY",
            "HK",
            "HN",
            "HR",
            "HT",
            "HU",
            "IC",
            "ID",
            "IE",
            "IL",
            "IN",
            "IQ",
            "IR",
            "IS",
            "IT",
            "JE",
            "JM",
            "JO",
            "JP",
            "KE",
            "KG",
            "KH",
            "KI",
            "KM",
            "KN",
            "KP",
            "KR",
            "KV",
            "KW",
            "KY",
            "KZ",
            "LA",
            "LB",
            "LC",
            "LI",
            "LK",
            "LR",
            "LS",
            "LT",
            "LU",
            "LV",
            "LY",
            "MA",
            "MC",
            "MD",
            "ME",
            "MG",
            "MH",
            "MK",
            "ML",
            "MM",
            "MN",
            "MO",
            "MP",
            "MQ",
            "MR",
            "MS",
            "MT",
            "MU",
            "MV",
            "MW",
            "MX",
            "MY",
            "MZ",
            "NA",
            "NC",
            "NE",
            "NG",
            "NI",
            "NL",
            "NO",
            "NP",
            "NR",
            "NU",
            "NZ",
            "OM",
            "PA",
            "PE",
            "PF",
            "PG",
            "PH",
            "PK",
            "PL",
            "PR",
            "PT",
            "PW",
            "PY",
            "QA",
            "RE",
            "RO",
            "RS",
            "RU",
            "RW",
            "SA",
            "SB",
            "SC",
            "SD",
            "SE",
            "SG",
            "SH",
            "SI",
            "SK",
            "SL",
            "SM",
            "SN",
            "SO",
            "SR",
            "SS",
            "ST",
            "SV",
            "SY",
            "SZ",
            "TC",
            "TD",
            "TG",
            "TH",
            "TJ",
            "TL",
            "TN",
            "TO",
            "TR",
            "TT",
            "TV",
            "TW",
            "TZ",
            "UA",
            "UG",
            "US",
            "UY",
            "UZ",
            "VA",
            "VC",
            "VE",
            "VG",
            "VI",
            "VN",
            "VU",
            "WS",
            "XB",
            "XC",
            "XE",
            "XM",
            "XN",
            "XS",
            "XY",
            "YE",
            "YT",
            "ZA",
            "ZM",
            "ZW"
          ]
        },
        "email": {
          "title": "Email",
          "description": "The party email",
          "type": "string",
          "x-nullable": true
        },
        "phoneNumber": {
          "title": "Phone number",
          "description": "\nThe party phone number.\nNote that the expected format is: **1 514 0000000**\n\nCountry Code | Area Code | Phone\n--- | --- | ---\n1 | 514 | 0000000\n",
          "type": "string",
          "x-nullable": true
        },
        "stateCode": {
          "title": "State code",
          "description": "The address state code",
          "type": "string",
          "x-nullable": true
        },
        "suburb": {
          "title": "Suburb",
          "description": "The address suburb if known",
          "type": "string",
          "x-nullable": true
        },
        "residential": {
          "title": "Residential",
          "description": "Indicate if the address is residential or commercial (enterprise)",
          "type": "boolean"
        },
        "addressLine1": {
          "title": "Address line1",
          "description": "\nThe address line with street number \n**(required to create as shipment)**\n",
          "type": "string",
          "x-nullable": true
        },
        "addressLine2": {
          "title": "Address line2",
          "description": "The address line with suite number",
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "Card": {
      "title": "Credit card",
      "description": "The payment credit card for payment by card",
      "required": [
        "type",
        "number",
        "expiryMonth",
        "expiryYear",
        "securityCode"
      ],
      "type": "object",
      "properties": {
        "type": {
          "title": "Type",
          "description": "The credit card type",
          "type": "string",
          "minLength": 1
        },
        "number": {
          "title": "Number",
          "description": "The credit card number",
          "type": "string",
          "minLength": 1
        },
        "expiryMonth": {
          "title": "Expiry month",
          "description": "The credit card expiry month (MM)",
          "type": "string",
          "minLength": 1
        },
        "expiryYear": {
          "title": "Expiry year",
          "description": "The credit card expiry year (YYYY)",
          "type": "string",
          "minLength": 1
        },
        "securityCode": {
          "title": "Security code",
          "description": "The credit card security code often at the back (000)",
          "type": "string",
          "minLength": 1
        },
        "name": {
          "title": "Name",
          "description": "The name inscribed on the credit card",
          "type": "string",
          "x-nullable": true
        },
        "postalCode": {
          "title": "Postal code",
          "description": "The credit card registration address postal code",
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "Payment": {
      "title": "Duty",
      "description": "\nThe payment details.\nNote that this is required for a Dutiable parcel shipped internationally.\n",
      "required": [
        "paidBy",
        "currency"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Id",
          "description": "A unique identifier",
          "type": "string",
          "minLength": 1
        },
        "paidBy": {
          "title": "Paid by",
          "description": "The payment payer",
          "type": "string",
          "enum": [
            "sender",
            "recipient",
            "third_party",
            "credit_card"
          ]
        },
        "amount": {
          "title": "Amount",
          "description": "The payment amount if known",
          "type": "number",
          "x-nullable": true
        },
        "currency": {
          "title": "Currency",
          "description": "The payment amount currency",
          "type": "string",
          "enum": [
            "EUR",
            "AED",
            "USD",
            "XCD",
            "AMD",
            "ANG",
            "AOA",
            "ARS",
            "AUD",
            "AWG",
            "AZN",
            "BAM",
            "BBD",
            "BDT",
            "XOF",
            "BGN",
            "BHD",
            "BIF",
            "BMD",
            "BND",
            "BOB",
            "BRL",
            "BSD",
            "BTN",
            "BWP",
            "BYN",
            "BZD",
            "CAD",
            "CDF",
            "XAF",
            "CHF",
            "NZD",
            "CLP",
            "CNY",
            "COP",
            "CRC",
            "CUC",
            "CVE",
            "CZK",
            "DJF",
            "DKK",
            "DOP",
            "DZD",
            "EGP",
            "ERN",
            "ETB",
            "FJD",
            "GBP",
            "GEL",
            "GHS",
            "GMD",
            "GNF",
            "GTQ",
            "GYD",
            "HKD",
            "HNL",
            "HRK",
            "HTG",
            "HUF",
            "IDR",
            "ILS",
            "INR",
            "IRR",
            "ISK",
            "JMD",
            "JOD",
            "JPY",
            "KES",
            "KGS",
            "KHR",
            "KMF",
            "KPW",
            "KRW",
            "KWD",
            "KYD",
            "KZT",
            "LAK",
            "LKR",
            "LRD",
            "LSL",
            "LYD",
            "MAD",
            "MDL",
            "MGA",
            "MKD",
            "MMK",
            "MNT",
            "MOP",
            "MRO",
            "MUR",
            "MVR",
            "MWK",
            "MXN",
            "MYR",
            "MZN",
            "NAD",
            "XPF",
            "NGN",
            "NIO",
            "NOK",
            "NPR",
            "OMR",
            "PEN",
            "PGK",
            "PHP",
            "PKR",
            "PLN",
            "PYG",
            "QAR",
            "RSD",
            "RUB",
            "RWF",
            "SAR",
            "SBD",
            "SCR",
            "SDG",
            "SEK",
            "SGD",
            "SHP",
            "SLL",
            "SOS",
            "SRD",
            "SSP",
            "STD",
            "SYP",
            "SZL",
            "THB",
            "TJS",
            "TND",
            "TOP",
            "TRY",
            "TTD",
            "TWD",
            "TZS",
            "UAH",
            "UYU",
            "UZS",
            "VEF",
            "VND",
            "VUV",
            "WST",
            "YER",
            "ZAR"
          ]
        },
        "accountNumber": {
          "title": "Account number",
          "description": "The selected rate carrier payer account number",
          "type": "string",
          "x-nullable": true
        },
        "creditCard": {
          "$ref": "#/definitions/Card"
        },
        "contact": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "Invoice": {
      "title": "Invoice",
      "description": "The shipment invoice required for commercial shipment.",
      "required": [
        "date"
      ],
      "type": "object",
      "properties": {
        "date": {
          "title": "Date",
          "description": "The invoice date",
          "type": "string",
          "minLength": 1
        },
        "identifier": {
          "title": "Identifier",
          "description": "The internal invoice document identifier",
          "type": "string",
          "x-nullable": true
        },
        "type": {
          "title": "Type",
          "description": "The invoice type",
          "type": "string",
          "x-nullable": true
        },
        "copies": {
          "title": "Copies",
          "description": "The number of invoice copies",
          "type": "integer",
          "x-nullable": true
        }
      }
    },
    "Customs": {
      "type": "object",
      "properties": {
        "id": {
          "title": "Id",
          "description": "A unique identifier",
          "type": "string",
          "minLength": 1
        },
        "noEei": {
          "title": "No eei",
          "type": "string",
          "x-nullable": true
        },
        "aes": {
          "title": "Aes",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "description": {
          "title": "Description",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "termsOfTrade": {
          "title": "Terms of trade",
          "description": "The customs 'term of trade' also known as 'incoterm'",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "commodities": {
          "description": "The parcel content items",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Commodity"
          },
          "x-nullable": true
        },
        "duty": {
          "$ref": "#/definitions/Payment"
        },
        "invoice": {
          "$ref": "#/definitions/Invoice"
        },
        "commercialInvoice": {
          "title": "Commercial invoice",
          "description": "Indicates if the shipment is commercial",
          "type": "boolean",
          "x-nullable": true
        }
      }
    },
    "CustomsData": {
      "type": "object",
      "properties": {
        "noEei": {
          "title": "No eei",
          "type": "string",
          "x-nullable": true
        },
        "aes": {
          "title": "Aes",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "description": {
          "title": "Description",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "termsOfTrade": {
          "title": "Terms of trade",
          "description": "The customs 'term of trade' also known as 'incoterm'",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "commodities": {
          "description": "The parcel content items",
          "type": "array",
          "items": {
[...]
