hostName: "karrio-server"
domain: "jtl-shipping-cloud-dev.com"
port: "5002"
detachedWorker: "true"

extraEnv:
  # DATABASE_ENGINE: "postgresql_psycopg2"
  # KARRIO_HTTP_PORT: "5002"
  # ENABLE_ALL_PLUGINS_BY_DEFAULT: "True"

  # Email (dev defaults)
  EMAIL_PORT: "1025"
  EMAIL_USE_TLS: "false"
  EMAIL_HOST: "maildev"
  EMAIL_HOST_USER: "admin@example.com"
  EMAIL_HOST_PASSWORD: ""

  # OpenTelemetry (optional)
  OTEL_ENABLED: "false"
  OTEL_SERVICE_NAME: "jtl-api"
  OTEL_EXPORTER_OTLP_ENDPOINT: ""
  OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
  OTEL_EXPORTER_OTLP_HEADERS: ""
  OTEL_RESOURCE_ATTRIBUTES: ""
  OTEL_ENVIRONMENT: "development"
  ALLOWED_HOSTS: "karrio-server.jtl-shipping-cloud-dev.com"
  CSRF_TRUSTED_ORIGINS: "https://karrio-server.jtl-shipping-cloud-dev.com"

image:
  repository: jtlstgwesteuropeacr1.azurecr.io/shipping-platform
  tag: latest

csi:
  enabled: true
  volumes:
    - name: kv-cosmos-secrets
      secretProviderClass: karrio-db-kv-spc
      mountPath: /mnt/secrets/cosmos
      readOnly: true
      driver: secrets-store.csi.k8s.io
    - name: kv-redis-secrets
      secretProviderClass: redis-kv-spc
      mountPath: /mnt/secrets/redis
      readOnly: true
      driver: secrets-store.csi.k8s.io
    - name: shipping-platform-secrets
      secretProviderClass: shipping-platform-kv-spc
      mountPath: /mnt/secrets/other
      readOnly: true
      driver: secrets-store.csi.k8s.io

worker:
  enabled: true
