/* ==========================================================================
Alertify styles
========================================================================== */

.alertify .ajs-dialog {
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    border-radius: 8px !important;
}

.alertify.ajs-maximized .ajs-dialog {
    top: 50% !important;
    transform: translateY(-50%) !important;
    margin: auto;
    border-radius: 0 !important;
}

.ajs-dimmer {
    background-color: rgba($primary, 0.3) !important;
}

.ajs-header {
    font-weight: 500 !important;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px 8px 0 0 !important;
    background: $white !important;
    border: none !important;
}

.ajs-commands {
    button {
        outline: none !important;
    }
}

.ajs-footer {
    border-radius: 0 0 6px 6px !important;
    background: $white !important;
    border: none !important;
}

.ajs-content {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    padding: 16px 0 !important;
    color: $muted-grey;

    b {
        font-weight: 500 !important;
        color: $primary !important;
    }
}

.ajs-buttons {
    padding: 6px 10px;
}

.ajs-close {
    outline: none !important;
}

.ajs-ok {
    padding: 8px 22px 8px 22px;
    font-weight: 600;
    height: 33px;
    min-width: 82px !important;
    line-height: 0;
    text-transform: capitalize !important;
    font-weight: 500 !important;
    font-size: .75rem;
    border-radius: 3px;
    background: $primary !important;
    color: $white !important;
    border: 1px solid $primary;
    border-radius: 100px;
    transition: all .3s;
    cursor: pointer;
    outline: none !important;

    &:hover {
        box-shadow: $primary-box-shadow;
    }
}

.ajs-cancel {
    padding: 8px 22px 8px 22px;
    font-weight: 600;
    height: 33px;
    min-width: 82px !important;
    line-height: 0;
    text-transform: capitalize !important;
    font-weight: 500 !important;
    font-size: .75rem;
    border-radius: 3px;
    background: $white !important;
    color: $muted-grey !important;
    border: 1px solid $placeholder !important;
    border-radius: 100px;
    transition: all .3s;
    cursor: pointer;
    outline: none !important;
}
