{% extends "drf-yasg/swagger-ui.html" %}{% load static %}

{% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'purplship/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'purplship/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'purplship/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'purplship/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'purplship/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'purplship/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="{% static 'purplship/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block extra_styles %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127651907-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-127651907-1');
    </script>
{% endblock %}

{% block user_context_message %}
    {% if request.user.is_authenticated %}
        <div class="hello">
            <span class="django-session">Session</span> 
            <span class="label label-primary">{{ request.user }}</span>
        </div>
    {% endif %}
{% endblock %}

{% block django_logout_message %}
    Logout
{% endblock %}

{% block django_login_message %}
    Session Login
{% endblock %}