/* ==========================================================================
Layout
========================================================================== */

/* ==========================================================================
Collapsed sidebar
========================================================================== */

.plex-compressed-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background: $light-grey;
  border-right: 1px solid $fade-grey;
  transform: translateX(0);
  transition: all 0.3s;
  z-index: 92;

  &.is-inactive {
    transform: translateX(-100%);
  }

  .compressed-header {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $fade-grey;

    h3 {
      font-family: "Pacifico", sans-serif;
      font-weight: bold;
      font-size: 1.6rem;
      color: $dark-text;
    }
  }

  .compressed-menu {
    position: relative;

    .compressed-naver {
      position: absolute;
      top: 0;
      right: 0;
      height: 60px;
      width: 2px;
      border-radius: 4px;
      background: $primary;
      transition: all 0.3s;
    }
  }

  .compressed-item {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.is-bordered {
      border-bottom: 1px solid $fade-grey;
    }

    &.is-active {
      svg {
        stroke: $dark-text;
      }

      &:first-child {
        ~ .compressed-naver {
          margin-top: 0;
        }
      }

      &:nth-child(2) {
        ~ .compressed-naver {
          margin-top: 60px;
        }
      }

      &:nth-child(3) {
        ~ .compressed-naver {
          margin-top: 120px;
        }
      }

      &:nth-child(4) {
        ~ .compressed-naver {
          margin-top: 180px;
        }
      }

      &:nth-child(5) {
        ~ .compressed-naver {
          margin-top: 240px;
        }
      }

      &:nth-child(6) {
        ~ .compressed-naver {
          margin-top: 300px;
        }
      }
    }

    svg {
      height: 20px;
      width: 20px;
      stroke-width: 1.6px;
      stroke: lighten($dark-text, 26%);
    }
  }
}

/* ==========================================================================
Expanded sidebar
========================================================================== */
.plex-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: $light-grey;
  border-right: 1px solid $fade-grey;
  z-index: 91;
  transform: translateX(0);
  transition: all 0.3s;

  &.is-inactive {
    transform: translateX(-100%);
  }

  .sidebar-header {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    h3 {
      font-family: "Pacifico", sans-serif;
      font-weight: bold;
      font-size: 1.6rem;
      color: $dark-text;
    }
  }

  .avatar-container {
    position: relative;
    min-height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;

    .avatar-wrapper {
      text-align: center;

      .avatar {
        position: relative;
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto 4px auto;

        img {
          display: block;
          border-radius: 50%;
        }

        .badge {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          height: 22px;
          width: 22px;
          border: 2px solid $light-grey;
          border-radius: 50%;
          background: $primary;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            height: 10px;
            width: 10px;
            stroke: $white;
            stroke-width: 3px;
          }
        }
      }

      h3 {
        font-family: $font;
        font-size: 0.85rem;
        font-weight: 600;
        color: $dark-text;
      }

      p {
        font-size: 0.8rem;
        color: $muted-grey;
      }
    }
  }

  .sidebar-menu {
    position: relative;
    width: 100%;
    height: calc(100% - 220px);

    .menu-item {
      display: flex;
      align-items: center;
      height: 34px;
      padding: 0 16px 0 30px;

      &.is-active {
        @for $i from 1 through 10 {
          &.menu-item:nth-child(n + #{$i}) {
            ~ .naver {
              margin-top: ($i - 1) * 35px;
              display: block;
            }
          }
        }

        span {
          color: $primary;
          font-weight: 600;
        }

        svg {
          stroke: $primary;
          color: $primary;
        }
      }

      span {
        display: block;
        font-size: 0.9rem;
        font-weight: 500;
        // margin-left: 16px;
        color: lighten($dark-text, 18%);
      }

      svg {
        height: 20px;
        width: 20px;
        stroke-width: 1.6px;
        stroke: lighten($dark-text, 18%);
        color: lighten($dark-text, 18%);
      }
    }

    .naver {
      position: absolute;
      top: 0;
      right: 0;
      height: 35px;
      width: 2px;
      border-radius: 4px;
      background: $primary;
      transition: all 0.3s;
      display: none;
    }
  }
}

/* ==========================================================================
Main wrappers
========================================================================== */

.plex-wrapper {
  width: calc(100% - 280px);
  margin-left: 280px;
  min-height: 98vh;
  background: $white;
  padding: 0 40px;
  transition: all 0.3s;

  &.is-expanded {
    width: calc(100% - 80px);
    margin-left: 80px;
  }

  .wrapper-inner {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;

    .dashboard-content {
      padding: 16px 0;

      //Section title
      .section-title {
        display: flex;
        align-items: center;
        padding: 30px 0 20px 0;

        > svg {
          height: 22px;
          width: 22px;
          stroke: $muted-grey;
          stroke-width: 1.4px;
          margin-right: 8px;
        }

        > h3 {
          text-transform: uppercase;
          font-family: $font;
          font-weight: 500;
          font-size: 0.8rem;
          color: $muted-grey;
        }

        .dropdown-wrap {
          margin-left: auto;
        }
      }
    }
  }
}
