/* ==========================================================================
Media Queries
========================================================================== */

/* ==========================================================================
Tablet Landscape
========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .cloned-nav {
        width: calc(100% - 240px) !important;
        margin-left: 240px !important;

        &.is-expanded {
            width: calc(100% - 80px) !important;
            margin-left: 80px !important;
        }
    }

    .plex-sidebar {
        width: 240px;
    }

    .plex-wrapper {
        &:not(.is-expanded) {
            width: calc(100% - 240px);
            margin-left: 240px;

            .main-card {
                .right-side {
                    min-width: 46% !important;
                }
            }

            .card-group {
                flex-direction: column !important;

                .left-card {
                    margin-bottom: 16px;
                    margin-right: 0 !important;
                }

                .right-card {
                    margin-left: 0 !important;
                    width: 100% !important;
                    max-width: 100% !important;
                }
            }
        }
    }
}

/* ==========================================================================
Tablet Portrait
========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .static-nav, .cloned-nav {
        .nav-start {
            .field {
                padding: 0 20px;
            }
        }

        .nav-end {
            .mobile-search-trigger {
                display: none !important;
            }
        }

        .mobile-search {
            display: none !important;
            width: 100%;

            .field {
                width: 100%;
            }

            &.is-active {
                display: flex;
            }
        }
    }

    .cloned-nav {
        margin: 0 !important;
        width: 100% !important;
    }

    .plex-compressed-sidebar {
        display: none;
    }

    .plex-sidebar, .plex-sidebar.is-inactive {
        transform: translateX(-100%);

        &.is-mobile-active {
            transform: translateX(0);
        }
    }

    .plex-wrapper {
        width: 100% !important;
        margin: 0 !important;

        .main-card {
            .right-side {
                min-width: 46% !important;
            }
        }

        .card-group {
            flex-direction: column !important;

            .left-card {
                margin-bottom: 30px;
                margin-right: 0 !important;
            }

            .right-card {
                margin-left: 0 !important;
                width: 100% !important;
                max-width: 100% !important;
            }
        }
    }
}

/* ==========================================================================
Mobile Only
========================================================================== */

@media (max-width: 767px) {
    .static-nav, .cloned-nav {
        .nav-start {
            .field {
                display: none;
            }
        }

        .mobile-search {
            display: none;
            width: 100%;

            .field {
                width: 100%;
            }

            &.is-active {
                display: flex;
            }
        }
    }

    .cloned-nav {
        margin: 0 !important;
        width: 100% !important;
        padding: 0 20px !important;
    }

    .plex-compressed-sidebar {
        display: none;
    }

    .plex-sidebar, .plex-sidebar.is-inactive {
        transform: translateX(-100%);

        &.is-mobile-active {
            transform: translateX(0);
        }
    }

    .plex-wrapper {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 20px !important;

        .main-card {
            flex-direction: column;

            .left-side {
                padding-right: 0 !important;
                border-right: none !important;
            }

            .right-side {
                padding-left: 0 !important;

                .header {
                    padding-top: 20px;
                }

                .custom-chart {
                    margin-top: 40px;
                }
            }
        }

        .card-group {
            flex-direction: column;

            .left-card {
                flex-direction: column;
                margin-right: 0;
                width: 100%;
                margin-bottom: 30px;

                .message-sender {
                    flex-direction: column;
                    padding: 16px !important;
                    border-right: none !important;
                }

                .message-text {
                    max-width: 236px !important;
                    text-align: center;
                    margin: 0 auto !important;
                    padding: 0 !important;
                }
            }

            .right-card {
                flex-direction: column;
                margin-left: 0 !important;
                width: 100%;
                max-width: 100% !important;
            }
        }

        .activity-items {
            .activity-item {
                position: relative;
                flex-direction: column;

                .users {
                    flex-direction: column;
                    text-align: center;

                    .meta {
                        margin: 10px 0 !important;
                    }
                }

                .details {
                    justify-content: center;
                    width: 100%;

                    .amount {
                        margin: 16px 0 0 0 !important;
                    }

                    .icon-button {
                        display: none !important;
                    }

                    .dropdown-wrap {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
Responsive adjustments
========================================================================== */

@media (max-width: 768px) {
    .mobile-item {
        &.is-block {
            display: block;
        }

        &.is-flex {
            display: flex;
        }
    }
}

@media (min-width: 769px) {
    .mobile-item {
        &.is-block {
            display: none !important;
        }

        &.is-flex {
            display: none !important;
        }
    }

    .mobile-search {
        display: none !important;
    }
}
