/* ==========================================================================
Basic buttons
========================================================================== */

.button {
  font-size: 0.9rem;
  transition: all 0.3s;

  &.is-solid {
    height: 44px;
    min-width: 130px;
    line-height: 1;
    font-size: 0.9rem;
    font-weight: 500;

    &.is-big {
      height: 48px;
      min-width: 200px;
    }

    &.raised:hover,
    &.is-raised {
      box-shadow: $light-box-shadow;
    }
  }
}
