/* ==========================================================================
Plex Card
========================================================================== */

.plex-card {
    width: 100%;
    background: $white;
    border-radius: 6px;
    border: 1px solid darken($fade-grey, 3%);
}