/* ==========================================================================
Form Controls
========================================================================== */

.field {
    position: relative;
}

.control {
    &.has-validation {
        &.has-error {
            > label .error {
                display: block;
            }

            .control {
                .input {
                    border-color: $red;
                }

                .error-icon {
                    display: flex;
                }
            }
        }

        .control {
            position: relative;

            .input {
                padding-right: 40px;
            }

            .error-icon {
                position: absolute;
                top: 0;
                right: 0;
                height: 40px;
                width: 40px;
                display: none;
                justify-content: center;
                align-items: center;

                svg {
                    height: 18px;
                    width: 18px;
                    stroke: $red;
                    transition: stroke .3s;
                }
            }
        }
    }

    &.has-icon {
        position: relative;

        .input {
            padding-left: 40px;

            &:focus + .form-icon svg {
                stroke: $primary;
            }
        }

        .form-icon {
            position: absolute;
            top: 0;
            left: 0;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                height: 18px;
                width: 18px;
                stroke: $placeholder;
                transition: stroke .3s;
            }
        }
    }

    &.has-icon-right {

        .input {
            padding-right: 40px;
        }

        .right-icon {
            right: 0;
            left: unset !important;
        }
    }
}

/* ==========================================================================
Inputs
========================================================================== */

.input, .textarea {
    border-color: darken($fade-grey, 3%);
    box-shadow: none;
    transition: all .3s;

    &:focus, &:active {
        border-color: darken($fade-grey, 1%);
        box-shadow: $light-box-shadow !important;
    }
}
