{% extends "purpleserver/base_site.html" %}
{% load i18n static %}
{% block title %} | Tracking - {{ tracker.tracking_number }}{% endblock %}

{% block root %}
  <section class="hero is-fullheight">

    <!-- Main content -->
    <div class="container">

      <div class="has-text-centered my-6">
        <img src="{% static 'branding/logo.svg' %}" width="100" alt="Purplship" />
      </div>

      <div class="card isolated-card">
        <div class="card-content">

          <p class="has-text-centered pb-4">
            <span class="tag is-primary is-medium">{{ carrier_name }}</span>
          </p>

          <p class="subtitle has-text-centered is-6">
            <span>{% trans 'Tracking ID' %}</span> <strong>{{ tracker.tracking_number }}</strong>
          </p>

        </div>

        <footer class="card-footer">

          {% if tracker.delivered %}
            <p class="card-footer-item has-background-success has-text-white is-size-4">{% trans 'Delivered' %}</p>
          {% elif tracker.events|length == 0 %}
            <p class="card-footer-item has-background-grey-dark has-text-white is-size-4">{% trans 'Pending' %}</p>
          {% else %}
            <p class="card-footer-item has-background-info has-text-white is-size-4">{% trans 'In-Transit' %}</p>
          {% endif %}

        </footer>

      </div>

      <hr/>

      {% regroup events by date as event_list %}
      <div class="my-6">

        <aside class="menu">
          {% for day in event_list %}
          <ul class="menu-list mb-5" style="max-width: 28rem;">
            <li>
              <p class="menu-label is-size-6 is-capitalized">{{ day.grouper }}</p>
              {% for event in day.list %}
              <ul>
                <li class="my-2">
                  <code>{{ event.time }}</code>
                  <span class="is-subtitle is-size-7 my-1 has-text-weight-semibold">{{ event.location }}</span>
                </li>
                <li class="my-2">
                  <span class="is-subtitle is-size-7 my-1 has-text-weight-semibold has-text-grey">{{ event.description }}</span>
                </li>
              </ul>
              {% endfor %}
            </li>
          </ul>
          {% endfor %}
        </aside>

      </div>

    </div>

    <hr class="mt-4"/>

    <!-- Footer -->
    <div class="hero-footer mb-4">
      <div class="content has-text-centered">
        <p>
          <a href="{{ APP_WEBSITE }}" class="button is-white">Powered by &copy; {{ APP_NAME }}</a>
        </p>
      </div>
    </div>

  </section>
{% endblock %}