/* ==========================================================================
Purplship custom styling
========================================================================== */

@import "./theme/main.scss";


.card {
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #e5e5e5;
}

.options-item, .form-icon {
    color: #A9ABAC;
}

.shipments-table {
    .carrier {
        width: 12%;
    }
    .mode {
        width: 6%;
    }
    .recipient {
        min-width: 30%;
    }
    .creation {
        width: 12%;
    }
    .status {
        width: 12%
    }
    .action {
        width: 18%;
    }
}

.connections-table {
    .carrier {
        width: 24%;
        text-align: center !important;
    }
    .mode {
        width: 6%;
    }
    .details {

    }
    .action {
        width: 15%;
    }
}

.logs-table {
    .status {
        width: 8%;
    }
    .description {
    }
    .date {
        width: 20%;
    }
}

hr {
    background-color: #dddddd;
}

.plex-sidebar {
    z-index: 30;
}

.log-card-header {
    border-bottom: 1px solid #ddd;
}

.bottom-menu-item {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.purplship-notifier {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    opacity: .9;
    border-radius: 0;
    font-weight: 700;
}

.table-container {
    overflow: visible;
}

td > div.dropdown.is-active .dropdown-menu {
    top: 75%;
}

.label-container {
    width: 90%;
    height: 90%;
    z-index: 1;
}

.fullscreen {
    background: #f7f7f7;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.small-icon > svg {
    width: .8em !important;
    height: .8em !important;
}

.tab-content {
    display: none;

    &.is-active {
        display: block;
    }
}


.is-boxknight {
    background-color: #ddd !important;
    color: #1890ff !important;
}
.is-canadapost {
    background-color: #1a4183 !important;
    color: #ddd !important;
}
.is-canpar {
    background-color: #ddd !important;
    color: #004890 !important;
}
.is-dicom {
    background-color: #ddd !important;
    color: #ddd !important;
}
.is-dhl {
    background-color: #fc0 !important;
    color: #c00 !important;
}
.is-eshipper {
    background-color: #472F92 !important;
    color: #fff !important;
}
.is-fedex {
    background-color: #4d148c !important;
    color: #ddd !important;
}
.is-freightcom {
    background-color:#0072bc !important;
    color: #333 !important;
}
.is-purolator {
    background-color: #001996 !important;
    color: #e00000 !important;
}
.is-ups {
    background-color:#FFD100 !important;
    color:#242424;
}
.is-usps {
    background-color:#333366 !important;
    color: #fff !important;
}
