.card {
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #e5e5e5;
}

.options-item, .form-icon {
    color: #A9ABAC;
}

.shipments-table {
    .carrier {
        width: 14%;
    }
    .mode {
        width: 6%;
    }
    .recipient {

    }
    .creation {
        width: 15%;
    }
    .status {
        width: 15%
    }
}

.connections-table {
    .carrier {
        width: 24%;
        text-align: center !important;
    }
    .mode {
        width: 6%;
    }
    .details {

    }
    .action {
        width: 15%;
    }
}

.logs-table {
    .status {
        width: 8%;
    }
    .description {
    }
    .date {
        width: 20%;
    }
}

hr {
    background-color: #dddddd;
}

.plex-sidebar {
    z-index: 30;
}

.log-card-header {
    border-bottom: 1px solid #ddd;
}

.bottom-menu-item {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.purplship-notifier {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    opacity: .9;
    border-radius: 0;
    font-weight: 700;
}
