{
    http_port 80
    https_port 443
}
api.{$DOMAIN} {
    header Strict-Transport-Security max-age=31536000;
    header -Server
    handle_path /static/* {
        root * /var/www/karrio/static
        file_server {
            precompressed br gzip
        }
    }
    handle {
        reverse_proxy http://api:5002 {
            header_up X-Forwarded-Proto https
        }
    }
    encode gzip
    log {
        output stdout
    }
}
app.{$DOMAIN} {
    reverse_proxy http://dashboard:3102 {
        header_up X-Forwarded-Proto https
    }
}
