/* ==========================================================================
Dashboard page styles
========================================================================== */

.plex-wrapper {
    .wrapper-inner {
        .dashboard-content {
            //Main top card
            .main-card {
                @extend .plex-card;

                padding: 30px;
                display: flex;
                margin-bottom: 30px;

                .left-side {
                    flex-grow: 2;
                    border-right: 1px solid $fade-grey;
                    padding-right: 30px;

                    .header {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;

                        h2 {
                            font-family: $font;
                            font-weight: 600;
                            font-size: 1.8rem;
                            color: $dark-text;

                            &:before {
                                content: '$';
                                position: relative;
                                top: -5px;
                                font-size: 70%;
                            }
                        }

                        span {
                            font-family: $font;
                            font-weight: 500;
                            font-size: .9rem;
                            color: $dark-text;
                        }
                    }

                    .intro-text {
                        padding: 16px 0 24px 0;

                        p {
                            max-width: 420px;
                            font-size: .9rem;
                            color: $muted-grey;
                        }
                    }

                    .latest-items {
                        .latest-item {
                            display: flex;
                            align-items: center;
                            border-top: 1px solid $fade-grey;
                            padding: 12px 0;

                            .date {
                                font-size: .9rem;
                                color: $muted-grey;
                                margin-right: 40px;
                            }

                            .type {
                                font-family: $font;
                                font-weight: 500;
                                font-size: .85rem;
                                color: $dark-text;
                            }

                            .amount {
                                margin-left: auto;
                                font-family: $font;
                                font-size: .9rem;
                                font-weight: 600;

                                &.is-positive {
                                    color: $primary;
                                }

                                &.is-negative {
                                    color: lighten($dark-text, 18%);
                                }

                                span {
                                    &:before {
                                        content: '$';
                                    }
                                }
                            }
                        }
                    }
                }

                .right-side {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-width: 35%;
                    padding-left: 30px;

                    .header {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;

                        h3 {
                            font-family: $font;
                            font-weight: 600;
                            font-size: 1rem;
                            color: $dark-text;
                        }
                    }

                    .custom-chart {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        flex-grow: 2;

                        .chart-bar {
                            position: relative;
                            min-height: 180px;
                            width: 10px;
                            background: lighten($placeholder, 5%);
                            margin: 0 16px;
                            border-radius: 100px 100px 0 0;

                            &:before {
                                content: attr(data-day);
                                position: absolute;
                                top: -26px;
                                left: 0;
                                transform: translateX(-40%);
                                min-width: 30px;
                                text-align: center;
                                font-size: .75rem;
                                color: $muted-grey;
                            }

                            &:first-child {
                                .animated-bar {
                                    transition-delay: .1s;
                                }
                            }

                            &:nth-child(2) {
                                .animated-bar {
                                    transition-delay: .25s;
                                }
                            }

                            &:nth-child(3) {
                                .animated-bar {
                                    transition-delay: .4s;
                                }
                            }

                            &:nth-child(4) {
                                .animated-bar {
                                    transition-delay: .55s;
                                }
                            }

                            &:nth-child(5) {
                                .animated-bar {
                                    transition-delay: .7s;
                                }
                            }

                            &:nth-child(6) {
                                .animated-bar {
                                    transition-delay: .85s;
                                }
                            }

                            &:nth-child(7) {
                                .animated-bar {
                                    transition-delay: 1s;
                                }
                            }

                            .animated-bar {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 0;
                                background: $primary;
                                border-radius: 100px 100px 0 0;
                                z-index: 1;
                                transition: all .5s ease-in-out;

                                &.is-lower {
                                    background: lighten($blue, 10%);
                                }
                            }
                        }
                    }
                }
            }

            //Grouped cards
            .card-group {
                display: flex;

                .left-card, .right-card {
                    @extend .plex-card;
                }

                .left-card {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-grow: 2;
                    margin-right: 15px;
                    padding: 30px;

                    .mail-icon-outer {
                        position: relative;
                        height: 60px;
                        width: 60px;
                        min-width: 60px;
                        border-radius: 50%;
                        border: 1.4px solid lighten($blue, 26%);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:after {
                            content: '';
                            position: absolute;
                            top: calc(50% - 12px);
                            left: calc(50% - 12px);
                            height: 24px;
                            width: 24px;
                            border-radius: 50%;
                            background: $blue;
                            animation: wave 1.6s infinite;
                            animation-duration: 2s;
                            transform-origin: center center;
                            z-index: 0;
                        }

                        .mail-icon-inner {
                            position: relative;
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            border: 1.4px solid lighten($blue, 20%);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            //background: $white;
                            z-index: 1;

                            .icon-wrap {
                                position: relative;
                                height: 25px;
                                width: 25px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: $white;
                                z-index: 1;

                                svg {
                                    height: 18px;
                                    width: 18px;
                                    stroke: lighten($blue, 18%);
                                }
                            }
                        }
                    }

                    .message-sender {
                        display: flex;
                        align-items: center;
                        padding: 0 30px 0 20px;
                        border-right: 1px solid $fade-grey;
                        min-width: 200px;

                        img {
                            display: block;
                            height: 48px;
                            width: 48px;
                            border-radius: 50%;
                        }

                        .meta {
                            margin-left: 8px;

                            span {
                                display: block;
                                line-height: 1.2;

                                &:first-child {
                                    font-family: $font;
                                    font-size: .8rem;
                                    font-weight: 600;
                                    color: $dark-text;
                                }

                                &:nth-child(2) {
                                    font-size: .8rem;
                                    color: $muted-grey;
                                }
                            }
                        }
                    }

                    .message-text {
                        padding-left: 30px;

                        p {
                            color: $muted-grey;
                            font-size: .85rem;
                        }
                    }
                }

                .right-card {
                    flex-grow: 1;
                    max-width: 30%;
                    margin-left: 15px;
                    padding: 16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h3 {
                            text-transform: uppercase;
                            font-family: $font;
                            font-size: .75rem;
                            color: $muted-grey;
                        }

                        .custom-button {
                            padding: 3px 12px;
                            font-size: .8rem;
                            border-radius: 100px;
                            background: lighten($blue, 25%);
                            color: $blue;
                        }
                    }

                    .card-inner {
                        h2 {
                            font-family: $font;
                            font-weight: 600;
                            font-size: 1.6rem;
                            color: $dark-text;

                            &:before {
                                content: '$';
                                position: relative;
                                top: -5px;
                                font-size: 70%;
                            }
                        }
                    }
                }
            }

            //Activity cards
            .activity-items {
                .activity-item {
                    @extend .plex-card;

                    padding: 30px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    .users {
                        display: flex;
                        align-items: center;

                        .avatars {
                            display: flex;
                            align-items: center;

                            .participant {
                                display: block;
                                height: 52px;
                                width: 52px;
                                font-size: .8rem;
                                border-radius: 50%;
                                border: 4px solid $white;

                                &:not(:first-child) {
                                    $var: 14;

                                    @for $i from 1 through 99 {
                                        &:nth-child(#{$i}) {
                                            margin-left: -#{$var}px;
                                        }
                                    }
                                }

                                //more indicator
                                &.is-fake {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: 52px;
                                    width: 52px;
                                    font-weight: 700;
                                    font-family: $font;
                                    font-size: 1rem;
                                    color: $white;

                                    &.is-primary {
                                        background: $primary;
                                    }

                                    &.is-secondary {
                                        background: $secondary;
                                    }

                                    &.is-orange {
                                        background: $orange;
                                    }

                                    &.is-green {
                                        background: $light-green;
                                    }

                                    &.is-count {
                                        background: lighten($fade-grey, 1%);
                                        color: $dark-text;
                                    }
                                }
                            }
                        }

                        .meta {
                            margin-left: 12px;

                            span {
                                display: block;
                                line-height: 1.3;

                                &:first-child {
                                    font-family: $font;
                                    font-size: .9rem;
                                    font-weight: 600;
                                    color: $dark-text;
                                }

                                &:nth-child(2) {
                                    font-size: .9rem;
                                    color: $muted-grey;
                                }
                            }
                        }
                    }

                    .details {
                        display: flex;
                        align-items: center;
                        margin-left: auto;

                        .amount {
                            margin-right: 30px;

                            span {
                                display: block;
                                line-height: 1.3;

                                &:first-child {
                                    text-transform: uppercase;
                                    font-family: $font;
                                    font-weight: 500;
                                    font-size: .7rem;
                                    color: $muted-grey;
                                }

                                &:nth-child(2) {
                                    font-family: $font;
                                    font-weight: 600;
                                    font-size: 1.1rem;
                                    color: $dark-text;

                                    &:before {
                                        content: '$';
                                        position: relative;
                                        top: -5px;
                                        font-size: 70%;
                                    }
                                }
                            }
                        }

                        .dropdown-wrap {
                            .dropdown-button {
                                height: 36px;
                                width: 36px;

                                svg {
                                    height: 22px;
                                    width: 22px;
                                }
                            }
                        }

                        .icon-button {
                            height: 36px;
                            width: 36px;
                            background: none;
                            border: 1px solid transparent;
                            border-radius: 50%;
                            outline: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            transition: all .3s;

                            &:hover {
                                background: $white;
                                border-color: darken($fade-grey, 3%);
                                box-shadow: $light-box-shadow;

                                svg {
                                    stroke: $dark-text;
                                }
                            }

                            &.is-file {
                                margin-right: 30px;

                                svg {
                                    stroke: lighten($blue, 8%);
                                }
                            }

                            svg {
                                height: 22px;
                                width: 22px;
                                stroke: $muted-grey;
                                stroke-width: 1.4px;
                                transition: stroke .3s;
                            }
                        }
                    }
                }
            }
        }
    }
}
