include LICENSE
include README.md
include purpleserver/VERSION
recursive-include purpleserver/static *
recursive-include purpleserver/templates *
recursive-include purpleserver/staticfiles .gitignore
