-f https://git.io/purplship
Django==3.0.9

-e git+https://github.com/PurplShip/purplship.git@release-2020.8.0#egg=purplship
-e git+https://github.com/PurplShip/purplship.git@release-2020.8.0#egg=purplship.package&subdirectory=extensions/package

-e .[dev]
