
# -e git+https://github.com/PurplShip/purplship.git@purplship-2021.0-doc-friendly#egg=purplship
# -e git+https://github.com/PurplShip/purplship-server.git@purplship-2020.12#egg=purplship_server.core&subdirectory=src/apps/core

-e .[dev]
