PyJWT==2.1.0

purplship
purplship-server==2021.10rc1
purplship-server.core==2021.10rc1
purplship-server.events==2021.10rc1
purplship-server.graph==2021.10rc1
purplship-server.manager==2021.10rc1
purplship-server.pricing==2021.10rc1
purplship-server.proxy==2021.10rc1
purplship.aramex
purplship.australiapost
purplship.canadapost
purplship.canpar
purplship.dhl-express
purplship.dhl-universal
purplship.dicom
purplship.fedex
purplship.purolator
purplship.royalmail
purplship.sendle
purplship.sf-express
purplship.tnt
purplship.ups
purplship.usps
purplship.usps_international
purplship.yanwen
purplship.yunexpress
purplship.eshipper==2021.8rc0
purplship.freightcom==2021.8rc0
