{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ APP_NAME }} OpenAPI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'branding/favicon.ico' %}">
    <meta name="theme-color" content="#ffffff">

    <script type="module" src="{{ dist }}/dist/rapidoc-min.js"></script>

    <style>
      body {
        background: #eeeeee;
      }

      .admin-link {
        position: fixed;
        bottom: 44px;
        right: 30px;
        width: 40px;
        height: 40px;
        background-color: rgba(50, 50, 159, 70%);
        border-radius: 50%;
        z-index: 10;
        box-shadow: rgb(0 0 0 / 30%) 0px 0px 20px;
      }

      @media screen and (max-width: 50rem) {
        .admin-link {
          bottom: 112px;
        }
      }
    </style>
  </head>
  <body>
    <rapi-doc
      spec-url="{{ schema_url }}"
      regular-font="Open Sans"
      mono-font="Roboto Mono"
      show-header="false"
      render-style="focus"
      theme="dark"
      ></rapi-doc>
  </body>
</html>
