/* ==========================================================================
PurplShip Custom SCSS
========================================================================== */
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

// Set your brand colors
$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;

// Update Bulma's global variables
$family-sans-serif: 'Open Sans', sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

$primary: #9504af;
$secondary: #7506C7;
$accent: #C7069B;

// Update some of Bulma's component variables
$link: $primary;
$footer-padding: 1rem 1.5rem;
$footer-background-color: $white;

// Import only what you need from Bulma
@import "node_modules/bulma/bulma.sass";

.isolated-card {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
}

@media screen and (min-width: 768px) {
    .isolated-card {
      min-width: 448px;
    }
}