# Ignore everything
*

!apps/dashboard/public/
!apps/dashboard/src/
!/docker/entrypoint
!apps/dashboard/.eslintrc
!apps/dashboard/next.config.js
!apps/dashboard/package-lock.json
!apps/dashboard/package.json
!apps/dashboard/sentry.client.config.js
!apps/dashboard/sentry.edge.config.js
!apps/dashboard/sentry.server.config.js
!apps/dashboard/tsconfig.json
!packge-lock.json
!package.json
