/* ==========================================================================
Variables
========================================================================== */

$primary: #5722cc;
$secondary: #78e6d0;
$accent: #fe5000;

$white: #fff;
$smoke-white: #fcfcfc;
$placeholder: #cecece;
$light-grey: #f9f9f9;
$lighter-grey: #f7f7f7;
$muted-grey: #999;
$muted-grey-bold: #828282;
$title-grey: #a9abac;
$fade-grey: #ededed;
$accent-grey: #ccc;
$dark-text: #4a4a4a;
$chosen-grey: #e0e0e0;
$chosen-dark-grey: #66676b;
$grey-6: #666;
$section-grey: #fcfcfc;

$sidebar: #344258;
$red: #ff3b3c;
$blue: #5ba4fc;
$green: #00b289;
$light-green: #3bf486;
$orange: #ff9b17;

/* ==========================================================================
Shadows
========================================================================== */

//Base shadow
$base-shadow: rgba(0, 0, 0, 0.12);

//Light box shadow
$light-box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);

//Primary box shadow
$primary-shadow-from: rgba($primary, 0.42);
$primary-shadow-to: rgba($primary, 0.2);
$primary-box-shadow: 0 14px 26px -12px $primary-shadow-from, 0 4px 23px 0px $base-shadow,
  0 8px 10px -5px $primary-shadow-to !important;

//Secondary box shadow
$secondary-shadow-from: rgba($secondary, 0.42);
$secondary-shadow-to: rgba($secondary, 0.2);
$secondary-box-shadow: 0 14px 26px -12px $secondary-shadow-from, 0 4px 23px 0px $base-shadow,
  0 8px 10px -5px $secondary-shadow-to !important;

//Accent box shadow
$accent-shadow-from: rgba($accent, 0.42);
$accent-shadow-to: rgba($accent, 0.2);
$accent-box-shadow: 0 14px 26px -12px $accent-shadow-from, 0 4px 23px 0px $base-shadow,
  0 8px 10px -5px $accent-shadow-to !important;

/* ==========================================================================
Fonts
========================================================================== */

$font: "Montserrat", sans-serif;
