{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "purpleserver/css/base.css" %}{% endblock %}">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'purpleserver/favicon-set/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'purpleserver/favicon-set/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'purpleserver/favicon-set/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'purpleserver/favicon-set/manifest.json' %}">
        <link rel="mask-icon" href="{% static 'purpleserver/favicon-set/safari-pinned-tab.svg' %}" color="#9504af">
        <meta name="msapplication-TileColor" content="#9504af">
        <meta name="theme-color" content="#9504af">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

        <!-- Theme CSS -->
        <link type="text/css" href="{% static 'purpleserver/css/purpleserver.min.css' %}" rel="stylesheet">

        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}

        {% block responsive %}
            <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        {% endblock %}
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

        <meta name="theme-color" content="#9504af" />
        <link rel="manifest" href="{% static 'purpleserver/favicon-set/manifest.json' %}" />
    </head>

    {% load i18n %}

    <body class="{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">

        <!-- Navbar -->
        {% block navbar %}
        <header class="navbar header">
            <section class="navbar-section">
                <a href="/" class="navbar-brand mr-2">
                    <img src="{% static 'purpleserver/img/logo.svg' %}" width="112" height="28" alt="PurplShip">
                </a>
                {% block extrabrandsection %}{% endblock %}
            </section>
            <section class="navbar-section">
                {% block extranavsection %}{% endblock %}
            </section>
        </header>
        {% endblock %}

        <!-- Main content -->
        <div id="root" class="{% block contentclass %}content{% endblock %}">

        {% block content_title %}{% endblock %}
        {% block content %}{% endblock %}

        </div>

        <!-- Footer -->
        {% block footer %}
        <footer class="navbar columns footer">
            <div class="column col-6">
                <a href="https://purplship.com" class="btn btn-link">purplship.com</a>
                <a href="http://blog.purplship.com" class="btn btn-link">Blogs</a>
                <a href="https://docs.purplship.com" class="btn btn-link">Documentation</a>
            </div>
            <div class="column col-6 text-right">
                <div class="btn btn-link">&copy; 2020 purplship</div>
            </div>
        </footer>
        {% endblock %}

        {% block scripts %}
        {% endblock %}

        {% block extrascripts %}{% endblock %}

    </body>
</html>
