/* ==========================================================================
Resets
========================================================================== */

body {
    background: $lighter-grey;
}

var {
    font-style: normal;
}

a {
    color: $primary;
}
