/* ==========================================================================
Custom Dropdown
========================================================================== */

.dropdown-wrap {
    position: relative;

    &.is-active {
        .drop-menu {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
    }

    &.is-right {
        .drop-menu {
            left: unset !important;
            right: -12px;

            &:after, &:before {
                left: 90%;
            }
        }
    }

    &.is-up {
        .drop-menu {
            bottom: 60px;
            top: unset !important;
            transform: translateY(-5px);

            &:after, &:before {
                top: 100%;
                bottom: unset !important;
            }

            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-top-color: $white;
                border-width: 11px;
                margin-left: -11px;
            }

            &:before {
                border-color: rgba(237, 237, 237, 0);
                border-top-color: $fade-grey;
                border-width: 12px;
                margin-left: -12px;
            }
        }
    }

    &:hover {
        .dropdown-button:not(.has-image) {
            background: $white;
            border-color: darken($fade-grey, 3%);
            box-shadow: $light-box-shadow;

            svg {
                stroke: $dark-text;
            }
        }
    }

    .dropdown-button {
        height: 36px;
        width: 36px;
        background: none;
        border: 1px solid transparent;
        border-radius: 50%;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .3s;

        &.has-image {
            display: block;
            height: 40px;
            width: 40px;
            min-width: 40px;
            padding: 0;
            margin-left: 10px;

            img {
                display: block;
                height: 40px;
                width: 40px;
                min-width: 40px;
                border-radius: 50%;
            }
        }

        svg {
            height: 22px;
            width: 22px;
            stroke: $muted-grey;
            stroke-width: 1.4px;
            transition: stroke .3s;
        }
    }

    .indicator {
        display: block;
        position: absolute;
        top: 2px;
        right: 2px;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $blue;
    }

    .drop-menu {
        position: absolute;
        top: 58px;
        left: 0;
        background: $white;
        width: 300px;
        border: 1px solid $fade-grey;
        border-radius: 3px;
        opacity: 0;
        transform: translateY(5px);
        box-shadow: $light-box-shadow;
        pointer-events: none;
        transition: all .3s;
        z-index: 5;

        &:after, &:before {
            bottom: 100%;
            left: 10%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: $white;
            border-width: 11px;
            margin-left: -11px;
        }

        &:before {
            border-color: rgba(237, 237, 237, 0);
            border-bottom-color: $fade-grey;
            border-width: 12px;
            margin-left: -12px;
        }

        .menu-inner {
            position: relative;
            height: 100%;
            width: 100%;

            .menu-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px 16px 0 16px;

                h3 {
                    font-family: $font;
                    font-size: .85rem;
                    font-weight: 600;
                    color: $dark-text;
                }

                a {
                    font-family: $font;
                    font-size: .85rem;
                    font-weight: 600;
                    color: $primary;
                }
            }

            .avatar {
                display: block;
                height: 36px;
                width: 36px;
                min-width: 36px;
                border-radius: 50%;

                &.is-fake {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $font;
                    color: $white;
                    font-weight: bold;
                    font-size: .75rem;

                    &.is-primary {
                        background: $primary;
                    }

                    &.is-secondary {
                        background: $secondary;
                    }

                    &.is-orange {
                        background: $orange;
                    }

                    &.is-green {
                        background: $light-green;
                    }
                }

                &.is-list-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid darken($fade-grey, 3%);
                    box-shadow: $light-box-shadow;

                    svg {
                        height: 18px;
                        width: 18px;
                        stroke-width: 1.6px;
                        stroke: lighten($blue, 20%);
                    }
                }
            }
        }
    }
}

/* ==========================================================================
Messages
========================================================================== */

.menu-inner {
    .message-items {
        padding: 10px 0;

        .message-item {
            display: flex;
            padding: 10px 16px;
            border-bottom: 1px solid $fade-grey;
            cursor: pointer;

            &.is-read {
                opacity: .6;
            }

            &:hover {
                background: lighten($fade-grey, 5%);
            }

            &:last-child {
                border-bottom: none;
            }

            .message-content {
                margin-left: 14px;

                p {
                    font-size: .8rem;
                    line-height: 1.2;
                }

                small {
                    font-size: .8rem;
                    color: $muted-grey;
                }
            }
        }
    }
}

/* ==========================================================================
Notifications
========================================================================== */

.menu-inner {
    .notification-items {
        padding: 10px 0;

        .notification-item {
            display: flex;
            padding: 10px 16px;
            border-bottom: 1px solid $fade-grey;

            &.is-warning {
                .avatar {
                    svg {
                        stroke: $orange;
                    }
                }

                .notification-content {
                    p {
                        a {
                            color: $orange;
                        }
                    }
                }
            }

            &:last-child {
                border-bottom: none;
            }

            .notification-content {
                margin-left: 14px;

                p {
                    font-size: .8rem;
                    line-height: 1.2;

                    a {
                        font-weight: 500;
                        color: lighten($blue, 12%);

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                small {
                    font-size: .8rem;
                    color: $muted-grey;
                }
            }
        }
    }
}

/* ==========================================================================
Options
========================================================================== */

.menu-inner {
    .options-items {
        padding: 10px 0;

        .options-item {
            display: flex;
            align-items: center;
            padding: 10px 16px;

            &:hover {
                background: lighten($fade-grey, 5%);

                svg {
                    stroke: lighten($blue, 8%);
                }
            }

            svg {
                height: 20px;
                width: 20px;
                stroke-width: 1.4px;
                stroke: $placeholder;
                transition: stroke .3s;
            }

            .option-content {
                margin-left: 12px;

                span {
                    display: block;
                    line-height: 1.2;

                    &:first-child {
                        font-family: $font;
                        font-size: .75rem;
                        font-weight: 600;
                        color: $dark-text;
                    }

                    &:nth-child(2) {
                        font-size: .8rem;
                        color: $muted-grey;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .static-nav {
        .dropdown-wrap {
            .drop-menu {
                left: 0 !important;
                right: 0 !important;
                margin: 0 auto;
                position: fixed;
                top: 77px;

                &:before, &:after {
                    left: 50% !important;
                }
            }
        }
    }
}
