html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #eeeeee;
}

.header {
    padding: 4px 15px;
    height: 50px;
}

.content {
  flex: 1 0 auto;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  flex-shrink: 0;
  padding: 4px;
}

.centered-box {
  max-width: 350px !important;
}
