VITE_JTL_CLIENT_ID="your-jtl-app-id"
VITE_JTL_CLIENT_SECRET="your-jtl-app-secret"

VITE_KARRIO_API="http://localhost:5002"
VITE_KARRIO_OAUTH_CLIENT_ID="XZnjDzcWlo3gTh6Ru1Qic6VbiYzqtsVxgoPJz2e9"
VITE_KARRIO_OAUTH_CLIENT_SECRET="jOgORVT7nUVAbo1nM6d2xm3hZs9nQ1ht5xHTT5RXbLRqRvsG6nCyefAUJ247fyw2vz2T1AfIxOGDzT1cO3gWeHrXxt1PWCey2POGWdU3m1BqgUmAsYU7M5isClC7HBk1"
VITE_KARRIO_OAUTH_REDIRECT_URI="http://localhost:3102/auth/callback"
