{% extends "purpleserver/base_site.html" %}
{% load i18n static %}

{% block contentclass %}content centered-content{% endblock %}

{% block content %}
<div class="column col-5 col-md-6 col-sm-12 centered-box">

    <div class="card text-center">
        <div class="card-header">
            <div class="card-title h3">{{ title }}</div>
        </div>

        <div class="card-body">
            <p class="text-lead text-white">
                {% trans "Your password has been set.  You may go ahead and log in now." %}
            </p>
            <a href="{{ login_url }}" class="text-light"><small>{% trans 'Log in' %}</small></a>
        </div>
    </div>

</div>
{% endblock %}
