{% extends "purpleserver/base_site.html" %}
{% load i18n static %}

{% block content %}
<div class="columns offset-top">
    <div class="column col-8 col-sm-12 col-mx-auto">

        <div class="card">
            <div class="card-header text-center">
                <div class="card-title h3">{{ title }}</div>
            </div>

            <div class="card-body">
                <p class="text-lead text-white">
                    {% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
                </p>
                <p class="text-lead text-white">
                    {% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
