{% extends "purpleserver/base_site.html" %}
{% load i18n static %}

{% block contentclass %}content centered-content{% endblock %}

{% block content %}
<div class="column col-5 col-md-6 col-sm-12 centered-box">

    <div class="card">
        <div class="card-header text-center">
            <div class="card-title h3">{{ title }}</div>
        </div>

        <div class="card-body">
            <p class="text-lead text-white">
                {% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
            </p>
            <p class="text-lead text-white">
                {% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
            </p>
        </div>
    </div>

</div>
{% endblock %}
