{% extends "purpleserver/base_site.html" %}
{% load i18n static %}
{% block title %} | Password Reset{% endblock %}

{% block content %}

<div class="card isolated-card">
    <div class="card-content">

        <p>
            {% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
        </p>

        <form method="post">{% csrf_token %}

            <div class="field mt-4">
                {{ form.email.errors }}
                <label class="label" for="{{ form.email.id_for_label }}">{% trans 'Email address' %}</label>
                <div class="control">
                    <input class="input" id="{{ form.email.id_for_label }}"
                       name="{{ form.email.html_name }}" type="email"
                       placeholder="{% trans 'Email address' %}" required>
                </div>
            </div>

            <div class="field mt-5">
                <div class="control">
                    <input class="button is-primary is-fullwidth" type="submit" value="{% trans 'Reset my password' %}"/>
                    <a class="button is-white is-fullwidth mt-1" href="{% url 'login' %}">{% trans 'Return to sign in' %}</a>
                </div>
            </div>

        </form>

    </div>
</div>
{% endblock %}
