include LICENSE
include README.md
include purplship/server/VERSION
recursive-include purplship/server/static *
recursive-include purplship/server/templates *
recursive-include purplship/server/staticfiles .gitignore
