{
    "openapi": "3.0.1",
    "info": {
        "title": "META-API Shipment",
        "version": "2.30.48\n2025-11-18 10:29:34"
    },
    "servers": [
        {
            "url": "https://api-preprod.dpsin.dpdgroup.com:8443"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "shipping",
            "description": "the shipping API"
        }
    ],
    "paths": {
        "/shipping/v2/shipment": {
            "post": {
                "tags": [
                    "shipping"
                ],
                "summary": "(Experimental) Shipment creation",
                "operationId": "shippingV2ShipmentPost",
                "parameters": [
                    {
                        "name": "LabelPrintFormat",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "maxLength": 6,
                            "minLength": 0,
                            "type": "string",
                            "enum": [
                                "PDF",
                                "EPL",
                                "ZPL",
                                "TIFF",
                                "PPR",
                                "SPD",
                                "Z2D",
                                "THE",
                                "XML",
                                "XML2D",
                                "THEPSG",
                                "ZPLPSG",
                                "ZPL300",
                                "JSON",
                                "PS",
                                "DATA",
                                "CLP",
                                "HTML",
                                "PNG"
                            ]
                        }
                    },
                    {
                        "name": "X-DPD-REQUESTOR",
                        "in": "header",
                        "description": "Identify the requesting application.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ExtraBarcode",
                        "in": "header",
                        "description": "Add an additional barcode with the original parcel number in the domestic label. Currently only used for DPD RO, DPD BG.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "LabelPaperFormat",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maxLength": 6,
                            "minLength": 0,
                            "type": "string",
                            "enum": [
                                "A4",
                                "A5",
                                "A6",
                                "A7"
                            ]
                        }
                    },
                    {
                        "name": "LabelPrinterStartPosition",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maxLength": 11,
                            "minLength": 0,
                            "type": "string",
                            "enum": [
                                "UPPER_LEFT",
                                "UPPER_RIGHT",
                                "LOWER_LEFT",
                                "LOWER_RIGHT"
                            ]
                        }
                    },
                    {
                        "name": "qrcode",
                        "in": "query",
                        "description": "Legacy parameter - do not use. Replaced by DropOffType.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "DropOffType",
                        "in": "query",
                        "description": "FULL_LABEL: Only the full label is generated (This is the default value for the field DropOffType)\n\nQR_Code: Only the digital label is generated: QR Code and/or pin code (If the BU receiving the request does not support the digital label, an error is generated)\n\nBOTH: If the BU receiving the request supports the digital label then both the full label and QR Code and/or pin code are generated else only the full label is generated",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FULL_LABEL",
                                "QR_CODE",
                                "BOTH"
                            ]
                        }
                    },
                    {
                        "name": "debug",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "LabelPrintResolution",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "simulate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "withDocument",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShipmentResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication information is missing or invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "408": {
                        "description": "BU Request Timeout",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/shipping/v1/shipment": {
            "post": {
                "tags": [
                    "shipping"
                ],
                "summary": "Shipment creation",
                "operationId": "shippingV1ShipmentPost",
                "parameters": [
                    {
                        "name": "LabelPrintFormat",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "maxLength": 6,
                            "minLength": 0,
                            "type": "string",
                            "enum": [
                                "PDF",
                                "EPL",
                                "ZPL",
                                "TIFF",
                                "PPR",
                                "SPD",
                                "Z2D",
                                "THE",
                                "XML",
                                "XML2D",
                                "THEPSG",
                                "ZPLPSG",
                                "ZPL300",
                                "JSON",
                                "PS",
                                "DATA",
                                "CLP",
                                "HTML",
                                "PNG"
                            ]
                        }
                    },
                    {
                        "name": "X-DPD-REQUESTOR",
                        "in": "header",
                        "description": "Identify the requesting application.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ExtraBarcode",
                        "in": "header",
                        "description": "Add an additional barcode with the original parcel number in the domestic label. Currently only used for DPD RO, DPD BG.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "LabelPaperFormat",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maxLength": 6,
                            "minLength": 0,
                            "type": "string",
                            "enum": [
                                "A4",
                                "A5",
                                "A6",
                                "A7"
                            ]
                        }
                    },
                    {
                        "name": "LabelPrinterStartPosition",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maxLength": 11,
                            "minLength": 0,
                            "type": "string",
                            "enum": [
                                "UPPER_LEFT",
                                "UPPER_RIGHT",
                                "LOWER_LEFT",
                                "LOWER_RIGHT"
                            ]
                        }
                    },
                    {
                        "name": "qrcode",
                        "in": "query",
                        "description": "Legacy parameter - do not use. Replaced by DropOffType.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "DropOffType",
                        "in": "query",
                        "description": "FULL_LABEL: Only the full label is generated (This is the default value for the field DropOffType)\n\nQR_Code: Only the digital label is generated: QR Code and/or pin code (If the BU receiving the request does not support the digital label, an error is generated)\n\nBOTH: If the BU receiving the request supports the digital label then both the full label and QR Code and/or pin code are generated else only the full label is generated",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FULL_LABEL",
                                "QR_CODE",
                                "BOTH"
                            ]
                        }
                    },
                    {
                        "name": "debug",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "LabelPrintResolution",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "simulate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "withDocument",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/shipment.Shipment"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/shipment.ShipmentResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/shipment.Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication information is missing or invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/shipment.Error"
                                }
                            }
                        }
                    },
                    "408": {
                        "description": "BU Request Timeout",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/shipment.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/shipment.Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/shipping/v1/pickupscheduling": {
            "post": {
                "tags": [
                    "shipping"
                ],
                "summary": "Scheduling the pickup",
                "operationId": "shippingV1PickupschedulingPost",
                "parameters": [
                    {
                        "name": "X-DPD-REQUESTOR",
                        "in": "header",
                        "description": "Identify the requesting application.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "debug",
                        "in": "query",
                        "description": "Debug parameter",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/pickupscheduling.PickupSchedule"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/pickupscheduling.Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication information is missing or invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/pickupscheduling.Error"
                                }
                            }
                        }
                    },
                    "408": {
                        "description": "BU Request Timeout",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/pickupscheduling.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/pickupscheduling.Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/shipping/v1/login": {
            "post": {
                "tags": [
                    "shipping"
                ],
                "summary": "Authentication / login",
                "operationId": "shippingV1LoginPost",
                "parameters": [
                    {
                        "name": "X-DPD-LOGIN",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-DPD-PASSWORD",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "password"
                        }
                    },
                    {
                        "name": "X-DPD-BUCODE",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-DPD-CLIENTID",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-DPD-CLIENTSECRET",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "password"
                        }
                    },
                    {
                        "name": "force",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication information is missing or invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "408": {
                        "description": "BU Request Timeout",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/shipping/v1/label": {
            "post": {
                "tags": [
                    "shipping"
                ],
                "summary": "Label retrieval",
                "operationId": "shippingV1LabelPost",
                "parameters": [
                    {
                        "name": "LabelPrintFormat",
                        "in": "query",
                        "description": "Format of the Label (PDF, EPL, ZPL, TIFF, PPR, SPD, Z2D, THE, XML, XML2D, THEPSG, ZPLPSG, ZPL300, JSON, PS, DATA, CLP, HTML, PNG, GIF, RAW) Some format will not be available in all BU, please contact your local BU for further informations about Label Format availability",
                        "required": true,
                        "schema": {
                            "maxLength": 6,
                            "minLength": 0,
                            "type": "string",
                            "enum": [
                                "PDF",
                                "EPL",
                                "ZPL",
                                "TIFF",
                                "PPR",
                                "SPD",
                                "Z2D",
                                "THE",
                                "XML",
                                "XML2D",
                                "THEPSG",
                                "ZPLPSG",
                                "ZPL300",
                                "JSON",
                                "PS",
                                "DATA",
                                "CLP",
                                "HTML",
                                "PNG",
                                "GIF",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "X-DPD-REQUESTOR",
                        "in": "header",
                        "description": "Identify the requesting application.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "LabelPaperFormat",
                        "in": "query",
                        "description": "Format of the Label paper (A4, A5, A6, A7) Not available in all BU, please contact your local BU for further informations about Label Paper Format availability.",
                        "required": false,
                        "schema": {
                            "maxLength": 6,
                            "minLength": 0,
                            "type": "string",
                            "enum": [
                                "A4",
                                "A5",
                                "A6",
                                "A7"
                            ]
                        }
                    },
                    {
                        "name": "LabelPrinterStartPosition",
                        "in": "query",
                        "description": "Start position for print on A4 paper. Not available in all BU, please contact your local BU for further informations about Label Printer Start Position availability.",
                        "required": false,
                        "schema": {
                            "maxLength": 11,
                            "minLength": 0,
                            "type": "string",
                            "enum": [
                                "UPPER_LEFT",
                                "UPPER_RIGHT",
                                "LOWER_LEFT",
                                "LOWER_RIGHT"
                            ]
                        }
                    },
                    {
                        "name": "LabelPrintResolution",
                        "in": "query",
                        "description": "Resolution of the label. Values between 200 and 600 dpi.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "debug",
                        "in": "query",
                        "description": "Debug parameter",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/label.LabelRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/label.LabelResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/label.Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication information is missing or invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/label.Error"
                                }
                            }
                        }
                    },
                    "408": {
                        "description": "BU Request Timeout",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/label.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/label.Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/shipping/v1/colreq": {
            "post": {
                "tags": [
                    "shipping"
                ],
                "summary": "Collection request creation",
                "operationId": "shippingV1ColreqPost",
                "parameters": [
                    {
                        "name": "X-DPD-REQUESTOR",
                        "in": "header",
                        "description": "Identify the requesting application.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "debug",
                        "in": "query",
                        "description": "Debug parameter",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/colreq.Collection"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/colreq.Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/colreq.Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication information is missing or invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/colreq.Error"
                                }
                            }
                        }
                    },
                    "408": {
                        "description": "BU Request Timeout",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/colreq.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/colreq.Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Debug": {
                "type": "object",
                "properties": {
                    "request": {
                        "type": "string"
                    },
                    "response": {
                        "type": "string"
                    },
                    "methodName": {
                        "type": "string"
                    }
                }
            },
            "Label": {
                "type": "object",
                "properties": {
                    "base64Data": {
                        "type": "string"
                    },
                    "media-type": {
                        "type": "string"
                    },
                    "qrcode": {
                        "type": "string",
                        "description": "BALTICS specificity, format always in PNG"
                    },
                    "pincode": {
                        "type": "string",
                        "description": "BALTICS specificity"
                    }
                },
                "description": "List of other label"
            },
            "ParcelBarcode": {
                "type": "object",
                "properties": {
                    "parcel": {
                        "type": "string",
                        "description": "Parcel number."
                    },
                    "barcode": {
                        "type": "string"
                    },
                    "reference": {
                        "type": "string"
                    }
                }
            },
            "QrCode": {
                "type": "object",
                "properties": {
                    "base64Data": {
                        "type": "string",
                        "description": "qr code data base64 encoded"
                    },
                    "media-type": {
                        "type": "string",
                        "description": "format of the label"
                    },
                    "pincode": {
                        "type": "string",
                        "description": "pin code"
                    }
                }
            },
            "ShipmentResponse": {
                "type": "object",
                "properties": {
                    "warningMessage": {
                        "type": "string"
                    },
                    "shipmentId": {
                        "type": "string"
                    },
                    "parcelIds": {
                        "maxItems": 99,
                        "minItems": 0,
                        "type": "array",
                        "description": "List of parcel Ids",
                        "items": {
                            "type": "string",
                            "description": "List of parcel Ids"
                        }
                    },
                    "networkShipmentId": {
                        "type": "string"
                    },
                    "networkParcelIds": {
                        "maxItems": 99,
                        "minItems": 0,
                        "type": "array",
                        "description": "List of parcel Ids",
                        "items": {
                            "type": "string",
                            "description": "List of parcel Ids"
                        }
                    },
                    "parcelBarcodes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ParcelBarcode"
                        }
                    },
                    "label": {
                        "$ref": "#/components/schemas/Label"
                    },
                    "qrcode": {
                        "$ref": "#/components/schemas/QrCode"
                    },
                    "others": {
                        "type": "array",
                        "description": "List of other label",
                        "items": {
                            "$ref": "#/components/schemas/Label"
                        }
                    },
                    "debugList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Debug"
                        }
                    }
                }
            },
            "Error": {
                "type": "object",
                "properties": {
                    "errorCode": {
                        "type": "string"
                    },
                    "errorMessage": {
                        "type": "string"
                    },
                    "errorOrigin": {
                        "type": "string",
                        "description": "Identifies where the error occurred.",
                        "enum": [
                            "META-API",
                            "BU-API"
                        ]
                    }
                }
            },
            "Address": {
                "type": "object",
                "properties": {
                    "companyName": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Company Name"
                    },
                    "name1": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Name"
                    },
                    "name2": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Name"
                    },
                    "street": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Street"
                    },
                    "houseNumber": {
                        "maxLength": 8,
                        "minLength": 0,
                        "type": "string",
                        "description": "House number (could be included into in the address field and not set)."
                    },
                    "addressLine2": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Address Line 2"
                    },
                    "addressLine3": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Address Line 3"
                    },
                    "interphoneName": {
                        "maxLength": 100,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Name on the interphone"
                    },
                    "floor": {
                        "maxLength": 100,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Information on the floor (e.g. if located in a huge office building)"
                    },
                    "doorCode": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "A code to open the door . It is possible to input 3 different codes separated by a /"
                    },
                    "building": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Information of the building (e.g. when located on a big campus)."
                    },
                    "department": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Information on the department (e.g. when located in a huge office-building with different departments on the same floor)."
                    },
                    "country": {
                        "maxLength": 3,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "country (ISO 3166). All three ISO standards will be accepted: * ISO 3166-1: 2 Alpha Numerical Characters * ISO 3166-1: 3 Alpha Numerical Characters * ISO 3166-1: 3 Numerical Characters "
                    },
                    "state": {
                        "type": "string",
                        "description": "State within the country, e.g. CA for California."
                    },
                    "zipCode": {
                        "maxLength": 9,
                        "minLength": 0,
                        "pattern": "^([A-Za-z0-9]?\\s?-?)+$",
                        "type": "string",
                        "description": "Destination zipcode of the parcel"
                    },
                    "city": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "city"
                    },
                    "siteId": {
                        "type": "integer",
                        "description": "SPEEDY specificity. Used for all address types.",
                        "format": "int32"
                    },
                    "siteType": {
                        "maxLength": 20,
                        "minLength": 0,
                        "type": "string",
                        "description": "SPEEDY specificity. Site type can be used in conjunction with countryId and siteName to find unique site. Used for addresses of type 1 (local address)."
                    },
                    "siteName": {
                        "maxLength": 50,
                        "minLength": 0,
                        "type": "string",
                        "description": "SPEEDY specificity. Site type can be used in conjunction with countryId and siteName to find unique site. Used for all address types."
                    },
                    "streetId": {
                        "type": "integer",
                        "description": "SPEEDY specificity. Street identifier. If not provided, but street type and street name are provided - the system will try to find unique match by them in site. Used for addresses of type 1 (local address).",
                        "format": "int32"
                    },
                    "streetType": {
                        "maxLength": 15,
                        "minLength": 0,
                        "type": "string",
                        "description": "SPEEDY specificity. Street type. Used for addresses of type 1 (local address)."
                    },
                    "complexId": {
                        "type": "integer",
                        "description": "SPEEDY specificity. Complex identifier. If not provided, but complex type and complex name are provided - the system will try to find unique match by them in site. Used for addresses of type 1 (local address).",
                        "format": "int32"
                    },
                    "complexType": {
                        "maxLength": 15,
                        "minLength": 0,
                        "type": "string",
                        "description": "SPEEDY specificity. Complex type. Used for addresses of type 1 (local address)."
                    },
                    "complexName": {
                        "maxLength": 50,
                        "minLength": 0,
                        "type": "string",
                        "description": "SPEEDY specificity. Complex name. Used for addresses of type 1 (local address)."
                    },
                    "blockNo": {
                        "maxLength": 32,
                        "minLength": 0,
                        "type": "string",
                        "description": "SPEEDY specificity. Block No. Used for addresses of type 1 (local address)."
                    },
                    "entranceNo": {
                        "maxLength": 10,
                        "minLength": 0,
                        "type": "string",
                        "description": "SPEEDY specificity. Entrance. Used for addresses of type 1 (local address)."
                    },
                    "apartmentNo": {
                        "maxLength": 10,
                        "minLength": 0,
                        "type": "string",
                        "description": "SPEEDY specificity. Apartment. Used for addresses of type 1 (local address)."
                    },
                    "poiId": {
                        "type": "integer",
                        "description": "SPEEDY specificity. Point of interest identifier. Used for addresses of type 1 (local address).",
                        "format": "int32"
                    }
                }
            },
            "Amount": {
                "required": [
                    "amount",
                    "currency"
                ],
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "number",
                        "description": "The number of decimal will depend of the currency (it could be from 0 to three digit).",
                        "format": "float",
                        "example": 48.831
                    },
                    "currency": {
                        "maxLength": 3,
                        "minLength": 0,
                        "type": "string",
                        "description": "Currency code (ISO 4217 alpha 3)"
                    }
                }
            },
            "Cifcost": {
                "required": [
                    "amount",
                    "currency"
                ],
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "number",
                        "description": "The number of decimal will depend of the currency (it could be from 0 to three digit).",
                        "format": "float",
                        "example": 48.831
                    },
                    "currency": {
                        "maxLength": 3,
                        "minLength": 0,
                        "type": "string",
                        "description": "Currency code (ISO 4217 alpha 3)"
                    }
                }
            },
            "Cod": {
                "required": [
                    "amount"
                ],
                "type": "object",
                "properties": {
                    "amount": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "collectType": {
                        "type": "string",
                        "description": "Collection type   * `s0` : cash   * `s1` : crossed cheque   * `s2` : credit card   * `s3` : ...   * `s9` : default (depending of the receiving BU) "
                    },
                    "purpose": {
                        "maxLength": 100,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Intended use"
                    },
                    "bankCode": {
                        "maxLength": 100,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Bank Code"
                    },
                    "bankName": {
                        "maxLength": 100,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Bank Name"
                    },
                    "bankAccountNumber": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Bank account number"
                    },
                    "bankAccountName": {
                        "maxLength": 30,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Account holder"
                    },
                    "iban": {
                        "maxLength": 50,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "International account number"
                    },
                    "bic": {
                        "maxLength": 50,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Bank Code"
                    }
                }
            },
            "ContactDetails": {
                "type": "object",
                "properties": {
                    "contactPerson": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Name of the person to contact"
                    },
                    "phone1": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Telephone/Fax number formatted. Has to be encoded in one of the following ways: * XXXXXXXX * +intcodeXXXXXXXX * 00intcodeXXXXXXXX where:  * XXXXXXXX is numeric and means the phone/fax number * intcode is the numeric country code with a length from 1 to 4. Without international code, the phone number has to be understood as a domestic one.' "
                    },
                    "phone2": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Telephone/Fax number formatted. Has to be encoded in one of the following ways: * XXXXXXXX * +intcodeXXXXXXXX * 00intcodeXXXXXXXX where:  * XXXXXXXX is numeric and means the phone/fax number * intcode is the numeric country code with a length from 1 to 4. Without international code, the phone number has to be understood as a domestic one.' "
                    },
                    "fax": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Telephone/Fax number formatted. Has to be encoded in one of the following ways: * XXXXXXXX * +intcodeXXXXXXXX * 00intcodeXXXXXXXX where:  * XXXXXXXX is numeric and means the phone/fax number * intcode is the numeric country code with a length from 1 to 4. Without international code, the phone number has to be understood as a domestic one.' "
                    },
                    "email": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Email address"
                    }
                }
            },
            "CustomerInfos": {
                "type": "object",
                "properties": {
                    "customerAccountNumber": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "BU’s Internal Customer’s Account Number"
                    },
                    "customerSubAccountNumber": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Customer number SUBID"
                    },
                    "customerID": {
                        "maxLength": 100,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "BU’s internal Unique Customer ID/Identifier"
                    },
                    "originalCustomerId": {
                        "type": "string",
                        "description": "Original customer ID for Integration Customers in certain DPD Business Units"
                    }
                }
            },
            "Delivery": {
                "type": "object",
                "properties": {
                    "dateFrom": {
                        "type": "string",
                        "format": "date"
                    },
                    "dateTo": {
                        "type": "string",
                        "format": "date"
                    },
                    "timeFrom": {
                        "type": "string"
                    },
                    "timeTo": {
                        "type": "string"
                    },
                    "timeSlotTariff": {
                        "type": "string"
                    }
                }
            },
            "Dimensions": {
                "type": "object",
                "properties": {
                    "length": {
                        "maximum": 999,
                        "type": "integer",
                        "description": "Dimmension in cm units",
                        "format": "int32"
                    },
                    "width": {
                        "maximum": 999,
                        "type": "integer",
                        "description": "Dimmension in cm units",
                        "format": "int32"
                    },
                    "height": {
                        "maximum": 999,
                        "type": "integer",
                        "description": "Dimmension in cm units",
                        "format": "int32"
                    }
                },
                "description": "Measured 3D dimensions of the individual parcel / whole shipment in centimenters"
            },
            "Document": {
                "type": "object",
                "properties": {
                    "documentType": {
                        "type": "string"
                    },
                    "creationDateTime": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Hazardous": {
                "type": "object",
                "properties": {
                    "classCode": {
                        "type": "string",
                        "description": "Substance identification: Classification code"
                    },
                    "identificationClass": {
                        "type": "string",
                        "description": "Substance identification: Class"
                    },
                    "substanceWeight": {
                        "type": "string",
                        "description": "Net weight of the hazardous substance in Grams."
                    },
                    "factor": {
                        "type": "integer",
                        "description": "Factor of the substance",
                        "format": "int32"
                    },
                    "notOtherwiseSpecified": {
                        "type": "string",
                        "description": "Not else named"
                    },
                    "packingGroup": {
                        "type": "string",
                        "description": "Substance identification: Packing group"
                    },
                    "subsidiaryRisk": {
                        "type": "string",
                        "description": "Substance sub-danger"
                    },
                    "description": {
                        "type": "string",
                        "description": "Substance description"
                    },
                    "hazardousWeight": {
                        "type": "string",
                        "description": "Total weight of the hazardous articles in Grams."
                    },
                    "tunnelRestrictionCode": {
                        "type": "string",
                        "description": "Tunnel restriction code"
                    },
                    "identificationUnNo": {
                        "type": "string",
                        "description": "Substance identification: UN-No."
                    },
                    "packingCode": {
                        "type": "string",
                        "description": "Packing code (see PACKINGCODE). Mandatory in case of hazardous parcel"
                    }
                }
            },
            "Insurance": {
                "type": "object",
                "properties": {
                    "insuranceAmount": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "insuranceParcelContent": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Description of parcel for insurance"
                    }
                }
            },
            "InterInvoiceLine": {
                "type": "object",
                "properties": {
                    "invoicePosition": {
                        "pattern": "([0-9]{1,6})",
                        "type": "string",
                        "description": "Line number of the invoice"
                    },
                    "quantityOfItems": {
                        "pattern": "([0-9]{1,4})",
                        "type": "string",
                        "description": "Quantity of items per article or invoice line even for low / mid / high value or any type of customer"
                    },
                    "content": {
                        "type": "string",
                        "description": "Content (Depending of the destination system. Could be cut by some system to the first 35 characters)"
                    },
                    "amountOfPosition": {
                        "type": "number",
                        "format": "float"
                    },
                    "manufacturedCountry": {
                        "type": "string"
                    },
                    "netWeight": {
                        "type": "string",
                        "description": "Total weight of the articles in the current line, excluding packaging, in grams."
                    },
                    "grossWeight": {
                        "type": "string",
                        "description": "Total weight of the articles including packaging in the current line, in grams."
                    },
                    "customerProductCode": {
                        "maxLength": 255,
                        "minLength": 0,
                        "type": "string",
                        "description": "Internal Customer product code"
                    },
                    "productDescription": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "Short description of the product"
                    },
                    "fabricComposition": {
                        "maxLength": 200,
                        "minLength": 0,
                        "type": "string",
                        "description": "Description of fabric composition"
                    },
                    "importTarifCode": {
                        "type": "string"
                    },
                    "exportTarifCode": {
                        "type": "string"
                    },
                    "goodsWebPage": {
                        "type": "string",
                        "format": "uri"
                    },
                    "parcelRank": {
                        "maxLength": 3,
                        "minLength": 0,
                        "pattern": "([0-9]{1,})",
                        "type": "string",
                        "description": "Rank of the parcel within a multi-piece shipment. Set to one for the masterpiece of the shipment or for a single piece. Default = Blank"
                    }
                }
            },
            "International": {
                "type": "object",
                "properties": {
                    "parcelType": {
                        "type": "string",
                        "description": "Parcel type within the shipment. Different parcel types can't be mixed into one shipment * `D` : Document  * `P` : Non-Doc "
                    },
                    "customsAmount": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "customsAmountEx": {
                        "$ref": "#/components/schemas/Amount"
                    },
                    "customsTerms": {
                        "type": "string",
                        "description": "Parcel type within the shipment Different parcel types can't be mixed into one shipment * `s01` : DAP, not cleared * `s02` : DDP, delivered duty paid (incl. duties and excl. taxes) * `s03` : DDP, delivered duty paid (incl. duties and taxes) * `s05` : ex works (EXW) * `s06` : DAP * `s07` : DAP & DDP enhanced, Duty and taxes were pre-paid by the receiver' ",
                        "enum": [
                            "s01",
                            "s02",
                            "s03",
                            "s04",
                            "s05",
                            "s06",
                            "s07"
                        ]
                    },
                    "customsPaper": {
                        "type": "string",
                        "description": "Accompanying documents e.g. A | G | B Separator is \"|\" (a pipe) in case of multiple invoice documents * `A` : commercial invoice * `B` : pro forma invoice * `C` : export declaration * `D` : EUR1 * `E` : EUR2 * `F` : ATR * `G` : delivery note * `H` : third party billing * `I` : T1 document ",
                        "enum": [
                            "A",
                            "B",
                            "C",
                            "D",
                            "E",
                            "F",
                            "G",
                            "H",
                            "I"
                        ]
                    },
                    "clearanceStatus": {
                        "type": "string",
                        "description": "Values:   * `N` : No  * `F` : Free  * `E` : Export Cleared  * `T` : Transit Cleared  * `I` : Import Cleared  * `H` : Hybrid ",
                        "enum": [
                            "N",
                            "F",
                            "E",
                            "T",
                            "I",
                            "H"
                        ]
                    },
                    "customsHighLowValue": {
                        "type": "string",
                        "description": "(H)igh, (M)id (above 22€ and below 150€), (L)ow.  * `H` : High  * `M` : Medium   * `L` : Low ",
                        "enum": [
                            "H",
                            "M",
                            "L"
                        ]
                    },
                    "customsInvoice": {
                        "maxLength": 35,
                        "minLength": 0,
                        "type": "string",
                        "description": "Invoice number Separator is \"|\" (a pipe) in case of multiple invoice numbers"
                    },
                    "customsInvoiceDates": {
                        "maxItems": 4,
                        "minItems": 0,
                        "type": "array",
                        "description": "Invoice dates",
                        "items": {
                            "type": "string",
                            "description": "Invoice dates",
                            "format": "date"
                        }
                    },
                    "importer": {
                        "$ref": "#/components/schemas/InternationalImporter"
                    },
                    "mrn": {
                        "pattern": "([a-zA-Z0-9]{1,209})",
                        "type": "string",
                        "description": "MRN of the electronic export declaration Remarks: The \"|\" is the separator between two MRN."
                    },
                    "exporter": {
                        "$ref": "#/components/schemas/InternationalExporter"
                    },
                    "numberOfArticles": {
                        "pattern": "([0-9]{1,6})",
                        "type": "string",
                        "description": "This is the real number of commodities (ImportTarifCode / ExportTarifCode). The number of Interinvoicelines must equal the NumberOfArticles"
                    },
                    "destinationCountryRegistration": {
                        "maxLength": 15,
                        "minLength": 0,
                        "type": "string",
                        "description": "Destination country registration information : Registration number or FDA If destination is DPD UK : Applies to B2B and B2C (Not applicable for C2C) shipments with a goods value under £135 (Excludes shipping cost) and if the Incoterm is not DDP. This is expected to come into force March 19, however no official communication from HMRC yet."
                    },
                    "exportReason": {
                        "type": "string",
                        "description": "Reason for export  * `s01` : sale  * `s02` : return/replacement  * `s03` : gift ",
                        "enum": [
                            "s01",
                            "s02",
                            "s03"
                        ]
                    },
                    "interInvoiceLines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InterInvoiceLine"
                        }
                    },
                    "shipmentContent": {
                        "type": "string",
                        "description": "A detailed description of the overall contents of the consignement (UK->EU export only)"
                    }
                }
            },
            "InternationalExporter": {
                "type": "object",
                "properties": {
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "contact": {
                        "$ref": "#/components/schemas/ContactDetails"
                    },
                    "eori": {
                        "type": "string"
                    }
                }
            },
            "InternationalImporter": {
                "type": "object",
                "properties": {
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "contact": {
                        "$ref": "#/components/schemas/ContactDetails"
                    },
                    "gln": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "GLN number (Global location number)"
                    },
                    "vatNumber": {
                        "type": "string"
                    },
                    "customerDefermentNumber": {
                        "maxLength": 35,
                        "minLength": 0,
                        "type": "string",
                        "description": "Customer deferment number with can be used for duty tax collection"
                    },
                    "eori": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "EORI number, dependency of the customs export regime."
                    }
                }
            },
            "LegalEntity": {
                "type": "object",
                "properties": {
                    "businessType": {
                        "type": "string",
                        "description": "Business Type:   * `P` : PRIVATE   * `B` : BUSINESS ",
                        "enum": [
                            "P",
                            "B"
                        ]
                    },
                    "eori": {
                        "type": "string"
                    },
                    "vatNumber": {
                        "type": "string"
                    },
                    "taxIdType": {
                        "type": "string",
                        "description": "Type of document if businessType = B, this field becomes mandatory (dependency of the customs export regime) applicable or not according export customs clearance of origin country if businessType = P, this field is empty. Note - Data in this field to be captured based on the rules of each BU.   * `P` : PASSPORT Number   * `C` : CNPJ (ou CPF) Number (Brésil) ",
                        "enum": [
                            "P",
                            "C"
                        ]
                    },
                    "taxIdValue": {
                        "maxLength": 100,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Document information. Data in this field to be captured based on the rules of each BU. Become mandatory if IDType is filled"
                    },
                    "webSite": {
                        "type": "string",
                        "format": "uri"
                    },
                    "FiscalVatRepresentant": {
                        "maxLength": 100,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Fiscal VAT number. This field should be left Blank / Empty and Only populated with the Fiscal VAT number if applicable / known"
                    }
                }
            },
            "Message": {
                "type": "object",
                "properties": {
                    "messageType": {
                        "type": "string",
                        "description": "Notification type * `EMAIL` * `PHONE` * `SMS` * `APP` ",
                        "enum": [
                            "EMAIL",
                            "PHONE",
                            "SMS",
                            "APP"
                        ]
                    },
                    "messageDestination": {
                        "type": "string",
                        "description": "Destination for the notification, e.g. telephone number, email address, etc. … The required data format for the pro active message types SMS, phone and FAX is as follows: \"+international country numberphone number\" Has to be encoded in one of the following ways: * XXXXXXXX * +intcodeXXXXXXXX * 00intcodeXXXXXXXX' "
                    },
                    "messageLanguage": {
                        "maxLength": 2,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Language of the proactive notification 2 (ISO 639-1 alpha 2 code, e.g. DE). MSG are maintain per BU. The list of available language is maintain by the BU which send the message.. Default language will be the one in the BU which send the message. "
                    },
                    "messageDestType": {
                        "type": "string",
                        "description": "Destination stakeholder of the notification: * `s0` : Receiver / Consignee (default if not provided) * `s1` : Sender / Consignor * `s2` : Requester * `s3` : Other ",
                        "enum": [
                            "s0",
                            "s1",
                            "s2",
                            "s3"
                        ]
                    },
                    "senderCompany": {
                        "type": "string"
                    }
                }
            },
            "ModelReturn": {
                "type": "object",
                "properties": {
                    "customerInfos": {
                        "$ref": "#/components/schemas/CustomerInfos"
                    },
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "contact": {
                        "$ref": "#/components/schemas/ContactDetails"
                    },
                    "comment": {
                        "type": "string"
                    },
                    "depot": {
                        "maxLength": 10,
                        "minLength": 0,
                        "type": "string",
                        "description": "GeoRouting depot code 7 digits - BU code 3 digits + 4 | specificy for BRT - fill with the ID given by your representative"
                    }
                }
            },
            "Parcel": {
                "type": "object",
                "properties": {
                    "parcelInfos": {
                        "$ref": "#/components/schemas/ParcelInfos"
                    },
                    "parcelRank": {
                        "maxLength": 3,
                        "minLength": 0,
                        "pattern": "([0-9]{1,})",
                        "type": "string",
                        "description": "Rank of the parcel within a multi-piece shipment. Set to one for the masterpiece of the shipment or for a single piece. Default = Blank"
                    },
                    "senderParcelRefs": {
                        "maxItems": 4,
                        "minItems": 0,
                        "type": "array",
                        "description": "List of sender parcels references",
                        "items": {
                            "type": "string",
                            "description": "List of sender parcels references"
                        }
                    },
                    "partnerParcelRefs": {
                        "maxItems": 4,
                        "minItems": 0,
                        "type": "array",
                        "description": "Partner´s own parcel reference field",
                        "items": {
                            "type": "string",
                            "description": "Partner´s own parcel reference field"
                        }
                    },
                    "insurance": {
                        "$ref": "#/components/schemas/Insurance"
                    },
                    "hazardousLimitedQuantities": {
                        "type": "boolean",
                        "description": "Limited quantities of hazardous goods parcel value. "
                    },
                    "hazardousPackingCode": {
                        "maxLength": 3,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Packing code * `0A` Thin sheet packing * `0A1` Thin sheet packing with non removable head * `0A2` Thin sheet packing with removable head * `1A` Steel barrel * `1A1` Steel barrel with non removable head * `1A2` Steel barrel with removable head * `1B` Aluminum barrel * `1B1` Aluminum barrel with non removable head * `1B2` Aluminum barrel with removable head * `1H` Plastics barrel * `1H1` Plastics barrel with non removable head * `1H2` Plastics barrel with removable head * `3A` Steel canister * `3A1` Steel canister with non removable head * `3A2` Steel canister with removable head * `3B` Aluminum canister * `3B1`  Aluminum canister with non removable head * `3B2` Aluminum canister with removable head * `3H` Plastics canister * `3H1` Plastics canister with non removable head * `3H2` Plastics canister with removable head * `4A` Steel crates * `4B` Aluminum crate * `4D` Plywood crate * `4G` Cardboard crate * `4H` Plastics crate * `4H1` Plastics crate-plastics expanded * `4H2` Plastics crate-plastics solid * `5H` Plastics bags * `5M` Paper bags * `6H` Combination packing "
                    },
                    "parcelContent": {
                        "maxLength": 200,
                        "minLength": 0,
                        "type": "string",
                        "description": "Content (Depending of the destination systems. Could be cut by some system to the first 35 characters) The language recommended in this field is English"
                    },
                    "cod": {
                        "$ref": "#/components/schemas/Cod"
                    },
                    "messages": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Message"
                        }
                    },
                    "hazardous": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Hazardous"
                        }
                    },
                    "reference": {
                        "type": "string",
                        "description": "Field used only by PL customers to transmit the reference associated with the parcel number."
                    }
                }
            },
            "ParcelInfos": {
                "type": "object",
                "properties": {
                    "parcelNumber": {
                        "type": "string",
                        "description": "Parcel number."
                    },
                    "parcelNumberCcKey": {
                        "maxLength": 1,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1})",
                        "type": "string",
                        "description": "Control character key compute from the parcel number."
                    },
                    "dimensions": {
                        "$ref": "#/components/schemas/Dimensions"
                    },
                    "weight": {
                        "type": "string"
                    }
                }
            },
            "Person": {
                "type": "object",
                "properties": {
                    "personalDeliveryType": {
                        "type": "string",
                        "description": "Personal delivery type:  * `s1` : department delivery (without personal identification)  * `s2` : personal delivery with personal identification (IDCheck)  * `s3` : personal delivery without personal identification at PUDO (e.g. Direct PUDO delivery)  * `s4` : personal delivery with personal identification at PUDO (e.g. Direct PUDO delivery)  * `s5` : personal delivery with personal identification at PUDO plus ID-Check (e.g. Direct PUDO delivery)  * `s6` : personal delivery with personal identification (ID Check) and recording of the ID. ",
                        "enum": [
                            "s1",
                            "s2",
                            "s3",
                            "s4",
                            "s5",
                            "s6"
                        ]
                    },
                    "personalAuthorizedName": {
                        "type": "string"
                    },
                    "phone1": {
                        "type": "string"
                    },
                    "phone2": {
                        "type": "string"
                    },
                    "personalIdNumber": {
                        "pattern": "([a-zA-Z0-9]{1,35})",
                        "type": "string",
                        "description": "Real consignee's personal identification number."
                    },
                    "personalDateOfBirth": {
                        "type": "string",
                        "format": "date"
                    },
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "contact": {
                        "pattern": "([a-zA-Z0-9]{1,35})",
                        "type": "string",
                        "description": "Recipient contact person. Could be different of the consignee's name"
                    },
                    "fax": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "gln": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "GLN number (Global location number)"
                    },
                    "comment": {
                        "type": "string"
                    }
                }
            },
            "Pickup": {
                "required": [
                    "date"
                ],
                "type": "object",
                "properties": {
                    "date": {
                        "type": "string",
                        "format": "date"
                    },
                    "fromTime": {
                        "type": "string"
                    },
                    "toTime": {
                        "type": "string"
                    }
                }
            },
            "Receiver": {
                "type": "object",
                "properties": {
                    "customerInfos": {
                        "$ref": "#/components/schemas/CustomerInfos"
                    },
                    "pudoId": {
                        "maxLength": 100,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "ID number of PUDO point (parcel shop, post office, customer network point, etc., .) This field must use the GeoPost standard PUDO definition (Mandatory for the Cross Border delivery) e.g: CC12345 with: CC: Country Code compliant with ISO 3166-1: 2 Alpha Numerical Characters 12345: PUDO Number' "
                    },
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "contact": {
                        "$ref": "#/components/schemas/ContactDetails"
                    },
                    "comment": {
                        "type": "string"
                    },
                    "legalEntity": {
                        "$ref": "#/components/schemas/LegalEntity"
                    }
                }
            },
            "Sender": {
                "type": "object",
                "properties": {
                    "customerInfos": {
                        "$ref": "#/components/schemas/CustomerInfos"
                    },
                    "pudoId": {
                        "maxLength": 100,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "ID number of PUDO point (parcel shop, post office, customer network point, etc., .) This field must use the GeoPost standard PUDO definition (Mandatory for the Cross Border delivery) e.g: CC12345 with: CC: Country Code compliant with ISO 3166-1: 2 Alpha Numerical Characters 12345: PUDO Number' "
                    },
                    "addressId": {
                        "type": "string",
                        "description": "sender AddressId (for CZ, SK, SPEEDY, BALTICS)"
                    },
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "contact": {
                        "$ref": "#/components/schemas/ContactDetails"
                    },
                    "comment": {
                        "type": "string"
                    },
                    "gln": {
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string",
                        "description": "GLN number (Global location number)"
                    },
                    "accountOwner": {
                        "maxLength": 3,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Define the owner of the customer account customer. This owner is responsible to bill the parcel."
                    },
                    "legalEntity": {
                        "$ref": "#/components/schemas/LegalEntity"
                    }
                }
            },
            "Shipment": {
                "required": [
                    "numberOfParcels",
                    "parcel",
                    "receiver",
                    "sender"
                ],
                "type": "object",
                "properties": {
                    "return": {
                        "$ref": "#/components/schemas/ModelReturn"
                    },
                    "shipmentInfos": {
                        "$ref": "#/components/schemas/ShipmentInfos"
                    },
                    "customsReference": {
                        "maxLength": 25,
                        "minLength": 0,
                        "pattern": "([a-zA-Z0-9]{1,})",
                        "type": "string",
                        "description": "Consignment number for the customs point of view."
                    },
                    "sendingDepot": {
                        "type": "string"
                    },
                    "mpsCompleteDelivery": {
                        "type": "string",
                        "description": "Values :   * `s0` - Reserved for the future usage (default)   * `s1` - No complete delivery (MPS incomplete)   * `s2` - Complete delivery (MPS complete). It is mandatory for COD ",
                        "enum": [
                            "s0",
                            "s1",
                            "s2"
                        ]
                    },
                    "mpsCompleteDeliveryLabel": {
                        "type": "string",
                        "description": "Defines if the label for complete delivery is printed for pickup. Default value is false."
                    },
                    "customerReferenceNumbers": {
                        "maxItems": 4,
                        "minItems": 0,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "customerBillingReference": {
                        "pattern": "([a-zA-Z0-9]{1,35})",
                        "type": "string",
                        "description": "Customer reference for billing or clearing"
                    },
                    "cifcost": {
                        "$ref": "#/components/schemas/Cifcost"
                    },
                    "numberOfParcels": {
                        "maxLength": 3,
                        "minLength": 0,
                        "type": "string",
                        "description": "Number of parcels per shipment. A 0 value is acceptable in some BUs and will trigger an open multi-piece shipment, with automated or manual consolidation"
                    },
                    "sender": {
                        "$ref": "#/components/schemas/Sender"
                    },
                    "receiver": {
                        "$ref": "#/components/schemas/Receiver"
                    },
                    "international": {
                        "$ref": "#/components/schemas/International"
                    },
                    "person": {
                        "$ref": "#/components/schemas/Person"
                    },
                    "parcel": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Parcel"
                        }
                    },
                    "pickup": {
                        "$ref": "#/components/schemas/Pickup"
                    },
                    "delivery": {
                        "$ref": "#/components/schemas/Delivery"
                    },
                    "payerType": {
                        "type": "string",
                        "description": "* `S` : Sender * `R` : Receiver * `3` : 3rd party ",
                        "enum": [
                            "S",
                            "R",
                            "3"
                        ]
                    },
                    "documents": {
                        "maxItems": 4,
                        "minItems": 0,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Document"
                        }
                    },
                    "shippingDate": {
                        "type": "string",
                        "format": "date"
                    }
                },
                "description": "Shipment creation from a customer to a BU."
            },
            "ShipmentInfos": {
                "required": [
                    "productCode"
                ],
                "type": "object",
                "properties": {
                    "shipmentId": {
                        "maxLength": 50,
                        "minLength": 0,
                        "type": "string",
                        "description": "Shipment ID Could be the ID of the first parcel of the list (master ID) or could be another ID specially created for that."
                    },
                    "shipmentIdCKey": {
                        "type": "string",
                        "description": "Control character key compute from the shipmentId"
                    },
                    "productCode": {
                        "type": "string",
                        "description": "DPD Product used for the shipment (\"101\" for DPD CLASSIC, ...)"
                    },
                    "serviceCode": {
                        "type": "string",
                        "description": "Additional local service code, needed only in certain Business Units"
                    },
                    "additionalServiceCode": {
                        "type": "string",
                        "description": "DPD Additional Service required for specific services, describing first and last mile handling"
                    },
                    "dimensions": {
                        "$ref": "#/components/schemas/Dimensions"
                    },
                    "weight": {
                        "maxLength": 10,
                        "minLength": 0,
                        "type": "string",
                        "description": "Weight in grams units (e.g. 3000 equals 3kg)"
                    },
                    "exWorksDelivery": {
                        "type": "boolean",
                        "description": "Specific field for DPD DE. Specifies if the recipient has to pay the consignment."
                    }
                }
            },
            "shipment.Debug": {
                "type": "object",
                "properties": {
                    "request": {
                        "type": "string"
                    },
                    "response": {
                        "type": "string"
                    },
                    "methodName": {
                        "type": "string"
                    }
                }
            },
            "shipment.Label": {
                "type": "object",
                "properties": {
                    "base64Data": {
                        "type": "string"
                    },
                    "media-type": {
                        "type": "string"
                    },
                    "qrcode": {
                        "type": "string",
                        "description": "BALTICS specificity, format always in PNG"
                    },
                    "pincode": {
                        "type": "string",
                        "description": "BALTICS specificity"
                    }
                },
                "description": "List of other label"
            },
            "shipment.ParcelBarcode": {
                "type": "object",
                "properties": {
                    "parcel": {
                        "type": "string",
                        "description": "Parcel number."
                    },
                    "barcode": {
                        "type": "string"
                    },
                    "reference": {
                        "type": "string"
                    }
                }
            },
            "shipment.QrCode": {
                "type": "object",
                "properties": {
                    "base64Data": {
                        "type": "string",
                        "description": "qr code data base64 encoded"
                    },
                    "media-type": {
                        "type": "string",
                        "description": "format of the label"
                    },
                    "pincode": {
                        "type": "string",
                        "description": "pin code"
[...]
