{
    "swagger": "2.0",
    "info": {
        "title": "Purplship API",
        "description": "\n## API Reference\n\nPurplship is an open source multi-carrier shipping API that simplifies the integration of logistic carrier services.\n\nThe Purplship API is organized around REST. Our API has predictable resource-oriented URLs, accepts JSON-encoded \nrequest bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.\n\nThe Purplship API differs for every account as we release new versions.\nThese docs are customized to your version of the API.\n\n\n## Versioning\n\nWhen backwards-incompatible changes are made to the API, a new, dated version is released. \nThe current version is `2021.6rc3`. \n\nRead our API changelog and to learn more about backwards compatibility.\n\nAs a precaution, use API versioning to check a new API version before committing to an upgrade.\n\n\n## Pagination\n\nAll top-level API resources have support for bulk fetches via \"list\" API methods. For instance, you can list addresses, \nlist shipments, and list trackers. These list API methods share a common structure, taking at least these \ntwo parameters: limit, and offset.\n\nPurplship utilizes offset-based pagination via the offset and limit parameters.\nBoth parameters take a number as value (see below) and return objects in reverse chronological order. \nThe offset parameter returns objects listed after an index. \nThe limit parameter take a limit on the number of objects to be returned from 1 to 100.\n\n\n```json\n{\n    \"next\": \"/v1/shipments?limit=25&offset=50\",\n    \"previous\": \"/v1/shipments?limit=25&offset=25\",\n    \"results\": [\n    ]\n}\n```\n\n## Environments\n\nThe Purplship API offer the possibility to create and retrieve certain objects in `test_mode`.\nIn development, it is therefore possible to add carrier connections, get live rates, \nbuy labels, create trackers and schedule pickups in `test_mode`.\n\n",
        "contact": {
            "email": "hello@purplship.com"
        },
        "version": "2021.6rc3"
    },
    "host": "app.purplship.com",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "Token": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header",
            "description": "\nAPI keys are used to authenticate requests. You can view and manage your API keys in the Dashboard.\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret \nAPI keys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAuthentication to the API is performed via HTTP Bearer Auth. You do not need to provide a password.\nTo authenticate via bearer auth (e.g., for a cross-origin request), \nuse `-H \"Authorization: Token 19707922d97cef7a5d5e17c331ceeff66f226660\"`.\n\nAPI requests without authentication will also fail.\n"
        }
    },
    "security": [
        {
            "Token": []
        }
    ],
    "paths": {
        "/api/token": {
            "post": {
                "operationId": "&&authenticate",
                "summary": "Obtain auth token pair",
                "description": "Authenticate the user and return a token pair",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TokenObtainPair"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TokenPair"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            },
            "parameters": []
        },
        "/api/token/refresh": {
            "post": {
                "operationId": "&&refresh_token",
                "summary": "Refresh auth token",
                "description": "Authenticate the user and return a token pair",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TokenRefresh"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AccessToken"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            },
            "parameters": []
        },
        "/api/token/verify": {
            "post": {
                "operationId": "&&verify_token",
                "summary": "Verify auth token",
                "description": "Verify an existent authentication token",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TokenVerify"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            },
            "parameters": []
        },
        "/v1/addresses": {
            "get": {
                "operationId": "$list",
                "summary": "List all addresses",
                "description": "Retrieve all addresses.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The initial index from which to return the results.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddressList"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Addresses"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request GET \\\n  --url '/v1/addresses' \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "post": {
                "operationId": "$create",
                "summary": "Create an address",
                "description": "Create a new address.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddressData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Address"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Addresses"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request POST \\\n  --url /v1/addresses \\\n  --header 'Authorization: Token <API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"address_line1\": \"125 Church St\",\n    \"person_name\": \"John Doe\",\n    \"company_name\": \"A corp.\",\n    \"phone_number\": \"+1 514 000 0000\",\n    \"city\": \"Moncton\",\n    \"country_code\": \"CA\",\n    \"postal_code\": \"E1C4Z8\",\n    \"residential\": false,\n    \"state_code\": \"NB\"\n}'\n"
                    }
                ]
            },
            "parameters": []
        },
        "/v1/addresses/{id}": {
            "get": {
                "operationId": "$retrieve",
                "summary": "Retrieve an address",
                "description": "Retrieve an address.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Address"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Addresses"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request GET \\\n  --url /v1/addresses/<ADDRESS_ID> \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "patch": {
                "operationId": "$update",
                "summary": "Update an address",
                "description": "update an address.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddressData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Address"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Addresses"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request PATCH \\\n  --url /v1/addresses/<ADDRESS_ID> \\\n  --header 'Authorization: Token <API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"city\": \"Pierrefonds\"\n}'\n"
                    }
                ]
            },
            "delete": {
                "operationId": "$discard",
                "summary": "Discard an address",
                "description": "Discard an address.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Operation"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Addresses"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request DELETE \\\n  --url /v1/addresses/<ADDRESS_ID> \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/carriers": {
            "get": {
                "operationId": "&&list",
                "summary": "List all carriers",
                "description": "Returns the list of configured carriers",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The initial index from which to return the results.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "carrier_name",
                        "in": "query",
                        "description": "Indicates a carrier (type)",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "aramex",
                            "australiapost",
                            "canadapost",
                            "canpar",
                            "dhl_express",
                            "dhl_universal",
                            "dicom",
                            "eshipper",
                            "fedex",
                            "freightcom",
                            "purolator",
                            "royalmail",
                            "sendle",
                            "sf_express",
                            "tnt",
                            "ups",
                            "usps",
                            "usps_international",
                            "yanwen",
                            "yunexpress"
                        ]
                    },
                    {
                        "name": "test",
                        "in": "query",
                        "description": "This flag filter out carriers in test or prod mode",
                        "required": false,
                        "type": "boolean",
                        "x-nullable": true
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "This flag indicates whether to return active carriers only",
                        "required": false,
                        "type": "boolean",
                        "x-nullable": true
                    },
                    {
                        "name": "system_only",
                        "in": "query",
                        "description": "This flag indicates that only system carriers should be returned",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CarrierList"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Carriers"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request GET \\\n  --url '/v1/carriers' \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "parameters": []
        },
        "/v1/customs_info": {
            "get": {
                "operationId": "$$list",
                "summary": "List all customs info",
                "description": "Retrieve all stored customs declarations.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The initial index from which to return the results.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CustomsList"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Customs"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request GET \\\n  --url '/v1/customs_info' \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "post": {
                "operationId": "$$create",
                "summary": "Create a customs info",
                "description": "Create a new customs declaration.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomsData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Customs"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Customs"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request POST \\\n  --url /v1/customs_info \\\n  --header 'Authorization: Token <API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"content_type\": \"merchandise\",\n    \"incoterm\": \"DDU\",\n    \"commodities\": [\n      {\n        \"weight\": 2,\n        \"weight_unit\": \"KG\",\n        \"quantity\": 1,\n        \"sku\": \"XXXXX0000123\",\n        \"value_amount\": 30,\n        \"value_currency\": \"USD\",\n        \"origin_country\": \"JM\"\n      }\n    ],\n    \"duty\": {\n      \"paid_by\": \"recipient\",\n      \"currency\": \"USD\",\n      \"declared_value\": 60,\n    },\n    \"certify\": true,\n    \"signer\": \"Kex\",\n  }'\n"
                    }
                ]
            },
            "parameters": []
        },
        "/v1/customs_info/{id}": {
            "get": {
                "operationId": "$$retrieve",
                "summary": "Retrieve a customs info",
                "description": "Retrieve customs declaration.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Customs"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Customs"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request GET \\\n  --url /v1/customs_info/<CUSTOMS_INFO_ID> \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "patch": {
                "operationId": "$$update",
                "summary": "Update a customs info",
                "description": "modify an existing customs declaration.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomsData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Customs"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Customs"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request PATCH \\\n  --url /v1/customs_info/<CUSTOMS_INFO_ID> \\\n  --header 'Authorization: Token <API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"content_type\": \"merchandise\",\n    \"duty\": {\n      \"paid_by\": \"recipient\",\n      \"currency\": \"CAD\",\n      \"declared_value\": 100,\n    }\n  }'\n"
                    }
                ]
            },
            "delete": {
                "operationId": "$$discard",
                "summary": "Discard a customs info",
                "description": "Discard a customs declaration.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Operation"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Customs"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request DELETE \\\n  --url /v1/customs_info/<CUSTOMS_INFO_ID> \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/customs_info/{id}/commodities": {
            "post": {
                "operationId": "$$add_commodity",
                "summary": "Add a commodity",
                "description": "Add a customs commodity.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CommodityData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Customs"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Customs"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request POST \\\n  --url /v1/customs_info/<CUSTOMS_INFO_ID>/commodities \\\n  --header 'Authorization: Token <API_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"weight\": 1,\n    \"weight_unit\": \"KG\",\n    \"quantity\": 1,\n    \"sku\": \"XXXXX0000123\",\n    \"value_amount\": 25,\n    \"value_currency\": \"USD\",\n    \"origin_country\": \"CA\"\n  }'\n"
                    }
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/customs_info/{id}/commodities/{ck}": {
            "delete": {
                "operationId": "$$discard_commodity",
                "summary": "Discard a commodity",
                "description": "Discard a customs commodity.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Operation"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Customs"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request DELETE \\\n  --url /v1/customs_info/<CUSTOMS_INFO_ID>/commodities/<COMMODITY_ID> \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "parameters": [
                {
                    "name": "ck",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/parcels": {
            "get": {
                "operationId": "$$$list",
                "summary": "List all parcels",
                "description": "Retrieve all stored parcels.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The initial index from which to return the results.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ParcelList"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Parcels"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request GET \\\n  --url '/v1/parcels' \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "post": {
                "operationId": "$$$create",
                "summary": "Create a parcel",
                "description": "Create a new parcel.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ParcelData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Parcel"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Parcels"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request POST \\\n    --url /v1/parcels \\\n    --header 'Authorization: Token <API_KEY>' \\\n    --header 'Content-Type: application/json' \\\n    --data '{\n      \"weight\": 1,\n      \"weight_unit\": \"KG\",\n      \"package_preset\": \"canadapost_corrugated_small_box\"\n    }'\n"
                    }
                ]
            },
            "parameters": []
        },
        "/v1/parcels/{id}": {
            "get": {
                "operationId": "$$$retrieve",
                "summary": "Retrieve a parcel",
                "description": "Retrieve a parcel.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Parcel"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Parcels"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request GET \\\n  --url /v1/parcels/<PARCEL_ID> \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "patch": {
                "operationId": "$$$update",
                "summary": "Update a parcel",
                "description": "modify an existing parcel's details.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ParcelData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Parcel"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Parcels"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request PATCH \\\n    --url /v1/parcels/<PARCEL_ID> \\\n    --header 'Authorization: Token <API_KEY>' \\\n    --header 'Content-Type: application/json' \\\n    --data '{\n      \"weight\": 1.2,\n    }'\n"
                    }
                ]
            },
            "delete": {
                "operationId": "$$$discard",
                "summary": "Remove a parcel",
                "description": "Remove a parcel.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Operation"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Parcels"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request DELETE \\\n    --url /v1/parcels/<PARCEL_ID> \\\n    --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/pickups": {
            "get": {
                "operationId": "$$$$list",
                "summary": "List shipment pickups",
                "description": "Retrieve all scheduled pickups.",
                "parameters": [
                    {
                        "name": "test_mode",
                        "in": "query",
                        "type": "boolean"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The initial index from which to return the results.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PickupList"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Pickups"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request GET \\\n  --url '/v1/pickups' \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "parameters": []
        },
        "/v1/pickups/{carrier_name}/schedule": {
            "post": {
                "operationId": "$$$$schedule",
                "summary": "Schedule a pickup",
                "description": "Schedule a pickup for one or many shipments with labels already purchased.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PickupData"
                        }
                    },
                    {
                        "name": "test",
                        "in": "query",
                        "description": "The test flag indicates whether to use a carrier configured for test.",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Pickup"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Pickups"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request POST \\\n  --url /v1/pickups/<PICKUP_ID> \\\n  --header 'Authorization: Token <API_KEY>' \\\n  --data '{\n    \"pickup_date\": \"2020-10-25\",\n    \"address\": {\n      \"address_line1\": \"125 Church St\",\n      \"person_name\": \"John Doe\",\n      \"city\": \"Moncton\",\n      \"country_code\": \"CA\",\n      \"postal_code\": \"E1C4Z8\",\n      \"state_code\": \"NB\",\n    },\n    \"ready_time\": \"13:00\",\n    \"closing_time\": \"17:00\",\n    \"instruction\": \"Should not be folded\",\n    \"package_location\": \"At the main entrance hall\",\n    \"tracking_numbers\": [\n        \"8545763607864201002\"\n    ]\n}'\n"
                    }
                ]
            },
            "parameters": [
                {
                    "name": "carrier_name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/pickups/{id}": {
            "get": {
                "operationId": "$$$$retrieve",
                "summary": "Retrieve a pickup",
                "description": "Retrieve a scheduled pickup.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Pickup"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Pickups"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request GET \\\n  --url /v1/pickups/<PICKUP_ID> \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "patch": {
                "operationId": "$$$$update",
                "summary": "Update a pickup",
                "description": "Modify a pickup for one or many shipments with labels already purchased.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PickupUpdateData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/OperationConfirmation"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Pickups"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request PATCH \\\n  --url /v1/pickups/<PICKUP_ID> \\\n  --header 'Authorization: Token <API_KEY>' \\\n  --data '{\n    \"address\": {\n      \"phone_number\": \"514-000-0000\",\n      \"residential\": false,\n      \"email\": \"john@a.com\"\n    },\n    \"ready_time\": \"13:00\",\n    \"closing_time\": \"20:00\",\n}'\n"
                    }
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/pickups/{id}/cancel": {
            "post": {
                "operationId": "$$$$cancel",
                "summary": "Cancel a pickup",
                "description": "Cancel a pickup of one or more shipments.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PickupCancelData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/OperationConfirmation"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Pickups"
                ],
                "x-code-samples": [
                    {
                        "lang": "bash",
                        "source": "\ncurl --request POST \\\n  --url /v1/pickups/<PICKUP_ID> \\\n  --header 'Authorization: Token <API_KEY>'\n"
                    }
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/proxy/pickups/{carrier_name}": {
            "post": {
                "operationId": "@schedule_pickup",
                "summary": "Schedule a pickup",
                "description": "Schedule one or many parcels pickup",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PickupRequest"
                        }
                    },
                    {
                        "name": "test",
                        "in": "query",
                        "description": "The test flag indicates whether to use a carrier configured for test.",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PickupResponse"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Proxy"
                ]
            },
            "put": {
                "operationId": "@update_pickup",
                "summary": "Update a pickup",
                "description": "Modify a scheduled pickup",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PickupUpdateRequest"
                        }
                    },
                    {
                        "name": "test",
                        "in": "query",
                        "description": "The test flag indicates whether to use a carrier configured for test.",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PickupResponse"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Proxy"
                ]
            },
            "parameters": [
                {
                    "name": "carrier_name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/proxy/pickups/{carrier_name}/cancel": {
            "post": {
                "operationId": "@cancel_pickup",
                "summary": "Cancel a pickup",
                "description": "Cancel a pickup previously scheduled",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PickupCancelRequest"
                        }
                    },
                    {
                        "name": "test",
                        "in": "query",
                        "description": "The test flag indicates whether to use a carrier configured for test.",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/OperationResponse"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Proxy"
                ]
            },
            "parameters": [
                {
                    "name": "carrier_name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/proxy/rates": {
            "post": {
                "operationId": "@@fetch_rates",
                "summary": "Fetch shipment rates",
                "description": "\nThe Shipping process begins by fetching rates for your shipment.\nUse this service to fetch a shipping rates available.\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/RateResponse"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Proxy"
                ]
            },
            "parameters": []
        },
        "/v1/proxy/shipping": {
            "post": {
                "operationId": "@@@buy_label",
                "summary": "Buy a shipment label",
                "description": "Once the shipping rates are retrieved, provide the required info to\nsubmit the shipment by specifying your preferred rate.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ShippingRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Shipment"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Proxy"
                ]
            },
            "parameters": []
        },
        "/v1/proxy/shipping/{carrier_name}/cancel": {
            "post": {
                "operationId": "@@@void_label",
                "summary": "Void a shipment label",
                "description": "Cancel a shipment and the label previously created",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ShipmentCancelRequest"
                        }
                    },
                    {
                        "name": "test",
                        "in": "query",
                        "description": "The test flag indicates whether to use a carrier configured for test.",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/OperationResponse"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Proxy"
                ]
            },
            "parameters": [
                {
                    "name": "carrier_name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/proxy/tracking/{carrier_name}/{tracking_number}": {
            "get": {
                "operationId": "@@@@track_shipment",
                "summary": "Track a shipment",
                "description": "You can track a shipment by specifying the carrier and the shipment tracking number.",
                "parameters": [
                    {
                        "name": "test",
                        "in": "query",
                        "description": "The test flag indicates whether to use a carrier configured for test.",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TrackingResponse"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Proxy"
                ]
            },
            "parameters": [
                {
                    "name": "carrier_name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "tracking_number",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/references": {
            "get": {
                "operationId": "&&data",
                "summary": "Data References",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/References"
                        }
                    }
                },
                "tags": [
                    "API"
                ]
            },
            "parameters": []
        },
        "/v1/shipments": {
            "get": {
                "operationId": "$$$$$list",
                "summary": "List all shipments",
                "description": "Retrieve all shipments.",
                "parameters": [
                    {
                        "name": "test_mode",
                        "in": "query",
                        "type": "boolean"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "created_start",
                        "in": "query",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "created_end",
                        "in": "query",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "carrier_id",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "service",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The initial index from which to return the results.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "carrier_name",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ShipmentList"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Shipments"
                ]
            },
            "post": {
                "operationId": "$$$$$create",
                "summary": "Create a shipment",
                "description": "Create a new shipment instance.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ShipmentData"
                        }
                    },
                    {
                        "name": "test",
                        "in": "query",
                        "description": "Create shipment in test or prod mode",
                        "required": false,
                        "type": "boolean",
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Shipment"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Shipments"
                ]
            },
            "parameters": []
        },
        "/v1/shipments/{id}": {
            "get": {
                "operationId": "$$$$$retrieve",
                "summary": "Retrieve a shipment",
                "description": "Retrieve a shipment.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Shipment"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Shipments"
                ]
            },
            "delete": {
                "operationId": "$$$$$cancel",
                "summary": "Cancel a shipment",
                "description": "Void a shipment with the associated label.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/OperationResponse"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Shipments"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/shipments/{id}/customs": {
            "post": {
                "operationId": "$$$$$add_customs",
                "summary": "Add a customs declaration",
                "description": "Add the customs declaration for the shipment if non existent.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomsData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Shipment"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Shipments"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/shipments/{id}/options": {
            "post": {
                "operationId": "$$$$$set_options",
                "summary": "Add shipment options",
                "description": "Add one or many options to your shipment.<br/>\n**eg:**<br/>\n- add shipment **insurance**\n- specify the preferred transaction **currency**\n- setup a **cash collected on delivery** option\n\n```json\n{\n    \"insurance\": 120,\n    \"currency\": \"USD\"\n}\n```\n\nAnd many more, check additional options available in the [reference](#operation/all_references).",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "title": "options",
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Shipment"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Shipments"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/shipments/{id}/parcels": {
            "post": {
                "operationId": "$$$$$add_parcel",
                "summary": "Add a shipment parcel",
                "description": "Add a parcel to an existing shipment for a multi-parcel shipment.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ParcelData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Shipment"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Shipments"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/shipments/{id}/purchase": {
            "post": {
                "operationId": "$$$$$purchase",
                "summary": "Buy a shipment label",
                "description": "Select your preferred rates to buy a shipment label.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ShipmentPurchaseData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Shipment"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Shipments"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/shipments/{id}/rates": {
            "get": {
                "operationId": "$$$$$rates",
                "summary": "Fetch new shipment rates",
                "description": "Refresh the list of the shipment rates",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Shipment"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Shipments"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/trackers": {
            "get": {
                "operationId": "$$$$$$list",
                "summary": "List all shipment trackers",
                "description": "Retrieve all shipment trackers.",
                "parameters": [
                    {
                        "name": "test_mode",
                        "in": "query",
                        "type": "boolean"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The initial index from which to return the results.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TrackerList"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Trackers"
                ]
            },
            "parameters": []
        },
        "/v1/trackers/{carrier_name}/{tracking_number}": {
            "get": {
                "operationId": "$$$$$$create",
                "summary": "Create a shipment tracker",
                "description": "This API creates or retrieves (if existent) a tracking status object containing the\ndetails and events of a shipping in progress.",
                "parameters": [
                    {
                        "name": "test",
                        "in": "query",
                        "description": "The test flag indicates whether to use a carrier configured for test.",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TrackingStatus"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Trackers"
                ]
            },
            "parameters": [
                {
                    "name": "carrier_name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "tracking_number",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/trackers/{id_or_tracking_number}": {
            "get": {
                "operationId": "$$$$$$retrieves",
                "summary": "Retrieves a shipment tracker",
                "description": "Retrieve a shipment tracker",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TrackingStatus"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Trackers"
                ]
            },
            "delete": {
                "operationId": "$$$$$$remove",
                "summary": "Discard a shipment tracker",
                "description": "Discard a shipment tracker.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Operation"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Trackers"
                ]
            },
            "parameters": [
                {
                    "name": "id_or_tracking_number",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/webhooks": {
            "get": {
                "operationId": "$$$$$$$list",
                "summary": "List all webhooks",
                "description": "Retrieve all webhooks.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The initial index from which to return the results.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "test_mode",
                        "in": "query",
                        "description": "This flag filter out webhooks created in test or live mode",
                        "required": false,
                        "type": "boolean",
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/WebhookList"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Webhooks"
                ]
            },
            "post": {
                "operationId": "$$$$$$$create",
                "summary": "Create a webhook",
                "description": "Create a new webhook.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/WebhookData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Webhook"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Webhooks"
                ]
            },
            "parameters": []
        },
        "/v1/webhooks/{id}": {
            "get": {
                "operationId": "$$$$$$$retrieve",
                "summary": "Retrieve a webhook",
                "description": "Retrieve a webhook.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Webhook"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Webhooks"
                ]
            },
            "patch": {
                "operationId": "$$$$$$$update",
                "summary": "Update a webhook",
                "description": "update a webhook.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/WebhookData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Webhook"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Webhooks"
                ]
            },
            "delete": {
                "operationId": "$$$$$$$remove",
                "summary": "Remove a webhook",
                "description": "Remove a webhook.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Operation"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Webhooks"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/webhooks/{id}/test": {
            "post": {
                "operationId": "$$$$$$$test",
                "summary": "Test a webhook",
                "description": "test a webhook.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/WebhookTestRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Operation"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "tags": [
                    "Webhooks"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        }
    },
    "definitions": {
        "TokenObtainPair": {
            "required": [
                "email",
                "password"
            ],
            "type": "object",
            "properties": {
                "email": {
                    "title": "Email",
                    "type": "string",
                    "minLength": 1
                },
                "password": {
                    "title": "Password",
                    "type": "string",
                    "minLength": 1
                },
                "org_id": {
                    "title": "Org id",
                    "description": "\n**should be specified only in a multi-org deployment.**\n\nNote the first org related to the user is selected by default.\n",
                    "type": "string",
                    "minLength": 1
                }
            }
        },
        "TokenPair": {
            "required": [
                "access",
                "refresh"
            ],
            "type": "object",
            "properties": {
                "access": {
                    "title": "Access",
                    "type": "string",
                    "minLength": 1
                },
                "refresh": {
                    "title": "Refresh",
                    "type": "string",
                    "minLength": 1
                }
            }
        },
        "TokenRefresh": {
            "required": [
                "refresh"
            ],
            "type": "object",
            "properties": {
                "refresh": {
                    "title": "Refresh",
                    "type": "string",
                    "minLength": 1
                }
            }
        },
        "AccessToken": {
            "required": [
                "access"
            ],
            "type": "object",
            "properties": {
                "access": {
                    "title": "Access",
                    "type": "string",
                    "minLength": 1
                }
            }
        },
        "TokenVerify": {
            "required": [
                "token"
            ],
            "type": "object",
            "properties": {
                "token": {
                    "title": "Token",
                    "type": "string",
                    "minLength": 1
                }
            }
        },
        "AddressValidation": {
            "description": "Specify address validation result",
            "required": [
                "success"
            ],
            "type": "object",
            "properties": {
                "success": {
                    "title": "Success",
                    "description": "True if the address is valid",
                    "type": "boolean"
                },
                "meta": {
                    "title": "Meta",
                    "description": "validation service details",
                    "type": "object",
                    "additionalProperties": true,
                    "x-nullable": true
                }
            },
            "x-nullable": true
        },
        "Address": {
            "required": [
                "country_code"
            ],
            "type": "object",
            "properties": {
                "id": {
                    "title": "Id",
                    "description": "A unique identifier",
                    "type": "string",
                    "minLength": 1
                },
                "postal_code": {
                    "title": "Postal code",
                    "description": "\nThe address postal code\n\n**(required for shipment purchase)**\n",
                    "type": "string",
                    "x-nullable": true
                },
                "city": {
                    "title": "City",
                    "description": "\nThe address city.\n\n**(required for shipment purchase)**\n",
                    "type": "string",
                    "x-nullable": true
                },
                "federal_tax_id": {
                    "title": "Federal tax id",
                    "description": "The party frederal tax id",
                    "type": "string",
                    "x-nullable": true
                },
                "state_tax_id": {
                    "title": "State tax id",
                    "description": "The party state id",
                    "type": "string",
                    "x-nullable": true
                },
                "person_name": {
                    "title": "Person name",
                    "description": "\nattention to\n\n**(required for shipment purchase)**\n",
                    "type": "string",
                    "x-nullable": true
                },
                "company_name": {
                    "title": "Company name",
                    "description": "The company name if the party is a company",
                    "type": "string",
                    "x-nullable": true
                },
                "country_code": {
                    "title": "Country code",
                    "description": "The address country code",
                    "type": "string",
                    "enum": [
                        "AD",
                        "AE",
                        "AF",
                        "AG",
                        "AI",
                        "AL",
                        "AM",
                        "AN",
                        "AO",
                        "AR",
                        "AS",
                        "AT",
                        "AU",
                        "AW",
                        "AZ",
                        "BA",
                        "BB",
                        "BD",
                        "BE",
                        "BF",
                        "BG",
                        "BH",
                        "BI",
                        "BJ",
                        "BM",
                        "BN",
                        "BO",
                        "BR",
                        "BS",
                        "BT",
                        "BW",
                        "BY",
                        "BZ",
                        "CA",
                        "CD",
                        "CF",
                        "CG",
                        "CH",
                        "CI",
                        "CK",
                        "CL",
                        "CM",
                        "CN",
                        "CO",
                        "CR",
                        "CU",
                        "CV",
                        "CY",
                        "CZ",
                        "DE",
                        "DJ",
                        "DK",
                        "DM",
                        "DO",
                        "DZ",
                        "EC",
                        "EE",
                        "EG",
                        "ER",
                        "ES",
                        "ET",
                        "FI",
                        "FJ",
                        "FK",
                        "FM",
                        "FO",
                        "FR",
                        "GA",
                        "GB",
                        "GD",
                        "GE",
                        "GF",
                        "GG",
                        "GH",
                        "GI",
                        "GL",
                        "GM",
                        "GN",
                        "GP",
                        "GQ",
                        "GR",
                        "GT",
                        "GU",
                        "GW",
                        "GY",
                        "HK",
                        "HN",
                        "HR",
                        "HT",
                        "HU",
                        "IC",
                        "ID",
                        "IE",
                        "IL",
                        "IN",
                        "IQ",
                        "IR",
                        "IS",
                        "IT",
                        "JE",
                        "JM",
                        "JO",
                        "JP",
                        "KE",
                        "KG",
                        "KH",
                        "KI",
                        "KM",
                        "KN",
                        "KP",
                        "KR",
                        "KV",
                        "KW",
                        "KY",
                        "KZ",
                        "LA",
                        "LB",
                        "LC",
                        "LI",
                        "LK",
                        "LR",
                        "LS",
                        "LT",
                        "LU",
                        "LV",
                        "LY",
                        "MA",
                        "MC",
                        "MD",
                        "ME",
                        "MG",
                        "MH",
                        "MK",
                        "ML",
                        "MM",
                        "MN",
                        "MO",
                        "MP",
                        "MQ",
                        "MR",
                        "MS",
                        "MT",
                        "MU",
                        "MV",
                        "MW",
                        "MX",
                        "MY",
                        "MZ",
                        "NA",
                        "NC",
                        "NE",
                        "NG",
                        "NI",
                        "NL",
                        "NO",
                        "NP",
                        "NR",
                        "NU",
                        "NZ",
                        "OM",
                        "PA",
                        "PE",
                        "PF",
                        "PG",
                        "PH",
                        "PK",
                        "PL",
                        "PR",
                        "PT",
                        "PW",
                        "PY",
                        "QA",
                        "RE",
                        "RO",
                        "RS",
                        "RU",
                        "RW",
                        "SA",
                        "SB",
                        "SC",
                        "SD",
                        "SE",
                        "SG",
                        "SH",
                        "SI",
                        "SK",
                        "SL",
                        "SM",
                        "SN",
                        "SO",
                        "SR",
                        "SS",
                        "ST",
                        "SV",
                        "SY",
                        "SZ",
                        "TC",
                        "TD",
                        "TG",
                        "TH",
                        "TJ",
                        "TL",
                        "TN",
                        "TO",
                        "TR",
                        "TT",
                        "TV",
                        "TW",
                        "TZ",
                        "UA",
                        "UG",
                        "US",
                        "UY",
                        "UZ",
                        "VA",
                        "VC",
                        "VE",
                        "VG",
                        "VI",
                        "VN",
                        "VU",
                        "WS",
                        "XB",
                        "XC",
                        "XE",
                        "XM",
                        "XN",
                        "XS",
                        "XY",
                        "YE",
                        "YT",
                        "ZA",
                        "ZM",
                        "ZW"
                    ]
                },
                "email": {
                    "title": "Email",
                    "description": "The party email",
                    "type": "string",
                    "x-nullable": true
                },
                "phone_number": {
                    "title": "Phone number",
                    "description": "The party phone number.",
                    "type": "string",
                    "x-nullable": true
                },
                "state_code": {
                    "title": "State code",
                    "description": "The address state code",
                    "type": "string",
                    "x-nullable": true
                },
                "suburb": {
                    "title": "Suburb",
                    "description": "The address suburb if known",
                    "type": "string",
                    "x-nullable": true
                },
                "residential": {
                    "title": "Residential",
                    "description": "Indicate if the address is residential or commercial (enterprise)",
                    "type": "boolean",
                    "default": false,
                    "x-nullable": true
                },
                "address_line1": {
                    "title": "Address line1",
                    "description": "\nThe address line with street number <br/>\n**(required for shipment purchase)**\n",
                    "type": "string",
                    "x-nullable": true
                },
                "address_line2": {
                    "title": "Address line2",
                    "description": "The address line with suite number",
                    "type": "string",
                    "x-nullable": true
                },
                "validate_location": {
                    "title": "Validate location",
                    "description": "Indicate if the address should be validated",
                    "type": "boolean",
                    "default": false,
                    "x-nullable": true
                },
                "validation": {
                    "$ref": "#/definitions/AddressValidation"
                }
            }
        },
        "AddressList": {
            "required": [
                "results"
            ],
            "type": "object",
            "properties": {
                "next": {
                    "title": "Next",
                    "type": "string",
                    "format": "uri",
                    "minLength": 1
                },
                "previous": {
                    "title": "Previous",
                    "type": "string",
                    "format": "uri",
                    "minLength": 1
                },
                "results": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Address"
                    }
                }
            }
        },
        "Message": {
            "description": "The list of error messages",
            "type": "object",
            "properties": {
                "carrier_name": {
                    "title": "Carrier name",
                    "description": "The targeted carrier",
                    "type": "string",
                    "minLength": 1
                },
                "carrier_id": {
                    "title": "Carrier id",
                    "description": "The targeted carrier name (unique identifier)",
                    "type": "string",
                    "minLength": 1
                },
                "message": {
                    "title": "Message",
                    "description": "The error or warning message",
                    "type": "string",
                    "minLength": 1
                },
                "code": {
                    "title": "Code",
                    "description": "The message code",
                    "type": "string",
                    "minLength": 1
                },
                "details": {
                    "title": "Details",
                    "description": "any additional details",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string",
                        "x-nullable": true
                    }
                }
            }
        },
        "ErrorResponse": {
            "type": "object",
[...]
