{% extends "purpleserver/base_site.html" %}
{% load i18n static %}
{% block title %}Purplship | Password Reset Confirmation{% endblock %}

{% if validlink %}

{% block content %}

<div class="card isolated-card">
    <div class="card-content">

        <h2 class="title is-3">{{ title }}</h2>
        <p class="subtitle is-5">
            {% if validlink %}
            {% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
            {% else %}
            {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
            {% endif %}
        </p>

        <form method="post">{% csrf_token %}

            <div class="field mt-6">
                {{ form.new_password1.errors }}
                <label class="label" for="{{ form.new_password1.id_for_label }}">
                   {% trans 'New Password' %}
                </label>
                <div class="control">
                    <input class="input" id="{{ form.new_password1.id_for_label }}"
                       name="{{ form.new_password1.html_name }}" type="password"
                       placeholder="{% trans 'New Password' %}">
                </div>
            </div>
            <div class="field mt-5">
                {{ form.new_password2.errors }}
                <label class="label" for="{{ form.new_password2.id_for_label }}">
                   {% trans 'Confirm Password' %}
                </label>
                <div class="control">
                    <input class="input" id="{{ form.new_password2.id_for_label }}"
                       name="{{ form.new_password2.html_name }}" type="password"
                       placeholder="{% trans 'Confirm Password' %}">
                </div>
            </div>

            <div class="field mt-6">
                <div class="control">
                    <input class="button is-primary is-fullwidth" type="submit" value="{% trans 'Change my password' %}"/>
                    <a class="button is-white is-fullwidth mt-1" href="{% url 'login' %}">{% trans 'Return to sign in' %}</a>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="has-text-centered my-4 is-size-6">
    Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
</div>
{% endblock %}

{% else %}

{% block content %}

<div class="card isolated-card">
    <p class="card-content">

    <h2 class="title is-3">{{ title }}</h2>
    <p class="subtitle is-5">
        {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    </p>

</div>
{% endblock %}

{% endif %}
