/* ==========================================================================
Spacing
========================================================================== */

.ml-auto {
    margin-left: auto !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

/* ==========================================================================
Colors
========================================================================== */

.muted-text {
    color: $muted-grey !important;
}

.light-text {
    color: $white !important;
}

/* ==========================================================================
Scroll
========================================================================== */

.has-slimscroll {
    overflow-x: hidden !important;

    &::-webkit-scrollbar {
        width: 6px !important;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px !important;
        background: rgba(0, 0, 0, 0.2) !important;
    }
}

/* ==========================================================================
States
========================================================================== */

.no-click {
    pointer-events: none !important;
}

.is-vhidden {
    visibility: hidden !important;
}

.is-hidden {
    display: none !important;
}

.is-disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: default !important;
}
